@import '../../../styles';

$accordion-max-height: 10em;

:host,
.accordion {
  display: inline-block;
  width: 100%;
}

.accordion {
  $a: &;

  &__header {
    cursor: pointer;
  }

  &__header,
  &__body {
    display: block;
    width: 100%;
  }

  &__body {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height, 0.15s linear;

  }

  &--open {
    #{$a}__body {
      max-height: $accordion-max-height;
      overflow: auto;
    }
  }
}
