@import "../../styles";
:host{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(59,68,77,.9);
  z-index: 200;
}

.cookie {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  margin: 10px 0;

  &__item {
    max-width: 800px;
    display: flex;

    .cookie__text {

      a {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }

  &__button {
    button {
      cursor: pointer;
      padding: 10px 20px;
      margin-left: 20px;
    }
  }
}