@import "src/assets/sass/dependencies";

.view-panel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;

  &__filters {
    padding-right: 5px;
  }

  // Переключать вид можно только на десктопе.
  // На мобильном контент всегда выглядит в виде карточек.
  &__buttons {
    padding-left: 5px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
    @include resolution_smartphone-and-tablet {
      display: none;

    }
  }
}
