<div class="view-panel">
  <div class="filters-group view-panel__filters">
    <button class="filter name-filter"
            (click)="sortBy('name')"
            [class.__active]="filters.byName"
    >
      {{ 'main_page_table_name' | translate }}
      <span class="fa far fa-sort-down"></span>
    </button>

    <button class="filter age-filter"
            (click)="sortBy('age')"
            [class.__active]="filters.byAge"
    >
      {{ 'age' | translate }} ({{ 'million_years' | translate }})
      <span class="fa far fa-sort-down"></span>
    </button>

    <button
      *ngIf="filters.byClasses.length > 0"
      class="filter __active functional-classes-filter"
      (click)="clearFilters('classes')"
    >
      {{ 'functional_classes' | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byExpressionChange"
      class="filter __active expression-change-filter"
      (click)="clearFilters('expressionChange')"
    >
      {{ 'main_page_table_expression' | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button class="btn btn--small btn-purple"
            (click)="clearFilters('all')"
            *ngIf="(filters.byName && filters.byAge || filters.byExpressionChange || filters.byClasses.length > 0)"
    >
      <span class="fa fal fa-filter"></span> {{ 'filters_reset' | translate }}
    </button>
  </div>

  <div class="view-panel__buttons">
    <ng-content></ng-content>
  </div>
</div>
