<ng-container *ngIf="!error">
  <div class="page__subtitle view-latest__title">
    {{ 'news_list_title' | translate }}
  </div>

  <ul class="news" *ngIf="!isLoading">
    <li *ngFor="let item of newsList"
        class="news__item"
    >
      <div class="item__gene">
        <a [routerLink]="['/gene', item.gene?.id]"
           class="alias">{{item.gene?.symbol}}</a>
      </div>

      <a href="{{item.url}}"
         class="item__title link link--gray"
         target="_blank"
      >{{item.title | stripTags}}</a>
    </li>
  </ul>

  <app-loader-placeholder
    *ngIf="isLoading"
    type="skeleton"
    [groups]="2"
  ></app-loader-placeholder>
</ng-container>






