<div class="view-panel">
  <div class="view-panel__filters">
    <button *ngIf="!isGoTermsMode && isMobile"
            class="view-panel__modal-button btn btn--small btn--icon-only btn--purple"
            (click)="openFiltersModal('filters_modal_title', null, GeneFieldsModalTemplate)">
      <span class="fa far fa-sliders-h"></span>
    </button>

    <div matSort
         (matSortChange)="sortBy($event)"
         class="filters-group">
      <button
        class="filter"
        [mat-sort-header]="sortEnum.byName">
        {{ "main_page_table_name" | translate }}
      </button>

      <button
        class="filter"
        [mat-sort-header]="sortEnum.byAge">
        {{ "age" | translate }} ({{ "million_years" | translate }})
      </button>

      <button
        class="filter"
        [mat-sort-header]="sortEnum.byCriteriaQuantity">
        {{ "criteriaQuantity" | translate }}
      </button>
    </div>

    <button
      *ngIf="filters.byAgeRelatedProcess.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.age_related_processes)">
      {{ "functional_classes" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byExpressionChange !== 0"
      class="filter __active"
      (click)="clearFilters(filterTypes.expression_change)"
    >
      {{ "main_page_table_expression" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byDiseases.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.disease)"
    >
      {{ "gene_list_diseases" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byDiseaseCategories.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.disease_categories)"
    >
      {{ "gene_list_disease_categories" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.bySelectionCriteria.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.selection_criteria)"
    >
      {{ "main_page_table_criteria" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byAgingMechanism.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.aging_mechanism)"
    >
      {{ "gene_list_aging_mechanisms" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byProteinClass.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.protein_classes)"
    >
      {{ "gene_list_protein_classes" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="isClear$ | async"
      class="btn btn--small btn--purple"
      (click)="clearFilters()"
    >
      <span class="fa far fa-times"></span>
      {{ "filters_reset" | translate }}
    </button>
  </div>

  <div class="view-panel__buttons">
    <ng-content select="[buttons]"></ng-content>
  </div>
</div>

<ng-template #GeneFieldsModalTemplate>
  <app-gene-fields-modal></app-gene-fields-modal>
</ng-template>

