@import "../../../../styles";

.view-panel {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  margin-bottom: 10px;

  &__filters {
    padding-right: 5px;
  }
}
