<div class="view-panel">

  <div  class="filters-group view-panel__filters">

    <button
      class="filter"
      (click)="sortBy(sortEnum.name)"
      [class.__active]="sort.byName"
    >
      {{ "main_page_table_name" | translate }}
      <span class="fa far fa-sort-down"></span>
    </button>

    <button
      class="filter"
      (click)="sortBy(sortEnum.age)"
      [class.__active]="sort.byAge"
    >
      {{ "age" | translate }} ({{ "million_years" | translate }})
      <span class="fa far fa-sort-down"></span>
    </button>

    <button
      *ngIf="filters.byFunctionalClusters.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.funcClusters)"
    >
      {{ "functional_classes" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byExpressionChange"
      class="filter __active"
      (click)="clearFilters(filterTypes.expressChange)"
    >
      {{ "main_page_table_expression" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byDisease.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.disease)"
    >
      {{ "gene_list_diseases" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.byDiseaseCategories.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.disCategories)"
    >
      {{ "gene_list_disease_categories" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="filters.bySelectionCriteria.length"
      class="filter __active"
      (click)="clearFilters(filterTypes.selectCriteria)"
    >
      {{ "main_page_table_criteria" | translate }}
      <span class="fa fal fa-times"></span>
    </button>

    <button
      *ngIf="isClear$ | async"
      class="btn btn--small btn--purple"
      (click)="clearFilters()"
    >
      <span class="fa far fa-times"></span>
      {{ "filters_reset" | translate }}
    </button>

    <button *ngIf="!isGoTermsMode"
            class="btn btn--small btn--fill btn--purple"
            (click)="openFiltersModal()">
      <span class="fa far fa-plus"></span>
      {{ 'filters_modal_title' | translate }}
    </button>

  </div>

  <div class="view-panel__buttons">

    <a class="btn btn--small btn--purple"
       [href]="downloadJsonLink"
       target="_blank"
       download="export.json">
      <span class="fa far fa-download"></span> JSON
    </a>

    <button
      *ngIf="!isMobile"
      class="toggler __ml-10"
      (click)="toggleGenesView()"
      [ngClass]="isTableView ? 'toggler--def' : 'toggler--alt'"
      matTooltip="{{ 'gene_list_view' |translate }}">
      <span class="fa far fa-table toggler__icon toggler__icon--def"></span>
      <span class="fa far fa-th-large toggler__icon toggler__icon--alt"></span>
    </button>

  </div>

</div>

