<ng-container matSort
              (matSortChange)="sortBy($event)"
              [matSortActive]="sortParams.active"
              matSortDirection="asc"
     class="filters-group">
  <button
    class="filter"
    [mat-sort-header]="sortEnum.byName">
    {{ "main_page_table_name" | translate }}
  </button>

  <button
    class="filter"
    [mat-sort-header]="sortEnum.byAge">
    {{ "age" | translate }} ({{ "million_years" | translate }})
  </button>

  <button
    class="filter"
    [mat-sort-header]="sortEnum.byCriteriaQuantity">
    {{ "main_page_table_criteria_quantity" | translate }}
  </button>

  <button
    class="filter"
    [mat-sort-header]="sortEnum.byConfidenceLevel">
    {{ "confidence_level" | translate }}
  </button>
</ng-container>

<button
  *ngIf="filters.byDiseases?.length"
  class="filter __active"
  (click)="clearFilters('byDiseases')">
  {{ "gene_list_diseases" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.byDiseaseCategories?.length !== 0"
  class="filter __active"
  (click)="clearFilters('byDiseaseCategories')"
>
  {{ "gene_list_disease_categories" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.bySelectionCriteria?.length !== 0"
  class="filter __active"
  (click)="clearFilters('bySelectionCriteria')"
>
  {{ "main_page_table_criteria" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.byAgingMechanism?.length !== 0"
  class="filter __active"
  (click)="clearFilters('byAgingMechanism')"
>
  {{ "gene_list_aging_mechanisms" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.byProteinClass?.length !== 0"
  class="filter __active"
  (click)="clearFilters('byProteinClass')"
>
  {{ "gene_list_protein_classes" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.byOrigin?.length !== 0"
  class="filter __active"
  (click)="clearFilters('byOrigin')"
>
  {{ "filters_modal_placeholder_origin" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.byFamilyOrigin?.length !== 0"
  class="filter __active"
  (click)="clearFilters('byFamilyOrigin')"
>
  {{ "filters_modal_placeholder_family_origin" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.byConservativeIn?.length !== 0"
  class="filter __active"
  (click)="clearFilters('byConservativeIn')"
>
  {{ "filters_modal_placeholder_conservative" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.byAgeRelatedProcess.length"
  class="filter __active"
  (click)="clearFilters('byAgeRelatedProcess')">
  {{ "age_related_processes" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="filters.confidenceLevel"
  class="filter __active"
  (click)="clearFilters('confidenceLevel')">
  {{ "confidence_level" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<button
  *ngIf="twoOrMoreFiltersApplied | async"
  class="filter"
  (click)="clearFilters()"
>
  {{ "filters_reset" | translate }}
  <mat-icon class="icon">close</mat-icon>
</button>

<span class="spacer"></span>


