@import "../../../../styles";

:host {
  width: 100%;
  display: inline-block;

  a,
  button,
  .spacer {
    margin: 0 5px 5px 0;
  }

  [mat-sort] {
    display: contents;
  }

  button.modal-button {
    margin-right: 10px;
  }

  .spacer {
    display: inline-block;
    width: 5px;
    height: 26px;
  }

  // - Sort header fix
  @include material-sort-header-fix;
}




