<mat-tab-group
  class="__w-content">
  <!-- TODO: check adequately -->
  <mat-tab
    *ngIf="gene.terms.biological_process.length >= 1"
    label='{{ "gene_ontology_biological_process" | translate }}'
  >
    <h3 class="__mt-15">{{ "gene_ontology_biological_process" | translate }}</h3>

    <article class="__mt-15">
      <ul class="list">
        <li *ngFor="let term of process | keyvalue | slice: 0:biologicalProcessMaxItems">
          <a href="https://www.ebi.ac.uk/QuickGO/term/GO:{{ term.key | zero }}"
             title="QuickGO"
             class="alias">{{ term.key | zero }}</a> {{ term.value }}
        </li>
      </ul>

    <div *ngIf="gene.terms.biological_process.length > maxItemsToShow"
      class="show-more __mt-10">
      <button *ngIf="biologicalProcessMaxItems !== maxItemsToShow"
         class="btn show-more__button"
         (click)="biologicalProcessMaxItems = maxItemsToShow">
        {{ "show_less" | translate }}
      </button>

      <button *ngIf="biologicalProcessMaxItems == maxItemsToShow"
              class="btn show-more__button"
              (click)="biologicalProcessMaxItems = gene.terms.biological_process.length">
        {{ "show_more" | translate }}
      </button>
      </div>
    </article>
  </mat-tab>

  <mat-tab
    *ngIf="gene.terms.cellular_component.length >= 1"
    label='{{ "gene_ontology_cellular_component" | translate }}'
  >
    <h3 class="__mt-15">{{ "gene_ontology_cellular_component" | translate }}</h3>

    <article class="__mt-15">
      <ul class="list">
        <li *ngFor="let term of component | keyvalue | slice: 0:cellularComponentMaxItems">
          <a href="https://www.ebi.ac.uk/QuickGO/term/GO:{{ term.key | zero }}"
             title="QuickGO"
             class="alias">{{ term.key | zero }}</a> {{ term.value }}
        </li>
      </ul>

      <div *ngIf="gene.terms.cellular_component.length > maxItemsToShow"
           class="show-more __mt-10">
        <button *ngIf="cellularComponentMaxItems !== maxItemsToShow"
                class="btn show-more__button"
                (click)="cellularComponentMaxItems = maxItemsToShow">
          {{ "show_less" | translate }}
        </button>

        <button *ngIf="cellularComponentMaxItems == maxItemsToShow"
                class="btn show-more__button"
                (click)="cellularComponentMaxItems = gene.terms.cellular_component.length">
          {{ "show_more" | translate }}
        </button>
      </div>
    </article>
  </mat-tab>

  <mat-tab
    *ngIf="gene.terms.molecular_activity.length >= 1"
    label='{{ "gene_ontology_biological_molecular_activity" | translate }}'
  >
    <h3 class="__mt-15">{{ "gene_ontology_biological_molecular_activity" | translate }}</h3>

    <article class="__mt-15">
      <ul class="list">
        <li *ngFor="let term of activity | keyvalue | slice: 0:molecularActivityMaxItems">
          <a href="https://www.ebi.ac.uk/QuickGO/term/GO:{{ term.key | zero }}"
             title="QuickGO"
             class="alias">{{ term.key | zero }}</a> {{ term.value }}
        </li>
      </ul>

      <div *ngIf="gene.terms.molecular_activity.length > maxItemsToShow"
           class="show-more __mt-10">
        <button *ngIf="molecularActivityMaxItems !== maxItemsToShow"
                class="btn show-more__button"
                (click)="molecularActivityMaxItems = maxItemsToShow">
          {{ "show_less" | translate }}
        </button>

        <button *ngIf="molecularActivityMaxItems == maxItemsToShow"
                class="btn show-more__button"
                (click)="molecularActivityMaxItems = gene.terms.molecular_activity.length">
          {{ "show_more" | translate }}
        </button>
      </div>
    </article>
  </mat-tab>
</mat-tab-group>
