@import "../styles";

.genes-search-page {
  $g: &;

  &__carousel {
    .carousel__placeholder {
      position: relative;
      width: 100%;
    }
  }

  .carousel-inside {
    &--desktop {
      #{$g}__carousel {
        .carousel__placeholder {
          height: 120px;
        }
      }
    }

    &--mobile {
      #{$g}__carousel {
        .carousel__placeholder {
          height: 50px;
        }
      }
    }
  }

}
