<div class="page search-page genes-search-page">
  <div class="page__inner">
    <div class="container-fluid search-page__container">
      <div class="row">
        <div *ngIf="isMobile"
             class="col-12 carousel-inside carousel-inside--mobile">
          <ng-container [ngTemplateOutlet]="sidebarCarousel"></ng-container>
        </div>
        <div class="col-12 search-page__header">
          <app-page-subtitle title="search_by_genes">
            <span class="fa far fa-info-circle"></span> {{
            (queryLength > 1
              ? "search_for_genes_desc_hint"
              : "search_for_genes_desc") | translate }}
          </app-page-subtitle>
        </div>
      </div>

      <div class="row">
        <ng-container *ngIf="!errorStatus; else errorMessage">
          <div class="col-12">
            <div class="grid-container">
              <div class="grid-container__sidebar-column"
                   [ngClass]="isMobile? 'grid-container__sidebar-column--mobile' : 'grid-container__sidebar-column--desktop'">
                <app-sidebar>
                  <app-sidebar-item *ngIf="!isMobile">
                    <div content
                         class="filters-wrapper">
                      <app-gene-filters-panel
                        [isLoading]="genesListIsLoading"
                        [lastChangedFilter]="lastChangedFilter"
                      ></app-gene-filters-panel>
                    </div>
                  </app-sidebar-item>

                  <app-sidebar-item *ngIf="!isMobile">
                    <div content
                         class="wizard-banner-wrapper carousel-inside carousel-inside--desktop">
                      <ng-container [ngTemplateOutlet]="sidebarCarousel"
                      ></ng-container>
                    </div>
                  </app-sidebar-item>
                </app-sidebar>
              </div>

              <div class="grid-container__content-column">
                <app-search-counter
                  [quantity]="itemsQuantity"
                  [title]="'main_page_total'"
                ></app-search-counter>

                <app-search
                  class="__mb-10"
                  [multiple]="queryLength > 1"
                  [searchHintsList]="geneHints"
                  [isDisabled]="genesListIsLoading"
                  placeholder="search_field_start_typing"
                  (search)="updateGenesList($event)"
                  (queryChange)="setSearchQuery($event)"
                  (cancel)="$cancelSearch.next()"
                  [showProgressBar]="showProgressBar"
                  [predefinedValue]="queryFromRoute"
                >
                  <button *ngIf="isMobile"
                          prefix
                          mat-icon-button
                          color="primary"
                          (click)="openFiltersModal('filters_modal_title', null, fieldsModalTemplate)">
                    <mat-icon>tune</mat-icon>
                  </button>
                </app-search>

                <app-genes-list
                  (loading)="setLoader($event)"
                  (errorStatus)="errorStatus = $event"
                  (itemsNumber)="itemsQuantity = $event"
                  (filterChanged)="updateOnFilterChange($event)"
                  [genesList]="confirmedQuery"
                  [viewport]="viewport"
                  [isMobile]="isMobile"
                  [setSearchMode]="searchMode"
                  [showFiltersPanel]="true"
                  [cancelSearch]="$cancelSearch.asObservable()"
                ></app-genes-list>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #errorMessage>
  <section class="col-12">
    <app-no-content
      size="small"
      [title]="'error_connection'">
      <ng-container icon>
        <app-icon
          icon="default"
          size="custom"
          customWidth="100%"
          customHeight="100%"
        ></app-icon>
      </ng-container>
      <ng-container description>
        <p>({{ errorStatus }})</p>
      </ng-container>
    </app-no-content>
  </section>
</ng-template>

<ng-template #sidebarCarousel>
  <app-carousel
    class="genes-search-page__carousel"
    [autoPlayInterval]="0">
    <div appCarouselItem>
      <div class="hint-panel">
        <div class="hint-panel__title">
          {{ 'wizard_where_to_start_description' | translate }}
        </div>
        <button (click)="openWizard()"
                class="hint-panel__button"
        >{{ 'wizard_where_to_start_button' | translate }}
        </button>
      </div>
    </div>

    <div appCarouselItem
         class="carousel__placeholder">
      <span [innerHTML]="sidebarContent | safe: 'html'"></span>
      <app-skeleton *ngIf="!sidebarContent"
                    view="inline"
      ></app-skeleton>
    </div>
  </app-carousel>
</ng-template>

<ng-template #fieldsModalTemplate>
  <app-gene-filters-panel></app-gene-filters-panel>
</ng-template>

