$prefix: 'rg-' !default;
$gutter: 40px;
$columns-quantity: 16;
$max-scroll-width: 30px; // average scroll width
$widescreen: 1200px;
$desktop: 992px;
$tablet: 768px;
$phablet: 576px;
$smartphone: 320px;
