<section *ngIf="items?.length !== 0">
  <h4>{{ "gene_page_research_data_lifespan" | translate }}</h4>

  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra">
      <thead>
      <tr>
        <th *ngIf="numberColumn"
            rowspan="2">
          #
        </th>
        <th colspan="6">
          {{ "research_data_l_title_general" | translate }}
        </th>
        <th colspan="7">
          {{ "research_data_l_title_experiment_data" | translate }}
        </th>
        <th colspan="4">
          {{ "research_data_l_title_sample_data" | translate }}
        </th>
        <th rowspan="2">
          {{ "research_data_comment" | translate }}
        </th>
      </tr>
      <tr>
        <th *ngIf="geneColumnOn">
          {{ "main_page_table_name" | translate }}
        </th>
        <!-- General data columns -->
        <th>{{ "research_data_model_organism" | translate }},
          {{ "research_data_sex" | translate | lowercase }},
          {{ "research_data_line" | translate | lowercase }}
          <app-info-button
            (click)="openCommentModal('clarification', null, researchesLineHint)"
          ></app-info-button>
        </th>
        <th class="__cell-width-small">{{ "research_data_l_main_effect" | translate }}</th>
        <th class="__cell-width-medium">{{ "research_data_result" | translate }}
          <app-info-button
            (click)="openCommentModal('clarification', null, researchesResultHint)"
          ></app-info-button>
        </th>

        <th class="__cell-width-medium">
          {{ "research_data_l_lifespan_percent" | translate }}</th>
        <th class="__cell-width-large">
          {{ "research_data_l_lifespan_percent" | translate }} — {{ "research_data_l_significance" | translate | lowercase }}
        </th>
        <th class="__cell-width-medium">
          {{ "research_data_l_intervention_way" | translate }},
          {{ "research_data_method" | translate | lowercase }}
        </th>
        <th>{{ "research_data_l_tissue_specificity" | translate }}</th>
        <th>
          {{ "research_data_genotype" | translate }}
        </th>
        <th>{{ "research_data_l_tissue_specific_promoter" | translate }}</th>
        <th class="__cell-width-large">
          {{ "research_data_l_therapy" | translate }}
          <app-info-button
            (click)="openCommentModal('clarification', null, therapyHint)"
          ></app-info-button>
        </th>
        <th>{{ "research_data_l_target_gene_expression" | translate }}</th>
        <th class="__cell-width-large">
          {{ "research_data_l_other_results" | translate }}
        </th>

        <th class="__cell-width-medium">
          {{ "research_data_l_control_lifespan" | translate }}
        </th>
        <th class="__cell-width-medium">
          {{ "research_data_l_experiment_lifespan" | translate }}
        </th>
        <th class="__cell-width-medium">{{ "research_data_l_cohort_size" | translate }}</th>
        <th class="__cell-width-medium">
          {{ "research_data_l_containment_conditions" | translate }}
        </th>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let r of items | slice: 0:slice let i = index">
        <tr>
          <td *ngIf="numberColumn"
              class="number-column">
            <div class="number-column__inner">{{ i + 1 }}</div>
          </td>
          <td *ngIf="geneColumnOn"
              class="__cell-width-medium">
            <div *ngIf="r.hasOwnProperty('geneSymbol')"
                 class="title">
              <a [routerLink]="['/gene', r.geneSymbol]" class="link link--gray">
                <b>{{ r.geneSymbol }}</b> {{ r.geneName }}
              </a>
            </div>
          </td>
          <!-- General data columns -->
          <td class="__cell-width-medium">
            <dl class="list">
              <dt>{{ "research_data_model_organism" | translate }}:&nbsp;</dt>
              <dd>{{ r.modelOrganism | checkBlankValue }}</dd>
              <dt>{{ "research_data_sex" | translate }}:&nbsp;</dt>
              <dd>{{ r.sex | checkBlankValue }}</dd>
              <dt>{{ "research_data_line" | translate }}:&nbsp;</dt>
              <dd>{{ r.organismLine | checkBlankValue }}</dd>
            </dl>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.experiment">
              <!-- Experiment main effect can only be in experiment group if  -->
              <!-- there is no any additional intervention -->
              <ng-container *ngIf="sample.experimentMainEffect; else dash">
                <p class="__nowrap"
                   [innerHTML]="sample.experimentMainEffect | polarityArrows"
                ></p>
              </ng-container>
            </ng-container>
          </td>

          <td>
            <ng-container *ngIf="r.interventionResultForLifespan; else dash">
              <p [innerHTML]="r.interventionResultForLifespan | polarityArrows"></p>
            </ng-container>
          </td>

          <td>
            <dl
              *ngIf="r.lifespanMinChangePercent || r.lifespanMeanChangePercent || r.lifespanMedianChangePercent || r.lifespanMaxChangePercent; else dash"
              class="list">
              <ng-container *ngIf="r.lifespanMinChangePercent">
                <dt>
                  {{ "research_data_l_min" | translate}}
                </dt>
                <dd [innerHTML]="outputValueWithUnit(r.lifespanMinChangePercent, '%')"></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMeanChangePercent">
                <dt>
                  {{ "research_data_l_mean" | translate}}
                </dt>
                <dd [innerHTML]="outputValueWithUnit(r.lifespanMeanChangePercent, '%')"></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMedianChangePercent">
                <dt>
                  {{ "research_data_l_median" | translate}}
                </dt>
                <dd [innerHTML]="outputValueWithUnit(r.lifespanMedianChangePercent, '%')"></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMaxChangePercent">
                <dt>
                  {{ "research_data_l_max" | translate}}
                </dt>
                <dd [innerHTML]="outputValueWithUnit(r.lifespanMaxChangePercent, '%')"></dd>
              </ng-container>
            </dl>
          </td>

          <td>
            <dl
              *ngIf="r.lMinChangeStatSignificance || r.lMeanChangeStatSignificance || r.lifespanMedianChangePercent || r.lifespanMaxChangePercent; else noSignificance"
              class="list">
              <ng-container *ngIf="r.lMinChangeStatSignificance">
                <dt>
                  {{ "research_data_l_min" | translate}}
                </dt>
                <dd>{{ r.lMinChangeStatSignificance | trueFalseNull | translate }}</dd>
              </ng-container>

              <ng-container *ngIf="r.lMeanChangeStatSignificance">
                <dt>
                  {{ "research_data_l_mean" | translate}}
                </dt>
                <dd>{{ r.lMeanChangeStatSignificance | trueFalseNull | translate }}</dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMedianChangePercent">
                <dt>
                  {{ "research_data_l_median" | translate}}
                </dt>
                <dd>{{ r.lifespanMedianChangePercent | trueFalseNull | translate }}</dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMaxChangePercent">
                <dt>
                  {{ "research_data_l_max" | translate}}
                </dt>
                <dd>{{ r.lifespanMaxChangePercent | trueFalseNull | translate }}</dd>
              </ng-container>
            </dl>
          </td>

          <td>
            <dl *ngFor="let sample of r.interventions.controlAndExperiment"
                class="list">
              <dt>{{ "research_data_l_intervention_way" | translate }}:&nbsp;</dt>
              <dd>{{ sample.interventionWay | checkBlankValue }}</dd>
              <dt>{{ "research_data_l_intervention_method" | translate }}:&nbsp;</dt>
              <dd>{{ sample.interventionMethod | checkBlankValue }}</dd>
            </dl>

            <dl *ngFor="let sample of r.interventions.experiment"
                class="list">
              <dt>{{ "research_data_l_intervention_way" | translate }}:&nbsp;</dt>
              <dd>{{ sample.interventionWay | checkBlankValue }}</dd>
              <dt>{{ "research_data_l_intervention_method" | translate }}:&nbsp;</dt>
              <dd>{{ sample.interventionMethod | checkBlankValue }}</dd>
            </dl>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.experiment">
              <!-- Tissue specificity can only be in experiment group if  -->
              <!-- there is no any additional intervention -->
              <ng-container *ngIf="sample.tissueSpecific; else notTissueSpecific">
                <ul *ngIf="sample.tissues?.length !== 0"
                    class="list">
                  <li *ngFor="let tissue of sample.tissues">
                    {{ tissue.name }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </td>

          <td>
            <p *ngFor="let sample of r.interventions.controlAndExperiment">
              {{ sample.genotype | checkBlankValue }}
            </p>

            <p *ngFor="let sample of r.interventions.experiment">
              {{ sample.genotype | checkBlankValue }}
            </p>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.experiment">
              <p *ngIf="sample.tissueSpecificPromoter?.length !== 0; else dash">
                {{ sample.tissueSpecificPromoter }}
              </p>
            </ng-container>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.controlAndExperiment"
                          [ngTemplateOutlet]="therapy"
                          [ngTemplateOutletContext]="{ sample: sample }"
            ></ng-container>

            <ng-container *ngFor="let sample of r.interventions.experiment"
                          [ngTemplateOutlet]="therapy"
                          [ngTemplateOutletContext]="{ sample: sample }"
            ></ng-container>
          </td>

          <td>
            <ng-container *ngIf="r.expressionChangePercent && r.expressionChangePercent !== 0; else dash">
              {{ r.expressionChangePercent }}%
            </ng-container>
          </td>

          <td>
            <ng-container
              *ngIf="r?.interventionDeteriorates?.length !== 0 || r?.interventionImproves?.length !== 0;
              else dash">
              <ng-container *ngIf="r?.interventionImproves.length !== 0">
                <ul class="list list--terms-w-p">
                  <li *ngFor="let result of r.interventionImproves"
                      class="term-w-p term-w-p--positive">
                    {{ 'research_data_improves' | translate }} {{ result.name }}
                  </li>
                </ul>
              </ng-container>

              <ng-container *ngIf="r?.interventionDeteriorates.length !== 0">
                <ul class="list list--terms-w-p">
                  <li *ngFor="let result of r.interventionDeteriorates"
                      class="term-w-p term-w-p--negative">
                    {{ 'research_data_deteriorates' | translate }} {{ result.name }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </td>

          <td>
            <dl
              *ngIf="r.lifespanMinControl || r.lifespanMeanControl || r.lifespanMedianControl || r.lifespanMaxControl; else dash"
              class="list">
              <ng-container *ngIf="r.lifespanMinControl">
                <dt>
                  {{ "research_data_l_min" | translate}}
                </dt>
                <dd
                  [innerHTML]="outputValueWithUnit(r.lifespanMinControl, formatUnitGrammaticalCase(r.lifespanMinControl, r.lifespanTimeUnit))"
                ></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMeanControl">
                <dt>
                  {{ "research_data_l_mean" | translate}}
                </dt>
                <dd
                  [innerHTML]="outputValueWithUnit(r.lifespanMeanControl, formatUnitGrammaticalCase(r.lifespanMeanControl, r.lifespanTimeUnit))"
                ></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMedianControl">
                <dt>
                  {{ "research_data_l_median" | translate}}
                </dt>
                <dd
                  [innerHTML]="outputValueWithUnit(r.lifespanMedianControl, formatUnitGrammaticalCase(r.lifespanMedianControl, r.lifespanTimeUnit))"
                ></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMaxControl">
                <dt>
                  {{ "research_data_l_max" | translate}}
                </dt>
                <dd
                  [innerHTML]="outputValueWithUnit(r.lifespanMaxControl, formatUnitGrammaticalCase(r.lifespanMaxControl, r.lifespanTimeUnit))"
                ></dd>
              </ng-container>
            </dl>
          </td>

          <td>
            <dl
              *ngIf="r.lifespanMinExperiment || r.lifespanMeanExperiment || r.lifespanMedianExperiment || r.lifespanMaxExperiment; else dash"
              class="list">
              <ng-container *ngIf="r.lifespanMinExperiment">
                <dt>
                  {{ "research_data_l_min" | translate}}
                </dt>
                <dd
                  [innerHTML]="outputValueWithUnit(r.lifespanMinExperiment, formatUnitGrammaticalCase(r.lifespanMinExperiment, r.lifespanTimeUnit))"
                ></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMeanExperiment">
                <dt>
                  {{ "research_data_l_mean" | translate}}
                </dt>
                <dd
                  [innerHTML]="outputValueWithUnit(r.lifespanMeanExperiment, formatUnitGrammaticalCase(r.lifespanMeanExperiment, r.lifespanTimeUnit))"
                ></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMedianExperiment">
                <dt>
                  {{ "research_data_l_median" | translate}}
                </dt>
                <dd
                  [innerHTML]="outputValueWithUnit(r.lifespanMedianExperiment, formatUnitGrammaticalCase(r.lifespanMedianExperiment, r.lifespanTimeUnit))"
                ></dd>
              </ng-container>

              <ng-container *ngIf="r.lifespanMaxExperiment">
                <dt>
                  {{ "research_data_l_max" | translate}}
                </dt>
                <dd
                  [innerHTML]="outputValueWithUnit(r.lifespanMaxExperiment, formatUnitGrammaticalCase(r.lifespanMaxExperiment, r.lifespanTimeUnit))"
                ></dd>
              </ng-container>
            </dl>
          </td>

          <td>
            <dl class="list">
              <dt>{{ "research_data_l_control" | translate }}:&nbsp;</dt>
              <dd>{{ r.controlCohortSize | checkBlankValue }}</dd>
              <dt>{{ "research_data_l_experiment" | translate }}:&nbsp;</dt>
              <dd>{{ r.experimentCohortSize | checkBlankValue }}</dd>
            </dl>
          </td>

          <td>
            <dl class="list">
              <dt>{{ "research_data_l_density" | translate }}:
                <span>{{ r.populationDensity && r.populationDensity !== 0 ? r.populationDensity : '—' }}</span></dt>
              <dd></dd>
              <dt>{{ "research_data_l_temperature_title" | translate }}:&nbsp;</dt>
              <dd
                [innerHTML]="r.temperatureFrom !== null ? outputTemperaturesRange(r.temperatureFrom, r.temperatureTo) : '—'">
              </dd>
              <dt>{{ "research_data_l_diet" | translate }}:&nbsp;</dt>
              <dd>{{ r.diet?.length !== 0 ? r.diet : '—' }}</dd>
            </dl>
          </td>

          <td>
            <button class="btn btn--small btn--purple btn--flat"
                    (click)="openCommentModal('research_data_comment', r, links)"
            >
              {{ "research_data_comment_button" | translate }}
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</section>

<ng-template #dash>
  <span class="table__dash"></span>
</ng-template>

<ng-template #notTissueSpecific>
  <p class="table__placeholder">{{ "research_data_l_not_tissue_specific" | translate }}</p>
</ng-template>

<ng-template #noSignificance>
  <p class="table__placeholder">{{ "research_data_no_significance" | translate }}</p>
</ng-template>

<ng-template #therapyDescription let-item="item">
  <p *ngIf="item?.treatmentDescription.length !== 0">
    {{ item?.treatmentDescription }}
  </p>
</ng-template>

<ng-template #links let-item="item">
  <p *ngIf="item?.comment.length !== 0">
    {{ item?.comment }}
  </p>

  <p *ngIf="item?.doi !== ''">
    <a
      href="https://doi.org/{{ item?.doi }}"
      class="link"
      target="_blank"
    >{{ item?.doi }}</a>
  </p>
  <p *ngIf="item?.pmid !== ''">
    <a
      href="https://pubmed.ncbi.nlm.nih.gov/17170002/{{ item?.pmid }}"
      class="link"
      target="_blank"
    >{{ item?.pmid }}</a>
  </p>

  <app-publication-info *ngIf="item?.doi"
                        [doi]="item.doi"
                        class="publication-info"
  ></app-publication-info>
</ng-template>

<ng-template #researchesResultHint>
  {{ 'research_data_purple_form_result_hint' | translate }}
</ng-template>

<ng-template #researchesLineHint>
  {{ 'research_data_purple_form_line_hint' | translate }}
</ng-template>

<ng-template #therapy let-sample=sample>
  <ng-container *ngIf="setIfAnyTherapyField(sample); else dash">
    <dl class="list list--stacked">
      <ng-container *ngIf="sample.drug">
        <dt>{{ "research_data_l_therapy_drug" | translate }}</dt>
        <dl>{{ sample.drug }}</dl>
      </ng-container>
      <ng-container *ngIf="sample.treatmentStart">
        <dt>{{ "research_data_l_therapy_age" | translate }}</dt>
        <dl>
          {{ sample.treatmentStart || sample.startStageOfDevelopment? ('research_data_l_therapy_from' | translate | titlecase) : '' }}
          {{ sample.treatmentStart | checkBlankValue: '':'':'' }}
          <span [innerHTML]="formatUnitGrammaticalCase(sample.treatmentStart, sample.startTimeUnit)"
          ></span>
          {{ sample.startStageOfDevelopment | checkBlankValue: '':'':''}}

          {{ sample.treatmentEnd || sample.endStageOfDevelopment? ('research_data_l_therapy_to' | translate) : '' }}
          {{ sample.treatmentEnd | checkBlankValue: '':'':'' }}
          <span [innerHTML]="formatUnitGrammaticalCase(sample.treatmentEnd, sample.endTimeUnit)"
          ></span>
          {{ sample.endStageOfDevelopment | checkBlankValue: '':'':'' }}
        </dl>
      </ng-container>
      <ng-container *ngIf="sample.treatmentPeriod">
        <dt>{{ "research_data_l_therapy_periodicity" | translate }}</dt>
        <dl>{{ sample.treatmentPeriod | capitalizeFirstLetter }}</dl>
      </ng-container>
    </dl>
    <p>{{ !!sample.inductionByDrugWithdrawal? ("research_data_l_therapy_mutation_induction_true" | translate) : "" }}</p>
    <ng-container *ngIf="sample.treatmentDescription">
      <button class="btn btn--small btn--purple btn--flat __ml-minus-5 __w-auto"
              (click)="openCommentModal('research_data_l_therapy_description', sample, therapyDescription)"
      >
        {{ "research_data_l_therapy_description" | translate }}
      </button>

    </ng-container>
  </ng-container>
</ng-template>

<ng-template #therapyHint>
  {{ 'research_data_l_therapy_hint' | translate }}
</ng-template>