<section>
  <h4>{{ "gene_page_researches_lifespan" | translate }}</h4>

  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra">
      <thead>
      <th *ngIf="numberColumn">
        #
      </th>
      <th *ngIf="geneColumnOn">
        {{ "main_page_table_name" | translate }}
      </th>
      <!-- General data columns -->
      <th>{{ "researches_model_organism" | translate }},
        {{ "researches_sex" | translate | lowercase }},
        {{ "researches_line" | translate | lowercase }}</th>
      <th class="__cell-width-medium">{{ "researches_result" | translate }}
        <app-info-button
          (click)="openCommentModal('clarification', null, researchesResultHint)"
        ></app-info-button>
      </th>
      <th class="__cell-width-medium">{{ "researches_l_cohort_size" | translate }}</th>
      <th class="__cell-width-medium">{{ "researches_l_containment_conditions" | translate }}</th>
      <th>{{ "researches_l_target_gene_expression" | translate }}</th>
      <th class="__cell-width-medium">
        {{ "researches_l_control_lifespan" | translate }}</th>
      <th class="__cell-width-medium">
        {{ "researches_l_experiment_lifespan" | translate }}</th>
      <th class="__cell-width-medium">
        {{ "researches_l_lifespan_percent" | translate }}</th>
      <th class="__cell-width-large">
        {{ "researches_l_lifespan_percent" | translate }} — {{ "researches_l_significance" | translate | lowercase }}
      </th>
      <th class="__cell-width-large">
        {{ "researches_l_other_results" | translate }}
      </th>
      <!-- Control & experiment data columns -->
      <th class="__cell-width-medium">
        {{ "researches_l_intervention_way" | translate }},
        {{ "researches_method" | translate | lowercase }},
        {{ "researches_genotype" | translate | lowercase }}
      </th>
      <th class="__cell-width-small">{{ "researches_l_main_effect" | translate }}</th>
      <th>{{ "researches_l_tissue_specificity" | translate }}</th>
      <th>{{ "researches_l_tissue_specific_promoter" | translate }}</th>
      <!-- General data columns again -->
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <ng-container *ngFor="let r of items | slice: 0:slice let i = index">
        <tr>
          <td *ngIf="numberColumn"
              class="number-column">
            <div class="number-column__inner">{{ i + 1 }}</div>
          </td>
          <td *ngIf="geneColumnOn"
              class="__cell-width-medium">
            <div *ngIf="r.hasOwnProperty('geneSymbol')"
                 class="title">
              <a [routerLink]="['/gene', r.geneSymbol]" class="link link--gray">
                <b>{{ r.geneSymbol }}</b> {{ r.geneName }}
              </a>
            </div>
          </td>
          <!-- General data columns -->
          <td class="__cell-width-medium">
            <dl class="list">
              <dt>{{ "researches_model_organism" | translate }}:&nbsp;</dt>
              <dd>{{ r.modelOrganism | checkBlankValue }}</dd>
              <dt>{{ "researches_sex" | translate }}:&nbsp;</dt>
              <dd>{{ r.sex | checkBlankValue }}</dd>
              <dt>{{ "researches_line" | translate }}:&nbsp;</dt>
              <dd>{{ r.organismLine | checkBlankValue }}</dd>
            </dl>
          </td>

          <td>
            <ng-container *ngIf="r.interventionResultForLifespan; else dash">
              <p class="__nowrap"
                 [innerHTML]="r.interventionResultForLifespan | polarityArrows"></p>
            </ng-container>
          </td>
          <td>
            <dl class="list">
              <dt>{{ "researches_l_control" | translate }}:&nbsp;</dt>
              <dd>{{ r.controlCohortSize | checkBlankValue }}</dd>
              <dt>{{ "researches_l_experiment" | translate }}:&nbsp;</dt>
              <dd>{{ r.experimentCohortSize | checkBlankValue }}</dd>
            </dl>
          </td>

          <td>
            <dl class="list">
              <dt>{{ "researches_l_density" | translate }}:
                <span>{{ r.populationDensity && r.populationDensity !== 0 ? r.populationDensity : '—' }}</span></dt>
              <dd></dd>
              <dt>{{ "researches_l_temperature_title" | translate }}:&nbsp;</dt>
              <dd [innerHTML]="r.temperatureFrom !== null ? outputTemperaturesRange(r.temperatureFrom, r.temperatureTo) : '—'">
              </dd>
              <dt>{{ "researches_l_diet" | translate }}:&nbsp;</dt>
              <dd>{{ r.diet?.length !== 0 ? r.diet : '—' }}</dd>
            </dl>
          </td>

          <td>
            <ng-container *ngIf="r.expressionChangePercent && r.expressionChangePercent !== 0; else dash">
              {{ r.expressionChangePercent }}%
            </ng-container>
          </td>

          <td>
            <dl class="list">
              <dt>
                {{ "researches_l_min" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMinControl? outputValueWithUnit(r.lifespanMinControl, formatUnitGrammaticalCase(r.lifespanMinControl, r.lifespanTimeUnit)) : '—'"></dd>
              <dt>
                {{ "researches_l_mean" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMeanControl? outputValueWithUnit(r.lifespanMeanControl, formatUnitGrammaticalCase(r.lifespanMeanControl, r.lifespanTimeUnit)) : '—'"></dd>
              <dt>
                {{ "researches_l_median" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMedianControl? outputValueWithUnit(r.lifespanMedianControl, formatUnitGrammaticalCase(r.lifespanMedianControl, r.lifespanTimeUnit)) : '—'"></dd>
              <dt>
                {{ "researches_l_max" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMaxControl? outputValueWithUnit(r.lifespanMaxControl, formatUnitGrammaticalCase(r.lifespanMaxControl, r.lifespanTimeUnit)) : '—'"></dd>
            </dl>
          </td>

          <td>
            <dl class="list">
              <dt>
                {{ "researches_l_min" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMinExperiment? outputValueWithUnit(r.lifespanMinExperiment, formatUnitGrammaticalCase(r.lifespanMinExperiment, r.lifespanTimeUnit)) : '—'"></dd>
              <dt>
                {{ "researches_l_mean" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMeanExperiment? outputValueWithUnit(r.lifespanMeanExperiment, formatUnitGrammaticalCase(r.lifespanMeanExperiment, r.lifespanTimeUnit)) : '—'"></dd>
              <dt>
                {{ "researches_l_median" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMedianExperiment? outputValueWithUnit(r.lifespanMedianExperiment, formatUnitGrammaticalCase(r.lifespanMedianExperiment, r.lifespanTimeUnit)) : '—'"></dd>
              <dt>
                {{ "researches_l_max" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMaxExperiment? outputValueWithUnit(r.lifespanMaxExperiment, formatUnitGrammaticalCase(r.lifespanMaxExperiment, r.lifespanTimeUnit)) : '—'"></dd>
            </dl>
          </td>

          <td>
            <dl class="list">
              <dt>
                {{ "researches_l_min" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMinChangePercent? outputValueWithUnit(r.lifespanMinChangePercent, '%') : '—'"></dd>
              <dt>
                {{ "researches_l_mean" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMeanChangePercent? outputValueWithUnit(r.lifespanMeanChangePercent, '%') : '—'"></dd>
              <dt>
                {{ "researches_l_median" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMedianChangePercent? outputValueWithUnit(r.lifespanMedianChangePercent, '%') : '—'"></dd>
              <dt>
                {{ "researches_l_max" | translate}}
              </dt>
              <dd [innerHTML]="r.lifespanMaxChangePercent? outputValueWithUnit(r.lifespanMaxChangePercent, '%') : '—'"></dd>
            </dl>
          </td>

          <td>
            <dl class="list">
              <dt>
                {{ "researches_l_min" | translate}}
              </dt>
              <dd>{{ r.lMinChangeStatSignificance? (r.lMinChangeStatSignificance | trueFalseNull | translate) : '—' }}</dd>
              <dt>
                {{ "researches_l_mean" | translate}}
              </dt>
              <dd>{{ r.lMeanChangeStatSignificance? (r.lMeanChangeStatSignificance | trueFalseNull | translate) : '—' }}</dd>
              <dt>
                {{ "researches_l_median" | translate}}
              </dt>
              <dd>{{ r.lifespanMedianChangePercent? (r.lifespanMedianChangePercent | trueFalseNull | translate) : '—' }}</dd>
              <dt>
                {{ "researches_l_max" | translate}}
              </dt>
              <dd>{{ r.lifespanMaxChangePercent? (r.lifespanMaxChangePercent | trueFalseNull | translate) : '—' }}</dd>
            </dl>
          </td>

          <td>
            <ng-container
              *ngIf="r?.interventionDeteriorates?.length !== 0 || r?.interventionImproves?.length !== 0;
              else dash">
              <ng-container *ngIf="r?.interventionImproves.length !== 0">
                <ul class="list list--terms-w-p">
                  <li *ngFor="let result of r.interventionImproves"
                      class="term-w-p term-w-p--positive">
                    {{ 'researches_improves' | translate }} {{ result.name }}
                  </li>
                </ul>
              </ng-container>

              <ng-container *ngIf="r?.interventionDeteriorates.length !== 0">
                <ul class="list list--terms-w-p">
                  <li *ngFor="let result of r.interventionDeteriorates"
                      class="term-w-p term-w-p--negative">
                    {{ 'researches_deteriorates' | translate }} {{ result.name }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </td>

          <!-- -------------------------------------- -->

          <td>
            <dl *ngFor="let sample of r.interventions.controlAndExperiment"
                class="list">
              <dt>{{ "researches_l_intervention_way" | translate }}:&nbsp;</dt>
              <dd>{{ sample.interventionWay | checkBlankValue }}</dd>
              <dt>{{ "researches_l_intervention_method" | translate }}:&nbsp;</dt>
              <dd>{{ sample.interventionMethod | checkBlankValue }}</dd>
              <dt>{{ "researches_genotype" | translate }}:&nbsp;</dt>
              <dd>{{ sample.genotype | checkBlankValue }}</dd>
            </dl>

            <dl *ngFor="let sample of r.interventions.experiment"
                class="list">
              <dt>{{ "researches_l_intervention_way" | translate }}:&nbsp;</dt>
              <dd>{{ sample.interventionWay | checkBlankValue }}</dd>
              <dt>{{ "researches_l_intervention_method" | translate }}:&nbsp;</dt>
              <dd>{{ sample.interventionMethod | checkBlankValue }}</dd>
              <dt>{{ "researches_genotype" | translate }}:&nbsp;</dt>
              <dd>{{ sample.genotype | checkBlankValue }}</dd>
            </dl>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.experiment">
            <!-- Experiment main effect can only be in experiment group if  -->
            <!-- there is no any additional intervention -->
              <ng-container *ngIf="sample.experimentMainEffect; else dash">
                <p class="__nowrap"
                  [innerHTML]="sample.experimentMainEffect | polarityArrows"
                ></p>
              </ng-container>
            </ng-container>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.experiment">
              <!-- Tissue specificity can only be in experiment group if  -->
              <!-- there is no any additional intervention -->
              <ng-container *ngIf="sample.tissueSpecific; else notTissueSpecific">
                <ul *ngIf="sample.tissues.length !== 0"
                    class="list">
                  <li *ngFor="let tissue of sample.tissues">
                    {{ tissue.name }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.experiment">
              <p *ngIf="sample.tissueSpecificPromoter.length !== 0; else dash">
                {{ sample.tissueSpecificPromoter }}
              </p>
            </ng-container>
          </td>

          <!-- General data columns again -->
          <td>
            <button class="btn btn--small btn--purple btn--flat"
                    (click)="openCommentModal('researches_comment', r, links)"
            >
              {{ "researches_comment_button" | translate }}
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</section>

<ng-template #dash>
  <span class="table__dash"></span>
</ng-template>

<ng-template #notTissueSpecific>
  <p class="table__placeholder">{{ "researches_l_not_tissue_specific" | translate }}</p>
</ng-template>

<ng-template #links let-item="item">
  <p *ngIf="item?.comment.length !== 0">
    {{ item?.comment }}
  </p>

  <p *ngIf="item?.doi !== ''">
    <a
      href="https://doi.org/{{ item?.doi }}"
      class="link"
      target="_blank"
    >{{ item?.doi }}</a>
  </p>
  <p *ngIf="item?.pmid !== ''">
    <a
      href="https://pubmed.ncbi.nlm.nih.gov/17170002/{{ item?.pmid }}"
      class="link"
      target="_blank"
    >{{ item?.pmid }}</a>
  </p>

  <app-publication-info *ngIf="item?.doi"
                        [doi]="item.doi"
                        class="publication-info"
  ></app-publication-info>
</ng-template>

<ng-template #researchesResultHint>
  {{ 'researches_purple_form_result_hint' | translate }}
</ng-template>