<section>
  <h4>{{ "gene_page_researches_lifespan" | translate }}</h4>

  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra">
      <thead>
      <!-- General data columns -->
      <th *ngIf="geneColumnOn">
        {{ "main_page_table_name" | translate }}
      </th>
      <th>{{ "researches_model_organism" | translate }},
        {{ "researches_sex" | translate | lowercase }},
        {{ "researches_line" | translate | lowercase }}</th>
      <th>{{ "researches_result" | translate }}</th>
      <th>{{ "researches_l_cohort_size" | translate }}</th>
      <th>{{ "researches_l_containment_conditions" | translate }}</th>
      <th>{{ "researches_l_target_gene_expression" | translate }}</th>
      <th>{{ "researches_l_control_lifespan" | translate }}</th>
      <th>{{ "researches_l_experiment_lifespan" | translate }}</th>
      <th class="__cell-width-medium">{{ "researches_l_lifespan_percent" | translate }}</th>
      <th class="__cell-width-large">{{ "researches_l_other_results" | translate }} </th>
      <!-- Control & experiment data columns -->
      <th class="__cell-width-very-large">
        {{ "researches_l_interventions" | translate }}
      </th>
      <th class="__cell-width-small">{{ "researches_l_main_effect" | translate }}</th>
      <th>{{ "researches_l_tissue_specificity" | translate }}</th>
      <!-- General data columns again -->
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <ng-container *ngFor="let r of items; let i = index">
        <tr *ngIf="!hasAdditionalInterventions(r)">
          <!-- General data columns -->
          <td *ngIf="geneColumnOn"
              class="__cell-width-medium">
            <div *ngIf="r.hasOwnProperty('geneSymbol')"
                 class="title">
              <a [routerLink]="['/gene', r.geneSymbol]" class="link link--gray">
                <b>{{ r.geneSymbol }}</b> {{ r.geneName }}
              </a>
            </div>
          </td>

          <td class="__cell-width-medium">
            <ng-container *ngIf="r.modelOrganism || r.sex || r.organismLine; else dash">
              <p *ngIf="r.modelOrganism">
                {{ "researches_model_organism" | translate }}: {{ r.modelOrganism }}
              </p>
              <p *ngIf="r.sex">
                {{ "researches_sex" | translate }}: {{ r.sex }}
              </p>
              <p *ngIf="r.organismLine">
                {{ "researches_line" | translate }}: {{ r.organismLine }}
              </p>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="r.interventionResultForLifespan; else dash">
              {{ r.interventionResultForLifespan }}
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="r.controlCohortSize || r.experimentCohortSize else dash">
              <p *ngIf="r.controlCohortSize">
                {{ "researches_l_control" | translate: { data: r.controlCohortSize } }}
              </p>
              <p *ngIf="r.experimentCohortSize">
                {{ "researches_l_experiment" | translate }}: {{ r.experimentCohortSize }}
              </p>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="r.populationDensity || r.temperature || r.diet; else dash">
              <p *ngIf="r.populationDensity && r.populationDensity !== 0; else dash">
                {{ "researches_l_density" | translate: { data: r.populationDensity } }}
              </p>
              <p *ngIf="r.temperatureFrom">
                {{ "researches_l_temperature" | translate: { from: r.temperatureFrom, to: r.temperatureTo } }}
              </p>
              <p *ngIf="r.diet?.length !== 0">
                {{ "researches_l_diet" | translate: { data: r.diet } }}
              </p>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="r.expressionChangePercent && r.expressionChangePercent !== 0; else dash">
              {{ r.expressionChangePercent }}%
            </ng-container>
          </td>
          <td>
            <p *ngIf="r.lifespanMinControl; else dash">
              {{ "researches_l_min" | translate: {
              data: r.lifespanMinControl,
              unit: r.lifespanTimeUnit ? r.lifespanTimeUnit : ''
            } }}
            </p>
            <p *ngIf="r.lifespanMeanControl; else dash">
              {{ "researches_l_mean" | translate: {
              data: r.lifespanMeanControl,
              unit: r.lifespanTimeUnit ? r.lifespanTimeUnit : ''
            } }}
            </p>
            <p *ngIf="r.lifespanMedianControl; else dash">
              {{ "researches_l_median" | translate: {
              data: r.lifespanMedianControl,
              unit: r.lifespanTimeUnit ? r.lifespanTimeUnit : ''
            } }}
            </p>
            <p *ngIf="r.lifespanMaxControl; else dash">
              {{ "researches_l_max" | translate: {
              data: r.lifespanMaxControl,
              unit: r.lifespanTimeUnit ? r.lifespanTimeUnit : ''
            } }}
            </p>
          </td>
          <td>
            <p *ngIf="r.lifespanMinExperiment; else dash">
              {{ "researches_l_min" | translate: {
              data: r.lifespanMinExperiment,
              unit: r.lifespanTimeUnit ? r.lifespanTimeUnit : ''
            } }}
            </p>
            <p *ngIf="r.lifespanMeanExperiment; else dash">
              {{ "researches_l_mean" | translate: {
              data: r.lifespanMeanExperiment,
              unit: r.lifespanTimeUnit ? r.lifespanTimeUnit : ''
            } }}
            </p>
            <p *ngIf="r.lifespanMedianExperiment; else dash">
              {{ "researches_l_median" | translate: {
              data: r.lifespanMedianExperiment,
              unit: r.lifespanTimeUnit ? r.lifespanTimeUnit : ''
            } }}
            </p>
            <p *ngIf="r.lifespanMaxExperiment; else dash">
              {{ "researches_l_max" | translate: {
              data: r.lifespanMaxExperiment,
              unit: r.lifespanTimeUnit ? r.lifespanTimeUnit : ''
            } }}
            </p>
          </td>
          <td>
            <p *ngIf="r.lifespanMinChangePercent; else dash">
              {{ "researches_l_min" | translate: { data: r.lifespanMinChangePercent, unit: "%" } }}, <br>
              {{ "researches_l_significance" | translate: { data: r.lMinChangeStatSignificance | trueFalseNull | translate } }}
            </p>
            <p *ngIf="r.lifespanMeanChangePercent; else dash">
              {{ "researches_l_mean" | translate: { data: r.lifespanMeanChangePercent, unit: "%" } }}, <br>
              {{ "researches_l_significance" | translate: { data: r.lMeanChangeStatSignificance | trueFalseNull | translate } }}
            </p>
            <p *ngIf="r.lifespanMedianChangePercent; else dash">
              {{ "researches_l_median" | translate: { data: r.lifespanMedianChangePercent, unit: "%" } }}, <br>
              {{ "researches_l_significance" | translate: { data: r.lMedianChangeStatSignificance | trueFalseNull | translate } }}
            </p>
            <p *ngIf="r.lifespanMaxChangePercent; else dash">
              {{ "researches_l_max" | translate: { data: r.lifespanMaxChangePercent, unit: "%" } }}, <br>
              {{ "researches_l_significance" | translate: { data: r.lMaxChangeStatSignificance | trueFalseNull | translate } }}
            </p>
          </td>

          <td>
            <ng-container
              *ngIf="r?.interventionDeteriorates?.length !== 0 || r?.interventionImproves?.length !== 0;
              else dash">
              <ng-container *ngIf="r?.interventionDeteriorates.length !== 0">
                <h6>{{ "researches_deteriorates" | translate }}</h6>
                <ul class="list list--bulletted">
                  <li *ngFor="let result of r.interventionDeteriorates">
                    {{ result.name }}
                  </li>
                </ul>
              </ng-container>

              <ng-container *ngIf="r?.interventionImproves.length !== 0">
                <h6>{{ "researches_improves" | translate }}</h6>
                <ul class="list list--bulletted">
                  <li *ngFor="let result of r.interventionImproves">
                    {{ result.name }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </td>

          <td>
            <!-- Control & experiment data -->
            <ng-container *ngIf="r.interventions.controlAndExperiment?.length !== 0">
              <h6>{{ "researches_l_control_and_experiment" | translate }}: </h6>
              <ol class="list">
                <ng-container *ngFor="let sample of r.interventions.controlAndExperiment"
                    [ngTemplateOutlet]="interventionFields"
                    [ngTemplateOutletContext]="{sample: sample}">
                </ng-container>
              </ol>
            </ng-container>

            <!-- Experiment data -->

            <!-- There is only one condition of experiment -->
            <!-- if there is no additional intervention -->
            <ng-container *ngIf="r.interventions.experiment?.length !== 0">
              <h6>{{ "researches_l_experiment" | translate }}: </h6>
              <ol class="list">
                <ng-container *ngFor="let sample of r.interventions.experiment"
                              [ngTemplateOutlet]="interventionFields"
                              [ngTemplateOutletContext]="{sample: sample}">
                </ng-container>
              </ol>
            </ng-container>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.experiment">
              <!-- Experiment main effect can only be in experiment group if  -->
              <ng-container *ngIf="sample.experimentMainEffect; else dash">
                <p>{{ sample.experimentMainEffect }}</p>
              </ng-container>
            </ng-container>
          </td>

          <td>
            <ng-container *ngFor="let sample of r.interventions.experiment">
              <!-- Tissue specificity can only be in experiment group if  -->
              <ng-container *ngIf="sample.tissueSpecific; else notTissueSpecific">
                <p>{{ "researches_promoter" | translate }}: {{ sample.tissueSpecificPromoter }}</p>
                <ul *ngIf="sample.tissues.length !== 0"
                    class="list">
                  <li *ngFor="let tissue of sample.tissues">
                    {{ tissue.name }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </td>

          <!-- General data columns again -->
          <td>
            <button class="btn btn--small btn--purple btn--flat"
                    (click)="openCommentModal('researches_comment', r, links)"
            >
              {{ "researches_comment_button" | translate }}
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

  <ng-template #dash>
    <span class="table__dash"></span>
  </ng-template>

  <ng-template #notTissueSpecific>
    <p class="table__placeholder">{{ "researches_l_not_tissue_specific" | translate }}</p>
  </ng-template>

  <ng-template #links let-item="item">
    <p *ngIf="item?.comment.length !== 0">
      {{ item?.comment }}
    </p>

    <p *ngIf="item?.doi !== ''">
      <a
        href="https://doi.org/{{ item?.doi }}"
        class="link"
        target="_blank"
      >{{ item?.doi }}</a>
    </p>
    <p *ngIf="item?.pmid !== ''">
      <a
        href="https://pubmed.ncbi.nlm.nih.gov/17170002/{{ item?.pmid }}"
        class="link"
        target="_blank"
      >{{ item?.pmid }}</a>
    </p>

    <app-publication-info *ngIf="item?.doi"
                          [doi]="item.doi"
                          class="publication-info"
    ></app-publication-info>
  </ng-template>
</section>

<ng-template let-sample="sample" #interventionFields>
  <li class="intervention">
    <p>{{ "researches_l_intervention_way" | translate }}: {{ sample.interventionWay }}</p>
    <p>{{ "researches_l_intervention_method" | translate }}: {{ sample.interventionMethod }}</p>
    <p>{{ "researches_genotype" | translate }}: {{ sample.genotype }}</p>

    <div *ngIf="sample.inductionByDrugWithdrawal">
      <p>Drug: {{ sample.drug }}</p>
      <p>Delivery way: {{ sample.drugDeliveryWay }};</p>
      <p>Treatment period: <br>
        {{sample.treatmentPeriod}} <br>
        {{sample.treatmentStart}} {{sample.startTimeUnit}} on {{sample.startStageOfDevelopment}} stage <br>
        {{sample.treatmentEnd}} {{sample.endTimeUnit}} on {{sample.endStageOfDevelopment}} stage
      </p>
      <p>
        Treatment description: {{ sample.treatmentDescription }}
      </p>
    </div>
  </li>
</ng-template>