@import "../../../../styles";

// Sort header fix
.filters-group {
  @include material-sort-header-fix;

  .filter {
    ::ng-deep .mat-sort-header-container {
      opacity: .75;

      // Make arrow icons be visible by default
      &:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
        opacity: 0.54 !important;
        transform: translateY(0px) !important;
      }
    }
  }
}

@include simple-gene-list-item(methylated-gene);

.methylated-gene {
  &__values {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;

    .alias {
      margin: 0;
    }

    @include resolution_tablet-and-up {
      justify-content: flex-end;
    }

    @include resolution_smartphone {
      justify-content: flex-start;
    }
  }

  &--disabled {
    opacity: .5;
  }
}

