<ng-container *ngIf="gene.origin.phylum">
  {{ gene.origin.phylum }} ({{ gene.origin.geneage }} {{ "million_years" | translate }})
</ng-container>
<ng-container *ngIf="!gene.origin.phylum">
  {{ "gene-age_unknown" | translate }}
</ng-container>


{{ gene.homologueTaxon ? gene.homologueTaxon : ("gene-age_unknown" | translate) }}


<div class="gene-age__type gene-age__phylogeny">
  <section class="type__inner">
    <div class="type__title">
      {{ 'phylogeny' | translate }}
    </div>

    <div
      *ngIf="gene.origin.phylum"
      class="type__value">
      {{ gene.origin.phylum }}
    </div>

    <div
      *ngIf="gene.origin.age"
      class="type__value">
      {{ gene.origin.age }}
      <small>{{ 'million_years' | translate }}</small>
    </div>
  </section>

  <section class="type__inner">
    <div class="type__title">
      {{ 'ncbi_homologs' | translate }}
    </div>
    <div class="type__value">
      <!-- TODO: change locale string -->
      <!-- {{ gene.origin.phylum || ('gene_page_no_data' | translate) }} -->
      {{ gene.homologueTaxon }}
    </div>
  </section>
</div>
