<div class="gene-age__type gene-age__phylogeny">
  <section class="type__inner">
    <div class="type__title">
      {{ 'phylogeny' | translate }}
    </div>

    <div class="type__value">
      <!-- TODO: {{ phylumOrigin.translationString }}  locale string -->
      {{ gene.origin.phylum || "gene-age_unknown" | translate }}
    </div>

    <div class="type__value">
      {{ gene.origin.age || "gene-age_unknown" | translate }}
      <small *ngIf="gene.origin.age">{{ 'million_years' | translate }}</small>
    </div>
  </section>

  <section class="type__inner">
    <div class="type__title">
      {{ 'ncbi_homologs' | translate }}
    </div>
    <div class="type__value">
      {{ gene.homologueTaxon || "gene-age_unknown" | translate }}
    </div>

    <div class="type__value">
      {{ phylumHomolog.age || "gene-age_unknown" | translate }}
      <small *ngIf="phylumHomolog.age">{{ 'million_years' | translate }}</small>
    </div>
  </section>
</div>
