<div class="gene-page">
  <div *ngIf="gene.origin.phylum; else notSpecified"
       class="gene-age__type">
      <div class="type__title">
        {{ phylumOrigin.translationString || 'phylum_not_specified' | translate }}
      </div>
    <span class="type__value">
      <dfn>({{ gene.origin.phylum }})</dfn> {{ gene.origin.age || 'gene-age_unknown' | translate }} {{ gene.origin.age ? ('million_years' | translate) : '' }}
    </span>
  </div>

  <div *ngIf="gene.homologueTaxon; else notSpecified" class="gene-age__type">
    <div class="type__title">
      {{ phylumHomolog.translationString || 'phylum_not_specified' | translate }}
    </div>
    <span class="type__value">
      <dfn>({{ gene.homologueTaxon }})</dfn> {{ phylumHomolog.age || 'gene-age_unknown' | translate }} {{ phylumHomolog.age ? ('million_years' | translate) : '' }}
    </span>
  </div>
</div>

<ng-template #notSpecified>
  <app-tag>{{ 'gene-age_unknown' | translate }}</app-tag>
</ng-template>
