.gene-page { // .page
  // ANNOTATION
  &__annotation {
    margin: 0 0 30px 0;
  }

  // AGE
  &__age {
    margin: 0 -5px 30px -5px;

    .age__types {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: stretch;
      font-size: $font-size;

      .age__type {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: flex-start;
        flex: 1 1 20%;
        align-content: stretch;
        flex-wrap: nowrap;

        .type__inner {
          width: 100%;
          min-width: 200px;
          min-height: 100px;
          padding: 10px;
          border: 1px solid $color-borders;
          border-radius: $border-radius-medium;
          margin: 5px;
        }

        .type__title {
          flex: 0 0 100%;
          font-size: $font-size-smaller;
          color: $color-gray;
          margin-bottom: 5px;

          span:hover {
            cursor: pointer;
            color: $color-base;
          }
        }

        .type__value {
          flex: 1 1 auto;
          font-size: 20px;
          color: $color-black;

          small {
            font-size: $font-size-big;
          }
        }

        .type__description { // необязательный блок
          flex: 1 1 80%;
          font-size: $font-size-smaller;
          padding-left: 10px;
        }

        &.age__orthologs {
          flex: 0 0 100%;

          .orthologs {
            display: grid;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            margin-top: 20px;

            li.ortholog {
              display: inline-grid;
              grid-template-columns: auto 120px;
              grid-column-gap: 10px;
              background-color: $color-gray-very-light;
              padding: 5px 10px;
              border-radius: $border-radius-medium;

              .ortholog__species {
                .latin-name,
                .common-name {
                  font-weight: $font-weight-medium;
                  color: $color-black;

                  &:first-letter {
                    text-transform: capitalize;
                  }
                }

                .latin-name + .common-name {
                  margin-top: .2em;
                  font-size: .8em;
                  color: $color-gray;
                  font-style: italic;
                  font-weight: $font-weight-regular;
                }
              }
              .ortholog__gene {
                text-align: right;

                ::ng-deep .alias {
                  margin-right: 0;
                }
              }
            }

            @include resolution_desktop-and-up {
              grid-template-columns: 1fr 1fr 1fr;
            }

            @include resolution_phablet-and-tablet {
              grid-template-columns: 1fr 1fr
            }

            @include resolution_phone {
              grid-template-columns: 1fr
            }
          }
        }

        &.age__diseases,
        &.age__interactions {
          &:hover,
          &:active {
            .badge {
              transition: all .15s ease-in
            }

            .type__title {
              color: #fff;
            }

            .badge {
              padding-left: 0;
              padding-right: 16px;
            }
          }
        }

        @include resolution_smartphone {
          flex: 0 0 100%;
          flex-wrap: wrap;
        }
      }
    }
  }

  // TEXT CONTENT
  &__articles {
    .articles__content + .articles__content {
      margin-top: 30px;
    }

    .articles__content + app-no-content {
      margin-top: 30px;
    }

    .contents-list {
      margin-bottom: 30px;

      .mat-nav-list {
        [mat-list-item] {
          &:hover,
          &:active {
            .mat-list-item-content {
              background-color: lighten($color-hover, 2%);
            }
          }

          &:nth-child(even) {
            .mat-list-item-content {
              background-color: lighten($color-hover, 5%);

              &:hover,
              &:active {
                background-color: lighten($color-hover, 3%);
              }
            }
          }
        }
      }
    }

    .reference-list {
      position: relative;
      margin-top: 10px;
      padding-top: 12px;
      font-size: 80%;
      color: $color-gray;

      &:before {
        content: " ";
        display: block;
        width: 30%;
        height: 1px;
        background-color: $color-borders;
        position: relative;
        top: -10px;
      }
    }
  }

  // GENE EXPRESSION CHART
  &__expression {
    .expression__rows {
      margin-top: 5px;
    }

    .expression__row {
      font-size: 0;

      .row__name,
      .row__value {
        display: inline-block;
        vertical-align: middle;
        @include resolution_tablet-and-up {
          width: 50%;
        }
        @include resolution_smartphone {
          width: 100%;
        }
      }

      .row__name {
        font-size: $font-size-bigger;
        font-weight: $font-weight-medium;
        color: $color-black;

        @include resolution_tablet-and-up {
          padding-right: 10px;
        }
        @include resolution_smartphone {
          margin-bottom: 5px;
        }
      }

      .row__value {
        height: 20px;
        overflow: hidden;
        position: relative;
        background-color: $color-general-light;
        border-radius: 3px;

        .value__bar {
          height: 100%;
          background-color: #7673d1;
          max-width: 100%;
        }

        .value__rpkm {
          position: absolute;
          top: 1px;
          left: 10px;
          z-index: 1;
          font-size: $font-size-smaller;
          color: #fff;
          text-shadow: rgba($color-black, .25) 1px 0,
          rgba($color-black, .25) 1px 1px,
          rgba($color-black, .25) 0 1px,
          rgba($color-black, .25) -1px 1px,
          rgba($color-black, .25) -1px 0,
          rgba($color-black, .25) -1px -1px,
          rgba($color-black, .25) 0 -1px,
          rgba($color-black, .25) 1px -1px;
        }

        &--minimum {
          .value__rpkm {
            color: $color-indent;
            text-shadow: none;
          }
        }
      }
    }

    .expression__row + .expression__row {
      margin-top: 10px;
    }
  }

  // GO ANNOTATION
  &__annotation {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $color-gray-very-light;
    border-radius: 5px;
    padding: 5px 0;

    .annotation__row {
      width: 100%;
      padding: 5px 20px;

      .row__title {
        font-size: $font-size-bigger;
        color: $color-gray;
        padding: 0 0 8px 0;
      }

      .row__value {
        font-size: $font-size-bigger;
        color: $color-black;

        small {
          font-size: $font-size-big;
        }
      }

      &--emphasized {
        padding-top: 12px;
        background-color: $color-general-light;
      }
    }

    .annotation__row + .annotation__row {
      margin-top: 8px;
    }
  }
}

