@import "../styles";

:host {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: $color-indent;
  color: #fff;

  ::ng-deep .flex-subcontainer {
    align-self: center;
  }

  ::ng-deep .link {
    color: #fff;
    text-decoration: underline;
  }

  ::ng-deep .footer__language {
    text-align: right;
  }
}
