<div class="container">
  <div class="col col-16">
    <div class="flex-subcontainer">
      <div class="per per-80 __align-self-center">
        <a href="/api/gene/"
           class="link"
           target="_blank"
        ><span
            class="fa far fa-download"
        ></span>&nbsp;JSON data</a>

        <a href="https://twitter.com/OpenGenes"
           class="link"
           target="_blank"
          ><span
          class="fab fa-twitter"
        ></span>&nbsp;@OpenGenes</a>
      </div>
      <div class="per per-20 footer__language">
        <app-language></app-language>
      </div>
    </div>
  </div>
</div>

