@import "../styles";

:host {
  display: block;

  .wrapper {
    background-color: $color-black;
  }
}

.footer {
  display: grid;
  grid-gap: 1.33em;
  width: 100%;
  color: $color-gray-semi;

  &__column {
    margin: 2em 0;
  }

  h4 {
    font-size: 1.1em;
    font-weight: $font-weight-medium;
  }

  p {
    font-size: .9em;
  }

  p + p {
    margin-top: .8em;
  }

  &__links { // ul
    width: 100%;

    li {
      display: list-item;
      width: 100%;
      font-size: 1em;
      color: $color-gray-semi;

      &.footer__dynamic-content {
        ::ng-deep > * {
          max-width: 150px;
        }
      }
    }
  }

  ul + p,
  li + li,
  p + ul,
  h4 + * {
    margin-top: 1em;
  }

  a:not(.btn),
  &::ng-deep .language {
    transition: color .15s linear;

    &,
    &:link,
    &:visited {
      color: $color-gray;
    }

    &:hover,
    &:active {
      color: $color-gray-halfing;
    }
  }

  &::ng-deep .language {
    display: inline-block;
    margin-right: 1ch;

    &[disabled] {
      font-weight: $font-weight-medium;
      color: $color-gray-semi;
      cursor: default;
    }
  }

  @include resolution_widescreen {
    font-size: $font-size;
    grid-template-columns: repeat(5, 1fr);
  }

  @include resolution_desktop {
    font-size: $font-size-smaller;
    grid-template-columns: repeat(5, auto);
  }

  @include resolution_tablet {
    font-size: $font-size-small;
    grid-template-columns: 1fr auto auto;

    .footer__column--build {
      grid-column: 2 / -1;
      column-count: 2;

      .footer__dynamic-content {
        position: relative;
        top: -1em;
      }
    }
  }

  @include resolution_smartphone {
    font-size: $font-size;
    grid-template-columns: 1fr;
  }
}
