@import "../styles";

:host {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: $color-indent;
  color: #fff;

  .flex-subcontainer {
    align-self: center;
  }

  .link {
    color: #fff;
    margin-right: 1em;
  }

  .footer__language {
    text-align: right;
    color: $color-indent;
  }
}
