<div class="container-fluid">
  <div class="row no-gutters align-items-center">
    <div class="col-9 align-items-center">
      <a href="/developers" class="link footer__link" target="_blank"
        ><span class="fa far fa-database"></span>&nbsp;API</a
      >

      <a
        href="https://twitter.com/OpenGenes"
        class="link footer__link"
        target="_blank"
        ><span class="fab fa-twitter"></span>&nbsp;@OpenGenes</a
      >
    </div>

    <div class="col footer__language">
      <app-language></app-language>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12">
      <app-icon
        class="footer__logo"
        staticSrc="/assets/images/sk-resident.svg"
        size="custom"
        customWidth="60px"
        customHeight="42px"
      ></app-icon>
    </div>
  </div>
</div>
