@use "sass:map";
@import "../../styles";

:host {
  display: block;
  width: 100%;
  text-align: center;
}

.experiments {
  $experiment-bar-width: 20px;
  $experiment-bar-margin: 2px;
  position: relative;
  display: block;
  min-width: (($experiment-bar-width + ($experiment-bar-margin * 2)) * length($experiment-tables));


  .experiment {
    position: relative;
    display: inline-block;
    margin: 0 $experiment-bar-margin;
    width: $experiment-bar-width;
    height: 50px;

    &__scale {
      position: absolute;
      left: 0;
      bottom: -1px;
      z-index: 0;
      width: 100%;
      min-height: 1px;
      border-radius: 4px;
      margin-right: 4px;
      cursor: pointer;
    }

    &__value {
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      text-align: center;
      font-size: $font-size-small;
      white-space: nowrap;
      text-shadow: 0 0 1px $color-white, 0 0 1px $color-white, 0 0 1px $color-white, 0 0 1px $color-white;
    }

    @each $name, $color in $experiment-tables {
      &--#{$name} {
        .experiment__scale {
          background-color: map.get($experiment-tables, $name);
        }
      }
    }
  }
}

.legend-container {
  position: relative;
  padding-left: 24px;

  &__item {
    position: relative;

    &::before {
      content: ' ';
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin-right: 10px;
      background: #cbcbef;
      position: absolute;
      top: 6px;
      left: -22px;
      border: .5px solid rgba($color-black, .15);
    }

    @each $class, $color in $experiment-tables {
      &--#{$class}::before {
        background: $color;
      }
    }
  }
}