<ul class="news" *ngIf="!isLoading">
  <li *ngFor="let news of newsList" class="news__item">
    <div class="item__gene">
      <a [routerLink]="['/gene', news.gene]" class="alias">{{ news.gene }}</a>
    </div>

    <div class="item__title">
      <a
        href="{{ news.url }}"
        class="item__caption link link--gray"
        target="_blank"
      >{{ news.title | stripTags }}</a
      >

      <ng-container *ngIf="news.date && showDates === true">
        <div class="item__date">
          {{ (news.date | localizedDate: "d MMMM y")
          || (news.date | localizedDate: "MMMM y")
          }}
        </div>
      </ng-container>
    </div>
  </li>
</ul>

<app-skeleton *ngIf="isLoading || error" [groups]="itemsForPage"></app-skeleton>
