<ul class="news" *ngIf="!isLoading && newsList.length !== 0; else skeleton">
  <li *ngFor="let news of newsList" class="news__item">
    <div class="item__gene">
      <a [routerLink]="['/gene', news.gene]" class="alias">{{ news.gene }}</a>
    </div>

    <div class="item__title">
      <a
        href="{{ news.url }}"
        class="item__caption link link--gray"
        target="_blank"
        >{{ news.title | stripTags }}</a>

      <ng-container *ngIf="news.date && showDates === true">
        <div class="item__date">
          {{
            (news.date | localizedDate: "d MMMM y") ||
              (news.date | localizedDate: "MMMM y")
          }}
        </div>
      </ng-container>
    </div>
  </li>
</ul>

<div
  *ngIf="showMoreButtonVisible && isShowMoreButton"
  class="col col-12 __mt-5 btn-wrap show-more">
  <button class="btn show-more__button"
          (click)="showMore()"
          [disabled]="isLoading">
    {{ "show_more" | translate }}
    <span *ngIf="isLoading" class="fas fa-circle-notch fa-spin"></span>
  </button>
</div>

<ng-template #skeleton>
  <app-skeleton
    *ngIf="isLoading"
    [groups]="newsList.length !== 0 ? newsList.length : itemsForPage"
  ></app-skeleton>
</ng-template>

<app-no-news *ngIf="error"></app-no-news>