@import "../../styles";

:host {
  width: 100%;

  &:empty {
    display: none; // фикс для момента во время подгрузки
  }
}

app-skeleton {
  margin-top: 10px;
}

.news {
  display: inline-block;
  font-size: 1em;

  &__item {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
    padding: .8em 5% .8em 0;

    .item__gene {
      flex: 0 1;
      padding-right: .5em;
      .alias {
        margin-right: 0;
      }
    }

    .item__title {
      flex: 4 0 170px; // внутренняя ширина .sidebar - минимальная ширина заголовка
      flex-flow: row wrap;
      font-size: .92em;
      white-space: normal;
      word-break: break-word;
      hyphens: auto;
    }

    // .item__caption { }

    .item__date {
      font-size: .85em;
      color: $color-gray-halfing;
      margin-top: 1ex;
    }

    & + & {
      border-top: 1px solid $color-border-light;
    }
  }
}
