:host {
  padding-top: 100px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  mat-form-field{
    width: 100%;
    margin-bottom: 10px;
  }
  .color-red{
    color: #f44336;
  }
}