<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'participate_form_name' | translate }}</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="form.controls['name'].invalid">
      {{ 'participate_form_name_error_message' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'participate_form_field.title' | translate }}</mat-label>
    <mat-select formControlName="field">
      <mat-option value="{{ 'participate_form_field.frontend' | translate }}">
        {{ 'participate_form_field.frontend' | translate }}
      </mat-option>
      <mat-option value="{{ 'participate_form_field.backend' | translate }}">
        {{ 'participate_form_field.backend' | translate }}
      </mat-option>
      <mat-option value="{{ 'participate_form_field.biology' | translate }}">
        {{ 'participate_form_field.biology' | translate }}
      </mat-option>
      <mat-option value="{{ 'participate_form_field.other' | translate }}">
        {{ 'participate_form_field.other' | translate }}
      </mat-option>

    </mat-select>
    <mat-error *ngIf="form.controls['field'].invalid">
      {{ 'participate_form_field_error_message' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'participate_form_message' | translate }}</mat-label>
    <textarea matInput formControlName="message"></textarea>
    <mat-error *ngIf="form.controls['message'].invalid">
      {{ 'participate_form_message_error_message' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'participate_form_telegram' | translate }}</mat-label>
    <input matInput formControlName="telegram">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'participate_form_email' | translate }}</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="form.controls['email'].invalid">
      {{ 'participate_form_email_error_message' | translate }}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary">
    {{ 'participate_form_submit' | translate }}
  </button>
</form>


