<section *ngIf="isAgeRelatedChanges">
  <app-age-related-changes
    [items]="researches.ageRelatedChangesOfGene"></app-age-related-changes>
</section>

<section *ngIf="isIncreaseLifespan">
  <app-increase-lifespan
    [items]="researches.increaseLifespan"></app-increase-lifespan>
</section>

<section *ngIf="isInterventionAffectsAgingProcess">
  <app-intervention-affects-aging-process
    [items]="researches.interventionToGeneImprovesVitalProcesses"></app-intervention-affects-aging-process>
</section>

<section *ngIf="isProteinRegulatesOtherGenes">
  <app-protein-regulates-other-genes
    [items]="researches.proteinRegulatesOtherGenes"></app-protein-regulates-other-genes>
</section>

<section *ngIf="isGeneAssociatedWithProgeriaSyndromes">
  <app-gene-associated-with-progeria-syndromes
    [items]="researches.geneAssociatedWithProgeriaSyndromes"></app-gene-associated-with-progeria-syndromes>
</section>

<section *ngIf="isGeneAssociatedWithLongevityEffects">
  <app-gene-associated-with-longevity-effects
    [items]="researches.geneAssociatedWithLongevityEffects"></app-gene-associated-with-longevity-effects>
</section>

<section *ngIf="isAdditionalEvidences">
  <app-additional-evidences
    [items]="researches.additionalEvidences"></app-additional-evidences>
</section>