<section *ngIf="isAgeRelatedChanges">
  <h4>{{ "gene_page_researches_age_related_changes" | translate }}</h4>
  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra table--sticky table--age-related-change">
      <thead>
      <th class="__cell-width-small">
        {{ "age_related_changes_type" | translate }}
      </th>
      <th>{{ "researches_object" | translate }}</th>
      <th>{{ "researches_line" | translate }}</th>
      <th>{{ "age_related_changes_sample" | translate }}</th>
      <th>{{ "researches_age_from" | translate }}</th>
      <th>{{ "researches_age_to" | translate }}</th>
      <th>{{ "age_related_changes_measurement_method" | translate }}</th>
      <th>
        {{ "researches_change" | translate }}&nbsp;<span
        class="fa fal fa-mars"
      ></span>
      </th>
      <th>
        {{ "researches_change" | translate }}&nbsp;<span
        class="fa fal fa-venus"
      ></span>
      </th>
      <th>
        {{ "researches_change" | translate }}&nbsp;<span
        class="fa fal fa-venus"
      ></span
      >&nbsp;<span class="fa fal fa-mars"></span>
      </th>
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let item of researches.ageRelatedChangesOfGene">
        <td>
          <ng-container *ngIf="item.changeType ; else dash">
            {{ item.changeType }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.modelOrganism ; else dash">
            {{ item.modelOrganism }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.organismLine ; else dash">
            {{ item.organismLine }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="item.sample ; else dash">
            {{ item.sample }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.ageFrom ; else dash">
            {{ item.ageFrom }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.ageTo ; else dash">
            {{ item.ageTo }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.measurementType ; else dash">
            {{ item.measurementType }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.valueForMale ; else dash">
            {{ item.valueForMale }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.valueForFemale ; else dash">
            {{ item.valueForFemale }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.valueForAll ; else dash">
            {{ item.valueForAll }}
          </ng-container>
        </td>
        <td>
          <button class="btn btn--small btn--purple btn--flat"
                  (click)="openCommentModal('researches_comment', item, links)"
          >
            {{ "researches_comment_button" | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>


<section *ngIf="isIncreaseLifespan">
  <h4>{{ "gene_page_researches_lifespan" | translate }}</h4>

  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra">
      <thead>
      <!-- General data columns -->
      <th>{{ "researches_model_organism" | translate }},
        {{ "researches_sex" | translate | lowercase }},
        {{ "researches_line" | translate | lowercase }}</th>
      <th>{{ "researches_result" | translate }}</th>
      <th>{{ "researches_l_cohort_size" | translate }}</th>
      <th>{{ "researches_l_containment_conditions" | translate }}</th>
      <th>{{ "researches_l_target_gene_expression" | translate }}</th>
      <th>{{ "researches_l_control_lifespan" | translate }}</th>
      <th>{{ "researches_l_experiment_lifespan" | translate }}</th>
      <th class="__cell-width-medium">{{ "researches_l_lifespan_percent" | translate }}</th>
      <th>{{ "researches_l_other_results" | translate }} </th>
      <!-- Control & experiment data columns -->
      <th class="__cell-width-medium">
        {{ "researches_l_intervention_way" | translate }},
        {{ "researches_method" | translate | lowercase }},
        {{ "researches_genotype" | translate | lowercase }}
      </th>
      <th class="__cell-width-small">{{ "researches_l_main_effect" | translate }}</th>
      <th>{{ "researches_l_tissue_specificity" | translate }}</th>
      <!-- General data columns again -->
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let r of researches.increaseLifespan; let i = index">
        <!-- One row with: -->

        <!-- General data columns -->
        <td class="__cell-width-medium">
          <ng-container *ngIf="r.modelOrganism || r.sex || r.sex; else dash">
            <p *ngIf="r.modelOrganism">
              {{ "researches_model_organism" | translate }}: {{ r.modelOrganism }}
            </p>
            <p *ngIf="r.sex">
              {{ "researches_sex" | translate }}: {{ r.sex }}
            </p>
            <p *ngIf="r.line">
              {{ "researches_line" | translate }}: {{ r.organismLine }}
            </p>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="r.interventionResultForLifespan; else dash">
            {{ r.interventionResultForLifespan }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="r.controlCohortSize || r.experimentCohortSize else dash">
            <p *ngIf="r.controlCohortSize">
              {{ "researches_l_control" | translate: { data: r.controlCohortSize } }}
            </p>
            <p *ngIf="r.experimentCohortSize">
              {{ "researches_l_experiment" | translate }}: {{ r.experimentCohortSize }}
            </p>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="r.populationDensity?.length !== 0 || r.temperature?.length !== 0 || r.diet?.length !== 0; else dash">
            <p *ngIf="r.populationDensity?.length !== 0">
              {{ "researches_l_density" | translate: { data: r.populationDensity } }}
            </p>
            <p *ngIf="r.temperatureFrom">
              {{ "researches_l_temperature" | translate: { from: r.temperatureFrom, to: r.temperatureTo } }}
            </p>
            <p *ngIf="r.diet?.length !== 0">
              {{ "researches_l_diet" | translate: { data: r.diet } }}
            </p>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="r.expressionChangePercent && r.expressionChangePercent !== 0; else dash">
            {{ r.expressionChangePercent }}%
          </ng-container>
        </td>
        <td>
          <p *ngIf="r.lifespanMinControl; else dash">
            {{ "researches_l_min" | translate: { data: r.lifespanMinControl, unit: r.lifespanTimeUnit } }}
          </p>
          <p *ngIf="r.lifespanMeanControl; else dash">
            {{ "researches_l_mean" | translate: { data: r.lifespanMeanControl, unit: r.lifespanTimeUnit } }}
          </p>
          <p *ngIf="r.lifespanMedianControl; else dash">
            {{ "researches_l_median" | translate: { data: r.lifespanMedianControl, unit: r.lifespanTimeUnit } }}
          </p>
          <p *ngIf="r.lifespanMaxControl; else dash">
            {{ "researches_l_max" | translate: { data: r.lifespanMaxControl, unit: r.lifespanTimeUnit } }}
          </p>
        </td>
        <td>
          <p *ngIf="r.lifespanMinExperiment; else dash">
            {{ "researches_l_min" | translate: { data: r.lifespanMinExperiment, unit: r.lifespanTimeUnit } }}
          </p>
          <p *ngIf="r.lifespanMeanExperiment; else dash">
            {{ "researches_l_mean" | translate: { data: r.lifespanMeanExperiment, unit: r.lifespanTimeUnit } }}
          </p>
          <p *ngIf="r.lifespanMedianExperiment; else dash">
            {{ "researches_l_median" | translate: { data: r.lifespanMedianExperiment, unit: r.lifespanTimeUnit } }}
          </p>
          <p *ngIf="r.lifespanMaxExperiment; else dash">
            {{ "researches_l_max" | translate: { data: r.lifespanMaxExperiment, unit: r.lifespanTimeUnit } }}
          </p>
        </td>
        <td>
          <p *ngIf="r.lifespanMinChangePercent; else dash">
            {{ "researches_l_min" | translate: { data: r.lifespanMinChangePercent, unit: "%" } }}, <br>
            {{ "researches_l_significance" | translate: { data: r.lMinChangeStatSignificance | trueFalseNull | translate } }}
          </p>
          <p *ngIf="r.lifespanMeanChangePercent; else dash">
            {{ "researches_l_mean" | translate: { data: r.lifespanMeanChangePercent, unit: "%" } }}, <br>
            {{ "researches_l_significance" | translate: { data: r.lMeanChangeStatSignificance | trueFalseNull | translate } }}
          </p>
          <p *ngIf="r.lifespanMedianChangePercent; else dash">
            {{ "researches_l_median" | translate: { data: r.lifespanMedianChangePercent, unit: "%" } }}, <br>
            {{ "researches_l_significance" | translate: { data: r.lMedianChangeStatSignificance | trueFalseNull | translate } }}
          </p>
          <p *ngIf="r.lifespanMaxChangePercent; else dash">
            {{ "researches_l_max" | translate: { data: r.lifespanMaxChangePercent, unit: "%" } }}, <br>
            {{ "researches_l_significance" | translate: { data: r.lMaxChangeStatSignificance | trueFalseNull | translate  } }}
          </p>
        </td>

        <td>
          <ng-container
            *ngIf="r?.interventionDeteriorates?.length !== 0 || r?.interventionImproves?.length !== 0;
              else dash">
            <ng-container *ngIf="r?.interventionDeteriorates.length !== 0">
              <h6>{{ "researches_deteriorates" | translate }}</h6>
              <ul class="list list--bulletted __mt-0">
                <li *ngFor="let result of r.interventionDeteriorates">
                  {{ result.name }}
                </li>
              </ul>
            </ng-container>

            <ng-container *ngIf="r?.interventionImproves.length !== 0">
              <h6>{{ "researches_improves" | translate }}</h6>
              <ul class="list list--bulletted __mt-0">
                <li *ngFor="let result of r.interventionImproves">
                  {{ result.name }}
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </td>

        <td>
          <!-- Control & experiment data -->
          <ng-container *ngFor="let sample of r.interventions.controlAndExperiment">
            <h6>{{ "researches_l_control_and_experiment" | translate }}: </h6>
            <ng-container *ngIf="!sample.hasOwnProperty('gene')">
              <p>{{ "researches_l_intervention_way" | translate }}: {{ sample.interventionWay }}</p>
              <p>{{ "researches_l_intervention_method" | translate }}: {{ sample.interventionMethod }}</p>
              <p>{{ "researches_genotype" | translate }}: {{ sample.genotype }}</p>
            </ng-container>
          </ng-container>

          <!-- Experiment data -->

          <!-- There is only one condition of experiment -->
          <!-- if there is no additional intervention -->
          <ng-container *ngFor="let sample of r.interventions.experiment">
            <h6>{{ "researches_l_experiment" | translate }}: </h6>
            <p>{{ "researches_l_intervention_way" | translate }}: {{ sample.interventionWay }}</p>
            <p>{{ "researches_l_intervention_method" | translate }}: {{ sample.interventionMethod }}</p>
            <p>{{ "researches_genotype" | translate }}:  {{ sample.genotype }}</p>
          </ng-container>
        </td>

        <td>
          <ng-container *ngFor="let sample of r.interventions.experiment">
            <!-- Experiment main effect can only be in experiment group if  -->
            <!-- there is no any additional intervention -->
            <ng-container *ngIf="!sample.hasOwnProperty('gene')">
              <ng-container *ngIf="sample.experimentMainEffect; else dash">
                <p>{{ sample.experimentMainEffect }}</p>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>

        <td>
          <ng-container *ngFor="let sample of r.interventions.experiment">
            <!-- Tissue specificity can only be in experiment group if  -->
            <!-- there is no any additional intervention -->
            <ng-container *ngIf="!sample.hasOwnProperty('gene')">
              <ng-container *ngIf="sample.tissueSpecific; else notTissueSpecific">
                <p>{{ "researches_promoter" | translate }}: {{ sample.tissueSpecificPromoter }}</p>

                <ul *ngIf="sample.tissues.length !== 0"
                    class="list">
                  <li *ngFor="let tissue of sample.tissues">
                    {{ tissue.name }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>

        <!-- General data columns again -->
        <td>
          <button class="btn btn--small btn--purple btn--flat"
                  (click)="openCommentModal('researches_comment', r, links)"
          >
            {{ "researches_comment_button" | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section *ngIf="isInterventionAffectsAgingProcess">
  <h4>{{ "gene_page_intervention_moderates_aging" | translate }}</h4>
  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra table--sticky table--gene-intervention-to-vital-processes">
      <thead>
      <th class="__cell-width-small">
        {{ "gene_intervention_type" | translate }}
      </th>
      <th class="__cell-width-small">
        {{ "gene_intervention_result" | translate }}
      </th>
      <th>{{ "researches_object" | translate }}</th>
      <th>{{ "researches_age" | translate }}<sup>*</sup></th>
      <th>{{ "researches_sex" | translate }}</th>
      <th>{{ "researches_line" | translate }}</th>
      <th>{{ "researches_genotype" | translate }}</th>
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of researches.interventionToGeneImprovesVitalProcesses"
      >
        <td>
          <ng-container *ngIf="item.geneIntervention; else dash">
            {{ item.geneIntervention }}
          </ng-container>
        </td>
        <td>
          <ng-container
            *ngIf="item?.interventionDeteriorates.length !== 0 || item?.interventionImproves.length !== 0;
            else dash">
            <ng-container *ngIf="item?.interventionDeteriorates.length !== 0">
              <h6>{{ "researches_deteriorates" | translate }}</h6>
              <ul class="list list--bulletted __mt-0">
                <li *ngFor="let result of item.interventionDeteriorates">
                  {{ result.name }}
                </li>
              </ul>
            </ng-container>

            <ng-container *ngIf="item?.interventionImproves.length !== 0">
              <h6>{{ "researches_improves" | translate }}</h6>
              <ul class="list list--bulletted __mt-0">
                <li *ngFor="let result of item.interventionImproves">
                  {{ result.name }}
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </td>

        <td class="__nowrap">
          <ng-container *ngIf="item.modelOrganism ; else dash">
            {{ item.modelOrganism }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.age ; else dash">
            {{ item.age }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.sex ; else dash">
            {{ item.sex }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="item.organismLine ; else dash">
            {{ item.organismLine }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.genotype ; else dash">
            {{ item.genotype }}
          </ng-container>
        </td>
        <td>
          <button class="btn btn--small btn--purple btn--flat"
                  (click)="openCommentModal('researches_comment', item, links)"
          >
            {{ "researches_comment_button" | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <legend class="reference">
    <sup>*</sup>{{ "gene_page_researches_lifespan_hint1" | translate }}
  </legend>
</section>

<section *ngIf="isProteinRegulatesOtherGenes">
  <h4>{{ "gene_page_researches_protein_regulates_genes" | translate }}</h4>
  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra table--sticky table--protein-to-gene">
      <thead>
      <th class="__cell-width-small">
        {{ "protein_regulates_genes_activity" | translate }}
      </th>
      <th>{{ "gene" | translate }}</th>
      <th>{{ "researches_regulation_type" | translate }}</th>
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let item of researches.proteinRegulatesOtherGenes">
        <td>
          <ng-container *ngIf="item.proteinActivity ; else dash">
            {{ item.proteinActivity }}
          </ng-container>
        </td>
        <td>
          <a href="gene/{{ item.regulatedGene.symbol }}" class="link">{{
            item.regulatedGene.symbol
            }}</a>
        </td>
        <td>
          <ng-container *ngIf="item.regulationType ; else dash">
            {{ item.regulationType }}
          </ng-container>
        </td>
        <td>
          <button class="btn btn--small btn--purple btn--flat"
                  (click)="openCommentModal('researches_comment', item, links)"
          >
            {{ "researches_comment_button" | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section *ngIf="isGeneAssociatedWithProgeriaSyndromes">
  <h4>{{ "gene_page_researches_progeria" | translate }}</h4>
  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra table--sticky table--gene-to-progeria">
      <thead>
      <th>{{ "progeria_syndrome" | translate }}</th>
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let item of researches.geneAssociatedWithProgeriaSyndromes">
        <td>
          <ng-container *ngIf="item.progeriaSyndrome ; else dash">
            {{ item.progeriaSyndrome }}
          </ng-container>
        </td>
        <td>
          <button class="btn btn--small btn--purple btn--flat"
                  (click)="openCommentModal('researches_comment', item, links)"
          >
            {{ "researches_comment_button" | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section *ngIf="isGeneAssociatedWithLongevityEffects">
  <h4>{{ "gene_page_researches_longevity_effects" | translate }}</h4>
  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra table--dark table--sticky table--gene-to-longevity-effect">
      <thead>
      <th>{{ "researches_data_type" | translate }}</th>
      <th class="__cell-width-small">
        {{ "researches_phenotype" | translate }}
      </th>
      <th class="__cell-width-small">
        {{ "gene_page_allelic_polymorphism" | translate }}
      </th>
      <th class="__cell-width-small">
        {{ "researches_allelic_variant" | translate }}
      </th>
      <th>{{ "gene_page_researches_transcriptome_proteome" | translate }}</th>
      <th>{{ "researches_model_organism" | translate }}</th>
      <th>{{ "researches_sex" | translate }}</th>
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let item of researches.geneAssociatedWithLongevityEffects">
        <td>
          <ng-container *ngIf="item.dataType ; else dash">
            {{ item.dataType }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="item.longevityEffect ; else dash">
            {{ item.longevityEffect }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="item.allelicPolymorphism ; else dash">
            {{ item.allelicPolymorphism }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="item.allelicVariant ; else dash">
            {{ item.allelicVariant }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="item.changeType ; else dash">
            {{ item.changeType }}
          </ng-container>
        </td>
        <td class="__nowrap">
          <ng-container *ngIf="item.modelOrganism ; else dash">
            {{ item.modelOrganism }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="item.sex ; else dash">
            {{ item.sex }}
          </ng-container>
        </td>
        <td>
          <button class="btn btn--small btn--purple btn--flat"
                  (click)="openCommentModal('researches_comment', item, links)"
          >
            {{ "researches_comment_button" | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section *ngIf="isAdditionalEvidences">
  <h4>{{ "gene_page_researches_additional_evidence" | translate }}</h4>
  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra table--sticky table--gene-to-additional-evidence">
      <thead>
      <th>
        {{ "researches_comment" | translate }}
      </th>
      <th>
        {{ "researches_reference" | translate }}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let item of researches.additionalEvidences">
        <td>
          {{ item.comment }}
        </td>
        <td>
          <a
            *ngIf="item?.doi !== ''"
            href="https://doi.org/{{ item?.doi }}"
            class="link"
            target="_blank"
          >{{ item?.doi }}</a
          ><br>

          <a
            *ngIf="item?.pmid !== ''"
            href="https://pubmed.ncbi.nlm.nih.gov/17170002/{{ item?.pmid }}"
            class="link"
            target="_blank"
          >{{ item?.pmid }}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- DRY -->
<ng-template #links let-item="item">
  <p *ngIf="item?.comment.length !== 0">
    {{ item?.comment }}
  </p>

  <p *ngIf="item?.doi !== ''">
    <a
      href="https://doi.org/{{ item?.doi }}"
      class="link"
      target="_blank"
    >{{ item?.doi }}</a>
  </p>
  <p *ngIf="item?.pmid !== ''">
    <a
      href="https://pubmed.ncbi.nlm.nih.gov/17170002/{{ item?.pmid }}"
      class="link"
      target="_blank"
    >{{ item?.pmid }}</a>
  </p>

  <app-publication-info *ngIf="item?.doi"
                        [doi]="item.doi"
                        class="publication-info"
  ></app-publication-info>
</ng-template>

<ng-template #dash>
  <span class="table__dash"></span>
</ng-template>

<ng-template #notTissueSpecific>
  <span class="table__placeholder">{{ "researches_l_not_tissue_specific" | translate }}</span>
</ng-template>