@import "../../styles";

.table {
  border-collapse: collapse;
  border-spacing: 0;

  a {
    font-weight: $font-weight-medium;
    color: $color-general;

    &:hover,
    &:active {
      color: lighten(mix($color-general, $color-blue, 5%), 3%);
    }
  }

  @mixin sticky {
    position: sticky;
    left: 0;
    z-index: 2;
  }

  &--sticky {
    border-collapse: separate;

    thead {
      th:first-of-type {
        @include sticky;
      }
    }
    tr{
      td:first-of-type {
        @include sticky;
        background-color: $color-white;
      }
    }
  }

  th {
    position: relative;
  }

  td {
    @include lists;

    * + h6 {
      margin-top: .8ex;
    }
  }

  & > thead th {
    &:first-child {
      padding-left: 1em;

      &::before {
        content: ' ';
        display: block;
        width: .5em;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        z-index: 0;
        background: #cbcbef; // По умолчанию: Влияние модуляции активности гена на продолжительность жизни
      }
    }
  }

  @each $class, $color in $research-tables {
    &--#{$class} > thead th:first-child::before {
      background: $color;
    }
  }

  &__gap {
    &,
    & > td {
      border: 0;
      padding: 0;
    }

    & > td {
      div {
        width: 100%;
        height: 20px;
        position: relative;

        &::after {
          content: ' ';
          display: block;
          position: absolute;
          left: -2px;
          top: 1px;
          right: -2px;
          bottom: 0;
          z-index: 0;
          background-color: $color-white;
        }
      }
    }
  }

  &__dash {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    color: $color-gray;

    &::before {
      content: '—';
    }
  }
}

::ng-deep .publication-info {
  display: block;
  width: 100%;
  color: $color-gray;
  margin-top: 2em;
  border-top: 1px solid $color-borders;
  padding-top: 12px;

  h4 {
    font-size: $font-size-big;
  }

  p {
    font-size: $font-size-smaller;
  }

  small {
    font-size: 95%;
  }
}

@include modal-window('comment');
