@import "../../styles";

$research-tables: (
  age-related-change: #c8e5fd, // Возрастные изменения экспрессии гена или активности белка
  gene-intervention-to-vital-processes: #c1e2aa, // Влияние модуляции активности гена на возрастной процесс
  protein-to-gene: #fbea95, // Участие продукта гена в регуляции генов, связанных со старением
  gene-to-progeria: #ffd8a9, // Ассоциация гена с ускоренным старением у человека
  gene-to-longevity-effect: #f5c3c2, // Геномные, транскриптомные и протеомные ассоциации с продолжительностью жизни/возрастным фенотипом
  gene-to-additional-evidence: #cacaca // Другие подтверждения ассоциации гена со старением
);

.table {
  border: none;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    th:first-child {
      position: sticky;
      left: 0;
      z-index: 2;
    }
  }

  tr{
    td:first-child {
      position: sticky;
      left: 0;
      z-index: 2;
      background-color: $color-white;
    }
  }
  th {
    position: relative;

    &:first-child {
      padding-left: 1em;

      &::before {
        content: ' ';
        display: block;
        width: .5em;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        z-index: 0;
        background: #cbcbef; // По умолчанию: Влияние модуляции активности гена на продолжительность жизни
      }
    }
  }

  @each $class, $color in $research-tables {
    &--#{$class} th:first-child::before {
      background: $color;
    }
  }

  &__dash {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    color: $color-gray;

    &::before {
      content: '—';
    }
  }
}

.comment-modal {
  &__header,
  &__cover
  &__body {
    width: 100%;
    box-sizing: border-box;
  }

  &__header {
    position: relative;
    padding-right: 40px;
    margin-bottom: 15px;

    .close-button {
      @include close-button(-10px);
    }
  }

  &__cover {
    margin-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__body {
    line-height: $font-line-height;
  }
}
