@import "../../../../../assets/sass/dependencies";

.breadcrumb {
  font-size: $font-size;

  a,
  span {
    cursor: pointer;
    color: $color-gray;

    &:hover {
      color: $color-black-light;
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
    float: left;

    &:not(:last-child)::after {
      content: "/";
      color: $color-gray;
    }
  }
}

