<form [formGroup]="searchForm" class="search-holder">
  <input formControlName="searchText" type="text" placeholder="{{ 'search' | translate }}" class="field">
  <div class="autocomplete-list"
       *ngIf="hasResult">
      <span class="autocomplete-list__item"
            *ngFor="let data of searchedData; let i = index"
            (click)="setResult(i)">
        {{data.symbol}} {{data.name}}
      </span>
  </div>
</form>

<div *ngIf="hasResult"
     class="backdrop"
     (click)="hasResult = false"></div>
