<form [formGroup]="searchForm"
      class="search-holder"
>
  <input formControlName="searchField"
         type="text"
         placeholder="{{ 'search' | translate }}"
         class="field"
         required
         (focusin)="search()"
  >
  <div class="autocomplete-list"
       *ngIf="hasResult">
    <ng-container *ngFor="let data of searchedData; let i = index">
      <button
        *ngIf="i < 5"
        class="autocomplete-list__item"
        tabindex="0"
        [routerLink]="['/gene', data.id]"
      >
        <span class="item__symbol" [innerHTML]="data.symbol"></span>&nbsp;<span class="item__name" [innerHTML]="data.name"></span>
      </button>
    </ng-container>
  </div>
</form>

<div *ngIf="hasResult"
     class="backdrop"
     (click)="hasResult = false"></div>

<div class="page__subtitle __mt-10"
     *ngIf="searchForm.valid">
  {{ 'items_found' | translate }} {{searchedData?.length}}
</div>

