<header class="header">
  <div *ngIf="showAnnouncement && region !== 'Russian Federation'"
     target="_blank"
     class="header__announcement">
    <b>{{ "support_us_gitcoin" | translate }}</b>
  </div>
  <div class="header__centering">
    <a href="/"
       title="{{'main_page_link' | translate}}">
      <app-icon
        class="header__logo __hoverable"
        staticSrc="/assets/images/logo.svg"
        size="custom"
        customWidth="90px"
        customHeight="35px"
      ></app-icon>
    </a>
    <div class="header__right">
      <app-language theme="light"></app-language>
      <app-burger-menu (favsCounterUpdate)="updateView()"></app-burger-menu>
    </div>
  </div>
</header>
