<header class="header">
  <div *ngIf="showAnnouncement && region !== 'Russian Federation'"
     target="_blank"
     class="header__announcement">
    <b>{{ "support_us_gitcoin" | translate }}</b>
  </div>
  <div class="header__centering">
    <a href="/"
       title="{{'main_page_link' | translate}}">
      <app-icon
        class="header__logo __hoverable"
        staticSrc="/assets/images/logo.svg"
        size="custom"
        customWidth="90px"
        customHeight="35px"
      ></app-icon>
    </a>

    <nav class="header__middle">
      <ul class="navigation-list">
        <li
          class="navigation-list__item">
          <a class="item__link"
             [routerLink]="'/genes'"
             routerLinkActive="__current"
          >{{ "header_genes" | translate }}</a>
        </li>

        <li
          class="navigation-list__item">
          <a class="item__link"
             [routerLink]="'/experiments'"
             routerLinkActive="__current"
          >{{ "header_studies" | translate }}</a>
        </li>

        <li
          class="navigation-list__item">
          <a class="item__link"
             [routerLink]="'/annotations'"
             routerLinkActive="__current"
          >{{ "header_annotations" | translate }}</a>
        </li>

        <li
          class="navigation-list__item">
          <a class="item__link"
             [routerLink]="'/help'"
             routerLinkActive="__current"
          >{{ "header_help" | translate }}
          </a>
        </li>

        <li
          class="navigation-list__item">
          <a class="item__link"
             [routerLink]="'/download'"
             routerLinkActive="__current"
          >{{ "header_download" | translate }}
          </a>
        </li>
      </ul>
    </nav>

    <nav class="header__right">
      <app-language theme="light"></app-language>
      <app-burger-menu></app-burger-menu>
    </nav>
  </div>
</header>
