@import "../styles";

.header {
  width: 100%;
  min-height: $header-height - $header-announcement-height;
  color: $color-base;
  background-color: $color-white;
  box-shadow: $box-shadow;

  &__announcement {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: $header-announcement-height;
    width: 100%;
    background-color: $color-clikable-200;
    color: $color-clikable-500;
    font-size: $font-size-smaller;

    b {
      font-weight: $font-weight-medium;
      position: relative;

      &::after {
        content: ' ';
        width: 100%;
        height: 1px;
        border-bottom: 1px dotted currentColor;
        position: absolute;
        bottom: 1px;
        left: 0;
      }
    }
  }

  &__centering {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: $header-height - $header-announcement-height;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 1600px) {
      padding: 0 calc(50% - 800px);
    }
  }

  &__logo {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 5px;
    margin: 0 5px;
  }

  &__button {
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: $color-base;
    color: $color-black;
    padding: 0 10px;
    border-radius: 3px;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: $header-height - $header-announcement-height;
    position: relative;

    app-burger-menu {
      position: relative;
      width: 55px;
    }
  }
}
