// Скрытие блока без лишних переопределений
@mixin display($val) {
  &:not(.hidden) {
    display: #{$val};
  }
}

// Стили панели
@mixin panel {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid $color-borders;
  border-radius: $border-radius-regular;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}
