@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url($path-font-roboto-thin) format('woff2'),
  url($path-font-roboto-thin-woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
  url($path-font-roboto-light) format('woff2'),
  url($path-font-roboto-light-woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url($path-font-roboto-regular) format('woff2'),
  url($path-font-roboto-regular-woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url($path-font-roboto-medium) format('woff2'),
  url($path-font-roboto-medium-woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url($path-font-roboto-bold) format('woff2'),
  url($path-font-roboto-bold-woff) format('woff');
}