html {
  min-height: 460px;
}

body {
  display: table;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  .preloader {
    display: none;
  }

  &:before { // overlay
    content: ' ';
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba($color-general-dark, .15);
    @include fadeIn;
  }

  &.body--still {
    overflow: hidden;

    &:before {
      display: block;
    }
  }

  &.body--search-on-main-page-is-active {
    @include resolution_smartphone-and-tablet {
      overflow: hidden;

      &:before {
        display: block;
      }
    }
  }

  &.body--loading {
    @extend .body--still;

    .preloader {
      display: block;
    }
  }
}

.link {
  color: $color-general;
  font-weight: $font-weight-medium;

  small {
    font-size: 13px;
    font-weight: normal;
  }

  &:hover {
    color: lighten(mix($color-general, $color-blue, 5%), 3%);
  }

  @at-root a.link {
    &:active {
      color: lighten(mix($color-general, $color-blue, 5%), 3%);
    }
  }

  &--gray {
    color: mix($color-gray, $color-general, 90%);

    &:hover,
    &:active {
      color: darken(mix($color-gray, $color-general, 90%), 10%);
    }
  }
}


a.reference-link {
  font-size: 11px;
  color: $color-gray;
  font-weight: $font-weight-regular;
  text-decoration: underline;

  // TinyMCE temporary fix!
  br {
    display: none;
  }

  &:hover,
  &:active {
    color: lighten($color-gray, 10%);
  }
}

app-header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.__hoverable {
  &:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: $border-radius-medium;
    background-color: rgba($color-general-dark, .15);
    opacity: 0;
    transition: color, opacity, .15s ease-in-out;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.header {
  width: 100%;
  height: $header-height;
  color: #fff;
  background-color: $color-base;
  padding: 0 5px;
  box-shadow: $box-shadow;

  &__centering {
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 1600px) {
      padding: 0 calc(50% - 800px);
    }
  }

  &__logo,
  .signin-button {
    display: block;
    height: ($header-height - 10px);
    min-width: ($header-height - 10px);
    color: #fff;
    line-height: ($header-height - 10px);
    text-align: center;
    cursor: pointer;
  }

  &__logo {
    width: 100px;
    float: left;
    background: transparent url('../images/logo.png') left center / contain no-repeat;
    position: relative;
    margin: 5px 0;
  }

  &__right {
    height: $header-height;
    float: right;
    position: relative;

    app-language,
    app-burger-menu {
      display: inline-block;
      height: 100%;
      vertical-align: top;
    }

    app-language {
      .language-switcher {
        color: #7673d1;
        margin-top: 4px;
      }
    }

    app-burger-menu {
      position: relative;
      width: 55px;
    }

    .signin-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      z-index: 6;
      font-size: 20px;

      .fa {
        line-height: normal;
        vertical-align: -1px;
      }

      &:hover,
      &.active {
        color: $color-accent;
      }
    }
  }
}

.page {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;

  &__inner {
    display: table-cell;
    vertical-align: top;

    .page__title {
      margin-bottom: 15px;

      h1 {
        font-size: 28px;
        color: $color-indent;
      }

      p {
        font-size: $font-size;
        color: $color-gray;
      }

      .hint {
        margin-top: 5px;
      }
    }

    .page__subtitle {
      font-size: 16px;
      color: $color-black;
      font-weight: $font-weight-medium;
      margin-bottom: 8px;
    }
  }

  &--dummy {
    .page__inner {
      vertical-align: middle;

      .no-content {
        border: 0;
        margin-top: -100px;
      }
    }
  }
}

.wrapper {
  width: 100%;
}

.container {
  text-align: left;
  position: relative;

  & > header {
    text-align: center;
  }
}

article {
  width: 100%;
  @include resolution_desktop-and-up {
    font-size: calc(0.2vw + 13px);
  }
  @include resolution_tablet {
    font-size: 15px;
  }
  @include resolution_smartphone {
    font-size: 14px;
  }

  h2,
  h3 {
    width: 100%;
    color: $color-indent;
    font-weight: $font-weight-medium;
  }

  h2 {
    font-size: calc(0.2vw + 20px);
  }

  h3 {
    font-size: calc(0.2vw + 15px);
  }

  * + h2,
  * + h3,
  * + p,
  * + .list,
  * + app-code-block {
    margin-top: 2ex;
  }

  h3 + *,
  h4 + * {
    margin-top: 1ex;
  }

  // TinyMCE temporary fix!
  /*
  &,
  p,
  p span {
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
    font-size: inherit !important;
  }
  p,
  p span {
    white-space: normal !important;
  }
  */
}

.items-section {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.col.section__row {
  width: 100%;
  display: inline-block;
  opacity: 0;
  padding: 0;
  font-size: 13px;
  background-color: #fff;
  // box-shadow: 1px 1px 10px rgba(0,0,0, .09);
  border: 1px solid #ccc;
  border-radius: $border-radius-regular;
  animation: animation__appear .35s forwards ease-in-out;

  .row__inner {
    & > div {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .row__title {
    width: 100%;
    font-size: 16px;
    margin-bottom: 0;
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;

    b {
      font-weight: 700;
      color: $color-general;
    }
  }

  .row__age {
    width: 100%;
    margin: 6px 0;
    padding: 6px 0;

    b {
      font-weight: 700;
    }
  }

  .row__ids {
    width: 100%;
    margin-bottom: 20px;
  }

  .tabs.row__go {
    width: 100%;
  }
}

.tabs {
  &__tabs {
    width: 100%;
    height: 50px;
    font-size: 0;
    white-space: nowrap;
    margin-bottom: 10px;
    border-bottom: 1px solid $color-borders;
  }

  &__tab {
    display: inline-block;
    height: 50px;
    font-size: 14px;
    color: $color-general;
    vertical-align: top;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    line-height: normal;
    max-width: (300px / 3);
    position: relative;
    cursor: pointer;
    margin-bottom: -2px;
    padding: 8px 5px 16px 8px;

    &:before {
      content: ' ';
      display: block;
      height: 3px;
      background-color: $color-general;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 5px;
      right: 5px;
      z-index: 0;
    }

    &--active:before,
    &:hover:before {
      opacity: 1;
    }
  }

  &__content {
    padding: 2px 10px;
    max-height: 200px;
    overflow: scroll;
  }
}


.section__row .row__interactions {
  margin-top: 15px;
}

.section__row .row__comment {
  font-size: 13px;
  color: mediumseagreen;
  font-style: italic;
  padding-left: 10px;
  border-left: 1px solid mediumseagreen;
  margin-top: 15px;
}

.section__row + .section__row {
  margin-top: 15px;
}

.load-btn {
  width: 100%;
  height: 30px;
  background-color: cornflowerblue;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  border: 1px solid dodgerblue;
  border-radius: 3px;
  cursor: pointer;
}

button.load-btn {
  line-height: normal;
}

.hidden {
  display: none !important;
}

@keyframes animation__appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

table {
  border-collapse: collapse;

  tr td:nth-child(2) {
    width: 120px;
  }
}

ul, ol {
  &.list {
    width: 100%;
    margin-bottom: 2ex;

    li {
      width: 100%;
      position: relative;

      .alias {
        vertical-align: top;
      }
    }

    li + li {
      margin-top: 1ex;
    }
  }
}

ul.list--bulletted {
  li {
    padding-left: 1.8ex;

    &:before {
      content: " ";
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-general;
      position: absolute;
      left: 0;
      top: 1ex;
      z-index: 0;
    }
  }
}

.no-content {
  &[class^="col"] {
    padding: 0 20px;
  }

  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop;
    padding: 20px;
    font-size: 0;
    text-align: center;
    border: 1px solid $color-borders;
    border-radius: $border-radius-medium;
  }

  &__icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: transparent center center / cover no-repeat;

    &-standard {
      background-image: url(../images/no-content-default.svg);
    }

    &-404 {
      background-image: url(../images/no-content-404.svg);
    }
  }

  &__title {
    width: 100%;
    color: $color-indent;
    margin-top: 15px;

    .title__center {
      display: inline-block;
      max-width: 320px;
      font-size: $font-size-max;
      font-weight: $font-weight-medium;
    }
  }
}
