html {
  min-height: 460px;
}
body {
  display: table;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
  padding-bottom: 100px;

  * {
    box-sizing: border-box;
  }

  &:before { // overlay
    content: ' ';
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba($color-general-dark, .15);
    @include fadeIn;
  }

  &.still {
    overflow: hidden;
    &:before {
      display: block;
    }
  }
}

.link {
  color: $color-general;
  font-weight: $font-weight-medium;

  small {
    font-size: 13px;
    font-weight: normal;
  }

  &:hover {
    color: lighten(mix($color-general, $color-blue, 5%), 3%);
  }

  @at-root a.link {
    &:active {
      color: lighten(mix($color-general, $color-blue, 5%), 3%);
    }
  }

  &--gray {
    color: $color-gray;

    &:hover,
    &:active {
      color: lighten($color-gray, 10%);
    }
  }
}





a.reference-link {
  font-size: 11px;
  color: $color-gray;
  font-weight: $font-weight-regular;
  text-decoration: underline;

  // TinyMCE temporary fix!
  br {
    display: none;
  }

  &:hover,
  &:active {
    color: lighten($color-gray, 10%);
  }
}

.header {
  display: block;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #7673d1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 5px;
  box-shadow: 0 1px 4px 0 rgba(5,5,5,.14);

  &__logo,
  .signin__button {
    display: block;
    height: 40px;
    min-width: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: 10px;
      background-color: rgba($color-general-dark, .15);
      opacity: 0;
      transition: color, opacity, .15s ease-in-out;
    }
    .fa {
      line-height: 40px;
    }
    &:hover,
    &.active {
      &:after {
        opacity: 1;
      }
    }
  }
  &__logo {
    width: 100px;
    float: left;
    background: transparent url('../images/logo.png') left center / contain no-repeat;
    position: relative;
    margin: 5px 0;
  }
  &__signin {
    float: right;
    padding-right: 60px;

    .language-switcher {
      margin-top: 15px;
      color: #7673d1;

    }
    .signin__button {
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 6;
      font-size: 18px;
      &:hover,
      &.active {
        color: $color-pink;
      }
    }
  }

  &__menu {
    height: 100%;
    width: 100%;
    color: $color-borders;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba($color-general-dark, .15);

    .menu__panel {
      height: 100%;
      padding: 60px 0 30px 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: #fff;
      box-shadow: -1px 0 4px 0 rgba(5,5,5,.3);

      @include resolution_desktop-and-up {
        width: 320px;
      }
      @include resolution_smartphone-and-tablet {
        width: 100%;
        min-width: 320px;
      }

      form {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;
      }

      .menu__links {
        width: 100%;
        padding: 0;

        .menu__link {
          font-size: $font-size-bigger;
          font-weight: $font-weight-medium;
          text-transform: uppercase;
          border-top: 1px solid $color-borders;

          &, a {
            display: block;
            width: 100%;
            position: relative;
          }
          a {
            padding: 15px 30px 15px 10px;
            &:before {
              content: " ";
              display: block;
              width: 5px;
              height: 100%;
              border-top-right-radius: 100%;
              border-bottom-right-radius: 100%;
              background-color: $color-general;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 0;
              opacity: 0;
              transition: opacity .2s ease-in;
            }

            &:link,
            &:visited {
              color: $color-general;
            }
            &:hover,
            &:active {
              color: $color-general-dark;
              background-color: rgba($color-general-dark, .15);
            }

            &.current {
              &:before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.page {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  &__inner {
    display: table-cell;
    vertical-align: top;
    .page__title {
      margin-bottom: 15px;
      h1 {
        font-size: 28px;
        color: $color-indent;
      }

      p {
        font-size: $font-size;
        color: $color-gray;
      }

      .hint {
        margin-top: 5px;
      }
    }

    .page__subtitle {
      font-size: 16px;
      color: $color-indent;
      margin-bottom: 10px;
    }
  }

  &--dummy {
    .page__inner {
      vertical-align: middle;
      .no-content {
        border: 0;
        margin-top: -100px;
      }
    }
  }
}

.wrapper {
  width: 100%;
}

.container {
  text-align: left;
  position: relative;
  & > header {
    text-align: center;
  }
}

article {
  width: 100%;
  @include resolution_desktop-and-up {
    font-size: calc(0.2vw + 13px);
  }
  @include resolution_tablet {
    font-size: 15px;
  }
  @include resolution_smartphone {
    font-size: 14px;
  }

  h2,
  h3 {
    width: 100%;
    color: $color-indent;
    font-weight: $font-weight-medium;
  }

  h2 {
    font-size: calc(0.2vw + 20px);
  }

  h3 {
    font-size: calc(0.2vw + 15px);
  }

  * + h2,
  * + h3,
  * + p,
  * + .list {
    margin-top: 2ex;
  }

  h3 + *,
  h4 + * {
    margin-top: 1ex;
  }

  // TinyMCE temporary fix!
  /*
  &,
  p,
  p span {
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
    font-size: inherit !important;
  }
  p,
  p span {
    white-space: normal !important;
  }
  */
}

.items-section {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.col.section__row {
  width: 100%;
  display: inline-block;
  opacity: 0;
  padding: 0;
  font-size: 13px;
  background-color: #fff;
  // box-shadow: 1px 1px 10px rgba(0,0,0, .09);
  border: 1px solid #ccc;
  border-radius: 5px;
  animation: animation__appear .35s forwards ease-in-out;

  .row__inner {
    & > div {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .row__title {
    width: 100%;
    font-size: 16px;
    margin-bottom: 0;
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    b {
      font-weight: 700;
      color: $color-general;
    }
  }

  .row__age {
    width: 100%;
    margin: 6px 0;
    padding: 6px 0;
    b {
      font-weight: 700;
    }
  }

  .row__ids {
    width: 100%;
    margin-bottom: 20px;
  }

  .tabs.row__go {
    width: 100%;
  }
}

.tabs {
  &__tabs {
    width: 100%;
    height: 50px;
    font-size: 0;
    white-space: nowrap;
    margin-bottom: 10px;
    border-bottom: 1px solid $color-borders;
  }
  &__tab {
    display: inline-block;
    height: 50px;
    font-size: 14px;
    color: $color-general;
    vertical-align: top;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    line-height: normal;
    max-width: (300px / 3);
    position: relative;
    cursor: pointer;
    margin-bottom: -2px;
    padding: 8px 5px 16px 8px;
    &:before {
      content: ' ';
      display: block;
      height: 3px;
      background-color: $color-general;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 5px;
      right: 5px;
      z-index: 0;
    }
    &--active:before,
    &:hover:before {
      opacity: 1;
    }
  }

  &__content {
    padding: 2px 10px;
    max-height: 200px;
    overflow: scroll;
  }
}


.section__row .row__interactions {
  margin-top: 15px;
}

.section__row .row__comment {
  font-size: 13px;
  color: mediumseagreen;
  font-style: italic;
  padding-left: 10px;
  border-left: 1px solid mediumseagreen;
  margin-top: 15px;
}

.section__row + .section__row {
  margin-top: 15px;
}

.load-btn {
  width: 100%;
  height: 30px;
  background-color: cornflowerblue;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  border: 1px solid dodgerblue;
  border-radius: 3px;
  cursor: pointer;
}
button.load-btn {
  line-height: normal;
}

.hidden {
  display: none !important;
}

@keyframes animation__appear {
  0% {
    opacity: 0;
  }
  100%  {
    opacity: 1;
  }
}

table {
  border-collapse: collapse;
  tr td:nth-child(2) {
    width: 120px;
  }
}

ul, ol {
  &.list {
    width: 100%;
    margin-bottom: 2ex;

    li {
      width: 100%;
      position: relative;
    }
    li + li {
      margin-top: 1ex;
    }
  }
}

ul.list--bulletted {
  li {
    padding-left: 1.8ex;
    &:before {
      content: " ";
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-general;
      position: absolute;
      left: 0;
      top: 1ex;
      z-index: 0;
    }
  }
}

.no-content {
  padding: 20px;
  font-size: 0;
  text-align: center;
  border: 1px solid $color-borders;
  border-radius: 10px;
  &__icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: transparent center center / cover no-repeat;
    &-standard {
      background-image: url(../images/no-content-default.svg);
    }
    &-404 {
      background-image: url(../images/no-content-404.svg);
    }
  }
  &__title {
    width: 100%;
    color: $color-indent;
    margin-top: 15px;
    .title__center {
      display: inline-block;
      max-width: 320px;
      font-size: $font-size-max;
      font-weight: $font-weight-medium;
    }
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  background-color: $color-indent;
  color: #fff;


  .link {
    color: #fff;
    text-decoration: underline;
  }

  .col {
    vertical-align: middle;
  }

  &__language {
    text-align: right;
  }
}
