// DEMS

// Fonts
$font-size: 14px;
$font-size-smaller: ($font-size - 1);
$font-size-small: ($font-size - 2);
$font-size-bigger: ($font-size + 1);
$font-size-big: ($font-size + 2);
$font-size-huge: ($font-size + 3);
$font-size-max: ($font-size + 6);

$font-line-height: 1.42857;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// COLORS
// -Base
$color-general-light: #eff2fc;
$color-general: #4363eb;
$color-general-dark: darken($color-general, 15%);

// -UI
$color-black: desaturate(darken($color-general, 50%), 5%);
$color-gray-dark: #425e74;
$color-gray: #767c88;
$color-gray-half: #777;
$color-gray-halfing: #999;
$color-gray-half-power: #888;
$color-gray-half-well: #aaa;
$color-gray-semi: #9ca2ab;
$color-gray-fade: #bbb;
$color-gray-fading: #b1b8c9;
$color-gray-light: #dedfe1;
$color-gray-soft: #e9e9e9;
$color-silver: #e9eaee;
$color-gray-very-light: #f9f8fc;
$color-purple: #4d58dc;
$color-blue: #4FA1DD;
$color-green-light: #a7ebc4;
$color-green-medium: #2dbf70;
$color-green: #28aa64;
$color-green-dark: #1f864f;
$color-orange: #fca34d;
$color-yellow: #ffd700;
$color-pink: #ffC0cb;
$color-red-light: #f8c9c4;
$color-red-medium: #f39f96;
$color-red: #FF4E1A;
$color-red-dark: darken($color-red, 5%);

// Elements variables
$color-indent: #575757;
$color-borders: $color-gray-light;
$color-border-light: #e3e4e8;

// States variables
$color-hover: darken($color-general-light, 5%);
$color-selected: darken($color-hover, 5%);
$success-color: $color-green-medium;
$error-color: $color-red-medium;

// PATHS
$path-images: '../images';
$path-fonts: '../fonts';

//Fonts
$path-font-roboto-thin: $path-fonts + '/roboto/thin.woff2';
$path-font-roboto-thin-woff: $path-fonts + '/roboto/thin.woff';
$path-font-roboto-light: $path-fonts + '/roboto/light.woff2';
$path-font-roboto-light-woff: $path-fonts + '/roboto/light.woff';
$path-font-roboto-regular: $path-fonts + '/roboto/regular.woff2';
$path-font-roboto-regular-woff: $path-fonts + '/roboto/regular.woff';
$path-font-roboto-medium: $path-fonts + '/roboto/medium.woff2';
$path-font-roboto-medium-woff: $path-fonts + '/roboto/medium.woff';
$path-font-roboto-bold: $path-fonts + '/roboto/bold.woff2';
$path-font-roboto-bold-woff: $path-fonts + '/roboto/bold.woff';
