.__text-left {
  text-align: left;
}

.__text-center {
  text-align: center;
}

.__text-right {
  text-align: right;
}

$sizes: (5, 10, 15, 20, 25, 30, 35);

@each $size in $sizes {
  .__mt-#{$size} {
    margin-top: #{$size}px;
  }
  .__mb-#{$size} {
    margin-bottom: #{$size}px;
  }
}

.__w-100 {
  width: 100%;
}
