.__text-left {
  text-align: left;
}

.__text-center {
  text-align: center;
}

.__text-right {
  text-align: right;
}

$sizes: (0, 5, 10, 15, 20, 25, 30, 35);

@each $size in $sizes {
  .__m-#{$size} {
    margin: #{$size}px !important;
  }
  .__mt-#{$size} {
    margin-top: #{$size}px !important;
  }
  .__mb-#{$size} {
    margin-bottom: #{$size}px !important;
  }
}

.__w-100 {
  width: 100%;
}

.__w-content {
  @include resolution_desktop {
    max-width: $desktop - $gutter;
  }

  @include resolution_desktop {
    max-width: $desktop - $gutter;
  }

  @include resolution_desktop {
    max-width: $desktop - $gutter;
  }

  @include resolution_tablet {
    max-width: $desktop - $gutter;
  }

  @include resolution_smartphone {
    max-width: calc(100vw - #{$gutter});
  }
}

.__nowrap {
  white-space: nowrap;
}
