<div class="page text-page">
  <div class="page__inner __pb-60">
    <div class="text-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1>{{ 'header_menu_diagrams' | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <mat-tab-group
        class="__w-content diagrams-container">
        <mat-tab label='filtered by all filters'>
          <ng-template matTabContent>
            <app-directed-graph
              class="diagrams-container__diagram"
              [graphTitle]="'filtered by all filters'"
              [graphSelector]="'all'"
              [nodes]="nodes"
              [links]="links"
              [grouped]="false"></app-directed-graph>
          </ng-template>
        </mat-tab>
        <mat-tab label='filtered by disease'>
          <ng-template matTabContent>
            <app-directed-graph
              class="diagrams-container__diagram"
              [graphTitle]="'filtered by disease'"
              [graphSelector]="'disease'"
              [nodes]="newNodes"
              [links]="newLinks"
              [grouped]="true"></app-directed-graph>
          </ng-template>
        </mat-tab>
        <mat-tab label='filtered by family origin'>
          <ng-template matTabContent>
            <app-directed-graph
              class="diagrams-container__diagram"
              [graphTitle]="'filtered by family origin'"
              [graphSelector]="'family'"
              [nodes]="nNodes"
              [links]="nLinks"
              [grouped]="true"></app-directed-graph>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
