@import "../styles";

.diagrams-container {
  margin-top: 10px;

  .legend {
    &--genes {
      background-color: $color-orange-300;
    }

    &--processes,
    &--diseases {
      background-color: $color-blue;
    }
  }

  ::ng-deep .diagrams-container__diagram {
    margin: 30px 0;
  }
}