<div class="page text-page">
  <div class="page__inner __pb-60">
    <div class="text-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1>{{ 'header_menu_diagrams' | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div>
        <app-directed-graph
          [graphSelector]="'all'"
          [nodes]="nodes"
          [links]="links"
          [grouped]="false"></app-directed-graph>
      </div>
      <div>
        <app-directed-graph
          [graphSelector]="'disease'"
          [nodes]="newNodes"
          [links]="newLinks"
          [grouped]="true"></app-directed-graph>
      </div>
      <div>
        <app-directed-graph
          [graphSelector]="'family'"
          [nodes]="nNodes"
          [links]="nLinks"
          [grouped]="true"></app-directed-graph>
      </div>
    </div>
  </div>
</div>
