<div class="page text-page">
  <div class="page__inner __pb-60">
    <div class="text-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1>{{ 'header_menu_diagrams' | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <mat-tab-group class="diagrams-container"
        (selectedTabChange)="onTabClick()">
        <mat-tab label="{{ 'diagrams_title_1_short' | translate }}">
          <ng-template matTabContent>
            <app-directed-graph
              class="diagrams-container__diagram"
              [graphTitle]="'diagrams_title_1'"
              [graphSelector]="'disease'"
              [nodes]="newNodes"
              [links]="newLinks"
              [grouped]="true"></app-directed-graph>

            <ul class="list">
              <li>
                <span class="legend legend--genes"></span> {{ 'diagrams_legend_genes' | translate }}
              </li>
              <li>
                <span class="legend legend--diseases"></span> {{ 'diagrams_legend_diseases' | translate }}
              </li>
            </ul>
          </ng-template>
        </mat-tab>
        <mat-tab label="{{ 'diagrams_title_2_short' | translate }}">
          <ng-template matTabContent>
            <app-directed-graph
              class="diagrams-container__diagram"
              [graphTitle]="'diagrams_title_2'"
              [graphSelector]="'family'"
              [nodes]="nNodes"
              [links]="nLinks"
              [grouped]="true"></app-directed-graph>

            <ul class="list">
              <li>
                <span class="legend legend--genes"></span> {{ 'diagrams_legend_genes' | translate }}
              </li>
              <li>
                <span class="legend legend--processes"></span> {{ 'diagrams_legend_processes' | translate }}
              </li>
            </ul>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
