@import "../styles";

:host {
  display: inline-block;
}

$language-switcher-size: 20px;

$l: 'language-switcher';

.language-switcher {
  &__inner {
    display: inline-block;
    width: $language-switcher-size;
    height: $language-switcher-size;
    line-height: $language-switcher-size;
    font-size: 12px;

    font-weight: $font-weight-medium;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
  }

  &--light {
    color: $color-white;

    .#{$l}__inner {
      background-color: $color-base;
    }
  }

  &--dark {
    color: currentColor;

    .#{$l}__inner {
      background-color: $color-white;
    }
  }
}

