@import "../styles";

:host {
  display: inline-block;
}

$language-switcher-size: 20px;

.language-switcher {
  &__inner {
    display: inline-block;
    width: $language-switcher-size;
    height: $language-switcher-size;
    line-height: $language-switcher-size;
    background-color: #fff;
    font-size: 12px;
    color: currentColor;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
  }
}

