@import "src/app/components/styles";

.faq__section {
  width: 100%;
  margin-top: 12px;
}

mat-panel-title {
  font-weight: $font-weight-medium;
}

mat-expansion-panel + mat-expansion-panel {
  margin-top: 10px;
}
