<section *ngIf="items?.length !== 0">
  <h4>{{ "gene_page_research_data_longevity_effects" | translate }}</h4>

  <app-hint>
    <ng-container description>
      <span class="fa far fa-exclamation-triangle __mr-5"></span>
      {{ "disclaimer" | translate }}
    </ng-container>
  </app-hint>

  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra table--dark table--sticky table--gene-to-longevity-effect">
      <thead>
      <th *ngIf="numberColumn">
        #
      </th>
      <th *ngIf="geneColumnOn">
        {{ "main_page_table_name" | translate }}
      </th>
      <th class="__cell-width-medium">
        {{ "gene_page_allelic_polymorphism" | translate }}
      </th>
      <th class="hidden">
        {{ "research_data_chromosome_location" | translate }}
      </th>
      <th>
        {{ "research_data_position_in_gene" | translate }}
      </th>
      <th class="__cell-width-small">
        {{ "research_data_association_type" | translate }}
      </th>
      <th>
        {{ "research_data_significance_title" | translate }}
      </th>
      <th class="__cell-width-medium">
        {{ "gene_page_research_data_transcriptome_proteome" | translate }}
      </th>
      <th class="__cell-width-medium">
        {{ "research_data_n_of_control_and_experiment" | translate }}
      </th>
      <th class="__cell-width-medium">
        {{ "research_data_age_of_control" | translate }}
        <app-info-button
          (click)="openCommentModal('clarification', null, ageOfControlHint)"
        ></app-info-button>
      </th>
      <th class="__cell-width-medium">
        {{ "research_data_age_of_experiment" | translate }} {{ "research_data_age_centenarians" | translate }}
        <app-info-button
          (click)="openCommentModal('clarification', null, ageOfExperimentHint)"
        ></app-info-button>
      </th>
      <th>
        {{ "research_data_ethnicity" | translate }}
      </th>
      <th class="__cell-width-large">
        {{ "research_data_associated_and_non_associated" | translate }}
      </th>
      <th class="__cell-width-large">
        {{ "research_data_associated_and_non_associated_percent" | translate }}
      </th>
      <th>
        {{ "research_data_research_type" | translate }}
      </th>
      <th class="__cell-width-medium">{{ "research_data_sex" | translate }}</th>
      <th>
        {{ "research_data_comment" | translate }}
      </th>
      </thead>

      <tbody>
      <tr *ngFor="let item of items | slice: 0:slice let i = index">
        <td *ngIf="numberColumn"
            class="number-column">
          <div class="number-column__inner">{{ i + 1 }}</div>
        </td>
        <td *ngIf="geneColumnOn"
            class="__cell-width-medium">
          <div *ngIf="item.hasOwnProperty('geneSymbol')"
               class="title">
            <a [routerLink]="['/gene', item.geneSymbol]" class="link link--gray">
              <b>{{ item.geneSymbol }}</b> {{ item.geneName }}
            </a>
          </div>
        </td>

        <td>
          <dl class="list">
            <dt>
              {{ "research_data_polymorphism_type" | translate }}:
            </dt>
            <dd>
              {{ item.polymorphismType | checkBlankValue }}
            </dd>
            <dt>
              {{ "research_data_polymorphism" | translate }}:
            </dt>
            <dd>
              {{ item.polymorphismId | checkBlankValue }}
            </dd>
            <dt>
              {{ "research_data_amino_acid_substitution" | translate }}:
            </dt>
            <dd>
              {{ item.nucleotideChange | checkBlankValue }}
            </dd>
            <dt>
              {{ "research_data_amino_acid_substitution" | translate }}:
            </dt>
            <dd>
              {{ item.aminoAcidChange | checkBlankValue }}
            </dd>
          </dl>

          <p *ngIf="item?.polymorphismOther">
            {{ item.polymorphismOther }}
          </p>
        </td>

        <td class="hidden">
          <ng-container *ngIf="item?.location; else dash">
            {{ item.location }}
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="item.position; else dash">
            {{ item.position }}
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="item.dataType || item.longevityEffect; else dash">
            {{ item.dataType? (fixDataTypeResponse(item.dataType) | capitalizeFirstLetter) : '' }}
            {{ item.longevityEffect? item.longevityEffect: '' }}
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="item?.significance; else dash">
            {{ item.significance }}
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="item?.changeType; else dash">
            {{ item.changeType }}
          </ng-container>
        </td>

        <td>
          <dl class="list">
            <dt>
              {{ "research_data_l_control" | translate }}
            </dt>
            <dd>
              {{ item.nOfControls | checkBlankValue }}
            </dd>
            <dt>
              {{ "research_data_l_experiment" | translate }}
            </dt>
            <dd>
              {{ item.nOfExperiment | checkBlankValue }}
            </dd>
          </dl>
        </td>

        <td>
          <dl
            *ngIf="item.minAgeOfControls || item.meanAgeOfControls || item.maxAgeOfControls; else dash"
            class="list">
            <ng-container *ngIf="item.minAgeOfControls">
              <dt>
                {{ "research_data_l_min" | translate}}
              </dt>
              <dd
                [innerHTML]="outputValueWithUnit(item.minAgeOfControls, formatUnitGrammaticalCase(item.minAgeOfControls, ('years' | translate)))"
              ></dd>
            </ng-container>

            <ng-container *ngIf="item.meanAgeOfControls">
              <dt>
                {{ "research_data_l_mean" | translate}}
              </dt>
              <dd
                [innerHTML]="outputValueWithUnit(item.meanAgeOfControls, formatUnitGrammaticalCase(item.meanAgeOfControls, ('years' | translate)))"
              ></dd>
            </ng-container>

            <ng-container *ngIf="item.maxAgeOfExperiment">
              <dt>
                {{ "research_data_l_max" | translate}}
              </dt>
              <dd
                [innerHTML]="outputValueWithUnit(item.maxAgeOfControls, formatUnitGrammaticalCase(item.maxAgeOfControls, ('years' | translate)))"
              ></dd>
            </ng-container>
          </dl>
        </td>

        <td>
          <dl
            *ngIf="item.minAgeOfExperiment || item.meanAgeOfExperiment || item.maxAgeOfExperiment; else dash"
            class="list">
            <ng-container *ngIf="item.minAgeOfExperiment">
              <dt>
                {{ "research_data_l_min" | translate}}
              </dt>
              <dd
                [innerHTML]="outputValueWithUnit(item.minAgeOfExperiment, formatUnitGrammaticalCase(item.minAgeOfExperiment, ('years' | translate)))"
              ></dd>
            </ng-container>

            <ng-container *ngIf="item.meanAgeOfExperiment">
              <dt>
                {{ "research_data_l_mean" | translate}}
              </dt>
              <dd
                [innerHTML]="outputValueWithUnit(item.meanAgeOfExperiment, formatUnitGrammaticalCase(item.meanAgeOfExperiment, ('years' | translate)))"
              ></dd>
            </ng-container>

            <ng-container *ngIf="item.maxAgeOfExperiment">
              <dt>
                {{ "research_data_l_max" | translate}}
              </dt>
              <dd
                [innerHTML]="outputValueWithUnit(item.maxAgeOfExperiment, formatUnitGrammaticalCase(item.maxAgeOfExperiment, ('years' | translate)))"
              ></dd>
            </ng-container>
          </dl>
        </td>

        <td>
          <ng-container *ngIf="item?.ethnicity; else dash">
            {{ item.ethnicity }}
          </ng-container>
        </td>
        <td>
          <dl class="list">
            <dt>
              {{ "research_data_associtated_allele" | translate }}
            </dt>
            <dd>
              {{ item.associatedAllele | checkBlankValue }}
            </dd>
            <dt>
              {{ "research_data_non_associtated_allele" | translate }}
            </dt>
            <dd>
              {{ item.nonAssociatedAllele | checkBlankValue }}
            </dd>
          </dl>
        </td>

        <td>
          <dl class="list">
            <dt>
              {{ "research_data_l_control" | translate }}
            </dt>
            <dd>
              {{ item.frequencyControls | checkBlankValue: '':'%'}}
            </dd>
            <dt>
              {{ "research_data_l_experiment" | translate }}
            </dt>
            <dd>
              {{ item.frequencyExperiment | checkBlankValue: '':'%'}}
            </dd>
          </dl>
        </td>

        <td>
          <ng-container *ngIf="item?.studyType; else dash">
            {{ item.studyType }}
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="item.sex ; else dash">
            {{ item.sex }}
          </ng-container>
        </td>

        <td>
          <button class="btn btn--small btn--purple btn--flat"
                  (click)="openCommentModal('research_data_comment', item, links)"
          >
            {{ "research_data_comment_button" | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<ng-template #dash>
  <span class="table__dash"></span>
</ng-template>

<ng-template #links let-item="item">
  <p *ngIf="item?.comment.length !== 0">
    {{ item?.comment }}
  </p>

  <p *ngIf="item?.doi !== ''">
    <a
      href="https://doi.org/{{ item?.doi }}"
      class="link"
      target="_blank"
    >{{ item?.doi }}</a>
  </p>
  <p *ngIf="item?.pmid !== ''">
    <a
      href="https://pubmed.ncbi.nlm.nih.gov/17170002/{{ item?.pmid }}"
      class="link"
      target="_blank"
    >{{ item?.pmid }}</a>
  </p>

  <app-publication-info *ngIf="item?.doi"
                        [doi]="item.doi"
                        class="publication-info"
  ></app-publication-info>
</ng-template>

<ng-template #ageOfControlHint>
  {{ "age_of_control_hint" | translate }}
</ng-template>

<ng-template #ageOfExperimentHint>
  {{ "age_of_experiment_hint" | translate }}
</ng-template>