@import "../styles";

.loader-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  text-align: center;
  padding: $padding-regular;

  &__inner {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: $color-general-light;
    border-radius: $border-radius-medium;
  }

  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    text-align: center;
    font-size: 30px;
    color: $color-general;
  }
}
