<div class="page news-page">
  <div class="page__inner __pb-60">
    <div class="text-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1>{{ 'news_page_title' | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <section class="row no-gutters">
        <app-articles-list></app-articles-list>
      </section>

      <section class="row no-gutters __mt-30">
        <h1 class="col col-12">{{ 'news_page_description' | translate }}</h1>
        <div class="col col-12 news-page__news">
          <app-news-list
            [genesList]="genes"
            [loadTotal]="itemsTotalLimit"
            [itemsForPage]="itemsOnPage"
            [showDates]="true"
            *ngIf="genes"
          ></app-news-list>
        </div>
        <div
          *ngIf="itemsTotalLimit >= itemsOnPage"
          class="col col-12 __mt-15 btn-wrap show-more">
          <button class="btn show-more__button"
                  (click)="loadMore()"
          >{{ 'show_more' | translate }}</button>
        </div>
      </section>
    </div>
  </div>
</div>
