<div class="page main-page">
  <div class="page__inner">
    <div class="wrapper main-page__header">
      <div class="container">
        <div class="col col-16">
          <div class="page__title">
            <h1>{{ 'main_page_header_title' | translate }}</h1>
          </div>
          <div class="header__description">
            {{ 'main_page_header_description' | translate }}
          </div>
          <div class="header__button">
            <a routerLink="/about"
               class="btn btn-purple btn-fill">{{ 'main_page_header_button' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <section class="no-content" *ngIf="!genes && !lastGenes">
        <div class="no-content__icon no-content__icon-standard"></div>
        <div class="no-content__title">
          <div class="title__center">
            {{ 'error_connection' | translate }}
          </div>
        </div>
      </section>

      <div class="col col-16">
        <div class="flex-subcontainer">
          <div class="per sidebar sidebar--left">
            <app-news
              [gene]="newsGene"
              *ngIf="newsGene && genes"
              class="__mb-20"
            ></app-news>

            <app-mini-cards
              [lastGenes]="lastGenes"
              *ngIf="lastGenes"
            ></app-mini-cards>
          </div>

          <div class="per content">
            <app-table
              [dataSource]="genes"
              (filterCluster)="filterByFuncClusters($event)"
              (filterExpression)="filterByExpressionChange($event)"
              *ngIf="genes"></app-table>

            <div *ngIf="!genes || !lastGenes">
              <!-- TODO: лоадер -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
