<div class="page main-page">
  <div class="page__inner">
    <div class="wrapper main-page__header">
      <div class="container">
        <div class="col col-16">
          <div class="page__title">
            <h1>{{ 'main_page_header_title' | translate }}</h1>
          </div>
          <div class="header__description">
            {{ 'main_page_header_description' | translate }}
          </div>
          <div class="header__button">
            <a routerLink="/about" class="btn btn-purple btn-flat js_link">{{ 'main_page_header_button' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="loading_data"
           *ngIf="!genes || !lastGenes">
        <p class="page__subtitle">{{ 'ui_loader' | translate }}</p>
      </div>

      <app-mini-cards
        [lastGenes]="lastGenes"
        *ngIf="lastGenes"></app-mini-cards>

      <app-table
        [dataSource]="genes"
        *ngIf="genes"></app-table>

      <app-news *ngIf="newsGene" [gene]="newsGene"></app-news>
    </div>
  </div>
</div>
