<div class="page text-page">
  <div class="page__inner __pb-60">
    <div class="text-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1>{{ 'settings' | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form class="container setting-items">
      <div class="row setting-items__row">
        <div class="col-12">
          <div class="setting-items__panel setting-items__panel--emphasized">
            <app-switch [switch]="retrievedSettings.showUiHints"
                        (changeEvent)="toggleInterfaceHints()"
            ></app-switch>
            <div class="panel__label">
              <h3>
                {{ 'settings_educational_content_title' | translate }}
              </h3>
              <p>
                {{ 'settings_educational_content_description' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row setting-items__row">
        <div class="col-12">
          <h3>
            {{ 'language' | translate }}
          </h3>
          <mat-form-field appearance="fill"
                          class="notranslate">
            <mat-label></mat-label>
            <mat-select [(ngModel)]="selectedLanguage"
                        (selectionChange)="changeLanguageSettings(selectedLanguage)">
              <mat-option *ngFor="let language of locales | keyvalue" [value]="language.key">{{ language.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>

