<div [ngSwitch]="researchType"
     class="research">
  <app-search [showTitle]="false"
              [genesList]="researches"
              [setSearchMode]="searchMode"
              (confirmedQuery)="updateGenesList($event)"
              (searchQuery)="setSearchQuery($event)"
              class="__mb-30">
  </app-search>

  <ng-container *ngIf="researches?.length !== 0">
    <section *ngSwitchCase="'lifespan-change'">
      <app-increase-lifespan
        [geneColumnOn]="true"
        [numberColumn]="true"
        [items]="researches"
        [slice]="slice | async"
      ></app-increase-lifespan>
    </section>

    <section *ngSwitchCase="'age-related-changes'">
      <app-age-related-changes
        [geneColumnOn]="true"
        [numberColumn]="true"
        [items]="researches"
        [slice]="slice | async"
      ></app-age-related-changes>
    </section>

    <section *ngSwitchCase="'gene-activity-change-impact'">
      <app-intervention-affects-aging-process
        [geneColumnOn]="true"
        [numberColumn]="true"
        [items]="researches"
        [slice]="slice | async"
      ></app-intervention-affects-aging-process>
    </section>

    <section *ngSwitchCase="'gene-regulation'">
      <app-protein-regulates-other-genes
        [geneColumnOn]="true"
        [numberColumn]="true"
        [items]="researches"
        [slice]="slice | async"
      ></app-protein-regulates-other-genes>
    </section>

    <section *ngSwitchCase="'association-with-accelerated-aging'">
      <app-gene-associated-with-progeria-syndromes
        [geneColumnOn]="true"
        [numberColumn]="true"
        [items]="researches"
        [slice]="slice | async"
      ></app-gene-associated-with-progeria-syndromes>
    </section>

    <section *ngSwitchCase="'associations-with-lifespan'">
      <app-gene-associated-with-longevity-effects
        [geneColumnOn]="true"
        [numberColumn]="true"
        [items]="researches"
        [slice]="slice | async"
      ></app-gene-associated-with-longevity-effects>
    </section>

    <section *ngSwitchCase="'other-evidence'">
      <app-additional-evidences
        [geneColumnOn]="true"
        [numberColumn]="true"
        [items]="researches"
        [slice]="slice | async"
      ></app-additional-evidences>
    </section>

    <div *ngIf="researches.length < options.objTotal || page < options.pagination.pagesTotal"
         class="btn-wrap show-more __mt-20">
      <button (click)="showMore($event, researchType)"
              class="btn show-more__button">
        {{ "show_more" | translate }} <span class="spinner fas fa-circle-notch fa-spin"></span>
      </button>
    </div>
  </ng-container>

  <app-spinner *ngIf="isLoading"
               class="__mt-10 __mb-10"
  ></app-spinner>

  <section
    *ngIf="query?.length > 0 && researches.length === 0">
    <app-no-content [title]="'nothing_found'">
      <ng-container icon>
        <app-icon icon="default" size="custom" customWidth="100%" customHeight="100%"></app-icon>
      </ng-container>
    </app-no-content>
  </section>
</div>
