@import "../../../styles";

:host {
  display: block;
  width: 100%;
}

.directed-graph {
  &__title {
    width: 100%;
    font-size: 16px;
    color: $color-black;
    font-weight: $font-weight-medium;
    text-align: center;
    margin-bottom: $ui-base-height;
  }

  &__overflow {
    overflow: auto;
    width: 100%;
    background: $color-gray-very-light;

    &:not(.hidden) {
      display: block;
    }
  }

  &__body {
    min-width: $tablet;
  }
}

