<div class="panel panel--dark">
  <div class="panel__group">
    <h3>Классы белков</h3>
    <ul class="panel__item list list--bulletted">
      <!-- TODO: These are two different objects parsed from the one source at different time  -->
      <!-- First one is in Russian and second one is in English -->
      <ng-container *ngIf="translate.currentLang === 'ru'">
        <ng-container *ngFor="let item of gene.proteinClasses | keyvalue">
          <li>{{ item.value }}</li>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="translate.currentLang === 'en'">
        <ng-container *ngFor="let item of gene.human_protein_atlas.ProteinClass | keyvalue">
          <li>{{ item.value }}</li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>
