<div class="panel panel--dark">
  <div class="panel__group">
    <h3>Protein Classes</h3>
    <ul class="panel__item list list--bulletted">
      <!-- TODO: These are two different objects parsed from the one source at different time  -->
      <ng-container *ngIf="translate.currentLang === 'ru' && gene.proteinClasses">
        <ng-container *ngTemplateOutlet="proteinClassesRu"></ng-container>
      </ng-container>

      <ng-container *ngIf="translate.currentLang === 'ru' && !gene.proteinClasses">
        <ng-container *ngTemplateOutlet="HPAproteinClasses"></ng-container>
      </ng-container>

      <ng-container *ngIf="translate.currentLang === 'en'">
        <ng-container *ngTemplateOutlet="HPAproteinClasses"></ng-container>
      </ng-container>

      <ng-template #proteinClassesRu>
        <li *ngFor="let item of gene.proteinClasses | keyvalue">
          {{ item.value }}
        </li>
      </ng-template>

      <ng-template #HPAproteinClasses>
        <li *ngFor="let item of gene.human_protein_atlas.ProteinClass | keyvalue">
          {{ item.value }}
        </li>
      </ng-template>
    </ul>
  </div>

  <div class="panel__group">
    <h3>Biological Process</h3>
    <ul class="panel__item list list--bulletted">

      <li *ngFor="let item of gene.human_protein_atlas.BiologicalProcess">
        {{ item }}
      </li>
    </ul>

    <button mat-raised-button>More</button>
  </div>
  <div class="panel__group">
    <h3>Molecular Function</h3>
    <ul class="panel__item list list--bulletted">
      <li *ngFor="let item of gene.human_protein_atlas.MolecularFunction">
        {{ item }}
      </li>
    </ul>

    <button mat-raised-button>More</button>
  </div>
  <div class="panel__group">
    <h3>Subcellular Location</h3> <!-- TODO: заголовки в отдельные колонки, списки строкой -->
    <!-- TODO: первые два могут совпадать, надо сравнит два объекта -->
    <ul *ngIf="gene.human_protein_atlas.SubcellularLocation"
      class="panel__item list list--bulletted">
      <li *ngFor="let item of gene.human_protein_atlas.SubcellularLocation">
        {{ item }}
      </li>
    </ul>
    <ul *ngIf="gene.human_protein_atlas.SubcellularMainLocation"
      class="panel__item list list--bulletted">
      <li *ngFor="let item of gene.human_protein_atlas.SubcellularMainLocation">
        {{ item }}
      </li>
    </ul>
    <ul *ngIf="gene.human_protein_atlas.SubcellularAdditionalLocation"
      class="panel__item list list--bulletted">
      <li *ngFor="let item of gene.human_protein_atlas.SubcellularAdditionalLocation">
        {{ item }}
      </li>
    </ul>
    <button mat-raised-button>More</button>
  </div>

  <div class="panel__group">
    <h3>Disease Involvement</h3>
    <ul class="panel__item list list--bulletted">
      <li *ngFor="let item of gene.human_protein_atlas.DiseaseInvolvement">
        {{ item }}
      </li>
    </ul>
  </div>

</div>
