@import '../../../styles';

:host {
  display: inline-block;
  width: 100%;
}

.hint {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  padding: 12px 10px;
  border-radius: $border-radius-regular;
  background-color: $color-general-light;
  font-size: $font-size;
  color: $color-black;

  &__title,
  &__description {
    grid-column: 3/3;
  }

  &__button {
    grid-column: 1/3;

    &:not(:empty) {
      margin-top: .8em;
    }
  }

  &__title {
    font-size: 1em;
    font-weight: $font-weight-medium;
    margin-bottom: 1ex;
  }

  &__description {
    font-size: .8em;
    line-height: 1.5;
    white-space: normal;

    &::ng-deep {
      span {
        vertical-align: middle;
      }
    }
  }

  &--emphasized {
    color: $color-white;
    cursor: pointer;
    background-image: linear-gradient(to right, darken(#FFAC5F, 10%) 0%, #FFC769 100%);
  }
}




