@import '../../../styles';

:host {
  display: inline-block;
  width: 100%;
}

.hint {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 12px 10px;
  border-radius: $border-radius-medium;
  background-color: $color-hint-bg;
  font-size: $font-size-smaller;
  color: $color-hint-text;
  margin-bottom: 10px;

  &__icon {
    color: #ffac5f;
  }

  &__text {
    line-height: 1.5;
    white-space: normal;

    &::ng-deep {
      span {
        vertical-align: middle;
      }
    }
  }
}

