@import '../../../styles';

:host {
  display: inline-block;
  width: 100%;
}

.hint {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-content: center;
  align-items: center;
  justify-items: start;
  justify-content: space-between;
  width: 100%;
  padding: 12px 10px;
  border-radius: $border-radius-regular;
  background-color: $color-general-light;
  font-size: $font-size;
  color: adjust-hue($color-general, 10);

  &__text {
    display: flex;
    flex: 2 1 80%;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
  }

  &__image {
    display: flex;
    flex: 0 1 50px;
    align-items: center;
    justify-content: flex-end;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:empty {
      display: none;
    }
  }

  &__button {
    display: flex;
    flex: 0 0 100px;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;

    &::ng-deep {
      button, a {
        width: 100%;
      }
    }
  }

  &__title,
  &__description {
    width: 100%;
  }

  &__title {
    font-size: 1em;
    font-weight: $font-weight-medium;
  }

  &__description {
    font-size: .8em;
    line-height: 1.5;
    white-space: normal;

    &::ng-deep {
      span {
        vertical-align: middle;
      }
    }

    &:empty {
      display: none;
    }
  }

  .hint__title:not(:empty) + .hint__description {
    margin-top: 1ex;
  }

  &--emphasized {
    color: $color-white;
    background-image: linear-gradient(to right, darken(#FFAC5F, 10%) 0%, #FFC769 100%);
  }
}




