<tr class="item">
  <td class="cell cell--name">
    <div class="title overflow">
      <div class="add-to-favorites">
        <button *ngIf="!(this.isAdded | async)"
                (click)="favItem(item['id'])"
                mat-icon-button>
          <span
            class="icon far fa-star"
            aria-hidden="true"
          ></span>
        </button>
        <button *ngIf="this.isAdded | async"
                (click)="unFavItem(item['id'])"
                mat-icon-button>
          <span
            class="icon fas fa-star"
            aria-hidden="true"
          ></span>
        </button>
      </div>
      <div class="name">
        <a [routerLink]="['/gene', item.symbol]"
           [matTooltip]="'go_to_gene_page' | translate"
           class="link link--gray">
          <b>{{ item.symbol }}</b> {{ item.name }}</a>

        <button
          *ngIf="item?.confidenceLevel"
          class="alias alias--small confidence-level"
          [matTooltip]="'confidence_level' | translate"
          (click)="applyFilter('confidenceLevel', item.confidenceLevel.id)"
          [class.__active]="isAgeRelatedProcessActive(item.confidenceLevel.id.toString())"
          [ngClass]="{
              'alias--red' : item.confidenceLevel.id === 1,
              'alias--orange' : item.confidenceLevel.id === 2,
              'alias--pine' : item.confidenceLevel.id === 3,
              'alias--blue' : item.confidenceLevel.id === 4,
              'alias--gray' : item.confidenceLevel.id === 5
          }"
        >
          {{ item.confidenceLevel.name }}
        </button>
      </div>
    </div>
  </td>

  <td *ngIf="listSettings.ifShowAge"
      class="cell cell--age">
    <div class="overflow">
      <app-gene-age [gene]="item"></app-gene-age>
    </div>
  </td>

  <td *ngIf="listSettings.ifShowDiseases"
      class="cell">
    <div class="overflow">
      <app-associated-diseases
        class="cell__accordion"
        [geneDiseases]="item.diseases"
        [activeListItem]="filters.byDiseases"
        (clickEvent)="applyFilter('byDiseases', $event)"
      ></app-associated-diseases>
    </div>
  </td>

  <td *ngIf="listSettings.ifShowDiseaseCategories"
      class="cell">
    <div class="overflow">
      <app-associated-disease-categories
        class="cell__accordion"
        [geneDiseaseCategories]="item.diseaseCategories"
        [activeListItem]="filters.byDiseaseCategories"
        (clickEvent)="applyFilter('byDiseaseCategories', $event)"
      ></app-associated-disease-categories>
    </div>
  </td>

  <ng-container *ngIf="listSettings.ifShowAgingMechanisms">
    <td class="cell cell--mechanisms">
      <div class="overflow">
        <app-aging-mechanisms
          class="cell__accordion"
          [geneAgingMechanisms]="item.agingMechanisms"
          [activeListItem]="filters.byAgingMechanism"
          (clickEvent)="applyFilter('byAgingMechanism', $event)"
        ></app-aging-mechanisms>
      </div>
    </td>
  </ng-container>

  <td *ngIf="listSettings.ifShowProteinClasses"
       class="cell cell--classes">
    <div class="overflow">
      <app-protein-classes
        class="cell__accordion"
        *ngIf="item?.proteinClasses"
        [geneProteinClasses]="item.proteinClasses"
        [activeListItem]="filters.byProteinClass"
        (clickEvent)="applyFilter('byProteinClass', $event)"
      ></app-protein-classes>
    </div>
  </td>

  <td *ngIf="listSettings.ifShowCriteria"
      class="cell cell--criteria">
    <div class="overflow">
      <app-selection-criteria
        class="cell__accordion"
        [geneCriteria]="item.commentCause"
        [activeListItem]="filters.bySelectionCriteria"
        (clickEvent)="applyFilter('bySelectionCriteria', $event)"
      ></app-selection-criteria>
    </div>
  </td>

  <td *ngIf="listSettings.ifShowExperimentsStats"
      class="cell">
    <div class="overflow">
      <app-experiments-stats
      [experiments]="item.researches"></app-experiments-stats>
    </div>
  </td>

  <td class="cell cell--actions">
    <div class="overflow">
      <app-gene-menu
        [gene]="item"
        [isAdded]="isFaved(item.id)"
        (unFav)="unFavItem($event)"
        (fav)="favItem($event)"
      ></app-gene-menu>
    </div>
  </td>
</tr>

<tr class="item">
  <td *ngIf="item.functionalClusters.length !== 0 && listSettings?.ifShowTags"
      colspan="100%"
      class="cell cell--tags">
    <app-tag
      *ngFor="let item of item.functionalClusters"
      (click)="applyFilter('byAgeRelatedProcess', item.id)"
      [isActive]="isAgeRelatedProcessActive(item.id)">
      {{ item.name }}
    </app-tag>
  </td>
</tr>
