@import "../styles/item";
@import "../styles/table-row";

@include item;
@include table-row;

.name {
  display: inline-block;
  margin-top: -4px;
  line-height: 1.8;
}

.cell--tags {
  app-tag {
    font-size: 11px;
  }
}
