// Скрытие блока без лишних переопределений
@mixin display($val) {
  &:not(.hidden) {
    display: #{$val};
  }
}

// Стили панели
@mixin panel($display: 'block', $padding: '10px') {
  display: $display;
  width: 100%;
  background-color: $color-white;
  box-shadow: $shadow-for-panel;
  border-radius: $border-radius-regular;
  padding: unquote($padding);
  position: relative;
}
