// Tags

.tag {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #444;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  margin: 0 5px 5px 0;

  &__inner {
    display: block;
    width: 100%;
    min-width: 40px;
    max-width: 50ex; // 50 symbols
    font-size: $font-size-small;
  }

  &:not(.tag--multiline) {
    .tag__inner {
      line-height: $ui-base-height;
      @include text-overflow;
      text-align: center;
    }
  }

  &--multiline {
    .tag__inner {
      width: 210px;
      line-height: 1.5;
      text-align: left;
    }
  }

  // Класс для skeleton screens
  &.__skeletal {
    height: 26px;
    min-width: 100px;
  }

  &:not(.__skeletal):not(.__active) {
    &:hover {
      color: rgba($color-general, .85);
    }
  }

  &.__active:not(.__disabled) {
    border-color: $color-general;
    color: $color-general;
  }

  &.__disabled {
    opacity: .5;
  }
}

