.about-page {
  h2 {
    font-size: 1.6em;
  }

  .panel {
    padding: 40px;
  }

  @include resolution_desktop-and-up {
    font-size: 14px;
  }

  @include resolution_smartphone-and-tablet {
    font-size: 11px;
  }
}
