.about-page {
  font-family: Helvetica, Arial, sans-serif;

  h2 {
    font-size: 1.6em;
  }

  p {
    word-break: break-word;
    hyphens: auto;
  }

  .panel {
    padding: 40px 24px;
  }

  @include resolution_desktop-and-up {
    font-size: 15px;
  }

  @include resolution_smartphone-and-tablet {
    font-size: 13px;
  }
}
