.about-page {

  [class^=col] {
    padding: 0 3rem;
  }

  &__header {
    background-color: $color-general;

    .header__centering {
      height: calc(80vh - 50px);
      min-height: 430px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }

    .header__text {
      color: #fff;

      h1 {
        margin-bottom: .8rem;
        font-size: 3rem;
      }

      p {
        font-size: 1rem;
      }

      button {
        border: 0;
        outline: 0;
        appearance: none;
        line-height: 24px;
        cursor: pointer;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        transition-property: background-color, color, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        background-color: $color-accent;
        color: $color-white;
        border-radius: 28px;
        font-size: 20px;
        padding: 16px 32px;
        margin-top: 24px;
        opacity: .85; // TODO: opacities map

        &:hover,
        &:active {
          opacity: 1;
        }
      }
    }
  }

  &__blocks {
    padding: $padding-large;
    background-color: $color-white;
  }

  &__about {
    h2 {
      color: $color-black;
    }

    .about__secondary-text {
      color: $color-gray;
    }
  }

  &__features {
    padding: $padding-large;
    background-color: $color-general;

    .row {
      align-items: stretch;
    }

    .panel {
      padding-top: 60px;
      padding-bottom: 30px;

      h2 {
        font-size: 1rem;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      &--transparent {
        color: $color-white;
      }
    }

    [class^="col"] {
      &:nth-child(even) .panel:before {
        background: $color-base;
      }

      &:nth-child(odd) .panel:before {
        background: $color-green-light;
      }

      &:nth-child(3n) .panel:before {
        background: $color-orange;
      }

      & > .panel {
        height: 100%;
      }
    }
  }

  &__participate {
    padding: $padding-large + 10px;
    background-color: $color-general-semi;
  }
}
