.onboarding {
  display: flex;
  flex-flow: column;
  height: 100%
}

.kard {
  .kard-mobile {
    display: none
  }

  .main-title {
    font-family: AvenirNextLTPro-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    margin: 0;
    letter-spacing: .9px
  }

  .title {
    font-family: AvenirNextLTPro-Demi, Helvetica, Arial, sans-serif;
    font-size: 32px;
    margin: 0;
    letter-spacing: .9px
  }

  .kard-text {
    margin-top: 12px;
    opacity: .92;
    letter-spacing: .5px;
    font-family: AvenirNextLTPro-Medium, Helvetica, Arial, sans-serif;
    font-size: 16px
  }
}

.compare-block-title {
  font-size: 36px;
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 24px;
  z-index: 1
}

.compare-block-feature__description {
  font-family: AvenirNextLTPro-Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #2b2c39;
  line-height: 1.5
}

.compare {
  position: relative;
  display: flex;
  border-radius: 8px;
  padding: 40px;
  background: linear-gradient(90deg, #91cefd, #9bb5fa 20%, #a4a4f7 40%, #c2adf5 60%, #d9b5f3 80%, #ebbdf2);

  .compare-block-title {
    margin-bottom: 64px
  }

  .router-link__how-to-use {
    flex: 1 0 25%;
    position: relative;
    font-family: AvenirNextLTPro-Demi, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 1;
    letter-spacing: 1px;
    opacity: .92;
    z-index: 1;
    cursor: pointer;
    margin-right: 64px;

    &__text {
      text-decoration: underline
    }
  }

  .compare-block-top {
    flex: 1 0 30%;
    margin-right: 64px
  }

  .compare-block-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .description__wrapper {
      display: flex;
      z-index: 1
    }

    .description {
      -webkit-flex-basis: 33.3%;
      flex-basis: 33.3%;
      margin: 0 26px;

      &__title {
        margin-top: 0;
        margin-bottom: 16px;
        font-family: AvenirNextLTPro-Bold, Helvetica, Arial, sans-serif;
        font-size: 24px;
        color: #fff
      }

      &__text {
        font-family: AvenirNextLTPro-Medium, Helvetica, Arial, sans-serif;
        font-size: 16px;
        margin: 0
      }
    }
  }

  @include resolution_smartphone-and-tablet {
    flex-direction: column;
    align-items: flex-start;

    .router-link__how-to-use {
      flex: 1;
      display: block;
      margin-top: 18px;
      order: 1
    }

    .compared-images {
      display: none
    }

    .description__wrapper {
      flex-direction: column;
      margin: 0
    }

    .description {
      margin: 0 0 72px
    }

    .description-illustration {
      display: block;
      margin-bottom: 32px
    }

    .description-image {
      width: 100%;
      max-width: 100%
    }

    .compare-block-bottom .description__wrapper {
      margin: 0 -26px;
    }
  }

  @include resolution_desktop-and-up {
    .compare-block-top {
      margin-right: 0;

      .router-link__how-to-use {
        display: none
      }

      .compare-block-title {
        margin-bottom: 72px
      }

      .compare-block-title .title {
        font-size: 32px
      }

      .compare-block-feature {
        background-color: transparent;
        padding: 0;
        min-height: 0;
        margin-bottom: 72px
      }

      .compare-block-feature__illustration {
        display: block;
        margin-bottom: 32px
      }

      .compare-block-feature__image {
        width: 100%;
        max-width: 100%
      }
    }

    .kard-top {
      margin: 0 0 30px;
      padding-right: 0 !important
    }
  }
}




