<div class="view-panel">
  <div class="total">Всего генов: {{dataSource?.length}}</div>
  <div class="buttons">
    <i class="fa fa-table icon active"></i>
    <i class="fa fa-th-large icon"></i>
  </div>
</div>
<section class="table view-content--as-table">
  <div class="thead header">
      <div class="th cell" (click)="getGenes()">
        <b>HGNC, название</b>
        <i class="fa fa-sort-desc sort-icon"
           [class.icon-rotated]="isSorted"
          ></i>
      </div>
      <div class="th cell"><b>Происхождение</b></div>
      <div class="th cell" (click)="sortByAge()">
        <span><b>Возраст</b> (млн. лет)</span>
      </div>
      <div class="th cell"><b>Функциональные кластеры:</b></div>
      <div class="th cell"><b>Возрастные изменения экспрессии:</b></div>
      <div class="th cell"><b>Заболевания</b></div>
      <div class="th cell"><b>Взаимодействия</b></div>
  </div>
  <div class="tbody">
    <div class="tr row" *ngFor="let data of dataSource | slice: 0: activeGenesQuantity">
      <div class="td cell td-name">
        <div class="td_title">
          <a href="#" class="link">
            <b>{{data.symbol}}</b>{{data.name}}
          </a>
          <a href="#" title="Этот ген на GeneAge" class="tag tag--small">{{data.ID}}</a>
        </div>
      </div>
      <div class="td cell td-age-phylo"><b>{{data.agePhylo}}</b></div>
      <div class="td cell td-age-mya">{{data.ageMya}}</div>
      <div class="td cell td-clusters">
        <span class="tag" *ngFor="let funcCluster of data.functionalClusters">{{funcCluster}}</span>
      </div>
      <div class="td cell td-expression"><a href="#" class="tag" *ngIf="data.expressionChange">{{data.expressionChange}}</a></div>
      <div class="td cell text-right td-external">
        <a href="#" class="badge badge--disgenet">DisGenet</a>
      </div>
      <div class="td cell text-right td-external">
        <a href="#" class="badge badge--biogrid">BioGrid</a>
      </div>
    </div>
  </div>
</section>
