@import "../../../resources/sass/dependencies";

:host {

}

.table-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.view-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-right: 50px;

  &.col {
    font-size: 0;
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

$columns-quantity: 7;

.view-content {
  margin-bottom: 10px;

  .tr {
    .td {
      &__title {
        font-size: $font-size-bigger;
        font-weight: $font-weight-medium;
        margin-bottom: 5px;
        color: $color-gray;

        .link {
          vertical-align: middle;
          margin-right: 5px;
          text-decoration: underline;
        }

        .alias {
          vertical-align: 1px;
          margin-bottom: 0;
        }
      }

      b {
        color: #000;
        font-weight: bold;
        margin-right: 3px;
      }

      &--expandable {
        cursor: pointer;

        &:hover,
        &.active {
          background-color: rgba($color-general, 0.25);
        }

        &:hover,
        &.active {
          .td__popover {
            display: block;
          }
        }
      }
    }
  }

  // В виде карточек
  &.view-content--as-cards {
    .thead {
      display: none;
    }

    .cards-filters {
      width: 100%;
      margin-bottom: 20px;

      .filter + .filter {
        margin-left: 10px;
      }
    }

    .tbody {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: space-between;
    }

    .tr {
      @include panel;
      @include resolution_tablet-and-up {
        width: calc(50% - 10px); // TODO: убрать calc
      }
      font-size: 0;
      padding-bottom: 75px;

      //separator
      &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-borders;
        margin-bottom: 10px;
        position: absolute;
        bottom: 44px;
        left: 0;
        z-index: 0;
      }

      .td {
        display: inline-block;
        width: 100%;
        position: relative;
        font-size: $font-size;

        &__label {
          display: block;
          width: 100%;
          font-size: $font-size;
          color: $color-gray-halfing;
          margin-bottom: 3px;
        }


        &-name {
          margin: 10px 0;

          .td__title {
            .link {
              font-size: $font-size-max;
              text-decoration: none;
            }
          }
        }

        &-age-phylo {
          font-size: $font-size-big;
        }

        &-age-mya {
          font-size: $font-size-bigger;
          margin-top: 2px;
        }

        &-clusters,
        &-expression {
          margin-top: 10px;

          .td__label {
            margin-bottom: 5px;
          }
        }

        &-external {
          &,
          .badge {
            width: 80px;
            margin-bottom: 0;
          }

          position: absolute;
          left: 10px;
          bottom: 12px;

          &:nth-last-child(2) {
            left: 100px;
          }
        }
      }
    }
  }

  // В виде таблицы
  &.view-content--as-table {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid $color-borders;
    border-radius: 5px;

    .cards-filters {
      display: none;
    }

    .td,
    .th {
      display: table-cell;
      vertical-align: top;
      word-break: keep-all;
      hyphens: auto;
    }

    .thead {
      width: 100%;
      display: table-header-group;
      background-color: $color-general-light;
    }

    .th {
      width: (100% / $columns-quantity); // Фикс для пустой таблицы
      color: $color-black;
      text-align: center;
      font-weight: 400;
      padding: 8px 10px 10px 10px;
      border-bottom: 2px solid $color-borders;
      position: relative;
      transition: background-color .15s linear;

      &__title {
        width: 100%;
        @include overflow-lines(12px, 1.3, 3, 0);
      }

      .fa {
        display: inline;
        font-size: 12px;
        margin-left: 5px;
      }

      &--sortable {
        cursor: pointer;
        color: $color-general;
        padding-right: 20px;

        .sort-icon {
          font-size: 16px;
          position: absolute;
          top: 5px;
          right: 10px;
        }

        &:hover {
          background-color: rgba($color-hover, .75);
        }

        @include resolution_smartphone {
          white-space: nowrap;
        }

        &.th--sorted {
          color: desaturate(darken($color-orange, 12%), 2);

          .sort-icon {
            transform: scale(1, -1) translateY(-5px) translateZ(0);
          }

          &,
          &:hover {
            color: desaturate(darken($color-orange, 12%), 2);
            background-color: $color-active;
          }
        }
      }

      &:first-child,
      &:nth-child(2) {
        text-align: left;
      }
    }

    .tbody {
      display: table-row-group;
    }

    .tr {
      display: table-row;
      position: relative;

      .td {
        color: $color-indent;
        padding: 6px 8px 12px 8px;
        position: relative;

        // Подписи в карточках
        &__label {
          display: none;
        }
      }

      .td + .td {
        border-left: 1px solid $color-borders;
      }

      &:hover {
        border-color: $color-general;

        .tr__edit-btn {
          opacity: .75;
        }
      }
    }

    .th:first-child,
    .td:first-child {
      padding-left: 8px;
    }

    .tr:nth-child(even) {
      background: $color-gray-very-light;
    }

    .tr:nth-child(odd) {
      background: #fff;
    }

  }
}

.show-more {
  margin-bottom: 20px;

  &__button {
    width: 100%;
    $btn-height: 35px;
    height: $btn-height;
    line-height: ($btn-height - 2px);
    padding: 0 10px;
    font-size: 14px;
    font-weight: $font-weight-medium;
    color: $color-general;
    background-color: lighten($color-hover, 3%);
    border: 1px solid $color-borders-active;

    &:hover {
      background-color: $color-hover;
    }
  }
}

