<ng-container *ngIf="mappedDiseases && geneDiseasesLength !== 0; else noDisease">
  <ng-container *ngIf="!isAccordion; else accordion">
    <ul
      *ngFor="let disease of mappedDiseases"
      class="list list--bulletted"
    >
      <li>{{ disease }}</li>
    </ul>
  </ng-container>

  <ng-template #accordion>
    <app-accordion
      class="diseases-accordion"
      [class.diseases-accordion--open]="isAccordionOpen"
      (isStateOpen)="toggleAccordion($event)"
    >
      <div class="diseases-accordion__header" accordion-header>
        <ul
          *ngFor="let disease of mappedDiseases | slice: 0:maxItemsToShow"
          class="list list--bulletted"
        >
          <li>{{ disease }}</li>
        </ul>
        <span class="fa far fa-chevron-down diseases-accordion__arrow"></span>
      </div>
      <div class="diseases-accordion__body" accordion-body>
        <ul
          *ngFor="let disease of mappedDiseases | slice: maxItemsToShow"
          class="list list--bulletted"
        >
          <li>{{ disease }}</li>
        </ul>
      </div>
    </app-accordion>
  </ng-template>
</ng-container>

<ng-template #noDisease>
  <div class="no-criteria">
    {{ 'no_diseases' | translate }}
  </div>
</ng-template>
