<ng-container *ngIf="geneDiseases && listLength !== 0; else noDisease">

  <ng-container *ngIf="!isAccordion; else accordion">
    <ul class="list list--bulletted">
      <li *ngFor="let disease of geneDiseases"
          [class.__active]="activeListItem.includes(disease.id)"
          (click)="emitOnClick(disease.id)">
        {{ disease?.name}}
      </li>
    </ul>
  </ng-container>

  <ng-template #accordion>
    <app-accordion
      class="diseases-accordion"
      [clickable]="false"
      [class.diseases-accordion--open]="isAccordionOpen"
      [isOpen]="isAccordionOpen">

      <div class="diseases-accordion__header" accordion-header>
        <ul class="list list--bulletted">
          <li *ngFor="let disease of geneDiseases | slice: 0:maxItemsToShow"
              [class.__active]="activeListItem.includes(disease.id)"
              (click)="emitOnClick(disease.id)">
            {{ disease?.name}}
          </li>
        </ul>

        <button (click)="toggleAccordion()"
                class="diseases-accordion__arrow">
          <span class="fa far fa-chevron-down"></span>
        </button>
      </div>

      <div class="diseases-accordion__body" accordion-body>
        <ul class="list list--bulletted">
          <li *ngFor="let disease of geneDiseases | slice: maxItemsToShow"
              [class.__active]="activeListItem.includes(disease.id)"
              (click)="emitOnClick(disease.id)">
            {{ disease?.name}}
          </li>
        </ul>
      </div>

    </app-accordion>
  </ng-template>

</ng-container>

<ng-template #noDisease>
  <div class="no-diseases">
    {{ 'no_diseases' | translate }}
  </div>
</ng-template>





