.about-page {
  $base-padding: 24px;

  font-family: Helvetica, Arial, sans-serif;

  &__compare {
    padding: $padding-large + 10px 0;
    background-color: $color-black;
    position: relative;
    display: flex;
    color: $color-white;
    background: linear-gradient(90deg, #91cefd, #9bb5fa 20%, #a4a4f7 40%, #c2adf5 60%, #d9b5f3 80%, #ebbdf2);
  }

  .compare {
    .compare-block-top {
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      .compare-block-title,
      .panel,
      .description {
        display: inline-flex;
        flex-flow: column;
      }


      .panel {
        min-height: 300px;
        margin-bottom: 20px;
        width: 100%;

        h2 {
          font-family: AvenirNextLTPro-Demi, Helvetica, Arial, sans-serif;
          line-height: 1.5;
          margin: 0 0 24px
        }
      }

      .compare-block-title {
        width: 100%;

        .title {
          font-size: 2em;
        }

        .compare-block-text {
          font-size: 1.3em;
          margin: 20px 0;
        }
      }

      .compare-block-footer {
        font-size: 1em;

        p:first-child {
          font-size: 1.2em;
        }
      }
    }

    .compare-block-bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.2em;
      padding: 0;

      .screenshot {
        margin-top: -20px;
      }

      .description__wrapper {
        display: flex;
        z-index: 1
      }

      .description {
        padding: 24px 24px 0 $base-padding;

        &__title {
          width: 100%;
          font-size: 1.3em;
          margin-bottom: 16px;
        }

        &__text {
          width: 100%;
          font-size: 1em;
        }
      }
    }

    @include resolution_desktop-and-up {
      .compare-block-top {
        padding: 0 $base-padding 0 0;
      }
    }

    @include resolution_smartphone-and-tablet {
      .compare-block-top {
        padding: 0;
      }

      .compare-block-bottom {
        .compare-block-footer {
          margin-bottom: $base-padding;
        }

        .description__wrapper {
          flex-direction: column;
          margin: 0 -#{$base-padding};
        }
      }
    }
  }
}
