.about-page {
  &__compare {
    padding: $padding-large + 10px 0;
    background-color: $color-black;
  }
}


.compare-block-top {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .compare-block-title,
  .panel,
  .description {
    display: inline-flex;
    flex-flow: column;
    width: 100%;
  }

  .panel {
    min-height: 300px;
    margin-bottom: 20px;

    h2 {
      font-family: AvenirNextLTPro-Demi, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      margin: 0 0 24px
    }
  }

  .description {
    &__text {

      width: 100%;
      font-size: 1.1em;
      color: $color-white;

      &:first-child {
        font-size: 1.3em;
      }
    }
  }
}

.compare-block-bottom {
  img {
    margin-top: -20px;
  }
}
