.about-page__compare {
  padding: $padding-large + 10px 0;
  background-color: $color-black;
  position: relative;
  display: flex;
  color: $color-white;
  background: $pink-blue-gradient;
}

.compare {
  .compare-block__top {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .compare-block__header,
    .panel,
    .description {
      display: inline-flex;
      flex-flow: column;
    }


    .panel {
      min-height: 300px;
      margin-bottom: 20px;
      width: 100%;

      h2 {
        font-family: AvenirNextLTPro-Demi, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        margin: 0 0 24px
      }
    }

    .compare-block__header {
      width: 100%;

      .compare-block__title {
        font-size: 2em;
      }

      .compare-block__text {
        font-size: 1.3em;
        margin: 20px 0;
      }
    }

    .compare-block__footer {
      font-size: 1em;

      p:first-child {
        font-size: 1.2em;
      }
    }
  }

  .compare-block__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 0;

    .screenshot {
      margin-top: -20px;
    }

    .description__wrapper {
      display: flex;
      z-index: 1
    }

    .description {
      padding: $base-padding $base-padding 0 0;

      &__title {
        width: 100%;
        font-size: 1.3em;
        margin-bottom: 16px;
      }

      &__text {
        width: 100%;
        font-size: 1em;
      }
    }
  }

  @include resolution_desktop-and-up {
    .compare-block__top {
      padding: 0 $base-padding 0 0;
    }

    .compare-block__bottom {
      .description__wrapper {
        padding: 0 4%;
      }
    }
  }

  @include resolution_smartphone-and-tablet {
    .compare-block__top {
      padding: 0;
    }

    .compare-block__bottom {
      .compare-block__footer {
        margin-bottom: $base-padding;
      }

      .description__wrapper {
        flex-direction: column;
      }
    }
  }
}

