.about-page__contribute {
  padding: #{$padding-large + 10px} 0 80px 0;
  background-color: $color-black-500;
  color: $color-white;

  .contribute {
    &__title {
      width: 100%;
      text-align: center;
    }

    &__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      padding: 0 #{$padding-large};
      margin-top: #{$padding-large + 10px};

      .section__title,
      .section__description,
      .section__buttons {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
      }

      .section__title {
        align-items: center;
        font-size: 1.3em;
        margin-bottom: 1em;

        .fa {
          margin: -1px .8ex 0 -.8ex;
        }
      }

      .section__description {
        align-self: flex-start;
        margin-bottom: auto;

        p {
          white-space: pre-line;
        }

        p + p {
          margin-top: 1em;
        }
      }

      .section__buttons {
        width: 100%;
        margin-top: 16px;

        a {
          min-width: 120px;
        }
      }
    }

    @include resolution_desktop-and-up {
      .contribute__section + .contribute__section {
        &::before {
          content: ' ';
          height: 100%;
          width: 1px;
          background-color: $color-gray-500;
          position: absolute;
          top: 0;
          left: -.5px;
          z-index: 0;
        }
      }
    }

    &__donate {
      .donate__title {
        color: $color-accent;
      }
    }

    &__participate {
      .participate__title {
        color: $color-general;
      }
    }
  }
}
