.about-page {
  &__features {
    padding: 60px 0 40px 0;
    background-color: $color-black;
    color: $color-white;

    .features {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
    }

    .feature {
      position: relative;
      font-size: 1em;
      padding: 1.2em 40px 1.2em 24px;

      &::before {
        content: ' ';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-accent;
        position: absolute;
        left: 0;
        top: 1.2em;
        margin-top: 2px;
        z-index: 0;
      }
    }
  }
}
