.about-page {
  &__features {
    padding: #{$padding-large + 10px} 0 40px 0;
    background-color: $color-black;
    color: $color-white;

    .features {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;

      &__title {
        text-align: center;
      }
    }

    .feature {
      position: relative;
      font-size: 1em;
      padding: 1em 40px 1em 24px;

      &::before {
        $marker-size: 10px;
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        width: $marker-size;
        height: $marker-size;
        border-radius: 50%;
        background-color: $color-accent;
        position: relative;
        margin-left: -1em;
        left: -10px;
        z-index: 0;
      }
    }
  }
}
