.about-page {
  &__header {
    background: linear-gradient(#91cefd, $color-base);

    .header__centering {
      height: calc(70vh - 50px);
      min-height: 430px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: stretch;
    }

    .header__image {
      display: flex;
      align-items: center;
      max-width: 380px;
      height: 100%;
      padding: 0;

      img {
        width: 100%;
      }
    }

    .header__text {
      color: #fff;
      padding-left: 10%;

      h1 {
        margin-bottom: .8em;
        font-size: 3em;
      }

      p {
        font-size: 1.2em;
      }

      button {
        width: 260px;
        line-height: 24px;
        transition-property: background-color, color, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        background-color: $color-accent;
        color: $color-white;
        border-radius: 28px;
        font-size: 1.8em;
        font-weight: $font-weight-regular;
        padding: 16px 32px;
        margin-top: 24px;
        opacity: .85; // TODO: opacities map

        &:hover,
        &:active {
          opacity: 1;
        }
      }
    }
  }
}
