.about-page {
  &__features {
    padding: $padding-large;
    background-color: $color-black;
    color: $color-white;

    .features {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }

    .feature {
      flex: 1 2 33%;
      font-size: 1rem;
      padding: 30px;
    }
  }
}
