.about-page {
  &__about {
    padding: 0 0 #{$padding-large + 10px} 0;
    background: linear-gradient($color-base, $color-general);

    h2 {
      display: block;
      color: $color-black;
      line-height: 1.5;

      @include resolution_desktop-and-up {
        padding-right: $padding-large;
      }

      @include resolution_smartphone-and-tablet {
        margin-bottom: .8em;
      }
    }

    p {
      font-size: .9em;
      color: $color-black-light
    }
  }
}
