.about-page {
  &__about {
    padding: 0 0 $padding-large + 10px 0;
    background: linear-gradient($color-base, $color-general);

    h2 {
      color: $color-black;
      line-height: 1.5;

      @include resolution_smartphone-and-tablet {
        padding-right: .8em;
      }

      @include resolution_smartphone-and-tablet {
        margin-bottom: .8em;
      }
    }

    p {
      font-size: .8em;
      color: $color-black-light
    }
  }
}
