<app-search [dataSource]="dataSource" (dataSourceChange)="getSearchedData($event)"></app-search>
<ng-container *ngIf="searchedData?.length !== 0 && !isLoading">
  <div class="view-panel">
    <div class="filters-group view-panel__filters">
      <button class="filter name-filter"
              (click)="getGenes('name')"
              [class.__active]="filters.byName"
      >
        {{ 'main_page_table_name' | translate }}
        <span class="fa far fa-sort-down"></span>
      </button>

      <button class="filter age-filter"
              (click)="getGenes('age')"
              [class.__active]="filters.byAge"
      >
        {{ 'age' | translate }} ({{ 'million_years' | translate }})
        <span class="fa far fa-sort-down"></span>
      </button>

      <button
        *ngIf="filters.byClasses.length > 0"
        class="filter __active functional-classes-filter"
        (click)="clearFilters('classes')"
      >
        {{ 'functional_classes' | translate }}
        <span class="fa fal fa-times"></span>
      </button>

      <button
        *ngIf="filters.byExpressionChange"
        class="filter __active expression-change-filter"
        (click)="clearFilters('expressionChange')"
      >
        {{ 'main_page_table_expression' | translate }}
        <span class="fa fal fa-times"></span>
      </button>

      <button class="btn btn--small btn-purple"
              (click)="clearFilters('all')"
              *ngIf="(filters.byName && filters.byAge || filters.byExpressionChange || filters.byClasses.length > 0)"
      >
        <span class="fa fal fa-filter"></span> {{ 'filters_reset' | translate }}
      </button>
    </div>

    <div class="view-panel__buttons">
      <button class="toggler"
              (click)="geneView()"
              [ngClass]="asCards == true ? 'toggler--def' : 'toggler--alt'">
        <span class="fa far fa-table toggler__icon toggler__icon--def"></span>
        <span class="fa far fa-th-large toggler__icon toggler__icon--alt"></span>
      </button>
    </div>
  </div>

  <section class="view-content" [ngClass]="asCards == true ? 'view-content--as-table' : 'view-content--as-cards'">
    <div class="thead">
      <div class="th">
        <div class="th__title">
          {{ 'main_page_table_name' | translate }}
        </div>
      </div>
      <div class="th">
        <div class="th__title">
          {{ 'phylogeny' | translate }}, {{ 'age_lowercase' | translate }}
        </div>
      </div>
      <div class="th">
        <div class="th__title">
          {{ 'ncbi_homologs' | translate }}
      </div>
      </div>
      <div class="th">
        <div class="th__title">
          {{ 'functional_classes' | translate }}
        </div>
      </div>
      <div class="th">
        <div class="th__title">
          {{ 'main_page_table_expression' | translate }}
        </div>
      </div>
      <div class="th">
        <div class="th__title"></div>
      </div>
    </div>

    <div class="tbody">
      <div class="tr row" *ngFor="let data of searchedData | slice: 0: loadedGenesQuantity">
        <div class="td cell td-name">
          <div class="td__title">
            <a [routerLink]="['/gene', data.symbol]" class="link link--gray">
              <b>{{data.symbol}}</b> {{data.name}}
            </a>
          </div>
        </div>
        <div class="td cell td-age-mya">
          <b>{{data.origin.phylum}}</b><br>
          {{data.origin.age}} <span *ngIf="data.origin.age">({{ 'million_years' | translate }})</span>
        </div>
        <div class="td cell td-age-homologs">
          <span class="td__label" *ngIf="data.homologueTaxon">
            {{ 'ncbi_homologs' | translate }}
          </span>
          <b>{{data.homologueTaxon}}</b>
        </div>
        <div class="td cell td-clusters">
          <div class="td-clusters__limiter">
            <span class="td__label" *ngIf="data.functionalClusters">
              {{ 'functional_classes' | translate }}
            </span>
            <button class="tag"
                  *ngFor="let item of data.functionalClusters"
                  (click)="filterByFuncClusters(item['id'])"
                  [class.__active]="filters.byClasses.includes(item['id'])"
            >
              <div class="tag__inner">{{item["name"]}}</div>
            </button>
          </div>
        </div>
        <div class="td cell td-expression">
          <span class="td__label" *ngIf="data.expressionChange">
            {{ 'main_page_table_expression' | translate }}
          </span>
          <button class="tag"
                *ngIf="data.expressionChange"
                (click)="filterByExpressionChange(data.expressionChange)"
                [class.__active]="filters.byExpressionChange === data.expressionChange"
          >
            <div class="tag__inner">{{ getExpressionLocaleKey(data.expressionChange) | translate }}</div>
          </button>
        </div>
        <div class="td td-actions">
          <button mat-icon-button
                  class="td-actions__menu"
                  [matMenuTriggerFor]="geneListItemMenu"
                  aria-label="Меню гена в списке"
          >
            <mat-icon>
              <span class="fa far fa-ellipsis-v"></span>
            </mat-icon>
          </button>
          <mat-menu #geneListItemMenu>
            <a mat-menu-item
               href="http://disgenet.org/browser/1/1/0/{{data.ncbiId}}/"
               target="_blank">
              <span class="legend __brand-color-disgenet"></span>
              DisGenet
            </a>

            <a mat-menu-item
               href="https://thebiogrid.org/search.php?search={{data.symbol}}&organism=9606/"
               target="_blank">
              <span class="legend __brand-color-biogrid"></span>
              BioGrid
            </a>

            <a mat-menu-item
              href="https://genomics.senescence.info/genes/entry.php?hgnc={{data.symbol}}">
              <span class="legend __brand-color-geneage"></span>
              GeneAge
            </a>
          </mat-menu>
        </div>
      </div>
    </div>
  </section>

  <div class="btn-wrap show-more" *ngIf="searchedData?.length > loadedGenesQuantity">
    <button
      (click)="loadMoreGenes()"
      class="btn show-more__button"
    >{{ 'show_more' | translate }}</button>
  </div>
</ng-container>

<app-loader-placeholder *ngIf="isLoading">
</app-loader-placeholder>

<ng-container *ngIf="searchedData?.length == 0">
  <section class="no-content">
    <div class="no-content__icon no-content__icon-standard"></div>
    <div class="no-content__title">
      <div class="title__center">
        {{ 'nothing_found' | translate }}
      </div>
    </div>
  </section>
</ng-container>

