// ALias
.alias {
  display: inline-block;
  vertical-align: middle;
  min-width: 40px;
  padding: 3px 5px;
  font-size: ($font-size-small - 1);
  font-weight: $font-weight-medium;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  background-color: $color-gray-soft;
  user-select: none;

  &--small {
    min-width: 20px;
    font-size: 10px;
    padding: 3px 2px;
  }

  &--warning {
    background-color: $color-hint-bg;
    color: $color-hint-text;
  }

  @include resolution_smartphone-and-tablet {
    min-height: 17px;
    font-size: 10px;
    font-weight: $font-weight-bold;
  }

  // Класс для skeleton screens
  &.__skeletal {
    height: 23px;
    min-width: 100px;
  }
}

a.alias {
  color: $color-clikable-500;
  background-color: $color-clikable-100;
}
