.hint {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 12px 10px;
  border-radius: $border-radius-medium;
  background-color: lighten(#ffc769, 20%);
  font-size: $font-size-smaller;
  color: #c88142;
  margin-bottom: 10px;

  &__icon {
    color: #ffac5f;
    margin-right: 10px;
  }

  &__text {
    line-height: 1.5;
    white-space: normal;

    .fa {
      vertical-align: middle;
    }
  }
}

.reference {
  width: 100%;
  margin-top: 1em;
  font-size: .9em;
  color: $color-gray;
}
