@mixin two-sidebar-items-in-a-row {
  &__inner {
    flex-direction: row;
  }

  &__item {
    &--desktop-50 {
      flex: 0 1 50%;

      &:first-child {
        padding-right: 10px;
      }

      &:nth-child(2) {
        padding-left: 10px;
      }
    }
  }
}

@mixin one-sidebar-item-on-another {
  &__inner {
    flex-direction: column;
  }

  &__item {
    flex: 0 0 100%;

    & + & {
      margin-top: .5em;
    }
  }
}

.sidebar {
  &__inner {
    display: flex;
    width: 100%;
    font-size: $font-size;
  }

  &__item {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
  }

  &__title {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between; // для ссылки "Все" рядом с заголовком
    position: relative;
    width: 100%;
    font-size: 1em;
    color: $color-black;
    font-weight: $font-weight-medium;
  }

  @include resolution_widescreen {
    position: sticky;
    top: 70px;
    margin-bottom: 60px;

    @include one-sidebar-item-on-another;
  }

  @include resolution_all-but-widescreen {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }

  @include resolution_tablet-and-desktop {
    @include two-sidebar-items-in-a-row;
  }

  @include resolution_smartphone {
    @include one-sidebar-item-on-another;
  }
}
