// A modifier class that gives an element placeholder styling
.__skeletal {
  font-size: 0;
  color: $color-gray;
  font-weight: $font-weight-regular;
  background-color: $color-gray-soft;

  * {
    display: none;
  }
}






