// Term with polarity
.term-w-p {
  &::before {
    font-size: 8px;
    margin-right: 1ch;
    vertical-align: middle;
  }

  &--positive {
    &::before {
      content: '\25B2';
      color: $color-green-medium;
    }
  }

  &--negative {
    &::before {
      content: '\25BC';
      color: $color-red-medium;
    }
  }
}
