// Term with polarity
.term-w-p {
  &--positive {
    &::before {
      content: '\25B2';
      color: $color-green-medium;
      margin-right: .5ch;
    }
  }

  &--negative {
    &::before {
      content: '\25BC';
      color: $color-red-medium;
      margin-right: .5ch;
    }
  }
}
