// Field
.field {
  display: block;
  padding: 6px 10px;
  width: 100%;
  border-radius: 14px;
  //border: 0;
  //border-bottom: 1px solid $color-borders;
  background-color: #fff;
  border: 1px solid rgba($color-gray, .15);
  font-size: $font-size;
  color: $color-gray;
  resize: none;
  appearance: none;

  &::-ms-clear {
    display: none !important; // скрываем иконку очистки поля на IE/Edge
  }

  &::-webkit-input-placeholder {
    color: $color-gray-semi;
  }

  &::-moz-placeholder {
    color: $color-gray-semi;
  }

  &:-moz-placeholder {
    color: $color-gray-semi;
  }

  &:-ms-input-placeholder {
    color: $color-gray-semi;
  }

  &[placeholder] {
    text-overflow: ellipsis;
  }

  &::-moz-placeholder {
    text-overflow: ellipsis;
  }

  &:-moz-placeholder {
    text-overflow: ellipsis;
  }

  &:-ms-input-placeholder {
    text-overflow: ellipsis;
  }

  &--error {
    border-color: $color-red-medium;
  }

  &--success {
    border-color: $color-green-medium;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  line-height: 33px;
  height: 33px;
}
