// Field
.field {
  display: block;
  padding: 6px 10px;
  width: 100%;
  border-radius: 5px;
  //border: 0;
  //border-bottom: 1px solid $color-borders;
  background-color: #fff;
  border: 1px solid $color-borders;
  font-size: $font-size;
  color: $color-gray;
  resize: none;
  appearance: none;
  transition: border .15s linear;

  &::-ms-clear {
    display: none !important; // скрываем иконку очистки поля на IE/Edge
  }

  $prefixed-selectors: (
    '::placeholder',
    '::-webkit-input-placeholder',
    '::-moz-placeholder',
    ':-moz-placeholder',
    ':-ms-input-placeholder'
  );

  @mixin placeholder-color() {
    @each $prefixed-selector in $prefixed-selectors {
      &#{$prefixed-selector} {
        @content;
      }
    }
  }

  @include placeholder-color {
    color: $color-gray-halfing;
  }

  &:focus {
    border-color: $color-borders-active;
    @include placeholder-color {
      color: transparent;
    }
  }

  &--error {
    border-color: $color-red-medium;
  }

  &--success {
    border-color: $color-green-medium;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  line-height: 33px;
  height: 33px;
}
