.hint {
  width: 100%;
  padding: 20px 10px;
  border-radius: $border-radius-regular;
  background-color: $color-general-light;
  color: #5C6796;
  margin-bottom: 10px;
}

.reference {
  width: 100%;
  margin-top: 1em;
  font-size: .9em;
  color: $color-gray;
}
