.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 110;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px 1px rgba(5, 5, 5, .14);
  padding: 20px 15px 15px 15px;

  &__title {
    font-size: 16px;
    color: $color-indent;
    margin-bottom: 10px;
  }

  // &_content { }
  &__close.fa {
    width: 30px;
    height: 30px;
    font-size: 29px;
    color: $color-general;
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: 10px;
      background-color: rgba($color-general-dark, .15);
      opacity: 0;
      transition: color, opacity, .15s ease-in-out;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }

  .btn-wrap {
    margin-top: 15px;
  }
}
