// Tags
.tag {
  @extend %clickable-badge;
  min-width: 40px;
  margin: 0 5px 5px 0;

  &__inner {
    width: 100%;
    line-height: $ui-base-height;
    @include text-overflow;
  }

  // Класс для skeleton screens
  &.__skeletal {
    height: 26px;
    min-width: 100px;
  }

  &:not(.__skeletal):not(.__active) {
    &:hover {
      color: rgba($color-general, .85);
    }
  }

  &.__active{
    border-color: $color-general;
    color: $color-general;
  }
}
