// Term
.term {
  color: $color-general;
  position: relative;

  &:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed currentColor;
  }

  &:hover {
    color: $color-general-dark;
  }
}
