<div class="page favourites-page">
  <div class="page__inner __pb-60">
    <div class="text-page__header wrapper">
      <div class="container">
        <div class="col-12">
          <div class="page__title">
            <h1>{{ "favourites_page_title" | translate }}</h1>
          </div>
        </div>
      </div>
    </div>
      <app-favourites-list
        *ngIf="favouriteGenes && favouriteGenes?.length !== 0; else noContent"
        [favouriteGenes]="favouriteGenes"
      ></app-favourites-list>
  </div>
</div>

<ng-template #noContent>
  <section class="container">
    <app-no-content
      [title]="'favourites_no_data'">
      <ng-container icon>
        <app-icon
          icon="no-content-default"
        ></app-icon>
      </ng-container>
      <ng-container description>
        <div class="no-content__button">
          <a mat-flat-button color="primary" href="/">{{ "favourites_go_to_home_page" | translate }}
          </a>
        </div>
      </ng-container>
    </app-no-content>
  </section>
</ng-template>


