<div class="page">
  <div class="page__inner">
    <div class="text-page__header wrapper">
      <div class="container">
        <div class="col col-16">
          <div class="page__title">
            <h1>{{ 'favourites_page_title' | translate }}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="genes">
      <div
        class="col col-16"
        *ngFor="let gene of genes | toArray"
      >
        <ng-container
          *ngIf="favouriteGenesIds.indexOf(gene.id) > -1"
        >
          {{ gene.id }} {{ gene.symbol }}
          <button
            mat-icon-button
            (click)="unFavItem(gene.id)">
            <mat-icon>
              <span class="fa far fa-trash"></span>
            </mat-icon>
          </button>
        </ng-container>
      </div>
    </div>

    <section class="col-12 no-content" *ngIf="!genes || error">
      <div class="no-content__inner">
        <div class="no-content__icon no-content__icon-standard"></div>
        <div class="no-content__title">
          <div class="title__center">
            {{ 'favourites_no_data' | translate }}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
