.view-latest {
  width: 100%;
  margin-bottom: 30px;

  &__title.page__subtitle {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    min-width: 100%;
    flex-flow: row wrap;
    padding: 10px 0;
    margin: 0 -5px;
  }

  &__card {
    flex: 0 1 25%;
    color: #fff;
    padding: 5px;

    .card__inner {
      border-radius: 10px;
      padding: 10px;
      height: 100px;
      background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

      .card__title {
        width: 100%;
        font-size: 20px;
        font-weight: $font-weight-medium;
      }

      .card__phylo,
      .card__mya {
        width: 100%;
        font-size: 15px;
        margin-top: 5px;
      }
    }

    &:first-child {
      .card__inner {
        background-image: linear-gradient(120deg, #436BFF 0%, #5579ff 100%);
        &:hover,
        &:active {
          background-image: linear-gradient(120deg, darken(#436BFF, 10%) 0%, #5579ff 100%);
        }
      }
    }
    &:nth-child(2) {
      .card__inner {
        background-image: linear-gradient(to top, #F3714B 0%, #FE7E5B 100%);
        &:hover,
        &:active {
          background-image: linear-gradient(to top, darken(#F3714B, 10%) 0%, #FE7E5B 100%);
        }
      }
    }
    &:nth-child(3) {
      .card__inner {
        background-image: linear-gradient(to right, #FFAC5F 0%, #FFC769 100%);
        &:hover,
        &:active {
          background-image: linear-gradient(to right, darken(#FFAC5F, 10%) 0%, #FFC769 100%);
        }
      }
    }
    &:last-child {
      .card__inner {
        background-image: linear-gradient(120deg, #83E5CE 0%, #83E5CE 100%);
        &:hover,
        &:active {
          background-image: linear-gradient(120deg, darken(#83E5CE, 10%) 0%, #83E5CE 100%);
        }
      }
    }

    @media only screen and (max-width: 767px) {
      flex-basis: 50%;
    }
  }
}

.td__popover {
  display: none;
  position: absolute;
  left: 10px;
  top: 35px;
  right: 10px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid $color-borders;
  border-radius: 5px;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 1px 4px 0 rgba(5, 5, 5, .14);

  @include resolution_tablet-and-up {
    min-width: 300px;
    max-width: 100%;
  }

  @include resolution_smartphone {
    width: 280px;
  }

  .popover__header {
    width: 100%;
    font-size: 15px;
    color: $color-indent;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .popover__content {
    width: 100%;
    max-height: 95px;
    overflow-y: auto;
    margin-bottom: 10px;

    // TODO: Это временное решение
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      width: 4px;
      border-radius: 2px;
      background-color: $color-gray-semi;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: $color-gray-soft;
    }
  }

  .popover__buttons {
    display: inline-block;
    width: 100%;
    .btn {
      float: left;
    }
  }

  &:before,
  &:after {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    // left: 50%;
    left: 40px;
  }

  &:before {
    top: -10px;
    z-index: 1;
    margin-left: -10px;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  &:after {
    top: -12px;
    z-index: 0;
    margin-left: -12px;
    border-bottom: 12px solid $color-borders;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }
}

.td__popover--top {
  top: auto;
  bottom: 100%;
  margin-bottom: -10px;

  &:before,
  &:after {
    top: auto;
    transform: scale(1, -1);
  }
  &:before {
    bottom: -10px;
  }
  &:after {
    bottom: -12px;
  }
}

.view-content {
  margin-bottom: 30px;

  .tr {
    .td {

      .info-sign {
        display: none;
      }

      &__overflow {
        @include overflow-lines(14px, 1.5, 4, 5px);
      }

      &--expandable {
        cursor: pointer;
        .info-sign {
          display: inline-block;
        }

        &:hover,
        &.active {
          background-color: rgba($color-general, 0.25);
        }

        &:hover,
        &.active {
          .td__popover {
            display: block;
          }
        }

      }

      &__title {
        font-size: $font-size-bigger;
        font-weight: $font-weight-medium;
        text-decoration: none;
        margin-bottom: 5px;
        &, .link {
          color: $color-gray;
        }

        .link,
        .tag {
          vertical-align: middle;
        }

        .link {
          text-decoration: underline;
          margin-right: 5px;
          &:hover,
          &:active {
            color: lighten($color-gray, 10%);
          }
        }

        .tag {
          margin-bottom: 0;
        }
      }

      b {
        color: #000;
        font-weight: bold;
        margin-right: 3px;
      }
    }
  }

  // В виде карточек
  &.view-content--as-cards {
    .thead {
      display: none;
    }
    .tbody {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .tr {
      flex: none;
      @include panel;
      @include resolution_tablet-and-up {
        width: calc(50% - 10px);
      }
      font-size: 0;
      padding-bottom: 75px;

      //separator
      &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-borders;
        margin-bottom: 10px;
        position: absolute;
        bottom: 44px;
        left: 0;
        z-index: 0;
      }

      .td {
        display: inline-block;
        width: 100%;
        position: relative;
        font-size: $font-size;

        &__label {
          display: block;
          width: 100%;
          font-size: $font-size-bigger;
          color: $color-gray-halfing;
          font-weight: $font-weight-medium;
          margin-bottom: 3px;
        }


        &-name {
          margin: 10px 0;
          .td__title {
            .link {
              font-size: $font-size-max;
              text-decoration: none;
            }
          }
        }

        &-age-phylo {
          font-size: $font-size-big;
        }

        &-age-mya {
          font-size: $font-size-max;
          margin-top: 2px;
        }

        &-clusters {
          margin-top: 10px;
          .td__label {
            margin-bottom: 5px;
          }
        }

        &-external {
          &,
          .badge {
            width: 80px;
            margin-bottom: 0;
          }

          position: absolute;
          left: 10px;
          bottom: 12px;
          &:nth-last-child(2) {
            left: 100px;
          }
        }
      }
    }
  }

  // В виде таблицы
  &.view-content--as-table {
    display: block;
    width: 100%;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
    // border: 1px solid $color-borders;
    border-radius: 3px;

    .td,
    .th {
      display: table-cell;
      vertical-align: top;
      word-break: keep-all;
      hyphens: auto;

      &--text-left {
        text-align: left;
      }
      &--text-center {
        text-align: center;
      }
      &--text-right {
        text-align: right;
      }
    }

    .thead {
      display: table-header-group;
      // &--fixed { }
    }

    .th {
      color: #212121;
      text-align: center;
      font-weight: 400;
      padding: 4px 8px 16px 8px;
      border-bottom: 2px solid $color-borders;
      background-color: $color-gray-very-light;
      position: relative;
      &__title {
        width: 100%;
        @include overflow-lines(12px, 1.3, 3, 0);
      }
      .fa {
        display: inline;
        font-size: 12px;
        margin-left: 5px;
      }
      &.sortable {
        cursor: pointer;
        &:hover {
          background-color: rgba(#b9def0, .75);
        }
      }
      &--wide {
        width: 120px;
      }
      &--wider {
        width: 180px;
      }

      &:first-child {
        text-align: left;
      }
    }

    .tbody {
      display: table-row-group;
    }

    .tr {
      display: table-row;
      position: relative;
      .td {
        color: $color-indent;
        padding: 6px 8px 12px 8px;
        position: relative;

        &__label,
        &__unit {
          display: none;
        }
      }

      .td + .td {
        border-left: 1px solid $color-borders;
      }

      .tr__edit-btn {
        display: block;
        height: 22px;
        width: 22px;
        font-size: 16px;
        color: $color-general;
        text-align: center;
        line-height: 22px;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
        cursor: pointer;
        opacity: .35;
        transition: opacity .15s ease-in;
        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        border-color: $color-general;
        .tr__edit-btn {
          opacity: .75;
        }
      }

      /* Temporary fix with styles */
      &:last-of-type,
      &:nth-last-of-type(2),
      &:nth-last-of-type(3),
      &:nth-last-of-type(4),
      &:nth-last-of-type(5),
      &:nth-last-of-type(6) {
        .td {
          &__popover {
            @extend .td__popover--top;
          }
        }
      }
    }

    .th:first-child,
    .td:first-child {
      padding-left: 8px;
    }

    .tr:nth-child(even) {
      background: $color-gray-very-light;
    }

    .tr:nth-child(odd) {
      background: #fff;
    }

  }
}