%clickable-badge {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #444;
  line-height: 26px;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
}

.sidebar {
  @include resolution_widescreen {
    flex: 20% 1 1;

    &--right {
      padding-left: 30px;
    }
    &--left {
      padding-right: 30px;
    }
  }

  @include resolution_all-but-widescreen {
    flex: 100% 1 1;
    order: 2;
  }
}

.content {
  max-width: 100%;

  @include resolution_widescreen {
    flex: 80% 1 1;
  }
  @include resolution_all-but-widescreen {
    flex: 100% 1 1;
  }
}

// Класс для skeleton screens
.__skeletal {
  color: $color-gray;
  font-weight: $font-weight-regular;
  background-color: $color-gray-soft;
}


.toggler {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  user-select: none;

  &:after { // TODO: добавить шаблон
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba($color-general-dark, .15);
    opacity: 0;
    transition: color, opacity, .15s ease-in-out;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    line-height: 37px;
    text-align: center;
    font-size: 24px;
    color: $color-indent;
    padding: 2px;
    opacity: .75;
    transition: opacity .15s linear;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    .toggler__icon {
      opacity: 1;
      color: $color-general;
    }
  }

  &--def {
    .toggler__icon--alt {
      display: none;
    }
  }

  &--alt {
    .toggler__icon--def {
      display: none;
    }
  }
}

// Badge
.badge {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  min-width: 44px;
  padding: 0 8px;
  text-align: center;
  font-size: 11px;
  font-weight: $font-weight-medium;
  color: #fff;
  line-height: 31px;
  white-space: nowrap;
  border-radius: 15px;
  margin: 0 5px 5px 0;
  background-color: $color-gray-halfing;
  opacity: .85;
  transition: opacity .15s linear;
  user-select: none;

  @include resolution_smartphone {
    padding: 0 5px;
  }

  &:empty {
    display: none;
  }

  &--pink {
    background-color: lighten($color-pink, 8%);
  }

  &--green {
    background-color: lighten($color-green-light, 8%);
  }

  &--entrez {
    background-color: lighten(#369, 28%);
  }

  &--geneage {
    background-color: lighten(#BA4200, 25%);
  }

  &--uniprot {
    background-color: lighten(#5caecd, 15%);
  }

  &--disgenet {
    background-color: lighten(#7774D1, 10%);
  }

  &--biogrid {
    background-color: $color-orange;
  }

  // Класс для skeleton screens
  &.__skeletal {
    min-width: 100px;
    border-color: $color-gray-soft;
  }
}

a.badge {
  &:hover,
  &:active {
    opacity: 1;
  }
}

// Legend
.legend {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  color: rgba($color-gray, .75);
  border-radius: 50%;
  margin-right: 1px;
  border: 1px solid rgba($color-gray, .25);

  &--pink {
    background-color: lighten($color-pink, 8%);
  }

  &--green {
    background-color: lighten($color-green-light, 8%);
  }
}

// Spinner
.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0 auto;
  border: 4px solid $color-general;
  border-left: 4px solid transparent;
  border-radius: 50%;
  animation: r1 1s normal infinite linear;
}

@keyframes r1 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

// Loader
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
  background-color: #fff;

  &__inner {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -40px;
    text-align: center;
    padding-top: 100px;

    .spinner {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -30px;
    }

    .fa {
      font-size: 20px;
      color: $color-general;
    }

    .loader__description {
      width: 100%;
      font-size: $font-size-bigger;
      color: $color-gray;
    }
  }

}

// Term
.term {
  color: $color-general;
  position: relative;

  &:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed currentColor;
  }

  &:hover {
    color: $color-general-dark;
  }
}

// ALias
.alias {
  display: inline-block;
  vertical-align: middle;
  min-width: 40px;
  padding: 3px 5px;
  font-size: $font-size-small;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  background-color: $color-gray-soft;
  user-select: none;

  &--small {
    min-width: 20px;
    font-size: 10px;
    padding: 3px 2px;
  }

  @include resolution_smartphone-and-tablet {
    min-height: 17px;
    font-size: 10px;
    font-weight: $font-weight-bold;
  }

  // Класс для skeleton screens
  &.__skeletal {
    height: 23px;
    min-width: 100px;
  }
}

// Tags
.tag {
  @extend %clickable-badge;
  min-width: 40px;
  margin: 0 5px 5px 0;

  // Класс для skeleton screens
  &.__skeletal {
    height: 26px;
    min-width: 100px;
  }

  &:not(.__skeletal):not(.__active) {
    &:hover {
      color: rgba($color-general, .85);
    }
  }

  &.__active{
    border-color: $color-general;
    color: $color-general;
  }
}

// Field
.field {
  display: block;
  padding: 6px 10px;
  width: 100%;
  border-radius: 14px;
  //border: 0;
  //border-bottom: 1px solid $color-borders;
  background-color: #fff;
  border: 1px solid rgba($color-gray, .15);
  font-size: $font-size;
  color: $color-gray;
  resize: none;
  appearance: none;

  &::-ms-clear {
    display: none !important; // скрываем иконку очистки поля на IE/Edge
  }

  &::-webkit-input-placeholder {
    color: $color-gray-semi;
  }

  &::-moz-placeholder {
    color: $color-gray-semi;
  }

  &:-moz-placeholder {
    color: $color-gray-semi;
  }

  &:-ms-input-placeholder {
    color: $color-gray-semi;
  }

  &[placeholder] {
    text-overflow: ellipsis;
  }

  &::-moz-placeholder {
    text-overflow: ellipsis;
  }

  &:-moz-placeholder {
    text-overflow: ellipsis;
  }

  &:-ms-input-placeholder {
    text-overflow: ellipsis;
  }

  &--error {
    border-color: $color-red-medium;
  }

  &--success {
    border-color: $color-green-medium;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  line-height: 33px;
  height: 33px;
}

// Rows for forms
.ui-row {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > * {
    display: inline-flex;
  }

  & > * * {
    flex: none;
  }

  &--h {
    flex-wrap: nowrap;
    justify-content: space-between;

    &-50 {
      & > * {
        flex: auto;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  &--v {
    flex-wrap: wrap;

    & > * {
      flex: 0 0 100%;
    }

    .field + .field {
      margin-top: 10px;
    }

    .btn {
      width: 100%;
    }
  }
}

.ui-row + .ui-row {
  margin-top: 15px;
}

// Button
.btn {
  @include display(inline-block);
  min-width: 80px;
  height: 33px;
  line-height: 33px;
  padding: 0 12px;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  text-align: center;
  text-transform: uppercase;
  transition: background-color, border, .15s linear;
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  // Обрезаем текст, если он шире кнопки
  // ! Не работает, пока кнопке на задана ширина
  @include text-overflow;

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

  .loader {
    display: inline-block;
    pointer-events: none;
    font-size: 14px;
    z-index: 1;
  }

  &.btn-fill {
    line-height: (33px - 2px);
  }
}

// Типы
// Кнопка без бордера и фона
@mixin btn-flat {
  width: auto;
  min-width: 0;
  padding: 0;
  border: 0;

  &:hover {
    border: 0;
  }

}

.btn.btn-flat {
  @include btn-flat;
}

// Цвета
@mixin btn-color($name, $color) { // переменная $name должна быть строкой
  .btn-#{$name} {
    &:not(.btn-fill) {
      color: $color;

      .loader {
        border: .2em solid rgba($color, 0.2);
        border-top-color: $color;
      }

      &.disabled {
        opacity: 1;
        color: lighten($color, 10%);
      }
    }

    &:not(.btn-flat) {
      border: 1px solid lighten($color, 5%);

      &.disabled {
        border-color: lighten($color, 10%);
      }
    }

    &:not(.disabled):not(.btn-flat):hover {
      &:not(.btn-fill) {
        color: darken($color, 10%);
      }

      border: 1px solid darken($color, 10%);
    }

    &.btn-fill {
      background: $color;
      $color2: lighten(adjust-hue($color, 10deg), 5%);
      background: linear-gradient(135deg, $color 0%, $color2 100%);
      color: #fff;

      &.disabled {
        opacity: 1;
        background-color: lighten($color, 5%);
      }

      &:not(.disabled):hover {
        background-color: darken($color, 5%);
        border: 1px solid darken($color, 5%);
        $color2-dark: lighten(adjust-hue($color, 10deg), 5%);
        background: linear-gradient(135deg, $color 0%, $color2-dark 100%);
      }

      .loader {
        border: .2em solid rgba(255, 255, 255, 0.2);
        border-top-color: #fff;
      }
    }
  }
}

@include btn-color('blue', $color-blue);
@include btn-color('red', $color-red);
@include btn-color('green', $color-green);
@include btn-color('purple', $color-purple);

// РАЗМЕРЫ

@mixin btn--small {
  $btn-height: 25px;
  height: $btn-height;
  line-height: $btn-height;
  padding: 0 5px;
  font-size: 11px;
  font-weight: $font-weight-medium;
  .loader {
    font-size: 11px;
  }
  &.btn-fill {
    line-height: ($btn-height - 2px);
  }
}

.btn.btn--small {
  @include btn--small;
}

@mixin btn--big {
  $btn-height: 45px;
  height: $btn-height;
  line-height: $btn-height;
  padding: 0 15px;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  border-radius: 4px;
  &.btn-fill {
    line-height: ($btn-height - 2px);
  }
}

.btn.btn--big {
  @include btn--big;
}

// Исправления
button.btn {
  line-height: normal;
}

// Только для определенных кнопок
$classes: btn-blue, btn-green, btn-red;
@each $a in $classes {
  @each $b in $classes {
    .#{$a} + .#{$b},
    .#{$b} + .#{$a},
    .#{$a} + .#{$a},
    .#{$b} + .#{$b} {
      margin-left: 10px;
    }
  }
}

// Алерт
.alert {
  width: 100%;
  min-width: 320px;
  padding: 10px 10px 20px 10px;
  font-size: $font-size;
  font-weight: $font-weight-medium;
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;

  &__close {
    width: 12px;
    height: 12px;
    font-size: 14px;
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
  }

  &--error {
    color: $color-red-dark;
    background-color: $color-red-light;

    .alert__close {
      color: $color-red-dark;
    }
  }
}

// Обертка кнопки
.btn-wrap {
  width: 100%;

  .btn {
    margin: 0 auto;
  }
}

// Кнопка-иконка
.icon-btn {
  background: transparent;
  border-radius: 0;
  border: 0;
  outline: 0;
  padding: 0;
}

.overlay {

}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 110;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px 1px rgba(5, 5, 5, .14);
  padding: 20px 15px 15px 15px;

  &__title {
    font-size: 16px;
    color: $color-indent;
    margin-bottom: 10px;
  }

  // &_content { }
  &__close.fa {
    width: 30px;
    height: 30px;
    font-size: 29px;
    color: $color-general;
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: 10px;
      background-color: rgba($color-general-dark, .15);
      opacity: 0;
      transition: color, opacity, .15s ease-in-out;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }

  .btn-wrap {
    margin-top: 15px;
  }
}

.hint {
  width: 100%;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: $color-general-light;
  color: #5C6796;
  margin-bottom: 10px;
}

.rating {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid $color-gray;
  font-size: 24px;
  font-weight: $font-weight-regular;
  line-height: 33px;
  text-align: center;

  &--medium {
    border-color: $color-yellow;
  }

  &--high {
    border-color: $color-green;
  }
}

.language-switcher {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  font-size: $font-size-small;
  color: $color-indent;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.popover {
  display: block;
  position: absolute;
  left: 10px;
  top: 35px;
  right: 10px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid $color-borders;
  border-radius: 5px;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 1px 4px 0 rgba(5, 5, 5, .14);

  @include resolution_tablet-and-up {
    min-width: 300px;
    max-width: 100%;
  }

  @include resolution_smartphone {
    width: 280px;
  }

  &__header {
    width: 100%;
    font-size: 15px;
    color: $color-indent;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  &__content {
    width: 100%;
    max-height: 95px;
    overflow-y: auto;
    margin-bottom: 10px;

    // TODO: Это временное решение
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      width: 4px;
      border-radius: 2px;
      background-color: $color-gray-semi;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: $color-gray-soft;
    }
  }

  &__buttons {
    display: inline-block;
    width: 100%;

    .btn {
      float: left;
    }
  }

  &:before,
  &:after {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    // left: 50%;
    left: 40px;
  }

  &:before {
    top: -10px;
    z-index: 1;
    margin-left: -10px;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }

  &:after {
    top: -12px;
    z-index: 0;
    margin-left: -12px;
    border-bottom: 12px solid $color-borders;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }

  &--top {
    top: auto;
    bottom: 100%;
    margin-bottom: -10px;

    &:before,
    &:after {
      top: auto;
      transform: scale(1, -1);
    }

    &:before {
      bottom: -10px;
    }

    &:after {
      bottom: -12px;
    }
  }
}

.filter {
  display: inline-block;
  height: 30px;
  width: auto;
  position: relative;
  line-height: 30px;
  font-size: $font-size-smaller;
  font-weight: $font-weight-medium;
  color: $color-general;
  @include text-overflow;
  transition: background-color .15s ease-in;
  cursor: pointer;
  padding: 0 20px 0 8px;
  border-radius: 15px;
  background-color: lighten($color-hover, 3);
  user-select: none;

  .sort-icon {
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &:hover {
    background-color: $color-hover;
  }

  &--sorted {
    color: desaturate(darken($color-orange, 12%), 2);

    .sort-icon {
      transform: scale(1, -1) translateY(-7px) translateZ(0);
    }

    &,
    &:hover {
      background-color: $color-active;
    }
  }
}

mark {
  background-color: $color-hover;
}
