%clickable-badge {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #444;
  line-height: $ui-base-height;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
}

@import "ui/animations";
@import "ui/preloader";
@import "ui/sidebar";
@import "ui/skeletons";
@import "ui/toggler";
@import "ui/badge";
@import "ui/legend";
@import "ui/alias";
@import "ui/tags";
@import "ui/fields";
@import "ui/forms";
@import "ui/buttons";
@import "ui/alert";
@import "ui/hint";
@import "ui/popover";
@import "ui/filters";
@import "ui/tip";
@import "ui/code";
@import "ui/table";

