<section class="view-latest">
  <div class="page__subtitle view-latest__title">
    {{ 'main_page_last' | translate }}
  </div>
  <div class="view-latest__content">
    <a *ngFor="let item of lastGenes"
       [routerLink]="['/gene', item.id]"
       class="view-latest__card">
      <div class="card__inner">
        <div class="card__title">{{ item.symbol }}</div>
        <div class="card__phylo">{{ item.agePhylo }}</div>
        <div class="card__mya">{{ item.ageMya }} {{ 'million_years' | translate }}</div>
      </div>
    </a>
  </div>
</section>

