@import '../styles';

:host {
  display: block;
  width: 100%;
}

// Expansion panels
.mat-expansion-panel-header-title {
  font-size: 16px;
  font-weight: $font-weight-medium;
}

@import './styles/header';
@import './styles/sections';
@import './styles/ui-hints';





