<div class="page gene-page" *ngIf="gene">
  <div class="page__inner __pb-60">
    <section class="wrapper gene-page__header">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12 header__title">
            <div class="add-to-favorites">
              <button mat-icon-button>
                <span
                  [ngClass]="isInFavourites ? 'fas fa-star' : 'far fa-star'"
                  (click)="toggleFavourites(gene.id)"
                  class="icon"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
            <div class="title__caption">
              <div class="caption__inner">
                {{gene.symbol}}
              </div>
            </div>

            <div class="title__vendors" *ngIf="gene.aliases.length !== 0">
              <ng-container
                *ngFor="let item of gene.aliases">
                <span class="alias">{{item}}</span>
              </ng-container>
            </div>

            <div class="title__updated">
              {{ timestamp | unixTimeFormatter | localizedDate:'d MMMM yyyy'}}
            </div>

          </div>
          <div class="col col-12 header__short-comment">
            <span class="str_source-GeneAge">
              {{gene.name}}
              <span *ngIf="isGeneCandidate" class="alias alias--small alias--warning"
              >{{ "gene_candidate" | translate }}
              </span>
            </span>
          </div>
          <div class="col col-12 header__functional-clusters">
            <ng-container *ngIf="gene.functionalClusters; else tagSkeletal">
              <ng-container *ngFor="let item of gene.functionalClusters">
                <span class="alias">{{item.name}}</span>
              </ng-container>
            </ng-container>
            <ng-template #tagSkeletal>
              <span class="alias __skeletal"></span>
              <span class="alias __skeletal"></span>
              <span class="alias __skeletal"></span>
              <span class="alias __skeletal"></span>
            </ng-template>
          </div>
        </div>
      </div>
    </section>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-2">
          <app-sidebar>
            <div class="__not-flex __w-100">
              <b>{{ 'gene_page_title_contents' | translate }}</b>

              <mat-nav-list *ngIf="isAnyContent">
                <a mat-list-item
                   *ngIf="gene.commentEvolution"
                   [routerLink]="['/gene', symbol]" fragment="evolution">
                  {{ 'gene_page_title_evolution' | translate }}
                </a>

                <a mat-list-item
                   *ngIf="gene.proteinDescriptionOpenGenes?.length !== 0"
                   [routerLink]="['/gene', symbol]" fragment="description-open-genes">
                  {{ 'gene_page_title_protein_description_og' | translate }}
                </a>

                <a mat-list-item
                   *ngIf="gene.proteinDescriptionUniProt?.length !== 0"
                   [routerLink]="['/gene', symbol]" fragment="description-uniprot">
                  {{ 'gene_page_title_protein_description_uniprot' | translate }}
                </a>

                <a mat-list-item
                   *ngIf="gene.expression.length !== 0"
                   [routerLink]="['/gene', symbol]" fragment="expression">
                  {{ 'gene_page_title_expression' | translate }}
                </a>

                <a mat-list-item
                   *ngIf="
                    gene.terms.biological_process.length >= 1 ||
                    gene.terms.cellular_component.length >= 1 ||
                    gene.terms.molecular_activity.length >= 1"
                   [routerLink]="['/gene', symbol]" fragment="terms">
                  Gene Ontology
                </a>

                <a mat-list-item
                   *ngIf="isHpa"
                   [routerLink]="['/gene', symbol]" fragment="human-protein-atlas">
                  Human Protein Atlas
                </a>
              </mat-nav-list>
            </div>
          </app-sidebar>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-8">
          <div class="page-wrapper">
            <section class="wrapper gene-page__age">
              <div class="gene-page__annotation">
                <div class="age__type age__phylogeny">
                  <div class="type__inner">
                    <div class="type__title col-5">
                      {{ 'phylogeny' | translate }}:
                    </div>

                    <div class="type__value">
                      <app-gene-age [gene]="gene" show="origin"></app-gene-age>
                    </div>
                  </div>

                  <div class="type__inner">
                    <div class="type__title  col-5">
                      {{ 'gene_page_researches_processes' | translate }}:
                    </div>

                    <div class="type__value">
                      <div class="cluster" *ngIf="gene.functionalClusters.length else noData">
                        <span
                          class="cluster__value"
                          *ngFor="let cluster of gene.functionalClusters">{{cluster.name}}</span>
                      </div>

                      <ng-template #noData>
                        {{'gene_page_no_data' | translate}}
                      </ng-template>
                    </div>
                  </div>

                  <div class="type__inner">
                    <div class="type__title  col-5">
                      {{ 'gene_page_title_criteria' | translate }}:
                    </div>

                    <div class="type__value">
                      <ul *ngIf="gene.commentCause.length !== 0 else noData"
                          class="cause list list--bulletted">
                        <!-- TODO: backend: return array of objects instead of object with objects -->
                        <li *ngFor="let cause of gene.commentCause | keyvalue">
                          {{cause.value}}
                        </li>
                      </ul>

                      <ng-template #noData>
                        {{'gene_page_no_data' | translate}}
                      </ng-template>
                    </div>
                  </div>

                  <div class="type__inner">
                    <div class="type__title  col-5">
                      {{ 'gene_page_researches_age_related_changes_human' | translate }}:
                    </div>

                    <div class="type__value">
                      {{ getExpressionLocaleKey(gene.expressionChange) | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="wrapper gene-page__age">
              <div class="age__types">
                <div class="age__type age__phylogeny">
                  <div class="type__inner">
                    <div class="type__title">
                      {{ 'origin' | translate }}

                      <span class="fa far fa-info-circle"
                            *ngIf="isUiHintsSettingOn"
                            (click)="onShowUiHints($event)"></span>

                    </div>
                    <div class="type__value">
                      {{ gene?.origin?.phylum || ('gene_page_no_data' | translate) }}
                    </div>
                    <div class="type__value">
                      {{ gene?.origin?.age }}
                      <small *ngIf="gene?.origin?.age">{{ 'million_years' | translate }}</small>
                    </div>
                  </div>
                  <div class="type__inner">
                    <div class="type__title">
                      {{ 'ncbi_homologs' | translate }}
                    </div>
                    <div class="type__value">
                      {{ gene.homologueTaxon || ('gene_page_no_data' | translate) }}
                    </div>
                  </div>
                </div>

                <div
                  *ngIf="isAnyOrtholog"
                  class="age__type age__orthologs"> <!-- TODO: отображается пустое, приходит {"":""} -->
                  <div class="type__inner">
                    <div class="type__title">
                      {{ "gene_page_title_orthologs" | translate }}
                    </div>

                    <ul class="list">
                      <ng-container *ngFor="let item of gene.orthologs | keyvalue">
                        <li *ngIf="item.value.length !== 0">
                          {{ item.key }} <span class="alias">{{ item.value }}</span>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </div>
              </div>
            </section>


            <section *ngIf="isNcbiDescription || isLocationData">
              <h3>{{ 'gene_page_title_description' | translate }}</h3>
              <article>
                <p *ngIf="isNcbiDescription"
                   [innerHTML]="gene.descriptionNCBI"></p>

                <!-- TEST TEXT for Terms-->
                <!-- <div appTermInfo>-->
                <!-- {{testText}}-->
                <!-- </div>-->

                <ul *ngIf="isLocationData"
                    class="list" >
                  <li
                    *ngIf="gene.band"
                  ><b>{{ 'gene_page_cytogenetic_band' | translate }}:</b> {{ gene.band }}</li>

                  <li
                    *ngIf="gene.locationStart"
                  ><b>{{ 'gene_page_location_start' | translate }}:</b> {{ gene.locationStart }}</li>

                  <li
                    *ngIf="gene.locationEnd"
                  ><b>{{ 'gene_page_location_end' | translate }}:</b> {{ gene.locationEnd }}</li>

                  <li
                    *ngIf="gene.orientation"
                  ><b>{{ 'gene_page_orientation' | translate }}:</b>

                    <ng-container
                      *ngIf="gene.orientation === 1; then plusStrand; else minusStrand"
                    ></ng-container>

                    <ng-template #plusStrand>
                      {{ 'gene_page_orientation_plus_strand' | translate }}
                    </ng-template>

                    <ng-template #minusStrand>
                      {{ 'gene_page_orientation_minus_strand' | translate }}
                    </ng-template>
                  </li>
                </ul>
              </article>
            </section>

            <section class="wrapper gene-page__articles">
              <div class="__w-100 articles__content"
                   *ngIf="isAnyContent;
                      else noContent">

                <section *ngIf="isAnyResearchFilled">
                  <h2 class="__mb-15">{{ 'gene_page_title_researches' | translate }}</h2>
                  <app-researches [researches]="gene.researches"></app-researches>
                </section>

                <section>
                  <h2 *ngIf="gene.commentEvolution || gene.proteinDescriptionUniProt"
                      class="__mb-15"
                  >{{ 'gene_page_title_summary' | translate }}</h2>

                  <ng-container *ngIf="gene.commentEvolution">
                    <h3>{{ 'gene_page_title_evolution' | translate }}</h3>
                    <article
                      id="evolution"
                      [innerHTML]="gene.commentEvolution | publicationLinksWrap: 'link'"
                    >
                    </article>
                  </ng-container>

                  <ng-container *ngIf="gene.proteinDescriptionOpenGenes?.length !== 0">
                    <h3>{{ 'gene_page_title_protein_description_og' | translate }}</h3>
                    <article
                      id="description-open-genes"
                      [innerHTML]="gene.proteinDescriptionOpenGenes | publicationLinksWrap: 'link'"
                    >
                    </article>
                  </ng-container>

                  <ng-container *ngIf="gene.proteinDescriptionUniProt?.length !== 0">
                    <h3>{{ 'gene_page_title_protein_description_uniprot' | translate }}</h3>
                    <article
                      id="description-uniprot"
                      [innerHTML]="gene.proteinDescriptionUniProt"
                    >
                    </article>
                  </ng-container>
                </section>

                <section
                  *ngIf="isAnyGoCategory"
                  id="terms"
                >
                  <h3 class="notranslate">Gene Ontology</h3>
                  <app-gene-ontology
                    [gene]="gene"
                    [process]="geneOntologyProcessMap"
                    [component]="geneOntologyComponentMap"
                    [activity]="geneOntologyActivityMap"
                  ></app-gene-ontology>
                </section>

                <section class="wrapper gene-page__expression"
                         *ngIf="gene.expression.length !== 0"
                         id="expression">
                  <app-expression
                    [gene]="gene"
                    [max]="expressionMaxValue"
                  ></app-expression>
                </section>

                <section class="wrapper" id="human-protein-atlas"
                         *ngIf="isHpa">
                  <h3 class="notranslate __mb-20">
                    {{'human_protein_atlas' | translate}}
                  </h3>
                  <app-human-protein-atlas
                    [gene]="gene"
                    [hpa]="gene.human_protein_atlas"
                  ></app-human-protein-atlas>
                </section>
              </div>

              <ng-template #noContent>
                <section class="col-12">
                  <app-no-content
                    [title]="'gene_page_error_no_article_yet'">
                    <ng-container icon>
                      <app-icon
                        icon="default"
                        size="custom"
                        customWidth="100%"
                        customHeight="100%"
                      ></app-icon>
                    </ng-container>
                  </app-no-content>
                </section>
              </ng-template>
            </section>
          </div>
        </div>
      </div>
    </div>

    <app-gene-reference class="__mt-30"
                        [gene]="gene"
    ></app-gene-reference>
  </div>
</div>

<ng-template #UiHints>
  <div class="term">
    <div class="term__header">
      <button mat-icon-button
              class="term__close-button"
              (click)="onCloseUiHints()"
              aria-label="Закрыть">
        <span class="fa fal fa-times"></span>
      </button>
    </div>
    <ng-container>
      <div class="term__description">
        <article>
          <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3812327/"
             class="link"
             target="_blank">DOI: 10.1016/j.tig.2013.07.001</a>
        </article>
      </div>
    </ng-container>
  </div>
</ng-template>

