<div class="page gene-page" *ngIf="gene; else loading">
  <div class="page__inner">
    <section class="wrapper gene-page__header">
      <div class="container">
        <div class="col col-16 header__title">
          <div class="title__caption">
            <div class="caption__inner">
              {{gene.symbol}}
            </div>
          </div>
          <div class="title__vendors">
            <a href="https://genomics.senescence.info/genes/entry.php?hgnc={{gene.symbol}}"
               target="_blank"
               title="{{ 'link_geneage' | translate }} ?>"
               class="badge __brand-color-geneage"
            >GeneAge</a>

            <a href="https://www.ncbi.nlm.nih.gov/gene/{{gene.entrezGene}}"
               target="_blank"
               title="{{ 'link_entrez' | translate }}"
               class="badge __brand-color-entrez"
            >EntrezGene</a>

            <a href="https://www.uniprot.org/uniprot/{{gene.uniprot}}"
               target="_blank"
               title="{{ 'link_uniprot' | translate }}"
               class="badge __brand-color-uniprot"
            >UniProt</a>
          </div>
        </div>
        <div class="col col-16 header__short-comment">
          <span class="str_source-GeneAge">
            {{gene.name}}
          </span>
        </div>
        <div class="col col-16 header__functional-clusters">
          <ng-container *ngIf="gene.functionalClusters; else tagSkeletal">
            <ng-container *ngFor="let item of gene.functionalClusters">
              <a routerLink="/" class="alias">{{item.name}}</a>
            </ng-container>
          </ng-container>
          <ng-template #tagSkeletal>
            <span class="alias __skeletal"></span>
            <span class="alias __skeletal"></span>
            <span class="alias __skeletal"></span>
            <span class="alias __skeletal"></span>
          </ng-template>
        </div>
      </div>
    </section>

    <section class="wrapper gene-page__age">
      <div class="container">
        <div class="col col-16 page__title">
          <h1>{{ 'age' | translate }}</h1>
        </div>
        <div class="col col-16">
          <div class="flex-subcontainer age__types">
            <div class="col col-4 __preserve-width age__type">
              <div class="type__inner">
                <div class="type__title">
                  {{ 'phylogeny' | translate }}
                </div>
                <div class="type__value">
                  {{ gene.origin.phylum || ('gene_page_origin_unknown' | translate) }}
                </div>
              </div>
            </div>

            <div class="col col-4 __preserve-width age__type">
              <div class="type__inner">
                <div class="type__title">
                  {{ 'age' | translate }}
                </div>
                <div class="type__value">
                  {{ gene.origin.age || ('age_unknown' | translate) }} <small>{{ 'million_years' | translate }}</small>
                </div>
              </div>
            </div>

            <a href="http://disgenet.org/browser/1/1/0/{{gene.entrezGene}}/"
               target="_blank"
               title="{{ 'gene_page_link_disgenet' | translate }}"
               class="col col-4 __preserve-width age__type age__diseases">
              <div class="type__inner">
                <div class="type__title">
                  {{ 'diseases' | translate }}
                </div>
                <div class="type__value">
                <span class="badge __brand-color-disgenet">
                    <span class="fa fal fa-stream"></span>
                  {{ 'gene_page_link_disgenet' | translate }}
                </span>
                </div>
              </div>
            </a>

            <a href="https://thebiogrid.org/search.php?search={{gene.symbol}}&organism=9606/"
               target="_blank"
               title="{{ 'gene_page_link_biogrid' | translate }}"
               class="col col-4 __preserve-width age__type age__interactions">
              <div class="type__inner">
                <div class="type__title">
                  {{ 'gene_page_title_interactions' | translate }}
                </div>
                <div class="type__value">
                <span class="badge __brand-color-biogrid">
                    <span class="fa fal fa-search"></span>
                  {{ 'gene_page_link_biogrid' | translate }}
                </span>
                </div>
              </div>
            </a>

            <div class="col col-7 __preserve-width __flex-auto age__type age__rating" *ngIf="gene.rating">
              <div class="type__title">
                {{ 'gene_page_title_criteria' | translate }}
                <small><sup>*</sup></small>
              </div>
              <div class="type__value">
              <span
                class="rating{{ (gene.rating > 5) ? 'rating--medium' : 'rating--high'}}">
                  {{gene.rating}}
              </span>
              </div>
              <div class="type__description">
                {{gene.rating}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <div class="wrapper gene-page__articles">
      <div class="container">
        <div class="col col-16 page__title">
          <h1>{{ 'gene_page_title_description' | translate }}</h1>
        </div>

        <div class="col col-16 articles__content" *ngIf="gene.aliases">
          <h3>{{ 'gebe_page_title_aliases' | translate }}</h3>
          <ng-container *ngFor="let item of gene.aliases">
            <span class="alias">{{item}}</span>
          </ng-container>
        </div>

        <div class="col col-16 articles__content"
             *ngIf="gene.commentEvolution ||
                    gene.commentFunction ||
                    gene.commentCause ||
                    gene.commentAging ||
                    gene.commentsReferenceLinks; else noContent">

          <mat-expansion-panel class="contents-list">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'gene_page_title_contents' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-nav-list>
              <a mat-list-item
                 *ngIf="gene.commentEvolution"
                 [routerLink]="['/gene', id]" fragment="evolution">
                {{ 'gene_page_title_evolution' | translate }}
              </a>

              <a mat-list-item
                 *ngIf="gene.commentFunction"
                 [routerLink]="['/gene', id]" fragment="function">
                {{ 'gene_page_title_function' | translate }}
              </a>

              <a mat-list-item
                 *ngIf="gene.commentCause"
                 [routerLink]="['/gene', id]" fragment="cause">
                {{ 'gene_page_title_criteria' | translate }}
              </a>

              <a mat-list-item
                 *ngIf="gene.commentAging"
                 [routerLink]="['/gene', id]" fragment="aging">
                {{ 'gene_page_title_aging' | translate }}
              </a>

              <a mat-list-item
                 *ngIf="gene.commentsReferenceLinks"
                 [routerLink]="['/gene', id]" fragment="reference">
                {{ 'gene_page_title_reference' | translate }}
              </a>
            </mat-nav-list>

          </mat-expansion-panel>


          <ng-container *ngIf="gene.commentEvolution">
            <h3>{{ 'gene_page_title_evolution' | translate }}</h3>
            <article id="evolution">
              {{gene.commentEvolution}}
            </article>
          </ng-container>

          <ng-container *ngIf="gene.commentFunction">
            <h3>{{ 'gene_page_title_function' | translate }}</h3>
            <article id="function">
              {{gene.commentFunction}}
            </article>
          </ng-container>

          <ng-container *ngIf="gene.commentCause">
            <h3>{{ 'gene_page_title_criteria' | translate }}</h3>
            <article id="cause">
              <ul class="list list--bulletted">
                <li *ngFor="let item of gene.commentCause">{{item}}</li>
              </ul>
            </article>
          </ng-container>

          <ng-container *ngIf="gene.commentAging">
            <h3>{{ 'gene_page_title_aging' | translate }}</h3>
            <article id="aging">
              {{gene.commentAging}}
            </article>
          </ng-container>

          <ng-container *ngIf="gene.commentsReferenceLinks">
            <article id="reference" class="js_article-reference">
              <ul class="list reference-list">
                <li *ngFor="let item of gene.commentsReferenceLinks | keyvalue">
                  <a href="https://doi.org/{{item.key}}"
                     target="_blank"
                     class="reference-link"
                     [innerHTML]="item.value | safe: 'html'"
                  ></a>

                </li>
              </ul>
            </article>
          </ng-container>
        </div>
        <ng-template #noContent>
          <section class="col col-16 no-content">
            <div class="no-content__icon no-content__icon-standard"></div>
            <div class="no-content__title">
              <div class="title__center">
                {{ 'gene_page_error_no_article_yet' | translate }}
              </div>
            </div>
          </section>
        </ng-template>
      </div>
    </div>

    <section class="wrapper gene-page__expression" *ngIf="gene.expression.length !== 0">
      <div class="container">
        <div class="col col-16">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'gene_page_title_expression' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="__mb-20">
              {{ 'gene_page_expression_hint' | translate }}
            </p>

            <div class="expression__rows">
              <ng-container *ngFor="let item of gene.expression">
                <div class="expression__row">
                  <div class="row__name">{{item.name}}</div>
                  <div class="row__value" [class.row__value--minimum]="item.exp_rpkm < 2">
                    <mat-progress-bar class="value__bar" [value]="item.exp_rpkm"></mat-progress-bar>
                    <div class="value__rpkm">{{item.exp_rpkm | number:'1.0-2'}} RPKM</div>
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </section>
  </div>
</div>

<ng-template #loading></ng-template>
