@import "../../styles";

article {
  ::ng-deep {
    figure {
      width: 100%;
      float: left;
      text-align: center;

      img {
        display: inline-block;
        width: 60%;
        height: auto;
      }
    }

    ul, ol, dl {
      @include list;
    }

    ul {
      @include ul;
    }

    dl {
      @include dl;
    }

    a {
      @include base-link;
      @include blue-link;
    }

    a[href^="#"] {
      @include anchor-link;
    }
  }
}