@import "../../styles";

:host {
  ::ng-deep figure {
    width: 100%;
    float: left;
    text-align: center;

    img {
      display: inline-block;
      width: 60%;
      height: auto;
    }
  }

  ul, ol, dl {
    @include list;
  }

  ul, ol {
    @include ul;
  }

  dl {
    @include dl;
  }
}