@import "../../styles";

.header {
  &__announcement {
    display: block;

    &::ng-deep .no-war-banner {
      width: 100%;
      font-size: $font-size;
      background: $color-black;
      color: $color-white;
      text-transform: uppercase;

      &::before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 14px;
        background: linear-gradient(180deg, #0057B8 50%, #FFD700 50%);
        margin-right: 1ch;
      }
    }

    @at-root :host-context(.app-header--fixed) & {
      display: none;
    }
  }
}
