.header {
  &__announcement {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $color-clickable-200;
    color: $color-clickable-500;
    font-size: $font-size-smaller;

    &:not(:empty) {
      height: $header-announcement-height;
    }

    &:empty {
      height: 0;
      overflow: hidden;
    }

    &::ng-deep .no-war-banner {
      width: 100%;
      font-size: $font-size;
      background: $color-black;
      color: $color-white;
      text-transform: uppercase;

      &::before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 14px;
        background: linear-gradient(180deg, #0057B8 50%, #FFD700 50%);
        margin-right: 1ch;
      }
    }
  }

  &--w-announcement {
    min-height: $header-height + $header-announcement-height;

    .header__centering {
      height: $header-height + $header-announcement-height;
    }

    .header__right {
      height: $header-height + $header-announcement-height;
    }
  }
}