@import 'src/assets/sass/sources/base/mixins';

.navigation-list {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;

  &__item {
    position: relative;
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 0 1px;

    .item__link {
      position: relative;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      min-width: 8ch;
      height: 100%;
      font-size: calc(0.1vw + #{$font-size-smaller});
      font-weight: $font-weight-regular;
      color: $color-black;
      padding: 0 calc(0.2vw + 4px);

      @include menu-item;
    }
  }
}