<ng-container *ngIf="geneProteinClasses && listLength !== 0; else noProteinClasses">
  <ng-container *ngIf="!isAccordion; else accordion">
    <ul class="list list--bulletted">
      <li *ngFor="let proteinClass of geneProteinClasses"
          [class.__active]="activeListItem.includes(proteinClass.id)"
          (click)="emitOnClick(proteinClass.id)">
        {{ proteinClass.name }}
      </li>
    </ul>
  </ng-container>

  <ng-template #accordion>
    <app-accordion
      class="protein-classes-accordion"
      [clickable]="false"
      [class.protein-classes-accordion--open]="isAccordionOpen"
      [isOpen]="isAccordionOpen"
    >
      <div class="protein-classes-accordion__header" accordion-header>
        <ul class="list list--bulletted">
          <li *ngFor="let proteinClass of geneProteinClasses | slice: 0:maxItemsToShow"
              [class.__active]="activeListItem.includes(proteinClass.id)"
              (click)="emitOnClick(proteinClass.id)">
            {{ proteinClass.name }}
          </li>
        </ul>
        <button (click)="toggleAccordion()"
                class="protein-classes-accordion__arrow"
        ><span class="fa far fa-chevron-down"></span>
        </button>
      </div>
      <div class="protein-classes-accordion__body" accordion-body>
        <ul class="list list--bulletted">
          <li *ngFor="let proteinClass of geneProteinClasses | slice: maxItemsToShow"
              [class.__active]="activeListItem.includes(proteinClass.id)"
              (click)="emitOnClick(proteinClass.id)">
            {{ proteinClass.name }}
          </li>
        </ul>
      </div>
    </app-accordion>
  </ng-template>
</ng-container>

<ng-template #noProteinClasses>
  <div class="no-protein-classes">
    {{ 'protein_classes_no_data' | translate }}
  </div>
</ng-template>
