@import "../../styles";
@import "styles/variables";
@import "styles/item";
@import "styles/table";
@import "styles/cards";

:host {
  display: block;
  margin-bottom: 20px;
}

.view-content {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px; // для кнопки подгрузки

  @include item;
  @include table;
  @include cards;

  &--as-table {
    display: block;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
  }

  &--as-cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-top: -10px;
  }
}

.view-panel {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  margin-bottom: 20px;

  &__filters {
    padding-right: 5px;
  }

  // You can switch the view only on the desktop.
  // On mobile, content always looks like cards.
  &__buttons {
    position: relative;
    padding-left: 5px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;

    button + button {
      margin-left: 10px;
    }

    @include resolution_smartphone-and-tablet {
      .toggler {
        display: none;
      }
    }
  }

  &__settings {
    mat-checkbox {
      display: flex;
      width: 100%;
    }

    mat-checkbox + mat-checkbox {
      margin-top: 5px;
    }
  }
}

