@import "../../styles";
@import "styles/variables";
@import "components/gene/styles/item";
@import "styles/table";

:host {
  display: block;
  margin-bottom: 20px;
}

.view-content {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px; // для кнопки подгрузки

  @include item;
  @include table;

  &--as-table {
    display: block;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
  }

  &--as-cards {
    $card-spacing: 20px;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-top: -#{$card-spacing};
  }
}

.view-panel {
  // You can switch the view only on the desktop.
  // On mobile, content always looks like cards.
  @include resolution_smartphone-and-tablet {
    .toggler {
      display: none;
    }
  }
}

.filters {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  align-content: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;

  & > * {
    display: contents;
  }
}

.genes-info {
  font-size: $font-size;
  color: $color-gray;
  display: block;
  width: 100%;

  &:not(:empty) {
    margin-bottom: 10px;
  }

  &__group {
    display: inline-block;
    margin-right: 20px;
    margin-top: .5em;
  }

  &__title {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}