<!-- Filters Panel -->
<div class="filters">
    <app-filter-panel
      *ngIf="showFiltersPanel"
      class="__mb-10"
      [isMobile]="isMobile"
      [isGoTermsMode]="isGoTermsMode"
      (sortItem)="sortBy($event)"
      (clearFilterItem)="clearFilters($event)"
    ></app-filter-panel>
    <app-search-view-panel
      [ngClass]="isGoTermsMode && searchedData?.length === 0 ? 'hidden' : ''"
      [isMobile]="isMobile"
      [downloadJsonLink]="downloadJsonLink"
      (tableView)="toggleGenesView($event)"
    ></app-search-view-panel>
</div>

<div *ngIf="searchedData?.length"
     class="genes-info">
  <div class="genes-info__group" *ngIf="foundAndNotFoundGenes?.found.length">
    <div class="genes-info__title">
      {{ 'items_found' | translate }} {{ foundAndNotFoundGenes?.found.length }}:
    </div>
    <ng-container
      *ngFor="let geneName of foundAndNotFoundGenes?.found; let last = last">
      <span class="alias">{{geneName}}</span>
    </ng-container>
  </div>
  <div class="genes-info__group" *ngIf="foundAndNotFoundGenes?.notFound.length">
    <div class="genes-info__title">
      {{ 'items_found' | translate }} {{ foundAndNotFoundGenes?.notFound.length }}:
    </div>
    <ng-container
      *ngFor="let geneName of foundAndNotFoundGenes?.notFound;  let last = last">
      <span class="alias">{{geneName}}</span>
    </ng-container>
  </div>
</div>

<!-- Content -->
<section
  *ngIf="searchedData?.length"
  class="view-content"
  [ngClass]="isTableView && !isMobile ? 'view-content--as-table' : 'view-content--as-cards'"
>
  <!-- Table view -->
  <ng-container *ngIf="isTableView && !isMobile">
    <table>
      <thead>
      <app-genes-table-header *ngIf="!isGoTermsMode"></app-genes-table-header>
      <app-genes-annotations-table-header
        *ngIf="isGoTermsMode && isGoSearchPerformed "></app-genes-annotations-table-header>
      </thead>

      <ng-container *ngIf="isGoTermsMode && isGoSearchPerformed ; else table">
        <app-gene-annotations-table-row
          *ngFor="let rowData of searchedData"
          [item]="rowData"
          [isAdded]="isFaved(rowData.id)"
          (unFav)="unFavItem($event)"
          (fav)="favItem($event)"
        >
        </app-gene-annotations-table-row>
      </ng-container>

      <ng-template #table>
        <app-gene-table-row
          *ngFor="let rowData of searchedData"
          [item]="rowData"
          [isAdded]="isFaved(rowData.id)"
          (unFav)="unFavItem($event)"
          (fav)="favItem($event)"
        >
        </app-gene-table-row>
      </ng-template>
    </table>
  </ng-container>

  <!-- Card view -->
  <ng-container *ngIf="!isTableView || isMobile">
    <ng-container *ngIf="isGoTermsMode && isGoSearchPerformed ; else card">
      <app-gene-annotations-card
        class="card"
        *ngFor="let rowData of searchedData"
        [item]="rowData"
        [isAdded]="isFaved(rowData.id)"
        (unFav)="unFavItem($event)"
        (fav)="favItem($event)"
      >
      </app-gene-annotations-card>
    </ng-container>

    <ng-template #card>
      <app-gene-card
        class="card"
        *ngFor="let rowData of searchedData"
        [item]="rowData"
        [isAdded]="isFaved(rowData.id)"
        (unFav)="unFavItem($event)"
        (fav)="favItem($event)"
      >
      </app-gene-card>
    </ng-template>
  </ng-container>
</section>

<!-- Show more Button -->
<div
  class="btn-wrap show-more"
  *ngIf="searchedData.length >= pagination?.pageSize && currentPage < pagination?.pagesTotal">
  <button (click)="loadMoreGenes()"
          class="btn show-more__button">
    {{ "show_more" | translate }}
  </button>
</div>

<ng-container *ngIf="isGoTermsMode; else geneSearchMode">
  <ng-container *ngIf="isGoSearchPerformed">
    <!-- GO search mode no content error message -->
    <ng-container *ngIf="!isLoading && searchedData?.length === 0">
      <app-no-content [title]="'nothing_found'">
        <ng-container icon>
          <app-icon icon="default" size="custom" customWidth="100%" customHeight="100%"></app-icon>
        </ng-container>
      </app-no-content>
    </ng-container>
  </ng-container>

  <!-- GO search mode start message -->
  <section *ngIf="!isGoSearchPerformed && !isLoading">
    <app-no-content [title]="'go_results_start_title'">
      <ng-container icon>
        <app-icon icon="default" size="custom" customWidth="100%" customHeight="100%"></app-icon>
      </ng-container>
      <ng-container description>
        <p>{{ "go_results_start_description" | translate }}</p>
      </ng-container>
    </app-no-content>
  </section>
</ng-container>

<ng-template #geneSearchMode>
  <ng-container *ngIf="!isLoading && searchedData?.length === 0">
    <app-no-content [title]="'nothing_found'">
      <ng-container icon>
        <app-icon icon="default" size="custom" customWidth="100%" customHeight="100%"></app-icon>
      </ng-container>
    </app-no-content>
  </ng-container>
</ng-template>

<app-spinner *ngIf="isLoading"
             description="{{ 'spinner_loading_genes' | translate }}"
></app-spinner>

