<!-- Search Bar -->
<ng-container *ngIf="showSearchBar">
  <app-search
    [genesList]="inputData"
    (isGoModeTriggered)="toggleGoSearchMode($event)"
    (genesListQuery)="updateGeneListOnSearch($event)"
    (goSearchQuery)="searchGenesByGoTerm($event)"
  ></app-search>
</ng-container>


<ng-container
  *ngIf="
    (isGoTermsMode && isGoSearchPerformed && !isGoTermsModeError) ||
    (!isGoTermsMode && searchedData?.length !== 0)">

  <!-- Filters Panel -->
  <ng-container *ngIf="showFiltersPanel">
    <app-filter-panel
      [isMobile]="isMobile"
      [isGoTermsMode]="isGoTermsMode"
      [downloadJsonLink]="downloadJsonLink"
      (tableView)="toggleGenesView($event)"
      (sortItem)="sortBy($event)"
      (clearFilterItem)="clearFilters($event)"
    ></app-filter-panel>
  </ng-container>


  <!-- Content -->
  <section
    class="view-content"
    [ngClass]="asTableRow && !isMobile ? 'view-content--as-table' : 'view-content--as-cards'">

    <!-- Table view -->
    <ng-container *ngIf="asTableRow && !isMobile">
      <table>
        <thead>
        <app-genes-table-header
          [isGoTermsMode]="isGoTermsMode">
        </app-genes-table-header>
        </thead>

        <app-gene-table-row *ngFor="let rowData of searchedData | slice: 0:loadedGenesQuantity"
                             [item]="rowData"
                             [isGoTermsMode]="isGoTermsMode"
                             [goModeCellData]="goModeCellData"
                             (expressionChangeId)="filterByExpressionChange($event)"
                             (funcClusterId)="filterByFuncClusters($event)"
                             (methylationChange)="filterByMethylationChange($event)"
                             (diseaseName)="filterByDisease($event)"
                             (diseaseCategories)="filterByDiseaseCategories($event)"
                             (selectionCriteria)="filterBySelectionCriteria($event)">
        </app-gene-table-row>

      </table>
    </ng-container>

    <!-- Card view -->
    <ng-container *ngIf="!asTableRow || isMobile">
      <app-gene-card class="card" *ngFor="let rowData of searchedData | slice: 0:loadedGenesQuantity"
                      [item]="rowData"
                      [isGoTermsMode]="isGoTermsMode"
                      [goModeCellData]="goModeCellData"
                      (expressionChangeId)="filterByExpressionChange($event)"
                      (funcClusterId)="filterByFuncClusters($event)"
                      (methylationChange)="filterByMethylationChange($event)"
                      (diseaseName)="filterByDisease($event)"
                      (diseaseCategories)="filterByDiseaseCategories($event)"
                      (selectionCriteria)="filterBySelectionCriteria($event)">

      </app-gene-card>
    </ng-container>
  </section>

  <!-- Show more Button -->
  <div
    class="btn-wrap show-more"
    *ngIf="searchedData?.length > loadedGenesQuantity">
    <button (click)="loadMoreGenes()"
            class="btn show-more__button">
      {{ "show_more" | translate }}
    </button>
  </div>

</ng-container>

<!-- No content error message -->
<section
  *ngIf="
    (isGoTermsMode && isGoSearchPerformed && !isLoaded && searchedData?.length == 0) ||
    (!isGoTermsMode && searchedData?.length == 0)">
  <app-no-content
    [title]="'nothing_found'">
    <ng-container icon>
      <app-icon
        icon="default"
        size="custom"
        customWidth="100%"
        customHeight="100%"
      ></app-icon>
    </ng-container>
  </app-no-content>
</section>

<!-- GO search mode start message -->
<section *ngIf="isGoTermsMode && !isGoSearchPerformed && !isLoaded">
  <app-no-content
    [title]="'go_results_start_typing'">
    <ng-container icon>
      <app-icon
        icon="default"
        size="custom"
        customWidth="100%"
        customHeight="100%"
      ></app-icon>
    </ng-container>
  </app-no-content>
</section>

<ng-container *ngIf="isGoTermsMode && isLoaded">
  <app-spinner></app-spinner>
</ng-container>



