<!-- Search Bar -->
<ng-container *ngIf="showSearchBar">
  <app-search
    [genesList]="inputData"
    (dataSourceChange)="updateGeneListOnTyping($event)"
    (isGoModeTriggered)="toggleGoSearchMode($event)"
    (isGoSearchTriggered)="searchGenesByGoTerm($event)"
  ></app-search>
</ng-container>


<ng-container
  *ngIf="
    (isGoTermsMode && isGoSearchPerformed && !isGoTermsModeError) ||
    (!isGoTermsMode && searchedData?.length !== 0)">

  <!-- Filters Panel -->
  <ng-container *ngIf="showFiltersPanel">
    <app-filter-panel
      [isMobile]="isMobile"
      [isGoTermsMode]="isGoTermsMode"
      [downloadJsonLink]="downloadJsonLink"
      (tableView)="toggleGenesView($event)"
      (sortItem)="sortBy($event)"
      (clearFilterItem)="clearFilters($event)"
    ></app-filter-panel>
  </ng-container>


  <!-- Content -->
  <section
    class="view-content"
    [ngClass]="asTableRow && !isMobile ? 'view-content--as-table' : 'view-content--as-cards'">

    <!-- Table view -->
    <ng-container *ngIf="asTableRow && !isMobile">
      <table>
        <thead>
        <app-genes-table-header
          [isGoTermsMode]="isGoTermsMode">
        </app-genes-table-header>
        </thead>

        <app-genes-table-row *ngFor="let rowData of searchedData | slice: 0:loadedGenesQuantity"
                             [item]="rowData"
                             [isGoTermsMode]="isGoTermsMode"
                             [goModeCellData]="goModeCellData"
                             (expressionChangeId)="filterByExpressionChange($event)"
                             (funcClusterId)="filterByFuncClusters($event)"
                             (methylationChange)="filterByMethylationChange($event)"
                             (diseaseName)="filterByDisease($event)"
                             (diseaseCategories)="filterByDiseaseCategories($event)"
                             (selectionCriteria)="filterBySelectionCriteria($event)">
        </app-genes-table-row>

      </table>
    </ng-container>

    <!-- Card view -->
    <ng-container *ngIf="!asTableRow || isMobile">
      <app-genes-card class="card" *ngFor="let rowData of searchedData | slice: 0:loadedGenesQuantity"
                      [item]="rowData"
                      [isGoTermsMode]="isGoTermsMode"
                      [goModeCellData]="goModeCellData"
                      (expressionChangeId)="filterByExpressionChange($event)"
                      (funcClusterId)="filterByFuncClusters($event)"
                      (methylationChange)="filterByMethylationChange($event)"
                      (diseaseName)="filterByDisease($event)"
                      (diseaseCategories)="filterByDiseaseCategories($event)"
                      (selectionCriteria)="filterBySelectionCriteria($event)">

      </app-genes-card>
    </ng-container>
  </section>

  <!-- Show more Button -->
  <div
    class="btn-wrap show-more"
    *ngIf="searchedData?.length > loadedGenesQuantity">
    <button (click)="loadMoreGenes()"
            class="btn show-more__button">
      {{ "show_more" | translate }}
    </button>
  </div>

</ng-container>

<!-- No content error message -->
<section
  *ngIf="
    (isGoTermsMode && isGoSearchPerformed && searchedData?.length == 0) ||
    (!isGoTermsMode && searchedData?.length == 0)"
  class="no-content">
  <div class="no-content__inner">
    <div class="no-content__icon no-content__icon-standard"></div>
    <div class="no-content__title">
      <div class="title__center">
        {{ "nothing_found" | translate }}
      </div>
    </div>
  </div>
</section>

<!-- GO search mode start message -->
<section *ngIf="isGoTermsMode && !isGoSearchPerformed" class="no-content">
  <div class="no-content__inner">
    <div class="no-content__icon no-content__icon-standard"></div>
    <div class="no-content__title">
      <div class="title__center">
        {{ "go_results_start_typing" | translate }}
      </div>
    </div>
  </div>
</section>


