<div class="toggle-content">
  <ng-container *ngFor="let item of toggleData">
    <div
      class="toggle-content__button"
      [class.toggle-content__button--active]="searchMode === item.searchMode"
      (click)="setSearchMode(item.searchMode)">
      <button>
        {{ item.toggleTitle | translate }}
      </button>
    </div>
  </ng-container>
  <div class="toggle-content__button">
    <a routerLink="/by-researches">
      {{ 'search_by_researches' | translate }}
      <span class="fa far fa-external-link"></span>
    </a>
  </div>
  <div class="toggle-content__button">
    <a routerLink="/horvath-clock">
      {{ 'search_genes_in_horvath_clock' | translate }}
      <span class="fa far fa-external-link"></span>
    </a>
  </div>
</div>

<div class="description">
  <ng-container *ngIf="searchMode === searchModeEnum.searchByGoTerms; else byGenes">
    <div class="description-content">
      <h2 >{{ 'search_for_go_terms_desc' | translate }}</h2>
    </div>
  </ng-container>
</div>

<ng-template #byGenes>
  <div class="description-content">
    <h2>{{(queryLength > 1 ? 'search_for_genes_by_list_desc' : 'search_for_genes_desc') | translate }}</h2>
    <p><span class="fa far fa-info-circle"></span> {{ 'search_for_genes_desc_hint' | translate }}</p>
  </div>
</ng-template>
