<div class="toggle-content">
  <div class="toggle-content__button"
       [class.isActive]='!isGoTermsMode'
      (click)="setGoSearchMode()">
    <button mat-menu-item>
      {{ 'search_for_genes' | translate }}
    </button>
  </div>

  <div class="toggle-content__button"
       [class.isActive]="isGoTermsMode"
       (click)="setGoSearchMode()">
    <button mat-menu-item>
      {{ 'search_for_go_terms' | translate }}
    </button>
  </div>
</div>

<div class="description">
  <div class="description-content"
    [class.hidden]="isGoTermsMode">
    <span>{{ 'search_for_genes_desc' | translate }}</span>
  </div>
  <div class="description-content"
    [class.hidden]="!isGoTermsMode">
    <span>  {{ 'search_for_go_terms_desc'  | translate }}</span>
  </div>
</div>