@import "../../../../../styles";

@mixin item {
  .item {
    animation: fadeIn .5s linear forwards; // при рендеринге/подгрузке элемент мингнет

    .title {
      font-size: calc(0.1vw + #{$font-size});
      font-weight: $font-weight-medium;
      line-height: 1;

      .link {
        vertical-align: middle;
        margin-right: 5px;
      }

      .alias {
        vertical-align: baseline;
        margin-bottom: 0;
      }
    }

    b {
      color: $color-black;
      font-weight: bold;
    }

    .actions__menu {
      position: absolute;
      z-index: 1;
      right: 5px;
    }
  }
}
