@import "../../../../../styles";

@mixin table-row {
  $color-icon: #FDB338;
  .add-favorites {
    padding: 0 10px 0 0;

    i {
      color: $color-icon;
    }
  }
  :host {
    display: table-row-group;
    width: 100%;
    background: $color-white;

    &:nth-child(odd) {
      background: $color-general-light;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .cell {
    position: relative;
    padding: 8px;
    vertical-align: top;
    word-break: keep-all;
    hyphens: auto;

    &--age {
      .overflow {
        width: 180px;
      }
    }

    &--expression {
      .overflow {
        width: 100px;
      }
    }

    &--name,
    &--diseases,
    &--functions,
    &--criteria,
    &--mechanisms,
    &--methylation {
      .overflow {
        width: 220px;
      }
    }

    &--terms {
      .overflow {
        max-width: 500px;
      }
    }

    &--actions {
      .cell__menu {
        top: 0;
      }

      .overflow {
        float: right;
        width: 40px;
        text-align: right;
      }
    }
  }
}