<div class="container">
    <div class="timelime"  *ngFor="let gene of groups">
      <div class="timelime__month">
        <div class="timelime__month__line"></div>
        <div class="timelime__month__number">{{ gene.time | slice:0:6}}</div>
        <div class="timelime__month__line"></div>
      </div>
      <div class="timelime__card" *ngFor="let g of gene.genes | slice: 0:counter">
        <div class="timelime__card__item">
          {{ g.symbol }}
        </div>
        <div class="timelime__card__item link link--gray"  [routerLink]="['/gene/', g.id]">
          {{ g.name }}
        </div>
      </div>
      <div class="timelime__year">
        <div class="timelime__year__line"></div>
        <div class="timelime__year__number">{{ gene.time | slice:7:-1 }}</div>
        <div class="timelime__year__line"></div>
      </div>
    </div>
    <div class="show-more">
      <button (click)="showMore()" class="show-more__button">Показать ещё</button>
    </div>
</div>