<div class="page about-page">
  <div class="page__inner">
    <div class="about-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters header__centering">
          <div class="col header__image __only-on-desktop">
            <img src="/assets/images/landing-shapes.svg" alt="Обложка">
          </div>
          <div class="col header__text">
            <h1>
              {{ 'about_page_title' | translate }}
            </h1>
            <p>{{ 'about_page_subtitle' | translate }}</p>

            <button routerLink="/">
              {{ 'about_page_button' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="about-page__about wrapper">
      <div class="container-fluid">
        <div class="panel panel--w-shadow">
          <div class="row no-gutters">
            <div class="col-12 col-lg-6">
              <h2>
                  {{ "about_page_about_section_title" | translate }}
              </h2>
            </div>
            <div class="col-12 col-lg-6">
              <article>
                <p>
                  {{ 'about_page_about_section_desc1' | translate }}
                </p>
                <p>
                  {{ 'about_page_about_section_desc2' | translate }}
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-page__features wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <h2 class="col-12 features__title">
            {{ 'about_page_why_section_title' | translate }}
          </h2>

          <div class="col-12 features __mt-35">
            <div class="row no-gutters">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature">
                {{ 'about_page_why_section_1' | translate }}
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 feature">
                {{ 'about_page_why_section_3' | translate }}
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                {{ 'about_page_why_section_4' | translate }}
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                {{ 'about_page_why_section_5' | translate }}
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                {{ 'about_page_why_section_6' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-page__contribute wrapper">
      <div class="container-fluid contribute">
        <div class="row no-gutters">
          <h2 class="col-12 contribute__title">
            {{ 'about_page_contribute_title' | translate }}
          </h2>

          <div *ngIf="isDonationEnabled"
               class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contribute__section contribute__donate">
            <h3 class="section__title donate__title">
              <span class="fa fal fa-donate"></span>
              {{ 'about_page_donation_title' | translate }}
            </h3>

            <div class="section__description">
              <p>
                {{ 'about_page_donation_text' | translate }}
              </p>
            </div>

            <div class="section__buttons">
              <a mat-flat-button
                 color="secondary"
                 href="https://donorbox.org/open-genes"
                 target="_blank"
              >{{ 'about_page_donation_button' | translate }}</a>
            </div>
          </div>

          <div *ngIf="translate.currentLang==='ru'"
               class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contribute__section contribute__biology">
            <h3 class="section__title biology__title">
              <span class="fa fal fa-dna"></span>
              Биология
            </h3>

            <div class="section__description">
              <p>
                Open Genes нужны специалисты в&nbsp;области молекулярной эволюции и&nbsp;филогенетики для добавления данных из&nbsp;исследований
              </p>
            </div>

            <div class="section__buttons">
              <a mat-flat-button
                 color="secondary"
                 href="https://blastim.ru/job/3273/"
                 target="_blank"
              >Смотреть вакансию</a>
            </div>
          </div>

          <div class="col contribute__section contribute__participate">
            <h3 class="section__title participate__title">
              <span class="fa fal fa-users"></span>
              {{ 'about_page_participation_title' | translate }}
            </h3>

            <div class="section__description">
              <p>
                {{ 'about_page_participation_text' | translate }}
              </p>
            </div>

            <div class="section__buttons">
              <a mat-flat-button
                 color="secondary"
                 href="https://github.com/open-genes"
                 target="_blank"
              >{{ 'about_page_participation_button' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-page__compare wrapper">
      <div class="container-fluid compare">
        <div class="row no-gutters">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 compare-block__top">
            <div class="compare-block__header">
              <h2 class="compare-block__title">
                {{ 'about_page_curated_section_title' | translate }}
              </h2>

              <p class="compare-block__text">
                {{ 'about_page_curated_section_subtitle' | translate }}
              </p>
            </div>

            <div class="compare-block__footer">
              <p>
                <a class="link link--white link--underline"
                   routerLink="/help"
                >{{ 'about_page_faq' | translate }}
                </a>
              </p>
              <p>
                {{ 'about_page_example' | translate }}
                <a class="link link--white link--underline"
                   routerLink="/help"
                >{{ 'about_page_question_link' | translate }}
                </a>
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 compare-block__bottom">
            <div class="screenshot __only-on-desktop">
              <img src="/assets/images/appscreenshot.png"
                   alt="Screenshot"></div>
            <div class="row no-gutters description__wrapper">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 description">
                <h4 class="description__title">
                  {{ 'about_page_features_1_title' | translate }}
                </h4>
                <p class="description__text">
                  {{ 'about_page_features_1_desc' | translate }}
                </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 description">
                <h4 class="description__title">
                  {{ 'about_page_features_2_title' | translate }}
                </h4>
                <p class="description__text">
                  {{ 'about_page_features_2_desc' | translate }}
                </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 description">
                <h4 class="description__title">
                  {{ 'about_page_features_3_title' | translate }}
                </h4>
                <p class="description__text">
                  {{ 'about_page_features_3_desc' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
