<div class="page about-page">
  <div class="page__inner">
    <div class="about-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters header__centering">
          <div class="col header__image __only-on-desktop">
            <img src="/assets/images/landing-shapes.svg" alt="Обложка">
          </div>
          <div class="col header__text">
            <h1>
              Открытые данные о&nbsp;связи генов и&nbsp;старения
            </h1>
            <p>
              Мы даем исследователям в&nbsp;области генетики старения и&nbsp;связанных с&nbsp;ним
              процессов возможность строить гипотезы, <br>используя проверенные данные,
              и&nbsp;предоставляем необходимые инструменты.
            </p>

            <button routerLink="/">
              Начать поиск
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="about-page__about wrapper">
      <div class="container-fluid">
        <div class="panel panel--w-shadow">
          <div class="row no-gutters">
            <div class="col-12 col-lg-6">
              <h2>
                Open Longevity Genes&nbsp;&mdash; это база данных генов человека,
                ассоциированных со&nbsp;старением и&nbsp;продолжительностью жизни.
              </h2>
            </div>
            <div class="col-12 col-lg-6">
              <article>
                <p>
                  Одной из задач, стоящих перед исследователями, является хранение информации.
                  Когда речь идет о&nbsp;биологических базах данных, часто подразумевают целый комплекс программных
                  решений для хранения, сбора, добавления, курирования и&nbsp;представления данных.
                </p>

                <p>
                  На сегодняшний день можно насчитать тысячи известных биологических баз данных.
                  Биологических база данных старения, однако, не так много.
                  Поэтому му занимаемся разработкой базы данных генов человека, связанных со старением.
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-page__features wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-12">
            <h2>
              Чего нам не&nbsp;хватает в&nbsp;существующих базах генов
            </h2>
          </div>
          <div class="col-12 features __mt-35">
            <div class="row no-gutters">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                Полной структурированной информации об&nbsp;изменениях работы генов, продлевающих жизнь млекопитающим
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                Информации об аллельных вариантах генов, ассоциированных с долголетием у людей
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                Полной информации о&nbsp;возрастных среднепопуляционных изменениях экспрессии гена по&nbsp;тканям у &nbsp;человека и&nbsp;животных
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                Наиболее полных данных об эволюционной истории гена
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                Представления списка всех генов и&nbsp;их основных характеристик в одном месте
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 feature">
                Возможности группировать и&nbsp;сравнивать гены по разным критериям и&nbsp;их сочетаниям;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-page__compare wrapper">
      <div class="container-fluid compare">
        <div class="row no-gutters">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 compare-block-top">

            <div class="compare-block-title">
              <h1 class="title">
                Курируемая база данных
              </h1>

              <p class="compare-block-text">
                Биологи вручную собирают информацию об&nbsp;эволюции гена, его функциях, а&nbsp;также методах
                определения ассоциации гена со&nbsp;старением и&nbsp;продолжительностью жизни.
              </p>
            </div>

            <div class="compare-block-footer">
              <p>
                <a class="link link--white link--underline"
                   routerLink="/help"
                >Частые вопросы
                </a>
              </p>
              <p>
                Например:
                <a class="link link--white link--underline"
                   routerLink="/help"
                >Критерии отбора генов в&nbsp;базу
                </a>
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 compare-block-bottom">
            <div class="screenshot __only-on-desktop">
              <img src="/assets/images/appscreenshot.png"
                   alt="Screenshot"></div>
            <div class="row no-gutters description__wrapper">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 description">
                <h4 class="description__title">Исследуйте</h4>
                <p class="description__text">
                  Мы собрали данные о&nbsp;генах человека, ассоциированных со&nbsp;старением и&nbsp;о том, в какие процессы
                  вовлечены их проудкты.
                </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 description">
                <h4 class="description__title">Сравнивайте</h4>
                <p class="description__text">
                  Сранвивайте гены по функциям, экспрессии, эволюционному возрасту, смотрите связи с другими генами при
                  помощи GO.
                </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 description">
                <h4 class="description__title">Выгружайте</h4>
                <p class="description__text">
                  Работайте со&nbsp;всеми собранными и&nbsp;добавленными данными через веб-интерфейс и&nbsp;API.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
