@import '../styles';

:host {
  display: inline-block;
}

.signin-button {
  @include close-button(10px, 50%);
}

.header__menu {
  height: 100%;
  width: 100%;
  color: $color-borders;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba($color-general-dark, 0.15);
}

.menu__panel {
  height: 100%;
  padding: 0 0 30px 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: $color-white;
  box-shadow: -1px 0 4px 0 rgba(5, 5, 5, 0.3);

  @include resolution_tablet-and-up {
    width: 320px;
  }
  @include resolution_smartphone {
    width: 260px;
  }

  .panel__header {
    width: 100%;
    height: $header-height;
    background-color: $color-general-light;
    margin-bottom: 15px;
  }

  .menu__links {
    width: 100%;
    padding: 0 20px;

    .menu__link {
      font-size: $font-size-bigger;
      font-weight: $font-weight-medium;

      &,
      a {
        display: block;
        width: 100%;
        position: relative;
      }

      a {
        border-radius: $border-radius-medium;
        padding: 12px 30px 12px 10px;

        .fa {
          margin-right: 5px;
        }

        &:link,
        &:visited {
          color: $color-black;
        }

        &:hover {
          color: rgba($color-general, 0.85);
          background-color: rgba($color-general, 0.08);
        }

        &:active {
          color: rgba($color-general, 0.75);
          background-color: rgba($color-general, 0.15);
        }

        &.current {
          color: $color-general;
          background-color: rgba($color-general, 0.15);
        }
      }
    }

    .menu__link + .menu__link {
      margin-top: 4px;
    }
  }
}
