@import '../styles';

:host {
  display: inline-block;
}

.burger-button {
  @include close-button(10px, 50%);

  .fa {
    position: relative;
  }

  &__update-marker {
    position: absolute;
    right: -4px;
    bottom: -2px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-red;
    border: 2px solid $color-white;
  }
}

.header__menu {
  height: 100%;
  width: 100%;
  color: $color-borders;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba($color-general-dark, 0.15);
}

.menu__panel {
  height: 100%;
  padding: #{$header-height + 15px} 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: $color-white;
  box-shadow: -1px 0 4px 0 rgba(5, 5, 5, 0.3);

  @include resolution_tablet-and-up {
    width: 320px;
  }
  @include resolution_smartphone {
    width: 260px;
  }

  .panel__header,
  .panel__footer {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;
    height: $header-height;
  }

  .panel__header {
    display: block;
    top: 0;
    background-color: $color-general-light;
  }

  .panel__links {
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0 15px 0 10px;
    overflow: auto;

    .panel__link {
      display: block;
      width: 100%;
      font-size: $font-size-bigger;
      font-weight: $font-weight-medium;
      margin: 2px 0;

      a {
        position: relative;
        display: flex;
        border-radius: $border-radius-medium;
        padding: 12px 10px 10px;
        transition: background .25s linear;

        .fa {
          margin: 2px 8px 0 0;
        }

        &:link,
        &:visited {
          color: $color-black;
        }

        &:hover {
          color: rgba($color-general, 0.85);
          background: rgba($color-general, 0.08);
        }

        &:active {
          color: rgba($color-general, 0.75);
          background: rgba($color-general, 0.15);
        }

        &.current {
          color: $color-general;
          background: rgba($color-general, 0.15);
        }
      }

      &--emphasized {
        a {
          &:not(:hover, :active, .current) {
            color: $color-white;
            background: linear-gradient(to right, darken(#FFAC5F, 10%) 0%, #FFC769 100%);
          }
        }
      }
    }

    .menu__link + .menu__link {
      margin-top: 4px;
    }
  }

  .panel__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: $color-black;
    font-size: $font-size-bigger;
    font-weight: $font-weight-medium;
    color: $color-white;

    .fa {
      margin-right: .3em;
    }
  }
}
