<button mat-icon-button
        class="signin-button"
        (click)="toggleMenu()"
        [class.active]="isMenuVisible"
        aria-label="Меню">
  <span *ngIf="!isMenuVisible"
  class="fa fal fa-bars"></span>
  <span *ngIf="isMenuVisible"
    class="fa fal fa-times"></span>
  <!-- TODO: use MatIconRegistry to use icon set -->
</button>

<div class="header__menu"
     (click)="toggleMenu()"
     *ngIf="isMenuVisible">
  <div appSwipeHorizontal
       (OnSwipeRight)="toggleMenu()"
       class="menu__panel">
    <div class="panel__header">
    </div>

    <ul class="menu__links">
      <li class="menu__link">
        <a [routerLink]="'/about'"
           routerLinkActive="current"
        >
          <span class="fa far fa-dna"></span>
          {{ 'header_menu_about' | translate }}</a>
      </li>
      <li class="menu__link">
        <a [routerLink]="'/help'"
           routerLinkActive="current"
        >
          <span class="fa far fa-question-circle"></span>
          {{ 'header_menu_help' | translate }}</a>
      </li>
      <li class="menu__link">
        <a [routerLink]="'/favourites'"
           routerLinkActive="current"
        >
          <span class="fa far fa-star"></span>
          <span
            [matBadge]="favsCounter"
            [matBadgeHidden]="favsCounter === '0'"
            matBadgeColor="accent"
            matBadgeOverlap="false"
          >{{ 'header_menu_favourites' | translate }}</span>
        </a>
      </li>
      <li class="menu__link">
        <a [routerLink]="'/news'"
           routerLinkActive="current"
        >
          <span class="fa far fa-book"></span>
          {{ 'header_menu_news' | translate }}</a>
      </li>
      <li class="menu__link">
        <a [routerLink]="'/developers'"
           routerLinkActive="current"
        >
          <span class="fa far fa-database"></span>
          {{ 'header_menu_api' | translate }}</a>
      </li>
    </ul>
  </div>
</div>

