<button mat-icon-button
        class="burger-button"
        (click)="toggleMenu()"
        [class.active]="isMenuVisible"
        aria-label="Меню">
  <span *ngIf="!isMenuVisible"
        class="fa fal fa-bars">
        <span *ngIf="favsCounter !== '0'"
              class="burger-button__update-marker"
        ></span>
  </span>
  <span *ngIf="isMenuVisible"
    class="fa fal fa-times"></span>
  <!-- TODO: use MatIconRegistry to use icon set -->
</button>

<div class="header__menu"
     (click)="toggleMenu()"
     *ngIf="isMenuVisible">
  <div appSwipeHorizontal
       (OnSwipeRight)="toggleMenu()"
       class="menu__panel">
    <div class="panel__header">
    </div>

    <ul class="panel__links">
      <li class="panel__link">
        <a [routerLink]="'/about'"
           routerLinkActive="current"
        >
          <span class="fa far fa-dna"></span>
          {{ 'header_menu_about' | translate }}</a>
      </li>
      <li class="panel__link">
        <a [routerLink]="'/help'"
           routerLinkActive="current"
        >
          <span class="fa far fa-question-circle"></span>
          {{ 'header_menu_help' | translate }}</a>
      </li>
      <li class="panel__link panel__link--emphasized">
        <a [routerLink]="'/by-researches'"
           routerLinkActive="current"
        >
          <span class="fa far fa-search"></span>
          {{ 'search_by_researches' | translate }}</a>
      </li>
      <li class="panel__link">
        <a [routerLink]="'/favourites'"
           routerLinkActive="current"
        >
          <span class="fa far fa-star"></span>
          <span
            [matBadge]="favsCounter"
            [matBadgeHidden]="favsCounter === '0'"
            matBadgeColor="accent"
            matBadgeOverlap="false"
          >{{ 'header_menu_favourites' | translate }}</span>
        </a>
      </li>
      <li class="panel__link">
        <a [routerLink]="'/news'"
           routerLinkActive="current"
        >
          <span class="fa far fa-book"></span>
          {{ 'header_menu_news' | translate }}</a>
      </li>
      <li class="panel__link">
        <a href="/api/docs"
           target="_blank">
          <span class="fa far fa-database">
          </span> {{ 'header_menu_api' | translate }}&nbsp;<span class="fa far fa-external-link"></span>
        </a>
      </li>
      <li class="panel__link">
        <a [routerLink]="'/download'"
           routerLinkActive="current">
          <span class="fa far fa-download">
          </span> {{ 'header_menu_download' | translate }}
        </a>
      </li>
      <li class="panel__link">
        <a [routerLink]="'/settings'"
           routerLinkActive="current"
        >
          <span class="fa far fa-cog"></span>
          {{ 'header_menu_settings' | translate }}</a>
      </li>
      <li class="panel__link">
        <a [routerLink]="'/contributors'"
           routerLinkActive="current"
        >
          <span class="fa far fa-users"></span>
          {{ 'header_menu_contributors' | translate }}</a>
      </li>
      <li class="panel__link">
        <a [routerLink]="'/diagrams'"
           routerLinkActive="current"
        >
          <span class="fa far fa-chart-network"></span>
          {{ 'header_menu_diagrams' | translate }}</a>
      </li>
      <li class="panel__link">
        <a [routerLink]="'/timeline'"
           routerLinkActive="current"
        >
          <span class="fa far fa-clock"></span>
          {{ 'header_menu_timeline' | translate }}</a>
      </li>
    </ul>

    <a class="panel__footer"
       href="https://github.com/orgs/open-genes/projects/5"
       target="_blank">
      <span class="fa fab fa-github"></span>&nbsp;{{ "header_menu_request_feature" | translate }}
    </a>
  </div>
</div>

