@import '../styles';

:host {
  display: inline-block;
}

.burger-button {
  @include close-button(10px, 50%);

  .fa {
    position: relative;
    color: $color-general;
  }

  &__update-marker {
    position: absolute;
    right: -4px;
    bottom: -2px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-red;
    border: 2px solid $color-white;
  }
}

.header__menu {
  height: 100%;
  width: 100%;
  color: $color-borders;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba($color-general-dark, 0.15);
}

.menu__panel {
  height: 100%;
  padding: #{$header-height + 15px} 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: $color-white;
  box-shadow: -1px 0 4px 0 rgba(5, 5, 5, 0.3);

  @include resolution_tablet-and-up {
    width: 320px;
  }
  @include resolution_smartphone {
    width: 260px;
  }

  .panel__header,
  .panel__footer {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;
  }

  .panel__header {
    display: flex;
    align-items: center;
    height: $header-height;
    top: 0;
    background-color: $color-white;
    padding-right: 60px;
  }

  .panel__links {
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0 15px 0 10px;
    overflow: auto;

    .panel__separator,
    .panel__link {
      display: block;
      width: 100%;
    }

    .panel__separator {
      height: 1px;
      background-color: $color-borders;
      margin: 8px 0;
    }

    .panel__link {
      font-size: $font-size;
      font-weight: $font-weight-medium;
      margin: 2px 0;

      a {
        // TODO: replace all icons here with app-icon component
        .icon {
          position: relative;
        }
        .fa.icon {
          margin-right: 8px;
          top: 3px;
        }
        app-icon.icon {
          margin-right: 1px;
          left: -1px;
        }

        @include menu-item;
      }

      &--emphasized {
        a {
          &:not(:hover, :active, .__current) {
            color: $color-orange-400;
            background-color: $color-orange-100;
          }
        }
      }
    }
  }

  .panel__header .panel__links {
    display: inline-block;
    height: auto;
    width: auto;

    .panel__link a {
      min-width: 130px;
      &:not(:hover, :active, .__current) {
        box-shadow: $box-shadow-to-bottom;
      }
    }
  }

  .panel__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: $header-height;
    bottom: 0;
    background-color: $color-black;
    font-size: $font-size-bigger;
    font-weight: $font-weight-medium;
    color: $color-white;

    .fa {
      margin-right: .3em;
    }
  }
}
