@import "src/app/components/styles";

.page.contributors-page {
  .text-page__header {
    color: $color-white;
    background: linear-gradient(90deg, #91cefd, #9bb5fa 20%, #a4a4f7 40%, #c2adf5 60%, #d9b5f3 80%, #ebbdf2);
  }

  .page__inner .page__title h1 {
    color: $color-white;
  }
}

.contributors-block {
  text-align: center;
}
.contributor {
  display: inline-block;
  margin: calc(.5em + 1vw);
  font-size: $font-size-huge;
}