@import "src/app/components/styles";

.page.contributors-page {
  color: $color-white;
  background: linear-gradient(90deg, #91cefd, #9bb5fa 20%, #a4a4f7 40%, #c2adf5 60%, #d9b5f3 80%, #ebbdf2);

  .text-page__header {
    background-color: transparent;
  }

  .page__inner .page__title h1 {
    color: $color-white;
  }
}

.contributors-block {
  text-align: center;
}
.contributor {
  display: inline-block;
  margin: calc(1em + 0.3vw);
  font-weight: $font-weight-medium;
}