<div *ngIf="res"
     class="page text-page contributors-page">
  <div class="page__inner __pb-120">
    <div class="wrapper text-page__header">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1>{{ 'contributors_page_title' | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row no-gutters">
        <app-skeleton
          *ngIf="showSkeletonChange | async"
          [view]="'card'"
          [groups]="3"
        ></app-skeleton>
        <div class="col col-12">
          <article *ngIf="!(showSkeletonChange | async)"
                   [innerHTML]="res?.content.rendered | safe: 'html'"></article>
        </div>
      </div>
    </div>
  </div>
</div>

