.__text-left {
  text-align: left;
}

.__text-center {
  text-align: center;
}

.__text-right {
  text-align: right;
}

$sizes: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60);

@each $size in $sizes {
  .__m-#{$size} {
    margin: #{$size}px !important;
  }
  .__mt-#{$size} {
    margin-top: #{$size}px !important;
  }
  .__mb-#{$size} {
    margin-bottom: #{$size}px !important;
  }
}

@each $size in $sizes {
  .__p-#{$size} {
    margin: #{$size}px !important;
  }
  .__pt-#{$size} {
    margin-top: #{$size}px !important;
  }
  .__pb-#{$size} {
    margin-bottom: #{$size}px !important;
  }
}

.__w-100 {
  width: 100%;
}

// фикс для таблиц и другуго контента, который расширяет страницу
// TODO: замедляет рендеринг
.__w-content {
  @include resolution_widescreen {
    max-width: calc(100vw - ((#{$widescreen} / 12) * 3) - #{$gutter});
  }

  @include resolution_desktop {
    max-width: calc(100vw - #{$gutter});
  }

  @include resolution_smartphone-and-tablet {
    max-width: calc(100vw - #{$gutter});
  }
}

.__not-flex {
  flex: none;
}

.__nowrap {
  white-space: nowrap;
}

.__mb-btm {
  @include resolution_smartphone {
    order: 2;
  }
}

@include resolution_desktop-and-up {
  .__only-on-mobile {
    display: none !important;
  }
}

@include resolution_smartphone-and-tablet {
  .__only-on-desktop {
    display: none !important;
  }
}
