<div class="chromosome-location">
  <div class="chromosome-location__title">
    {{ 'gene_page_chromosome_location_title' | translate }}
    <span>{{location.band}}
      <app-info-button (click)="showMoreDetails('Gene location', null, geneLocationTempl)"></app-info-button>
    </span>
  </div>
  <div class="chromosome-location__body">
    <div class="description">
      <div class="description__svg">
        <svg width="27" height="114" viewBox="0 0 27 114" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0 10C0 4.47715 4.47715 0 10 0H17C22.5228 0 27 4.47715 27 10V42C27 45.2716 25.4289 48.1763 23 50.0007V55.7993C25.4289 57.6237 27 60.5284 27 63.8V104C27 109.523 22.5228 114 17 114H10C4.47715 114 0 109.523 0 104V63.8C0 60.0986 2.01099 56.8669 5 55.1378V50.6622C2.01099 48.9331 0 45.7014 0 42V10Z"
                fill="#EEEFFC"/>
          <rect width="27" height="7" fill="#555FD5" [attr.y]="bandTranscript.position"/>
        </svg>
      </div>

      <div class="description__info">
        <span>p short arm</span>
        <span>c centromere</span>
        <span>q long arm</span>
      </div>
    </div>
    <div class="info">
      <ul>
        <li>
          <span>{{'gene_page_chromosome_location_gene_length' | translate}}</span>
          <span>
            <app-info-button (click)="showMoreDetails('Gene length', null, geneLengthTempl)"></app-info-button>
          </span>
        </li>
        <li>
          <span>{{'gene_page_chromosome_location_start' | translate}}</span>
          <span>{{location.locationStart}}</span>
        </li>
        <li>
          <span>{{'gene_page_chromosome_location_end' | translate}}</span>
          <span>{{location.locationEnd}}</span>
        </li>
        <li>
          <span>{{'gene_page_chromosome_location_orientation' | translate}}</span>
          <span>{{(+location.orientation === 1 ? 'gene_page_orientation_plus_strand' : 'gene_page_orientation_minus_strand') | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="chromosome-location__buttons">
    <span>OPEN ON ENSEMBLE</span>
    <span>SHOW TRANSCRIPTS</span>
  </div>
</div>

<ng-template #geneLocationTempl>
 <p>{{geneSymbol}} is {{geneLength}}kb length. It is located on {{bandTranscript.arm}} of {{bandTranscript.chromosome}}th chromosome</p>
</ng-template>

<ng-template #geneLengthTempl>
  <p>{{geneSymbol}} is {{geneLength}}kb length. Genes are divided into short, midlength, and long groups.</p><br>
  <p>The length of short, midlength, and long genes are <15kb, 15kb-100kb, and >100kb, respectively.</p><br>
  <p>{{geneSymbol}} is classified as {{lengthText}}</p>
</ng-template>