@import "../../../styles";

:host {
  display: inline-block;
  vertical-align: middle;

  .info-icon {
    $icon-size: 14px;
    display: block;
    width: $icon-size;
    height: $icon-size;
    background-color: $color-general-200;
    transition: background-color .15s linear;
    border-radius: 50%;
    line-height: $icon-size - 2;
    text-align: center;
    color: $color-general;
    font-weight: bold;
    font-size: 8px;
    cursor: pointer;

    .fa {
      vertical-align: middle;
    }

    &:hover {
      background-color: $color-general-300;
    }

    &:active {
      background-color: $color-general-semi;
    }
  }
}

