<ng-container
  *ngIf="type === 'skeleton'; then isSkeleton; else isSpinner"
></ng-container>

<ng-template #isSkeleton>
  <div class="skeleton">
    <div class="skeleton__line-group"
         *ngFor="let i of quantity(groups).fill(1)">
      <div class="skeleton__line skeleton__line--1"></div>
      <div class="skeleton__line skeleton__line--2"></div>
      <div class="skeleton__line skeleton__line--3"></div>
    </div>
  </div>
</ng-template>

<ng-template #isSpinner>
  <div class="loader">
    <div class="loader__inner">
      <span class="fa fal fa-circle-notch fa-spin fa-3x"></span>
    </div>
  </div>
</ng-template>
