<app-header [region]="region"></app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="isFooterVisible"></app-footer>

<ng-container *ngIf="retrievedSettings.showCookieBanner">
  <app-cookie-banner>
    <ng-container text>
      <p class="cookie__text">Сайт использует cookie/This web site uses cookies. Подробности - в
        <a routerLink="/cookie-policy" target="_blank">«Использование cookie/Cookie policy»</a></p>
    </ng-container>
    <ng-container button>
      <button (click)="acceptCookies()">OK</button>
    </ng-container>
  </app-cookie-banner>
</ng-container>
