@import '../styles';

.studies-page {
  &__tab-group {
    font-size: $font-size-big;
    font-weight: $font-weight-medium;
    color: $color-black;
    margin-bottom: $padding-regular;
  }

  ::ng-deep .tab {
    position: relative;
    padding-left: 24px;

    @include study-type-mark-pseudo;

    &__content {
      display: block;
      margin-top: 20px;
    }
  }

  ::ng-deep .mat-tab-header {
    border-bottom: none;
  }

  ::ng-deep .mat-tab-label-container > div > mat-ink-bar {
    display: none;
  }

  ::ng-deep .mat-tab-labels {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -10px;
    margin-right: -10px;

    .mat-tab-label {
      flex: 1 1 33%;
      width: auto;
      flex-flow: row nowrap;
      min-width: 200px;
      height: auto;
      padding: $padding-regular;
      justify-content: flex-start;

      .mat-tab-label-content {
        justify-content: flex-start;
        width: 100%;
        min-height: 45px;
        border: none;
        white-space: normal;
        text-align: left;
        font-weight: normal;
        background: rgba($color-general, 0.08);
        padding: 5px;
        border-radius: 10px;
        transition: background .15s ease-in-out;
      }

      &:hover {
        opacity: .8;

        .mat-tab-label-content {
          background: rgba($color-general, 0.15);
        }
      }

      &.mat-tab-label-active {
        opacity: 1;

        .mat-tab-label-content {
          color: $color-black;
          font-weight: $font-weight-medium;
          background: rgba($color-general, 0.15);
        }
      }
    }
  }
}
