/* Колонки */
.#{$prefix}container {
  .#{$prefix}col {
    display: inline-block;
    vertical-align: top;
    font-size: $font-size;

    .#{$prefix}flex-subcontainer {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;

      .#{$prefix}per {
        font-size: $font-size;
        max-width: 100%;

        @for $i from 1 through 100 {
          &.#{$prefix}per-#{$i} {
            flex: 0 0 1%*$i;
          }
        }

        /* Более точная ширина колонок */
        &.#{$prefix}per-14 {
          width: (100% / 7);
        }

        &.#{$prefix}per-16 {
          width: (50% / 3);
        }

        &.#{$prefix}per-25 {
          width: (100% / 4);
        }

        &.#{$prefix}per-33 {
          width: (100% / 3);
        }

        &.#{$prefix}per-66 {
          width: (200% / 3);
        }
      }

      .__#{$prefix}top {
        align-items: flex-start;
      }
      .__#{$prefix}middle {
        align-items: center;
      }
      .__#{$prefix}bottom {
        align-items: flex-end;
      }
      .__#{$prefix}flex-auto {
        width: unset;
        flex-grow: 1;
        flex-shrink: 1;
      }
      .__#{$prefix}not-flex {
        flex: none;
      }
    }
  }

  @include resolution_widescreen {
    .#{$prefix}col {
      @for $i from 1 through $columns-quantity {
        &.#{$prefix}col-#{$i} {
          width: ($widescreen / $columns-quantity) * $i;
        }
      }
    }
  }

  @include resolution_desktop {
    .#{$prefix}col {
      @for $i from 1 through $columns-quantity {
        &.#{$prefix}col-#{$i} {
          width: ($desktop / $columns-quantity) * $i;
        }
      }
    }
  }

  @include resolution_tablet {
    .#{$prefix}col {
      @for $i from 1 through $columns-quantity {
        &.#{$prefix}col-#{$i} {
          width: 100%;
          min-width: $tablet - $gutter;
          max-width: $desktop - ($gutter + .02px);
        }
      }
    }
  }

  @include resolution_phablet {
    .#{$prefix}col {
      @for $i from 1 through $columns-quantity {
        &.#{$prefix}col-#{$i} {
          width: 100%;
          min-width: $phablet - $gutter;
          max-width: $tablet - ($gutter + .02px);
        }
      }
    }
  }

  @include resolution_phone {
    .#{$prefix}col {
      @for $i from 1 through $columns-quantity {
        &.#{$prefix}col-#{$i} {
          width: 100%;
          min-width: $smartphone - $gutter;
          max-width: $phablet  - ($gutter +  .02px);
        }
      }
    }
  }
}
