.#{$prefix}container {
  @include display(block);
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
}

@include resolution_widescreen {
  body,
  .header {
    min-width: $widescreen;
  }
  .#{$prefix}container {
    width: $widescreen;
  }
}

@include resolution_desktop {
  body,
  .header {
    min-width: $desktop;
  }
  .#{$prefix}container {
    width: $desktop;
  }
}

@include resolution_tablet {
  body,
  .header,
  .#{$prefix}container {
    min-width: $tablet - 20px;
  }
  .#{$prefix}container {
    width: calc(100% - 20px);
  }
}

@include resolution_phablet {
  body,
  .header,
  .#{$prefix}container {
    min-width: $phablet - 20px;
  }
  .#{$prefix}container {
    width: calc(100% - 20px);
  }
}

@include resolution_phone {
  body,
  .header,
  .#{$prefix}container {
    min-width: $smartphone - 20px;
  }
  .#{$prefix}container {
    width: calc(100% - 20px);
  }
}
