.__#{$prefix}align-items-flex-start {
  align-items: flex-start;
}

.__#{$prefix}align-items-center{
  align-items: center;
}

.__#{$prefix}align-items-flex-end {
  align-items: flex-end;
}

.__#{$prefix}align-self-flex-start {
  align-self: flex-start;
}

.__#{$prefix}align-self-center{
  align-self: center;
}

.__#{$prefix}align-self-flex-end {
  align-self: flex-end;
}

@include resolution_tablet-and-up {
  .#{$prefix}per,
  .#{$prefix}col {
    &.__#{$prefix}flex-auto {
      width: unset;
      flex-grow: 1;
      flex-shrink: 1;
    }

    &.__#{$prefix}not-flex {
      flex: none;
    }
  }
}
