/* Ширина колонок */
.#{$prefix}per {
  @for $i from 1 through 100 {
    &.#{$prefix}per-#{$i} {
      width: 1%*$i;
    }
  }

  /* Более точная ширина колонок */
  // s - specific
  &.#{$prefix}per-14 {
    width: (100% / 7);
  }
  &.#{$prefix}per-16 {
    width: (50% / 3);
  }
  &.#{$prefix}per-25 {
    width: (100% / 4);
  }
  &.#{$prefix}per-33 {
    width: (100% / 3);
  }
  &.#{$prefix}per-66 {
    width: (200% / 3);
  }
}