@import "../../styles";

:host {
  max-width: 100%;
  display: block;
}

.body__row {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 12px; // regulates mat-select size

  mat-form-field {
    width: 100%;
    max-width: 100%;
  }

  ::ng-deep {
    .mat-form-field-prefix {
      top: -0.5em;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-flex {
      border-radius: $border-radius-regular;
      background-color: rgba($color-general, .10);;
    }
  }
}

.separator {
  width: 100%;
  height: 0;
  border-top: 1px solid $color-borders;
  margin: 0 0 10px 0;
}

.reset-button-wrapper {
  width: 100%;

  .reset-button {
    width: 100%;
    margin: 0 auto;
  }
}


:host-context(.filters-modal) {
  .filters-modal__body {
    display: grid;
    align-content: space-between;
    align-items: start;
    justify-items: start;
    grid-gap: 10px;
    justify-content: center;

    @include resolution_tablet-and-up {
      grid-template-columns: 1fr 1fr;

      .separator,
      .reset-button-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    @include resolution_smartphone {
      grid-template-columns: 1fr;

      .separator,
      .reset-button-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
  }
}

.mat-select__search {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  line-height: 35px;
  background-color: $color-white;
  padding: 0 15px;
  border-bottom: 1px solid $color-borders;
}



