<ng-container *ngIf="searchedData?.length !== 0">
  <!-- Content -->
  <div *ngIf="searchedData?.length !== 0"
           class="view-content __w-content-fluid __mt-40">
    <div class="row no-gutters">
      <div *ngFor="let gene of searchedData | slice: 0:loadedGenesQuantity"
           class="col-12 methylated-gene">
        <div class="methylated-gene__title">
          <ng-container *ngIf="compareWith.includes(gene.symbol)">
            <a [routerLink]="['/gene', gene.symbol]">
              <span class="tag">{{gene.symbol}}</span>
              <span class="link link--gray">{{gene.name }}</span>
            </a>
          </ng-container>
          <ng-container *ngIf="!compareWith.includes(gene.symbol)">
            <span class="tag">{{gene.symbol}}</span> {{gene.name }}
          </ng-container>
        </div>

        <div class="methylated-gene__actions">
          <app-tag>
            {{ gene.methylationCorrelation }}
          </app-tag>
        </div>
      </div>
    </div>
  </div>

  <!-- Show more Button -->
  <div class="btn-wrap show-more" *ngIf="searchedData?.length > loadedGenesQuantity">
    <button (click)="loadMoreGenes()" class="btn show-more__button">
      {{ "show_more" | translate }}
    </button>
  </div>
</ng-container>

<!-- No content error message -->
<section *ngIf="!isLoading && searchedData?.length == 0">
  <app-no-content [title]="'nothing_found'">
    <ng-container icon>
      <app-icon icon="default" size="custom" customWidth="100%" customHeight="100%"></app-icon>
    </ng-container>
  </app-no-content>
</section>

<ng-container *ngIf="isLoading">
  <app-spinner></app-spinner>
</ng-container>


