@import "../../../styles";

// Sort header fix
.filters-group {
  @include material-sort-header-fix;
}

@include simple-gene-list-item(methylated-gene);

.methylated-gene {
  &__values {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;

    .alias {
      margin: 0;
    }

    @include resolution_tablet-and-up {
      justify-content: flex-end;
    }

    @include resolution_smartphone {
      justify-content: flex-start;
    }
  }

  &--disabled {
    opacity: .5;
  }
}

