@import "../../styles";

:host {
  display: contents;
}

.eye-checkbox {
  $checkbox-size: 2.2em;
  position: relative;

  @mixin checked {
    color: $color-general;
  }

  &__label {
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    font-size: 1.2em;
    color: $color-gray-halfing;
    line-height: $checkbox-size;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: color, linear .15s;

    &:hover {
      color: $color-gray;
    }

    &:active {
      @include checked;
    }
  }

  &--checked {
    .eye-checkbox__label {
      @include checked;
    }
  }
}