@import "../../../styles";

:host {
  display: block;
  width: 100%;
  position: relative;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

code {
  display: block;
  width: 100%;
  font-family: monospace sans-serif;
  background-color: $color-black;
  color: #fff;
  white-space: normal;
  padding: 25px 20px 25px 0;
  line-height: 1.5;
  font-size: .9em;
  border-radius: 5px;
  word-wrap: normal;
  overflow: auto;
  counter-reset: code-lines;
  counter-set: code-lines;

  ::ng-deep { // Чтобы применить стили к innerHTML
    .value {
      color: $color-gray-light;
    }

    .number {
      color: $color-red-medium;
    }

    .null {
      color: $color-gray-halfing;
    }

    .verb {
      color: $color-clickable-300;
    }

    .mark {
      background-color: $color-black-light;
      padding: 0 .5em;
      border-radius: 3px;
    }
  }

  ::ng-deep div {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 4em;

    &:before {
      content: counter(code-lines);
      counter-increment: code-lines 1;
      position: absolute;
      width: 3em;
      height: 100%;
      top: 0;
      left: 0;
      padding-left: 1em;
      color: rgba($color-white, .3);
      box-sizing: border-box;
    }

    span {
      margin-right: 1ch;
    }
  }
}


