<tr class="item">
  <td class="cell cell--name">
    <div class="title overflow">
      <div class="add-to-favorites">
        <button *ngIf="(this.isAdded | async) === false"
                (click)="favItem(item['id'])"
                mat-icon-button>
          <span
            class="icon far fa-star"
            aria-hidden="true"
          ></span>
        </button>
        <button *ngIf="this.isAdded | async"
                (click)="unFavItem(item['id'])"
                mat-icon-button>
          <span
            class="icon fas fa-star"
            aria-hidden="true"
          ></span>
        </button>
      </div>
      <a [routerLink]="['/gene', item.symbol]"
         [matTooltip]="'go_to_gene_page' | translate"
         class="link link--gene">
        <b>{{ item.symbol }}</b> {{ item.name }}
      </a>
    </div>
  </td>

  <td class="cell cell--terms">
    <div *ngIf="item.terms" class="overflow">
      <ul class="list">
        <li
          *ngFor="let term of item.terms?.biological_process | keyvalue"
        ><span class="callout">
          <a href="https://www.ebi.ac.uk/QuickGO/term/GO:{{ term.key | zero }}"
             class="alias"
          >{{ term.key | zero }}</a></span> {{ term.value }}
        </li>
        <li
          *ngFor="let term of item.terms?.cellular_component | keyvalue"
        ><span class="callout">
          <a href="https://www.ebi.ac.uk/QuickGO/term/GO:{{ term.key | zero }}"
             class="alias"
          >{{ term.key | zero }}</a></span> {{ term.value }}
        </li>
        <li
          *ngFor="let term of item.terms?.molecular_activity | keyvalue"
        ><span class="callout">
          <a href="https://www.ebi.ac.uk/QuickGO/term/GO:{{ term.key | zero }}"
            class="alias"
          >{{ term.key | zero }}</a></span> {{ term.value }}
        </li>
      </ul>
    </div>
  </td>

  <td class="cell cell--actions">
    <div class="overflow">
      <app-gene-menu
        [gene]="item"
        [isAdded]="isFaved(item.id)"
        (unFav)="unFavItem($event)"
        (fav)="favItem($event)"
      ></app-gene-menu>
    </div>
  </td>
</tr>
