@import "../../components/styles";

:host {
  display: block;
  width: 100%;
}

::ng-deep mark.text-highlight { // being generated dynamically
  background-color: $color-hover;
}

.cancel-search-button {
  display: none;
  align-self: flex-start;
  margin: 8px 10px 0 0;
}

.search-form {
  &__field-wrapper {
    display: block;
    width: 100%
  }

  &__search { // input
    font-size: 16px;
    display: block;
    width: 100%;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    resize: none;
    font-weight: $font-weight-medium;
    color: $color-black;
    background-color: #fff;
  }

  &__autocomplete-list {
    position: absolute;
    top: 100%;
    max-height: (39px * 5) + 18px;
    width: 100%;
    overflow-y: scroll;
    background: #fff;
    border-radius: 5px;
    z-index: 12;

    &:not(:empty) {
      border: 1px solid $color-borders;
      padding: 8px 0;
      box-shadow: 0 5px 5px 0 rgba($color-black, .15);
    }

    ::-webkit-scrollbar {
      width: 5px;
      background: $color-gray-halfing;
    }

    ::-webkit-scrollbar-thumb {
      background: $color-gray;
    }
  }

  &__autocomplete-item {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: left;

    .item__symbol {
      font-weight: $font-weight-medium;
    }

    .item__name {
      color: $color-gray;
    }

    .item__name,
    .item__symbol {
      &.__highlight {
        color: $color-orange;
      }
    }

    &:hover,
    &:active {
      background-color: rgba($color-hover, .3);
    }
  }

  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 10px;


  // TODO: сделать без переопределений
  &--active {
    @include resolution_smartphone-and-tablet {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: 60px;
      margin: 0;
      background-color: #fff;
      padding: 10px;
      z-index: 101;
      box-shadow: 0 5px 5px 0 rgba($color-black, .15);

      .cancel-search-button {
        display: inline-flex;
      }

      .search-form__autocomplete-list {
        top: 50px;
        border: 0;
      }
    }
  }
}

.search-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;

  @include resolution_smartphone-and-tablet {
    z-index: 100;
  }
}






