<mat-horizontal-stepper #stepper>
  <mat-step matStepperIcon="edit"
            label="{{ 'wizard_1_title' | translate }}"
  >{{ 'wizard_1_description' | translate }}
  </mat-step>

  <mat-step matStepperIcon="done"
            label="{{ 'wizard_1_title' | translate }}"
    >{{ 'wizard_1_description' | translate }}
  </mat-step>

  <mat-step matStepperIcon="number"
            label="{{ 'wizard_1_title' | translate }}"
  >{{ 'wizard_1_description' | translate }}
  </mat-step>
</mat-horizontal-stepper>
<div>
  <button (click)="goBack(stepper)" type="button">Back</button>
  <button (click)="goForward(stepper)" type="button">Next</button>
  <button (click)="close()" type="button">Закрыть</button>
</div>
