<div class="page main-page">
  <div class="page__inner">
    <div class="wrapper main-page__header">
      <div class="container">
        <div class="col col-16">
          <div class="page__title">
            <h1>{{ 'main_page_header_title' | translate }}</h1>
          </div>
          <div class="header__description">
            {{ 'main_page_header_description' | translate }}
          </div>
          <div class="header__button">
            <a mat-flat-button
               color="primary"
               routerLink="/about"
            >{{ 'main_page_header_button' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col col-16">
        <div class="flex-subcontainer">
          <div class="per sidebar sidebar--left">
            <div class="sidebar__inner">
              <app-news
                [genes]="genes"
                *ngIf="genes"
                class="__mb-20"
              ></app-news>

              <app-mini-cards
                [lastGenes]="lastGenes"
                *ngIf="lastGenes"
              ></app-mini-cards>
            </div>
          </div>

          <div class="per content">
            <app-genes-list
              [dataSource]="genes"
              (filterCluster)="filterByFuncClusters($event)"
              (filterExpression)="filterByExpressionChange($event)"
              (filtersCleared)="filtersCleared()"
              *ngIf="genes">
            </app-genes-list>
          </div>
        </div>
      </div>

      <section class="no-content" *ngIf="error">
        <div class="no-content__icon no-content__icon-standard"></div>
        <div class="no-content__title">
          <div class="title__center">
            {{ 'error_connection' | translate }}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
