@import '../styles';

.wizard-banner-wrapper {
  width: 100%;
  padding: 0 5px;
  margin-bottom: 5px;
}

.home-container {
  $bootstrap-widescreen: 1400px - .02px;
  @media only screen and (min-width: $widescreen) and (max-width: $bootstrap-widescreen) {
    max-width: 1185px;
  }
}

