<div class="page main-page">
  <div class="page__inner __pb-60">
    <div class="wrapper main-page__header">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1 class="notranslate">{{ "product_name" | translate }}</h1>
            </div>
            <div class="header__description">
              {{ "main_page_header_description" | translate }}
            </div>
            <div class="header__button">
              <a mat-flat-button color="secondary" routerLink="/about">{{
                "main_page_header_button" | translate
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <ng-container *ngIf="isAvailable; else errorMessage">
          <div class="col-12">
            <div *ngIf="isMobile"
                 class="__mb-20">
              <ng-container [ngTemplateOutlet]="wizardBanner"></ng-container>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-2"
               [ngClass]="isMobile? '__mb-btm' : ''">
            <app-sidebar>
              <app-sidebar-item *ngIf="!isMobile">
                <div content class="__pl-5 __pr-5">
                  <ng-container [ngTemplateOutlet]="wizardBanner"
                  ></ng-container>
                </div>
              </app-sidebar-item>

              <app-sidebar-item *ngIf="lastGenes">
                <ng-container title>
                  {{ "main_page_last" | translate }}
                </ng-container>
                <app-mini-cards
                  content
                  [lastGenes]="lastGenes"
                ></app-mini-cards>
              </app-sidebar-item>

              <app-sidebar-item *ngIf="genes">
                <ng-container title>
                  {{ "articles_list_title" | translate }}
                  <a href="/news" class="link link--gray __ml-10">
                    {{ "show_more_short" | translate }}
                  </a>
                </ng-container>
                <app-articles-list
                  content
                  class="__h-100"
                  [isMiniMode]="true"
                  [sliceTo]="2"
                ></app-articles-list>
              </app-sidebar-item>

              <app-sidebar-item *ngIf="genes">
                <ng-container title>
                  {{ "news_list_title" | translate }}
                  <a href="/news" class="link link--gray __ml-10">
                    {{ "show_more_short" | translate }}
                  </a>
                </ng-container>
                <app-news-list
                  content
                  class="__pl-5 __pr-5"
                  [genesList]="genes"
                  [loadTotal]="2"
                  [itemsForPage]="2"
                  [isMiniMode]="true"
                ></app-news-list>
              </app-sidebar-item>
            </app-sidebar>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-10">
            <app-search
              [genesList]="genes"
              (dataFromSearchBar)="setSearchQuery($event)"
            ></app-search>

            <app-genes-list
              *ngIf="genes"
              [genesList]="genes"
              [isMobile]="isMobile"
              [dataFromSearchBar]="dataFromSearchBar"
              [showFiltersPanel]="true"
              (loaded)="setIsGenesListLoaded($event)">
            </app-genes-list>

            <!-- When content is loading -->
            <app-spinner *ngIf="!genesListIsLoaded"
                         class="__mb-10"
            ></app-spinner>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #errorMessage>
  <section class="col-12">
    <app-no-content
      size="small"
      [title]="'error_connection'">
      <ng-container icon>
        <app-icon
          icon="default"
          size="custom"
          customWidth="100%"
          customHeight="100%"
        ></app-icon>
      </ng-container>
      <ng-container description>
        <p>({{ errorStatus }})</p>
      </ng-container>
    </app-no-content>
  </section>
</ng-template>

<ng-template #wizardBanner let-classes>
  <app-hint class="{{ classes }}"
            hintType="emphasized">
    <ng-container title><span class="fa far fa-magic"
    ></span>&nbsp;{{ 'wizard_where_to_start_title' | translate }}
    </ng-container>
    <ng-container description>
      {{ 'wizard_where_to_start_description' | translate }}
    </ng-container>
    <ng-container button>
      <button class="btn btn--fill btn--small btn--white"
              (click)="openWizard()">
        {{ 'wizard_where_to_start_button' | translate }}
      </button></ng-container>
  </app-hint>
</ng-template>

