<td class="table-header__cell table-header__cell--name">
  <div class="overflow">
    {{ "main_page_table_name" | translate }}
  </div>
</td>

<td *ngIf="listSettings.ifShowAge"
    class="table-header__cell table-header__cell--age">
  <div class="overflow">{{ "phylogeny" | translate }},</div>
  <div class="overflow">
    {{ "ncbi_homologs" | translate }}
  </div>
</td>

<td *ngIf="listSettings.ifShowDiseases"
    class="table-header__cell table-header__cell--diseases">
  <div class="overflow">
    {{ "gene_list_diseases" | translate }}
  </div>
</td>

<td *ngIf="listSettings.ifShowDiseaseCategories"
    class="table-header__cell table-header__cell--diseases">
  <div class="overflow">
    {{ "gene_list_disease_categories" | translate }}
  </div>
</td>

<td *ngIf="listSettings.ifShowAgingMechanisms"
    class="table-header__cell table-header__cell--mechanisms">
  <div class="overflow">
    {{ "gene_list_aging_mechanisms" | translate }}
  </div>
</td>

<td *ngIf="listSettings.ifShowProteinClasses"
    class="table-header__cell table-header__cell--classes">
  <div class="overflow">
    {{ "gene_list_protein_classes" | translate }}
  </div>
</td>

<td *ngIf="listSettings.ifShowExpression"
    class="table-header__cell table-header__cell--expression">
  <div class="overflow">
    {{ "main_page_table_expression" | translate }}
  </div>
</td>

<td *ngIf="listSettings.ifShowCriteria"
    class="table-header__cell table-header__cell--criteria">
  <div class="overflow">
    {{ "main_page_table_criteria" | translate }}
  </div>
</td>

<td *ngIf="listSettings.ifShowMethylation"
    class="table-header__cell table-header__cell--methylation">
  <div class="overflow">
    {{ "main_page_table_methylation" | translate }}
  </div>
</td>

<td class="table-header__cell table-header__cell--actions">
  <div class="overflow"></div>
</td>
