<div class="page search-page go-search-page">
  <div class="page__inner">
    <div class="container-fluid search-page__container">
      <div class="row">
        <div class="col-12 search-page__header">
          <app-page-subtitle title="search_by_annotations"></app-page-subtitle>
        </div>
      </div>

      <div class="row">
        <ng-container *ngIf="!errorStatus; else errorMessage">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <app-search-counter
              [quantity]="itemsQuantity"
              [title]="'main_page_total'"
            ></app-search-counter>

            <app-search-counter
              [quantity]="itemsQuantity"
              [title]="'main_page_total'"
            ></app-search-counter>

            <app-search
              class="__mb-10"
              [isDisabled]="genesListIsLoading"
              placeholder="search_field_tap_search"
              [showProgressBar]="showProgressBar"
              (queryChange)="setSearchQuery($event)"
              (search)="updateGenesList($event)"
            ></app-search>

            <app-genes-list
              [setSearchMode]="'searchByGoTerms'"
              (loading)="setLoader($event)"
              (errorStatus)="errorStatus = $event"
              (itemsNumber)="itemsQuantity = $event"
              [genesList]="results"
              [viewport]="viewport"
              [isMobile]="isMobile"
              [showFiltersPanel]="false">
            </app-genes-list>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #errorMessage>
  <section class="col-12">
    <app-no-content
      size="small"
      [title]="'error_connection'">
      <ng-container icon>
        <app-icon
          icon="default"
          size="custom"
          customWidth="100%"
          customHeight="100%"
        ></app-icon>
      </ng-container>
      <ng-container description>
        <p>({{ errorStatus }})</p>
      </ng-container>
    </app-no-content>
  </section>
</ng-template>


