.header {
  &__announcement {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: $header-announcement-height;
    width: 100%;
    background: $color-clickable-200;
    color: $color-clickable-500;
    font-size: $font-size-smaller;

    b {
      font-weight: $font-weight-medium;
      position: relative;
    }

    &--no-war {
      font-size: $font-size;
      background: $color-black;
      color: $color-white;
      text-transform: uppercase;

      &::before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 14px;
        background: linear-gradient(180deg, #0057B8 50%, #FFD700 50%);
        margin-right: 1ch;
      }
    }
  }

  a.header__announcement {
    b::after {
      content: ' ';
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted currentColor;
      position: absolute;
      bottom: 1px;
      left: 0;
    }
  }

  &--w-announcement {
    min-height: $header-height + $header-announcement-height;

    .header__centering {
      height: $header-height + $header-announcement-height;
    }

    .header__right {
      height: $header-height + $header-announcement-height;
    }
  }
}