.favourites-page__favourites {
  .faved-gene {
    @include panel('10px 15px');
    position: relative;
    font-size: $font-size;

    &__title {
      margin: 10px 0;
      padding-right: 30px;
      .tag {
        margin: 0 8px 0 0;
      }

      .link {
        font-size: $font-size-huge;
        text-decoration: none;
      }

      .tag, .link {
        vertical-align: middle;
      }
    }

    &__actions {
      position: absolute; // чтобы элемент перестал быть родителем
      top: 12px;
      right: 12px;
      z-index: 1;

      .fa {
        color: $color-base;
      }
    }
  }

  .faved-gene + .faved-gene {
    margin-top: 15px;
  }
}




