.main-page { // .page
  // &__inner { }
  &__header {
    background-color: $color-general-light;
    padding: 30px 0 35px 0;
    margin-bottom: 20px;
    border-radius: 0 0 20px 20px;

    .page__title,
    .header__description,
    .header__button {
      width: 100%;
      text-align: center;
    }

    .page__title { // переиспользуем
      h1 {
        color: $color-red;
      }
    }

    .header__description {
      font-size: calc(0.2vw + 15px);
      color: $color-gray-dark;
      font-weight: $font-weight-light;
      padding: 0 4vw;
    }

    .header__button {
      margin-top: 30px;

      .btn {
        font-size: $font-size-bigger;
      }
    }
  }
}


