<ng-container *ngIf="geneCriteria && listLength !== 0; else noCriteria">

  <ng-container *ngIf="!isAccordion; else accordion">
    <ul class="list list--bulletted">
      <li *ngFor="let criteria of geneCriteria"
          [class.__active]="activeListItem?.includes(+criteria.id)"
          (click)="emitOnClick(criteria.id)">
        {{ criteria.name }}
      </li>
    </ul>
  </ng-container>

  <ng-template #accordion>
    <app-accordion
      class="criteria-accordion"
      [clickable]="false"
      [class.criteria-accordion--open]="isAccordionOpen"
      [isOpen]="isAccordionOpen">

      <div class="criteria-accordion__header" accordion-header>
        <ul class="list list--bulletted">
          <li *ngFor="let criteria of geneCriteria | slice: 0:maxItemsToShow"
              [class.__active]="activeListItem?.includes(+criteria.id)"
              (click)="emitOnClick(criteria.id)">
            {{ criteria.name }}
          </li>
        </ul>

        <button (click)="toggleAccordion()"
                class="criteria-accordion__arrow">
          <span class="fa far fa-chevron-down"></span>
        </button>

      </div>

      <div class="criteria-accordion__body" accordion-body>
        <ul class="list list--bulletted">
          <li *ngFor="let criteria of geneCriteria | slice: maxItemsToShow"
              [class.__active]="activeListItem?.includes(+criteria.id)"
              (click)="emitOnClick(criteria.id)">
            {{ criteria.name }}
          </li>
        </ul>
      </div>

    </app-accordion>
  </ng-template>

</ng-container>

<ng-template #noCriteria>
  <div class="no-criteria">
    {{ 'no_criteria' | translate }}
  </div>
</ng-template>
