<div class="researches" *ngIf="researches">
  <ng-container
    *ngFor="let research of researches | keyvalue"
    [ngTemplateOutlet]="bar"
    [ngTemplateOutletContext]="{ research: research.key }"
  ></ng-container>
</div>

<ng-template #bar let-research="research">
  <div class="research"
       [ngClass]="research | setClassName">
      <span class="research__scale"
            (click)="openBottomSheet($event, researchStatsHint)"
            [style.height.%]="(researches[research]?.length * 100) / maxValue"
      ></span>
    <span class="research__value">{{researches[research]?.length}}</span>
  </div>
</ng-template>

<ng-template #researchStatsHint>
  <article class="description">
    <p></p>
  </article>
</ng-template>

