@use "sass:map";
@import "../../styles";

.researches {
  position: relative;

  .research {
    position: relative;
    display: block;
    margin-right: 5px;
    width: 20px;
    height: 50px;
    float: left;

    &__scale {
      position: absolute;
      left: 0;
      bottom: -1px;
      z-index: 0;
      width: 100%;
      min-height: 1px;
      border-radius: 4px;
      margin-right: 4px;
      cursor: pointer;
    }

    &__value {
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      text-align: center;
      font-size: $font-size-small;
      white-space: nowrap;
      text-shadow: 0 0 1px $color-white, 0 0 1px $color-white, 0 0 1px $color-white, 0 0 1px $color-white;
    }

    &--increase-lifespan {
      .research__scale {
        background-color: map.get($research-tables, increase-lifespan);
      }
    }

    &--age-related-changes {
      .research__scale {
        background-color: map.get($research-tables, age-related-change);
      }
    }

    &--intervention-to-gene {
      .research__scale {
        background-color: map.get($research-tables, gene-intervention-to-vital-processes);
      }
    }

    &--protein-regulates {
      .research__scale {
        background-color: map.get($research-tables, protein-to-gene);
      }
    }

    &--progeria-syndromes {
      .research__scale {
        background-color: map.get($research-tables, gene-to-progeria);
      }
    }

    &--longevity-effects {
      .research__scale {
        background-color: map.get($research-tables, gene-to-longevity-effect);
      }
    }

    &--additional-evidences {
      .research__scale {
        background-color: map.get($research-tables, gene-to-additional-evidence);
      }
    }
  }
}