<div class="filters-modal__header" mat-dialog-title>
  {{ 'filters_modal_title' | translate }}
  <button mat-icon-button
          class="close-button"
          (click)="onClose()"
          aria-label="Закрыть">
    <span class="fa fal fa-times"></span>
  </button>
</div>
<form class="filters-modal__body" [formGroup]="filtersForm">
  <div class="body__row">

    <!-- TODO: move into app-eye-checkbox and use the same logic as app-switch -->
    <div class="eye-checkbox"
         [class.eye-checkbox--checked]="listSettings.ifShowFuncClusters">
      <input type="checkbox"
             class="eye-checkbox__checkbox"
             id="toggle-processes"
             (change)="changeGenesListSettings('processes')"
             [checked]="listSettings.ifShowFuncClusters"

      >
      <label class="eye-checkbox__label"
             for="toggle-processes">
        <span [ngClass]="listSettings.ifShowFuncClusters? 'fa-eye' : 'fa-eye-slash'"
          class="icon far"
        ></span>
      </label>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>{{ "functional_classes" | translate }}</mat-label>
      <mat-select formControlName="ageRelatedProcessesSelect"
                  multiple="true"
                  (selectionChange)="apply('byAgeRelatedProcess', $event)"
                  [(ngModel)]="processesModel">
        <mat-option *ngFor="let c of processes" [value]="c.id">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-checkbox
    color="primary"
    (change)="changeGenesListSettings('gene-age')"
    [checked]="listSettings.ifShowAge"
  >{{ "gene_list_evolutionary_age" | translate }}
  </mat-checkbox>

  <mat-checkbox
    color="primary"
    [checked]="listSettings.ifShowExpression"
    (change)="changeGenesListSettings('expression')"
  >{{ "main_page_table_expression" | translate }}
  </mat-checkbox>
  <mat-checkbox
    color="primary"
    [checked]="listSettings.ifShowDiseases"
    (change)="changeGenesListSettings('diseases')">
    {{ "gene_list_diseases" | translate }}
  </mat-checkbox>
  <mat-checkbox
    color="primary"
    [checked]="listSettings.ifShowDiseaseCategories"
    (change)="changeGenesListSettings('disease-categories')">
    {{ "gene_list_disease_categories" | translate }}
  </mat-checkbox>
  <mat-checkbox
    color="primary"
    [checked]="listSettings.ifShowCriteria"
    (change)="changeGenesListSettings('criteria')">
    {{ "main_page_table_criteria" | translate }}
  </mat-checkbox>
  <mat-checkbox
    color="primary"
    (change)="changeGenesListSettings('mechanisms')"
    [checked]="listSettings.ifShowAgingMechanisms"
  >{{ "gene_list_aging_mechanisms" | translate }}
  </mat-checkbox>
  <mat-checkbox
    color="primary"
    (change)="changeGenesListSettings('classes')"
    [checked]="listSettings.ifShowProteinClasses"
  >{{ "gene_list_protein_classes" | translate }}
  </mat-checkbox>
</form>