@import "../../../../styles";

.filters-modal {
  &__header,
  &__cover,
  &__body {
    width: 100%;
    box-sizing: border-box;
  }

  &__header {
    position: relative;
    padding-right: 40px;
    margin-bottom: 15px;

    .close-button {
      @include close-button(-10px, 15px);
    }
  }

  &__cover {
    background-color: $color-gray-light;
    min-height: 200px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__body {
    width: 100%;
  }
}

mat-checkbox {
  display: flex;
  width: 100%;

  &::ng-deep {
    .mat-checkbox-inner-container {
      vertical-align: top;
      margin-top: 2px;
    }

    .mat-checkbox-layout,
    .mat-checkbox-label {
      line-height: 1.5;
      white-space: normal;
    }
  }
}

mat-checkbox + mat-checkbox {
  margin-top: 8px;
}

.body__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  $mat-form-field-p-bottom: 1.34375em;

  app-eye-checkbox {
    margin-bottom: $mat-form-field-p-bottom;
    margin-right: 10px;
  }
}

