<section *ngIf="isAgeRelatedChanges">
  <app-age-related-changes
    [slice]="slice"
    [items]="studies.ageRelatedChangesOfGene"></app-age-related-changes>
</section>

<section *ngIf="isIncreaseLifespan">
  <app-increase-lifespan
    [slice]="slice"
    [items]="studies.increaseLifespan"></app-increase-lifespan>
</section>

<section *ngIf="isInterventionAffectsAgingProcess">
  <app-intervention-affects-aging-process
    [slice]="slice"
    [items]="studies.interventionToGeneImprovesVitalProcesses"></app-intervention-affects-aging-process>
</section>

<section *ngIf="isProteinRegulatesOtherGenes">
  <app-protein-regulates-other-genes
    [slice]="slice"
    [items]="studies.proteinRegulatesOtherGenes"></app-protein-regulates-other-genes>
</section>

<section *ngIf="isGeneAssociatedWithProgeriaSyndromes">
  <app-gene-associated-with-progeria-syndromes
    [slice]="slice"
    [items]="studies.geneAssociatedWithProgeriaSyndromes"></app-gene-associated-with-progeria-syndromes>
</section>

<section *ngIf="isGeneAssociatedWithLongevityEffects">
  <app-gene-associated-with-longevity-effects
    [slice]="slice"
    [items]="studies.geneAssociatedWithLongevityEffects"></app-gene-associated-with-longevity-effects>
</section>

<section *ngIf="isAdditionalEvidences">
  <app-additional-evidences
    [slice]="slice"
    [items]="studies.additionalEvidences"></app-additional-evidences>
</section>