@import "../../styles";

.experiments-accordion {
  mat-panel-title {
    align-items: center;

    h4 {
      display: flex;
      margin: 0 1em 0 0;

      .study-mark {
        display: inline-block;
        position: relative;
        min-width: 13px;
        width: 13px;
        height: 13px;
        margin: 2px 8px 0 0;
        @include study-type-mark-pseudo();
      }
    }

    .btn {
      margin: 0 10px 0 0;
      min-width: 80px;
      font-size: 16px;
    }

    .counter {
      margin: 0;
    }
  }

  &::ng-deep .mat-expansion-panel-body {
    padding-right: 0;
    padding-left: 0;
  }
}

.experiments-accordion + .experiments-accordion {
  margin-top: 10px;
}

.file-download-sheet {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0 30px 0;
  font-family: sans-serif;
  text-align: center;

  p {
    color: $color-gray;
  }

  .btn {
    margin-top: 1em;
  }
}