<div class="main-container">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>

  <div class="table-container __w-content-fluid">
    <table class="table table--zebra"
           matSort (matSortChange)="sortData($event)">
      <thead>
      <tr>
        <th class="__cell-width-small" *ngFor="let head of displayedColumns"
            [mat-sort-header]="head">{{head | translate}}</th>
      </tr>
      </thead>

      <tbody *ngFor="let gene of genesList">
      <tr *ngFor="let data of gene.calorieRestrictionExperiments; let first=first">
        <td *ngIf="first" class="gene-name" [attr.rowspan]="gene.calorieRestrictionExperiments.length + 1">
          <div class="title">
            <a *ngIf="!gene.isHidden"
               [routerLink]="['/gene', gene.symbol]" class="link link--gray"
            ><b>{{ gene.symbol }}</b> {{ gene.name }}</a>
            <ng-container *ngIf="gene.isHidden">
              <b>{{ gene.symbol }}</b> {{ gene.name }}
            </ng-container>
          </div>
        </td>
        <td>{{ data.lexpressionChangeLogFc }}</td>
        <td>{{ data.pValue }}</td>
        <td>{{ data.result }}</td>
        <td>{{ data.measurementMethod }}</td>
        <td>{{ data.expressionEvaluationBy }}</td>
        <td>{{ data.restrictionPercent }}</td>
        <td>{{ data.duration }} ({{ data.durationUnit }})</td>
        <td>{{ data.age }} ({{ data.ageUnit }})</td>
        <td>{{ data.organism }}</td>
        <td>{{ data.line }}</td>
        <td>{{ data.sex }}</td>
        <td>{{ data.tissue }}</td>
        <td>
          <ng-container *ngIf="data?.experimentGroupQuantity; else dash">
            {{ data?.experimentGroupQuantity }}
          </ng-container>
        </td>
        <td>{{ data.doi }}</td>
        <td>{{ data.expressionChangePercent }}</td>
        <td>
          <ng-container *ngIf="data.isoform; else dash">
            {{ data.isoform }}
          </ng-container>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="paginator">
    <mat-paginator
      [length]="totalGenesLength"
      [pageIndex]="pagination.page - 1"
      [pageSize]="pagination.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEventHandler($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>

<ng-template #dash>
  <span class="table__dash"></span>
</ng-template>