@import '../../../styles';

.main-container {
  position: relative;

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-container {
    position: relative;
    min-height: 200px;
    overflow: auto;

    table {
      width: 100%;
      thead {
        tr {
          height: 50px;
          th {
            min-width: 150px;
            text-align: center;
            vertical-align: middle;
            font-size: calc(0.2vw + #{$font-size});;
          }

          th:first-child {
            min-width: 250px;
            text-align: left;
            position: sticky;
            left: 0;
            z-index: 80;
          }
        }
      }

      tbody {
        tr {
          td {
            min-width: 150px;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            box-sizing: border-box;
          }
          .gene-name {
            text-align: left;
            position: sticky;
            left: 0;
            z-index: 80;
          }
        }
      }
    }
  }
}







