@import '../../../../styles';

:host {
  display: block;
  width: 100%;
  max-width: 600px;
}

// TODO: DRY
.bottom-sheet {
  width: 100%;
  max-height: 100%;
  position: relative;
  @include typography;

  &, * {
    box-sizing: border-box;
  }

  &__header {
    position: relative;
    padding: 12px 40px 12px 0;
    font-weight: $font-weight-medium;
    color: $color-base;
  }

  &__title {
    margin: 0 8px;
  }

  &__description {
    font-family: serif;
    margin: 1em 0 2em;

    p {
      font-size: 120%;
    }
  }

  &__close-button {
    color: $color-gray;
    @include close-button(0, 20px);
  }
}



