<div class="studies" *ngIf="studies"
     (click)="openBottomSheet($event, experimentStatsHint)">
  <ng-container
    *ngFor="let experiment of studies | keyvalue"
    [ngTemplateOutlet]="bar"
    [ngTemplateOutletContext]="{ experiment: experiment.key }"
  ></ng-container>
</div>

<ng-template #bar let-experiment="experiment">
  <div *ngIf="experiment !== 'additionalEvidences'"
       class="study"
       [ngClass]="experiment | setClassName">
      <span class="experiment__scale"
            [style.height.%]="(studies[experiment]?.length * 100) / maxValue"
      ></span>
    <span class="experiment__value">{{studies[experiment]?.length}}</span>
  </div>
</ng-template>

<ng-template #experimentStatsHint>
  <div class="legend-container">
    <div *ngFor="let item of legend"
         class="legend-container__item"
         [ngClass]="item.cssClass">
      {{ item.title | translate }}
    </div>
  </div>
</ng-template>

