@import "../../../resources/sass/dependencies";

:host {
  display: inline-block;
  flex: none;
}

.news {
  display: block;
  font-size: 14px;

  &__item {
    display: block;
    width: 100%;

    .item__gene {
      width: 100%;
    }

    .item__title {
      margin-top: 5px;
      white-space: normal;
      word-break: break-word;
      hyphens: auto;
    }

    & + & {
      margin-top: 15px;
    }
  }
}

.news-list-spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
