@import '../../styles';

:host {
  display: inline-block;
}

.wizard {
  width: 100%;
  position: relative;
  padding: $ui-base-height;

  &, * {
    box-sizing: border-box;
  }

  .wizard__header {
    font-weight: $font-weight-medium;
    padding-right: 40px;
  }

  &__close-button {
    color: $color-gray;
    @include close-button(-10px, 20px);
  }

  &__steps {
    width: 100%;
    position: relative;

    .steps__previous,
    .steps__next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $color-general;
    }

    .steps__previous {
      left: -30px
    }
    .steps__next {
      right: -30px;
    }
  }
}


