<div class="wizard">
  <div class="wizard__steps">
    <button mat-icon-button
            class="steps__previous"
            (click)="goBack(stepper)"
            aria-label="Назад">
      <span class="fa fal fa-chevron-left"></span>
    </button>

    <mat-horizontal-stepper #stepper>
      <mat-step matStepperIcon="edit"
                label="{{ 'wizard_1_title' | translate }}"
      >{{ 'wizard_1_description' | translate }}
      </mat-step>

      <mat-step matStepperIcon="done"
                label="{{ 'wizard_1_title' | translate }}"
      >{{ 'wizard_1_description' | translate }}
      </mat-step>

      <mat-step matStepperIcon="number"
                label="{{ 'wizard_1_title' | translate }}"
      >{{ 'wizard_1_description' | translate }}
      </mat-step>
    </mat-horizontal-stepper>

    <button mat-icon-button
            class="steps__next"
            (click)="goForward(stepper)"
            aria-label="Вперед">
      <span class="fa fal fa-chevron-right"></span>
    </button>
  </div>

  <button mat-icon-button
          class="wizard__close-button"
          (click)="close()"
          aria-label="Закрыть">
    <span class="fa fal fa-times"></span>
  </button>
</div>
