html {
  min-height: 460px
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - #{$header-height});
  min-width: $smartphone;
  grid-template-columns: 1fr;
    grid-template-rows: minmax($header-height, auto) min-content;

  &, * {
    box-sizing: border-box;
  }

  app-root {
    display: contents;
  }

  .preloader {
    display: none;
  }

  &:before { // overlay
    content: ' ';
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: z('overlay');
    background-color: rgba($color-general-dark, .15);
    @include fadeIn;
  }

  &.body--still {
    overflow: hidden;
    @media screen and (min-device-width: $desktop) {
      padding-right: 15px; // add ltr support
    }

    &:before {
      display: block;
    }
  }

  &.body--search-on-main-page-is-active {
    @include resolution_smartphone-and-tablet {
      overflow: hidden;

      &:before {
        display: block;
      }
    }
  }

  &.body--loading {
    @extend .body--still;

    .preloader {
      display: block;
    }
  }
}

.wrapper {
  width: 100%;
}

.container {
  text-align: left;
  position: relative;

  & > header {
    text-align: center;
  }
}

table {
  border-collapse: collapse;
}

@keyframes animation__appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


