
article,
section {
  width: 100%;
  @include resolution_desktop-and-up {
    font-size: calc(0.2vw + 13px);
  }
  @include resolution_tablet {
    font-size: 15px;
  }
  @include resolution_smartphone {
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
    color: $color-indent;
    font-weight: $font-weight-medium;
  }

  h1 {
    font-size: calc(0.2vw + 25px);
    color: $color-indent;
  }

  h2 {
    font-size: calc(0.2vw + 20px);
  }

  h3 {
    font-size: calc(0.2vw + 16px);
  }

  h4 {
    font-size: calc(0.2vw + 14px);
  }

  h5 {
    font-size: calc(0.2vw + 13px);
  }

  h6 {
    font-size: $font-size;
  }

  * + h1,
  * + h2 {
    margin-top: 3ex;
  }

  * + h3,
  * + p,
  * + .list,
  * + app-code-block {
    margin-top: 2ex;
  }

  h3 + *,
  h4 + * {
    margin-top: .8ex;
  }

  // It's made in order to not affect styled links.
  // Links in the text received from endpoint don't have classes
  & > a,
  & > p a {
    @extend .link;
  }

  // TinyMCE temporary fix!
  /*
  &,
  p,
  p span {
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
    font-size: inherit !important;
  }
  p,
  p span {
    white-space: normal !important;
  }
  */
}

article + article, // TODO: Change it to one class common for article, section and components tags
article + section,
section + section,
section + article,
h1 + section,
h1 + article,
h2 + section,
h2 + article {
  margin-top: 30px;
}
