<div class="item card__content">
  <div class="card__section card__title">
    <div class="add-to-favorites">
      <button *ngIf="!(this.isAdded | async)"
              (click)="favItem(item['id'])"
              mat-icon-button>
        <span
          class="icon far fa-star"
          aria-hidden="true"
        ></span>
      </button>
      <button *ngIf="this.isAdded | async"
              (click)="unFavItem(item['id'])"
              mat-icon-button>
        <span
          class="icon fas fa-star"
          aria-hidden="true"
        ></span>
      </button>
    </div>
    <div class="title">
      <a [routerLink]="['/gene', item.symbol]"
         [matTooltip]="'go_to_gene_page' | translate"
         class="link link--gray">
        <b>{{ item.symbol }}</b> {{ item.name }}
      </a>

      <button
        *ngIf="item?.confidenceLevel"
        class="alias alias--small confidence-level"
        [matTooltip]="'confidence_level' | translate"
        (click)="applyFilter('confidenceLevel', item.confidenceLevel.id)"
        [class.__active]="isAgeRelatedProcessActive(item.confidenceLevel.id.toString())"
        [ngClass]="{
            'alias--red' : item.confidenceLevel.id === 1,
            'alias--orange' : item.confidenceLevel.id === 2,
            'alias--pine' : item.confidenceLevel.id === 3,
            'alias--blue' : item.confidenceLevel.id === 4,
            'alias--gray' : item.confidenceLevel.id === 5
        }"
      >
        {{ item.confidenceLevel.name }}
      </button>
    </div>

    <div class="card__actions">
      <app-gene-menu
        [gene]="item"
        [isAdded]="isFaved(item.id)"
        (unFav)="unFavItem($event)"
        (fav)="favItem($event)"
      ></app-gene-menu>
    </div>
  </div>

  <ng-container *ngIf="listSettings.ifShowAge">
    <div class="card__section card__age-mya">
        <span class="label __mb-0">
          {{ 'phylogeny' | translate }}, {{ 'origin' | translate | lowercase }}
        </span>
      <app-gene-age [gene]="item" show="origin"></app-gene-age>
    </div>

    <div *ngIf="item.homologueTaxon" class="card__section card__age-homologs">
        <span class="label __mb-0">
          {{ "ncbi_homologs" | translate }}
        </span>
      <app-gene-age [gene]="item" show="homologs"></app-gene-age>
    </div>
  </ng-container>

  <ng-container *ngIf="item?.agingMechanisms && item?.agingMechanisms.length !== 0">
    <div *ngIf="listSettings.ifShowAgingMechanisms"
         class="card__section">
      <span class="label __mb-0">
      {{ "gene_list_aging_mechanisms" | translate }}
      </span>

      <app-aging-mechanisms
        [geneAgingMechanisms]="item.agingMechanisms"
        [activeListItem]="filters.byAgingMechanism"
        (clickEvent)="applyFilter('byAgingMechanism', $event)"
      ></app-aging-mechanisms>
    </div>
  </ng-container>

  <ng-container *ngIf="item?.proteinClasses">
    <div *ngIf="listSettings.ifShowProteinClasses"
         class="card__section">
      <span class="label __mb-0">
      {{ "gene_list_protein_classes" | translate }}
      </span>

      <app-protein-classes
        [geneProteinClasses]="item.proteinClasses"
        [activeListItem]="filters.byProteinClass"
        (clickEvent)="applyFilter('byProteinClass', $event)"
      ></app-protein-classes>
    </div>
  </ng-container>

  <div *ngIf="listSettings.ifShowDiseases"
       class="card__section">
    <span class="label __mb-0">
      {{ "gene_list_diseases" | translate }}
    </span>
    <app-associated-diseases
      [geneDiseases]="item.diseases"
      [activeListItem]="filters.byDiseases"
      (clickEvent)="applyFilter('byDiseases', $event)"
    ></app-associated-diseases>
  </div>

  <div *ngIf="listSettings.ifShowDiseaseCategories"
       class="card__section">
    <span class="label __mb-0">
      {{ "gene_list_disease_categories" | translate }}
    </span>
    <app-associated-disease-categories
      [geneDiseaseCategories]="item.diseaseCategories"
      [activeListItem]="filters.byDiseaseCategories"
      (clickEvent)="applyFilter('byDiseaseCategories', $event)"
    ></app-associated-disease-categories>
  </div>

  <div *ngIf="listSettings.ifShowExperimentsStats"
      class="card__section">
    <span class="label __mb-0">
      {{ "gene_list_research_data_number" | translate }}
    </span>
    <app-experiments-stats
      [experiments]="item.researches">
    </app-experiments-stats>
  </div>

  <div *ngIf="listSettings.ifShowCriteria"
       class="card__section">
    <span class="label __mb-0">
      {{ "main_page_table_criteria" | translate }}
    </span>
    <app-selection-criteria
      [geneCriteria]="item.commentCause"
      [activeListItem]="filters.bySelectionCriteria"
      (clickEvent)="applyFilter('bySelectionCriteria', $event)"
    ></app-selection-criteria>
  </div>
</div>

<div class="card__controls card__controls--tags">
  <div *ngIf="item.functionalClusters.length !== 0 && listSettings?.ifShowTags"
       class="card__section">
    <span class="label">
      {{ "entities_age_related_processes" | translate }}
    </span>

    <app-tag
      *ngFor="let cluster of item.functionalClusters"
      (click)="applyFilter('byAgeRelatedProcess', cluster['id'])"
      [isActive]="isAgeRelatedProcessActive(cluster['id'])"
    >
      {{ cluster["name"] }}
    </app-tag>
  </div>
</div>