@import "../../../../styles";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  vertical-align: middle;
}

button + button {
  margin-left: 10px;
}

.toggler {
  @include resolution_smartphone-and-tablet {
    display: none;
  }
}


