@mixin item {
  animation: fadeIn .5s linear forwards; // при рендеринге/подгрузке элемент мингнет

  .td {
    &__title {
      font-size: $font-size-bigger;
      font-weight: $font-weight-medium;
      margin-bottom: 5px;
      color: $color-gray;

      .link {
        vertical-align: middle;
        margin-right: 5px;
        text-decoration: underline;
      }

      .alias {
        vertical-align: 1px;
        margin-bottom: 0;
      }
    }

    b {
      color: #000;
      font-weight: bold;
      margin-right: 3px;
    }

    .td-actions__menu {
      position: absolute;
      z-index: 1;
      right: 5px;
    }

    // TODO: временный костыль
    .tag[name="0"] {
      pointer-events: none;
      opacity: .5;
    }
  }
}
