// В виде таблицы
@mixin table {
  table {
    width: 100%;

    &, td {
      border-collapse: collapse;
    }
  }

  thead {
    width: 100%;
    background-color: $color-general-light;
  }

  .table-row { // tr
    position: relative;

    &:nth-child(even) {
      background: $color-gray-very-light;
    }

    &:nth-child(odd) {
      background: #fff;
    }

    &:last-child {
      border-bottom: none;
    }

    .cell { // td
      padding: 8px;
      vertical-align: top;
      word-break: keep-all;
      hyphens: auto;
    }
  }

  .cell__actions {
    text-align: right;

    .cell__menu {
      top: 0;
    }
  }

  .title {
    font-size: $font-size-bigger;
  }

  .cell__limiter {
    max-width: 300px;
  }
}
