// В виде таблицы
@mixin table {
  table {
    width: 100%;

    &, td {
      border-collapse: collapse;
    }
  }

  thead {
    width: 100%;
    background-color: $color-general-light;
  }

  .table-row { // tbody
    position: relative;
    border-radius: $border-radius-regular;
    background: $color-white;

    &:nth-child(odd) {
      background: $color-general-light;
    }

    &:last-child {
      border-bottom: none;
    }

    // tbody is used as tr group
    // tr is used for setting the main content and item footer

    .cell { // td
      padding: 8px;
      vertical-align: top;
      word-break: keep-all;
      hyphens: auto;

      &--age {
        .overflow {
          width: 180px;
        }
      }

      &--expression {
        .overflow {
          width: 100px;
        }
      }

      &--name,
      &--diseases,
      &--functions,
      &--criteria {
        .overflow {
          width: 220px;
        }
      }

      &--terms {
        .overflow {
          max-width: 300px;
        }
      }

      &--actions {
        .cell__menu {
          top: 0;
        }

        .overflow {
          float: right;
          width: 40px;
          text-align: right;
        }
      }
    }
  }

  .title {
    font-size: $font-size-bigger;
  }
}
