// В виде таблицы
@mixin table {
  table {
    width: 100%;

    &, td {
      border-collapse: collapse;
    }
  }

  thead {
    width: 100%;
    background-color: $color-general-light;
  }
  .title {
    font-size: $font-size-bigger;
  }
}

