<section>
  <h4>{{ "gene_page_researches_age_related_changes" | translate }}</h4>
  <div class="table-section __mt-20 __w-content-fluid">
    <table class="table table--zebra table--sticky table--age-related-change">
      <thead>
      <th *ngIf="geneColumnOn">
        {{ "main_page_table_name" | translate }}
      </th>
      <th class="__cell-width-small">
        {{ "age_related_changes_type" | translate }}
      </th>
      <th>{{ "researches_object" | translate }},
        {{ "researches_line" | translate | lowercase }},
        {{ "researches_sex" | translate | lowercase }}
      </th>
      <th>{{ "researches_change" | translate }}</th>
      <th>{{ "researches_significance_title" | translate }}</th>
      <th>{{ "age_related_changes_sample" | translate }}</th>
      <th>{{ "researches_l_cohort_size" | translate }}</th>
      <th>{{ "researches_age_of_control" | translate }}</th>
      <th>{{ "researches_age_of_experiment" | translate }}</th>
      <th>{{ "age_related_changes_measurement_method" | translate }}</th>
      <th>{{ "researches_expression_evaluation" | translate }}</th>
      <th>{{ "age_related_changes_statical_method" | translate }}</th>
      <th>
        {{ "researches_comment" | translate }}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let item of items | slice: 0:slice">
        <td *ngIf="geneColumnOn"
            class="__cell-width-medium">
          <div *ngIf="item.hasOwnProperty('geneSymbol')"
               class="title">
            <a [routerLink]="['/gene', item.geneSymbol]" class="link link--gray">
              <b>{{ item.geneSymbol }}</b> {{ item.geneName }}
            </a>
          </div>
        </td>
        <td>
          <p *ngIf="item.changeType; else dash">
            {{ item.changeType }}
          </p>
        </td>
        <td class="__nowrap">
          <p *ngIf="item.modelOrganism; else dash">
            {{ item.modelOrganism }}
          </p>
          <p *ngIf="item.organismLine; else dash">
            {{ item.organismLine }}
          </p>
          <p *ngIf="item.sex; else dash">
            {{ item.sex }}
          </p>
        </td>
        <td class="__nowrap">
          <p *ngIf="item.value; else dash">
            {{ item.value }}
          </p>
        </td>
        <td class="__nowrap">
          <p *ngIf="item.pValue; else dash">
            {{ "researches_pvalue" | translate: { data: item.pValue } }}
          </p>
        </td>
        <td>
          <p *ngIf="item.sample; else dash">
            {{ item.sample }}
          </p>
        </td>
        <td class="__nowrap">
          <p *ngIf="item.controlCohortSize; else dash">
            {{ "researches_l_control" | translate: { data: item.controlCohortSize } }}
          </p>
          <p *ngIf="item.experimentCohortSize; else dash">
            {{ "researches_l_experiment" | translate: { data: item.experimentCohortSize } }}
          </p>
        </td>
        <td>
          <p *ngIf="item.minAgeOfControls; else dash">
            {{ "researches_l_min" | translate: { data: item.minAgeOfControls, unit: item.ageUnit } }}
          </p>
          <p *ngIf="item.meanAgeOfControls; else dash">
            {{ "researches_l_mean" | translate: { data: item.meanAgeOfControls, unit: item.ageUnit } }}
          </p>
          <p *ngIf="item.maxAgeOfControls; else dash">
            {{ "researches_l_max" | translate: { data: item.maxAgeOfControls, unit: item.ageUnit } }}
          </p>
        </td>
        <td>
          <p *ngIf="item.minAgeOfExperiment; else dash">
            {{ "researches_l_min" | translate: { data: item.minAgeOfExperiment, unit: item.ageUnit } }}
          </p>
          <p *ngIf="item.meanAgeOfExperiment; else dash">
            {{ "researches_l_mean" | translate: { data: item.meanAgeOfExperiment, unit: item.ageUnit } }}
          </p>
          <p *ngIf="item.maxAgeOfExperiment; else dash">
            {{ "researches_l_max" | translate: { data: item.maxAgeOfExperiment, unit: item.ageUnit } }}
          </p>
        </td>
        <td>
          <ng-container *ngIf="item.measurementMethod; else dash">
            {{ item.measurementMethod }}
          </ng-container>
        </td>
        <td>
          <p *ngIf="item.expressionEvaluationBy; else dash">
            {{ item.expressionEvaluationBy }}
          </p>
        </td>
        <td>
          <p *ngIf="item.statisticalMethod; else dash">
            {{ item.statisticalMethod }}
          </p>
        </td>
        <td>
          <button class="btn btn--small btn--purple btn--flat"
                  (click)="openCommentModal('researches_comment', item, links)"
          >
            {{ "researches_comment_button" | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<ng-template #dash>
  <span class="table__dash"></span>
</ng-template>

<ng-template #links let-item="item">
  <p *ngIf="item?.comment.length !== 0">
    {{ item?.comment }}
  </p>

  <p *ngIf="item?.doi !== ''">
    <a
      href="https://doi.org/{{ item?.doi }}"
      class="link"
      target="_blank"
    >{{ item?.doi }}</a>
  </p>
  <p *ngIf="item?.pmid !== ''">
    <a
      href="https://pubmed.ncbi.nlm.nih.gov/17170002/{{ item?.pmid }}"
      class="link"
      target="_blank"
    >{{ item?.pmid }}</a>
  </p>

  <app-publication-info *ngIf="item?.doi"
                        [doi]="item.doi"
                        class="publication-info"
  ></app-publication-info>
</ng-template>
