<div class="wizard typography" appSwipeVertical (OnSwipeDown)="close()">
  <div class="wizard__header">
    <span class="fa far fa-magic"></span>&nbsp;{{ 'wizard_header' | translate }}

    <span *ngIf="isTouchDevice"
          class="wizard__drag-button"></span>

    <button mat-icon-button
            class="wizard__close-button"
            (click)="close()"
            [attr.aria-label]="'button_close' | translate">
      <span class="fa fal fa-times"></span>
    </button>
  </div>

  <article *ngIf="wizardContent; else noContent"
           class="wizard__content typography"
           [innerHTML]="wizardContent | safe: 'html'"
  ></article>
</div>

<ng-template #noContent>
  <app-no-content
    size="medium"
    [title]="'error_connection'"
    [isPanel]="false">
    <ng-container icon>
      <app-icon icon="default" size="custom" customWidth="100%" customHeight="100%"></app-icon>
    </ng-container>
  </app-no-content>
</ng-template>


