@import '../../../styles';

:host {
  display: inline-block;
}

.wizard {
  width: 100%;
  position: relative;

  &, * {
    box-sizing: border-box;
  }

  &__header {
    position: relative;
    padding: 12px 40px 12px 0;
    font-weight: $font-weight-medium;
    color: $color-base;
  }

  &__title {
    margin-bottom: 1em;
    padding-right: 40px;
  }

  &__close-button {
    color: $color-gray;
    @include close-button(0, 20px);
  }

  &__steps {
    width: 100%;
    position: relative;
  }
}



