@import "../../styles";

$a: 'article';
$articles-gap-s: 5px;
$articles-gap-l: 10px;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
  min-width: 100%;

  &:empty {
    display: none; // фикс для момента во время подгрузки
  }

  .no-articles {
    width: 100%;
  }

  .no-articles:not(.no-articles--mini),
  .show-more,
  .skeleton {
    padding-right: #{$articles-gap-l};
    padding-left: #{$articles-gap-l};
  }

  .no-articles.no-articles--mini {
    padding-right: #{$articles-gap-s};
    padding-left: #{$articles-gap-s};
    margin-top: 8px;
  }
}

app-skeleton {
  margin-top: 10px;
}

.tag-list {
  margin: 0 -5px 20px -5px;
}

.skeleton {
  min-width: 100%;
}

.article {
  display: inline-flex;

  &__card,
  &__cover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__card {
    flex-wrap: nowrap;
  }

  &__cover {
    position: relative;
    background-color: $color-gray-very-light;
    border-radius: $border-radius-medium;
    overflow: hidden;

    .cover__backdrop {
      $filter-depth: 150px;

      position: absolute;
      top: -#{$filter-depth};
      right: -#{$filter-depth};
      left: -#{$filter-depth};
      bottom: -#{$filter-depth};
      z-index: 0;
      display: block;
      background: center / cover no-repeat;
      filter: blur($filter-depth);
      border-radius: inherit;

      &::after {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        display: block;
        background-color: rgba($color-white, .65);
        border-radius: inherit;
      }
    }
  }

  &__top-group,
  &__tags {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__image,
  &__text {
    display: block;
    width: 100%;
  }

  &__text,
  &__tags {
    padding: 0 $padding-regular;
  }

  &__text {
    margin-bottom: 10px;

    h3 {
      color: $color-black;
      margin-bottom: .5em;
    }

    .truncated-text {
      @include overflow-lines($font-size, 1.5, 3, 0);
    }
  }

  &__image {
    background: $color-gray-very-light center / cover no-repeat;
    border-radius: $border-radius-medium $border-radius-medium 0 0;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;
      position: relative;
    }
  }

  &__tags {
    margin: 5px 0 10px;
  }

  &__author {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-items: flex-start;
    margin-top: 5px;

    .author__avatar,
    .author__name {
      display: inline-block;
      vertical-align: middle;
    }

    .author__avatar {
      height: $ui-base-height;
      width: $ui-base-height;
      min-width: $ui-base-height; // fix for flexbox
      border-radius: 50%;
      background: $color-general-light center / cover no-repeat;
      margin-right: 10px;
    }

    .author__name {
      margin-top: 8px;
      font-size: $font-size-small;
      font-weight: $font-weight-medium;
    }
  }

  &--mini {
    flex: 2 1 50%;
    min-width: 182px;
    padding: $articles-gap-s;

    .#{$a}__image img {
      height: 78px;
    }

    .#{$a}__text {
      h3 {
        font-size: $font-size;
      }
    }
  }

  &:not(.#{$a}--mini) {
    padding: $articles-gap-l;

    .article__card {
      min-height: 300px;
    }

    .#{$a}__image img {
      height: 118px;
    }

    .#{$a}__text {
      h3 {
        font-size: calc(0.2vw + 18px);
      }
    }
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.article-modal {
  &__header,
  &__cover,
  &__body {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
  }

  &__header {
    position: relative;
    padding-right: 40px;
    margin-bottom: 15px;

    .close-button {
      @include close-button(-10px, 10px);
    }
  }

  &__cover {
    background-color: $color-borders;
    min-height: 120px;
    max-height: 230px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__body {
    img {
      display: block;
      float: left;
      width: 80%;
      height: auto;
    }
    ::ng-deep {
      @include typography;
    }
  }

  &__button-wrap {
    margin-top: 15px;
  }
}
