<ng-container *ngIf="translate.currentLang !== 'en'">
  <!-- There is no content in English yet and 80lvl API doesn't have language support -->
  <ng-container *ngIf="!isLoading; else skeleton">
    <ng-container *ngIf="articlesList.length !== 0">
      <ng-container *ngIf="environment.name !== 'prod'">
        <div *ngIf="!isMiniMode && articleTags.length !== 0"
             class="tag-list col-12">
          <ng-container *ngFor="let tag of articleTags">
            <a *ngIf="tag.slug !== 'open-genes'"
               href="{{ environment.openLongevity80LevelCMS }}category/{{ tag.slug }}"
               target="_blank"
               class="alias">
              {{ tag.name }}
              <span class="fa fal fa-external-link"></span>
            </a>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngFor="let article of articlesList | slice: 0:sliceTo">
        <div class="article {{ isMiniMode ? 'article--mini' : 'col-xs-12 col-sm-6 col-lg-6 col-xl-4' }}">
          <div class="article__card">
            <div class="article__cover">
              <div
                class="cover__backdrop"
                [style.backgroundImage]="
            article.image.src.length !== 0
              ? 'url(' + article.image.src + ')'
              : 'url(' + defaultCover + ')'"
              ></div>

              <div class="article__top-group">
                <div
                  (click)="openArticleModal(article.slug)"
                  [ngClass]="isAnyArticleModalOpen? '__disabled': ''"
                  class="article__image"
                >
                  <img
                    (error)="imgErrorHandler($event, defaultCover)"
                    src="{{ article.image.src2x ? article.image.src2x : defaultCover }}"
                    srcset="{{
                        article.image.src2x ? article.image.src2x : defaultCover + ' 480w,' +
                        article.image.src ? article.image.src : defaultCover + ' 800w,'
                    }}"
                    sizes="(max-width: 480px) 440px,800px"
                    alt="">
                </div>
                <div class="article__text">
                  <h3 (click)="openArticleModal(article.slug)"
                      [ngClass]="isAnyArticleModalOpen? '__disabled': ''">
                    {{ article.title }}
                  </h3>
                  <div *ngIf="!isMiniMode"
                       class="truncated-text">
                    {{ article.description | truncate: 250 }}
                  </div>
                </div>
              </div>

              <div *ngIf="environment.name !== 'prod' && !isMiniMode"
                   class="article__tags">
                <ng-container *ngFor="let tag of article.tags">
                  <a
                    *ngIf="tag.slug !== 'open-genes'"
                    href="{{ environment.openLongevity80LevelCMS }}articles/{{ tag.slug }}"
                    target="_blank"
                    class="alias"
                  >{{ tag.name }}
                  </a>
                </ng-container>
              </div>
            </div>

            <div *ngIf="!isMiniMode"
                 class="article__footer">
              <a
                [href]="environment.name !== 'prod'
                ? environment.openLongevity80LevelCMS + 'author/' + article.author.pseudonym
                : '#'"
                class="article__author"
              >
                <div class="author__avatar">
                  <div class="avatar">
                    <img src="{{ article.author.avatar
                                ? article.author.avatar
                                : defaultAvatar }}"
                         alt=""
                         (error)="imgErrorHandler($event, defaultAvatar)">
                  </div>
                </div>
                <div class="author__name">
                  {{ article.author.name }}
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <div *ngIf="!isMiniMode && showMoreButtonVisible"
       class="__mt-5 btn-wrap show-more">
    <button class="btn show-more__button"
            (click)="showMore()"
            [disabled]="isLoading">
      {{ "show_more" | translate }}
      <span *ngIf="isLoading" class="fas fa-circle-notch fa-spin"></span>
    </button>
  </div>

  <ng-template #skeleton>
    <div class="skeleton">
      <app-skeleton
        [groups]="responsePagePortion"
      ></app-skeleton>
    </div>
  </ng-template>
</ng-container>

<section *ngIf="articlesTotal === 0 || translate.currentLang === 'en'"
         class="col-12 no-content"
         [class.no-content--mini]="isMiniMode">
  <div class="no-content__inner">
    <div class="no-content__icon no-content__icon-language"></div>
    <div class="no-content__title">
      <div class="title__center">
        {{ 'news_page_no_articles' | translate }}
      </div>
    </div>
  </div>
</section>

<ng-template #articleModalBody let-data>
  <div class="article-modal__header" mat-dialog-title>
    <span>{{ data?.title }}</span>
    <span>{{ data?.subtitle }}</span>
    <button mat-icon-button
            class="close-button"
            (click)="closeArticleModal()"
            aria-label="Закрыть">
      <span class="fa fal fa-times"></span>
    </button>
  </div>
  <mat-dialog-content>
    <ng-container *ngIf="data?.image?.url?.src.length !== 0">
        <div class="article-modal__cover">
          <img [src]=data.image?.url?.src
               alt="">
        </div>
    </ng-container>

    <article *ngFor="let item of data.description" class="article-modal__body">
        <span [innerHTML]="item.content?.text | safe: 'html'"></span>
    </article>
  </mat-dialog-content>
</ng-template>
