<div class="page text-page download-page">
  <div class="page__inner __pb-60">
    <div class="text-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1>{{ "download_page_title" | translate }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!isProcessing">
      <div class="container download-page__variants">
        <div class="row">
          <section class="col-xs-12 col-md-4 variant variant--w-button">
            <h3>{{ "download_page_variant_1_title" | translate }} <span class="alias alias--small">SQL</span></h3>
            <p>
              {{ "download_page_variant_1_description" | translate }}
            </p>
            <a href="/open_genes_sql_dump.zip"
               target="_blank"
               class="btn btn--fill btn--big btn--purple"
            ><span class="fa far fa-download"></span>&nbsp;{{ "download_page_variant_button_download" | translate }}</a
            >
          </section>
          <section class="col-xs-12 col-md-4 variant variant--w-button">
            <h3>{{ "download_page_variant_2_title" | translate }}  <span class="alias alias--small">JSON</span></h3>
            <p>
              {{ "download_page_variant_2_description" | translate }}
            </p>
            <a href="/api/docs"
               target="_blank"
               class="btn btn--big btn--purple"
            >{{ "download_page_variant_button_go" | translate }}&nbsp;<span class="fa far fa-external-link"></span
            ></a>
          </section>
          <section class="col-xs-12 col-md-4 variant variant--w-button">
            <h3>{{ "download_page_variant_3_title" | translate }} <span class="alias alias--small">JSON</span></h3>
            <p>
              {{ "download_page_variant_3_description" | translate }}
            </p>
            <a routerLink="/favourites"
               class="btn btn--big btn--purple"
            >{{ "download_page_variant_button_go" | translate }}
            </a>
          </section>
        </div>

        <div class="row">
          <section class="col-12 variant">
            <h3>{{ "download_page_datasets_title" | translate }} <span class="alias alias--small">TSV</span></h3>
            <p>{{ "download_page_datasets_description" | translate }}</p>
          </section>
        </div>

        <div class="row csv-datasets">
          <section class="col-xs-12 col-md-6 variant">
            <h4>{{ "download_page_datasets_research_data" | translate }}</h4>
            <ul class="list">
              <li>
                <span class="study-mark study-mark--increase-lifespan"></span>
                <button class="link link--blue link--underline link-button"
                        (click)="downloadPurpleTablesTsv()"
                >{{ "gene_page_research_data_lifespan" | translate }}</button>
              </li>
              <li>
                <span class="study-mark study-mark--age-related-change"></span>
                <button class="link link--blue link--underline link-button"
                        (click)="generateBlueTableTsv()"
                >{{ "gene_page_research_data_age_related_changes" | translate }}</button>
              </li>
              <li>
                <span class="study-mark study-mark--gene-intervention-to-vital-processes"></span>
                <button class="link link--blue link--underline link-button"
                        (click)="generateGreenTableTsv()"
                >{{ "gene_page_intervention_moderates_aging" | translate }}</button>
              </li>
              <li>
                <span class="study-mark study-mark--gene-to-longevity-effect"></span>
                <button class="link link--blue link--underline link-button"
                        (click)="downloadPinkTablesTsv()"
                >{{ "gene_page_research_data_longevity_effects" | translate }}</button>
              </li>
              <li>
                <span class="study-mark study-mark--protein-to-gene"></span>
                <button class="link link--blue link--underline link-button"
                        (click)="downloadYellowTablesTsv()"
                >{{ "gene_page_research_data_protein_regulates_genes" | translate }}</button>
              </li>
              <!--
              <li>
                <button class="link link--blue link--underline link-button"
                        (click)="generateSummarizedResearchResultsTsv()"
                >{{ "download_page_summarized_research_results" | translate }}</button>
              </li>
              -->
            </ul>
          </section>

          <section class="col-xs-12 col-md-6 variant">
            <h4>{{ "download_page_datasets_general" | translate }}</h4>
            <ul class="list">
              <li>
                <button class="link link--blue link--underline link-button"
                        (click)="generateGeneCriteriaTsv()"
                >{{ "download_page_selection_criteria" | translate }}</button>
              </li>
              <li>
                <button class="link link--blue link--underline link-button"
                        (click)="downloadDiseaseTsv()"
                >{{ "download_page_datasets_general_1" | translate }}
                </button>
              </li>
              <li>
                <button class="link link--blue link--underline link-button"
                        (click)="downloadAgingMechanismsTsv()"
                >{{ "download_page_datasets_general_2" | translate }}
                </button>
              </li>
              <li>
                <button class="link link--blue link--underline link-button"
                        (click)="downloadGoTermsTsv()"
                >{{ "download_page_datasets_general_3" | translate }}
                </button>
              </li>
              <li>
                <button class="link link--blue link--underline link-button"
                        (click)="generateGeneTissueRpkmTsv()"
                >{{ "download_page_datasets_general_4" | translate }}
                </button>
              </li>
              <li>
                <button class="link link--blue link--underline link-button"
                        (click)="generateGeneEvolutionTsv()"
                >{{ "download_page_datasets_general_5" | translate }}
                </button>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </ng-container>
    <div *ngIf="isProcessing"
         class="container">
      <app-spinner description="{{ 'download_page_processing_data' | translate }}">
      </app-spinner>
    </div>
  </div>
</div>

<ng-template #downLoadLinkTemplate>
  <section class="file-download-sheet">
    <p>
      {{ currentDatasetName }}.tsv
    </p>
    <a class="btn btn--big btn--fill btn--purple"
       [href]="currentDownloadLink"
       target="_blank"
       [download]="currentDatasetName + '.tsv'"
    ><span class="fa far fa-download"></span> {{ "download" | translate }}</a>
  </section>
</ng-template>

<ng-template #errorTemplate>
  <app-no-content
    [title]="'download_error'"
    [isPanel]="false">
    <ng-container icon>
      <app-icon
        icon="file"
        size="custom"
        customWidth="100%"
        customHeight="100%"
      ></app-icon>
    </ng-container>
  </app-no-content>
</ng-template>
