@import "../../../styles";

$skeleton-line-height: ($ui-base-height / 2);
$skeleton-field-height: 40px;

@mixin skeleton-animation {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  animation: blockTextShine 3s linear infinite forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, $color-gray-soft 0%, $color-gray-very-light 20%, $color-gray-soft 40%, $color-gray-soft 100%);
}

:host {
  display: block;
  width: 100%;
}

.skeleton {
  padding: inherit;

  * {
    box-sizing: border-box;
  }

  &__lines-row {
    width: 100%;
    display: inline-block;

    .skeleton__line {
      position: relative;
      background-color: $color-gray-soft;
      height: $skeleton-line-height;
      border-radius: $border-radius-regular;
      overflow: hidden;

      &::after {
        @include skeleton-animation;
      }

      &--1 {
        width: 100%
      }

      &--2 {
        width: 80%;
      }

      &:not(:last-of-type) {
        margin-bottom: ($skeleton-line-height / 1.5);
      }
    }

    & + & {
      margin-top: $skeleton-line-height;
    }
  }

  &__cards-row {
    display: grid;
    grid-gap: 20px;

    @include resolution_smartphone {
      grid-template-columns: 1fr;
    }
    @include resolution_tablet-and-up {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .skeleton__card {
      .card__inner {
        width: 100%;
        padding-bottom: 60%;
        background: $color-gray-soft;
        border-radius: $border-radius-regular;
        position: relative;
        overflow: hidden;

        &::after {
          @include skeleton-animation;
        }
      }
    }

    & + & {
      margin-top: 20px;
    }
  }

  &__fields-row {
    width: 100%;
    display: inline-block;

    .skeleton__field {
      position: relative;
      background-color: $color-gray-soft;
      height: $skeleton-field-height;
      border-radius: $border-radius-regular;
      overflow: hidden;

      &::after {
        @include skeleton-animation;
      }

      &--1 {
        width: 100%
      }

      &--2 {
        width: 80%;
      }

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    & + & {
      margin-top: 20px;
    }
  }
}