<div class="skeleton">
  <ng-container *ngIf="view === 'line'">
    <div class="skeleton__lines-row" *ngFor="let i of row(groups)">
      <div class="skeleton__line skeleton__line--1"></div>
      <div class="skeleton__line skeleton__line--2"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="view === 'card'">
    <div class="skeleton__cards-row" *ngFor="let r of row(groups)">
      <div class="skeleton__card" *ngFor="let r of row(itemsInRow)">
        <div class="card__inner"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="view === 'field'">
    <div class="skeleton__fields-row" *ngFor="let r of row(groups)">
      <div class="skeleton__field" *ngFor="let r of row(itemsInRow)">
        <div class="field__inner"></div>
      </div>
    </div>
  </ng-container>
</div>
