@import "../styles";

:host {
  width: 100%;

  &:empty {
    display: none; // фикс для момента во время подгрузки
  }
}

.news {
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;

  &__item {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;

    .item__gene {
      flex: 0 1;
      padding: 2px 5px 0 0;
    }

    .item__title {
      flex: 4 0 210px; // внутренняя ширина .sidebar - минимальная ширина заголовка
      flex-flow: row wrap;
      font-size: $font-size-smaller;
      white-space: normal;
      word-break: break-word;
      hyphens: auto;
      margin-top: 4px;
    }

    & + & {
      margin-top: 15px;
    }
  }
}
