<form [formGroup]="searchForm"
      class="search-form"
      [ngClass]="
      {'search-form--disabled': formDisabled,
      'search-form--active': showSearchHints,
      'search-form--fix-on-top': fixOnTopOnMobile}">

  <div *ngIf="showSearchHints"
       class="search-backdrop"
       (click)="closeSearchHintsDropdown($event)">
  </div>

  <div class="search-form__panel">
    <button
      (click)="closeSearchHintsDropdown($event)"
      mat-icon-button
      color="primary"
      type="button"
      class="cancel-search-button">
      <mat-icon>
        keyboard_backspace
      </mat-icon>
    </button>

    <div class="search-form__wrapper">
      <button *ngIf="clearButton"
              mat-icon-button
              type="button"
              class="clear-search-button"
              (click)="cancelSearch()">
        <mat-icon>
          close
        </mat-icon>
      </button>

      <button
        mat-icon-button
        class="search-form__submit search-form__submit--active"
        type="submit"
        (click)="submitSearch()">
        <span class="fa fal fa-search"></span>
      </button>

      <div class="search-form__prefix">
        <ng-content select="[prefix]"></ng-content>
      </div>

      <input
        formControlName="searchField"
        type="text"
        placeholder="{{ placeholder | translate }}"
        class="field search-form__field"
        (keyup.enter)="submitSearch()"
      >
      <mat-progress-bar
        *ngIf="showProgressBar"
        mode="indeterminate"
        class="search-form__progress"
      ></mat-progress-bar>
    </div>

    <div *ngIf="showSearchHints && clearButton"
         class="search-form__autocomplete-list">
      <ng-container *ngFor="let gene of searchedData; let i = index">
        <button
          *ngIf="i < 3"
          class="search-form__autocomplete-item"
          tabindex="0"
          (click)="patchValue(gene.symbol, multiple, _patchValueSideEffects.bind(this))">
          <span class="item__symbol"
                appHighlight
                [highlightText]="highlightText"
                [innerHTML]="gene.symbol">
          </span>&nbsp;

          <span *ngIf="!gene?.terms"
                class="item__name"
                appHighlight
                [highlightText]="highlightText"
                [innerHTML]="gene.name">
          </span>&nbsp;

          <ng-container *ngFor="let term of gene?.terms | keyvalue">
            <span *ngFor="let item of term?.value | keyvalue"
                  class="item__name"
                  appHighlight
                  [highlightText]="highlightText"
                  [innerHTML]="item.value">
            </span>
          </ng-container>
        </button>
      </ng-container>
    </div>
  </div>
</form>


