@import "../../styles";

$search-input-height: 50px;
$search-switch-width: 50px;
$mobile-container-vertical-padding: 5px;
$input-border-radius: 5px;

:host {
  display: block;
  width: 100%;
}

::ng-deep mark.text-highlight { // being generated dynamically
  background-color: $color-hover;
}

.cancel-search-button {
  position: absolute;
  top: #{$mobile-container-vertical-padding};
  left: 0;
  z-index: 1;
  width: $search-input-height;
  height: $search-input-height;
  display: none;
}

.search-form {
  flex-flow: column;
  margin-bottom: 10px;

  &,
  &__panel,
  &__quantity,
  &__wrapper {
    width: 100%;
    flex: 0 0 100%;
  }

  &,
  &__panel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }

  &__quantity {
    display: flex;
    font-size: $font-size-smaller;
    color: $color-gray;
    margin-bottom: 8px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__progress {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 0 3px 3px;
  }

  // Field
  &__field {
    appearance: none;
    display: block;
    width: 100%;
    height: $search-input-height;
    line-height: $search-input-height;
    padding: 0 #{$search-input-height * 2} 0 10px;
    resize: none;
    font-size: $font-size + 1;
    font-weight: $font-weight-medium;
    color: $color-black;
    background-color: $color-white;
    border-radius: $input-border-radius;
    border: 1px solid $color-borders;
    transition: border .15s linear;
    box-shadow: $shadow-for-panel;

    &::-ms-clear {
      display: none !important; // скрываем иконку очистки поля на IE/Edge
    }

    $prefixed-selectors: (
      '::placeholder',
      '::-webkit-input-placeholder',
      '::-moz-placeholder',
      ':-moz-placeholder',
      ':-ms-input-placeholder'
    );

    @mixin placeholder-color() {
      @each $prefixed-selector in $prefixed-selectors {
        &#{$prefixed-selector} {
          @content;
        }
      }
    }

    @include placeholder-color {
      color: $color-gray-halfing;
    }

    &:focus {
      border-color: $color-borders-active;
      @include placeholder-color {
        color: transparent;
      }
    }
  }

  .clear-search-button {
    display: block;
    width: $search-input-height;
    height: $search-input-height;
    color: $color-gray;
    line-height: normal;
    font-size: $search-input-height / 2;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
    right: $search-input-height;

    .fa {
      position: relative;
      top: -1px; // fix for mat-icon-button
      font-weight: $font-weight-medium;
    }
  }

  &__cancel {
    display: block;
    width: $search-input-height;
    height: $search-input-height;
    color: $color-gray;
    line-height: normal;
    font-size: $search-input-height / 2;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
    right: $search-input-height + 10px;

    .fa {
      position: relative;
      top: -1px; // fix for mat-icon-button
      font-weight: $font-weight-medium;
    }
  }

  &__submit { // any element, not clickable
    display: block;
    width: $search-input-height;
    height: $search-input-height;
    color: $color-general;
    line-height: normal;
    font-size: $search-input-height / 2;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;

    .fa {
      position: relative;
      top: -1px; // fix for mat-icon-button
      font-weight: $font-weight-medium;
    }
  }

  &__autocomplete-list {
    position: absolute;
    top: 100%;
    max-height: (39px * 5) + 18px;
    width: 100%;
    overflow-y: scroll;
    background: $color-white;
    border-radius: 5px;
    z-index: 85;

    &:not(:empty) {
      border: 1px solid $color-borders;
      padding: 8px 0;
      box-shadow: 0 5px 5px 0 rgba($color-black, .15);
    }

    ::-webkit-scrollbar {
      width: 5px;
      background: $color-gray-halfing;
    }

    ::-webkit-scrollbar-thumb {
      background: $color-gray;
    }
  }

  &__autocomplete-item {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: left;

    .item__symbol {
      font-weight: $font-weight-medium;
    }

    .item__name {
      color: $color-gray;
    }

    .item__name,
    .item__symbol {
      &.__highlight {
        color: $color-orange-300;
      }
    }

    &:focus,
    &:hover {
      background-color: rgba($color-hover, .5);
    }

    &:active {
      background-color: rgba($color-hover, .75);
    }
  }

  &--disabled {
    cursor: default;
    pointer-events: none;

    .search-form__field,
    .search-form__submit {
      opacity: .5;
    }
  }

  // TODO: refactor without redefinition
  @include resolution_smartphone-and-tablet {
    &--active {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      min-height: 60px;
      margin: 0;
      background-color: #fff;
      z-index: z('search');
      box-shadow: 0 5px 5px 0 rgba($color-black, .15);

      .search-form__quantity {
        display: none;
      }

      .search-form__panel {
        padding: #{$mobile-container-vertical-padding} 10px #{$mobile-container-vertical-padding} 40px;
        z-index: 1;

        .cancel-search-button {
          display: block;
        }

        .search-form__autocomplete-list {
          position: fixed;
          top: 50px;
          left: 0;
          border: 0;
        }
      }
    }
  }
}

.search-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;

  @include resolution_smartphone-and-tablet {
    z-index: 0;
  }
}






