<form [formGroup]="searchForm"
      class="search-form"
      [class.search-form--active]="showSearchResult">

  <div class="search-form__quantity">
    <span *ngIf="genesList?.length">{{ 'main_page_total' | translate: { number: genesList?.length } }}</span>
  </div>

  <div *ngIf="showSearchResult"
       class="search-backdrop"
       (click)="cancelSearch($event)">
  </div>

  <div class="search-form__panel">

    <div class="search-form__wrapper">
      <button
        mat-icon-button
        class="search-form__submit search-form__submit--active"
        type="submit"
        (click)="onSearch()">
        <span class="fa fal fa-search"></span>
      </button>

      <!-- TODO: Use matNativeControl -->
      <input
        formControlName="searchField"
        type="text"
        placeholder="{{ (isGoTermsMode ? 'search_field_tap_search' : 'search_field_start_typing') | translate }}"
        class="field search-form__field"
        (keyup.enter)="onSearch()"
        #searchQuery>
    </div>

    <div class="search-form__autocomplete-list"
         *ngIf="showSearchResult">
      <ng-container *ngFor="let gene of searchedData; let i = index">
        <button
          *ngIf="i < 5"
          class="search-form__autocomplete-item"
          tabindex="0"
          [routerLink]="['/gene', gene.symbol]">

          <span class="item__symbol"
                appHighlight
                [highlightText]="searchQuery.value"
                [innerHTML]="gene.symbol">
          </span>&nbsp;
          <span *ngIf="!gene?.terms"
                class="item__name"
                appHighlight
                [highlightText]="searchQuery.value"
                [innerHTML]="gene.name">
          </span>&nbsp;

          <ng-container *ngIf="biologicalProcess?.size !== 0">
            <span *ngFor="let term of biologicalProcess | keyvalue"
                  class="item__name"
                  appHighlight
                  [highlightText]="searchQuery.value"
                  [innerHTML]="term.value">
          </span>
          </ng-container>

          <ng-container *ngIf="cellularComponent?.size !== 0">
            <span *ngFor="let term of cellularComponent | keyvalue"
                  class="item__name"
                  appHighlight
                  [highlightText]="searchQuery.value"
                  [innerHTML]="term.value">
          </span>
          </ng-container>

          <ng-container *ngIf="molecularActivity?.size !== 0">
            <span *ngFor="let term of molecularActivity | keyvalue"
                  class="item__name"
                  appHighlight
                  [highlightText]="searchQuery.value"
                  [innerHTML]="term.value">
          </span>
          </ng-container>
        </button>
      </ng-container>
    </div>
  </div>
</form>


