.gene-page { // .page
  // &__inner { }

  $header-title-height: 30px;
  $favorites-icon: #FDB338;

  &__header {
    padding: 15px 0 10px 0;
    border-bottom: 1px solid $color-borders;
    background-color: #fff;
    margin-bottom: 30px;

    .header__title {
      margin-bottom: 10px;
      padding-right: 60px; // free space for date

      .title__caption,
      .title__vendors {
        display: block;
        min-height: $header-title-height;
        width: auto;
        float: left; // floats are more simple there
      }

      .add-favorites {
        display: block;
        min-height: $header-title-height;
        width: auto;
        float: left;
        margin: -6px 0 0 0;

        i {
          font-size: 20px;
          color: $favorites-icon;
          cursor: pointer;
        }
      }

      .title__caption {
        position: relative;
        max-width: 6em; // length: 6 letters
        padding-right: 10px;
        font-weight: $font-weight-medium;

        @include resolution_tablet-and-up {
          font-size: 30px;
        }

        @include resolution_smartphone {
          font-size: 20px;
        }

        .caption__inner {
          height: $header-title-height;
          line-height: 1;
          @include text-overflow;
        }
      }

      .title__vendors { // this block may go under the title
        max-width: 100%;

        @include resolution_tablet-and-up {
          padding-top: 5px; // because .alias inside have the same margin-bottom
        }
      }

      .title__updated { // date always remains on top right corner
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: $font-size-very-small;
        color: $color-gray;
        white-space: nowrap;
      }
    }

    .header__short-comment {
      font-size: $font-size-bigger;
      color: $color-gray;
      margin-bottom: 15px;

      .alias {
        margin: 0;
        vertical-align: middle;
      }
    }

    // .header__functional-clusters { }
  }

  &__age {
    margin: 0 -5px;

    .age__types {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      font-size: $font-size;

      .age__type {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: flex-start;
        flex: 1 1 20%;
        align-content: stretch;
        flex-wrap: nowrap;

        .type__inner {
          width: 100%;
          min-width: 200px;
          min-height: 100px;
          padding: 10px;
          border: 1px solid $color-borders;
          border-radius: $border-radius-medium;
          margin: 5px;
        }

        .type__title {
          flex: 0 0 100%;
          font-size: $font-size-smaller;
          color: $color-gray;
          margin-bottom: 5px;

          span:hover {
            cursor: pointer;
            color: $color-base;
          }
        }

        .type__value {
          flex: 1 1 auto;
          font-size: 24px;
          color: $color-black;

          small {
            font-size: $font-size-big;
          }
        }

        .type__description { // необязательный блок
          flex: 1 1 80%;
          font-size: $font-size-smaller;
          padding-left: 10px;
        }

        &.age__rating {
          .type__title {
            margin-top: -3px;
          }

          .type__value {
            flex-grow: 0;
            flex-basis: 36px;
          }
        }

        &.age__diseases,
        &.age__interactions {
          &:hover,
          &:active {
            .badge {
              transition: all .15s ease-in
            }

            .type__title {
              color: #fff;
            }

            .badge {
              padding-left: 0;
              padding-right: 16px;
            }
          }
        }

        &.age__diseases {
          .type__inner {
            &:hover {
              background-color: lighten(#7774D1, 10%);
            }
          }
        }

        &.age__interactions {
          .type__inner {
            &:hover,
            &:active {
              background-color: darken(desaturate(#FFC769, 2%), 10%);
            }
          }
        }

        &.age__orthologs {
          .list {
            .alias {
              text-transform: uppercase;

              &:empty {
                display: none; // TODO: это костыль для пустых значений ортологов из GeneAge, нужно добавить проверку
              }
            }
          }
        }

        @include resolution_smartphone {
          flex: 0 0 100%;
          flex-wrap: wrap;
        }
      }
    }
  }

  .mat-expansion-panel-header-title {
    font-size: 16px;
    font-weight: $font-weight-medium;
  }

  &__articles {
    .articles__content + .articles__content {
      margin-top: 30px;
    }

    .articles__content + app-no-content {
      margin-top: 30px;
    }

    .contents-list {
      margin-bottom: 30px;

      .mat-nav-list {
        [mat-list-item] {
          &:hover,
          &:active {
            .mat-list-item-content {
              background-color: lighten($color-hover, 2%);
            }
          }

          &:nth-child(even) {
            .mat-list-item-content {
              background-color: lighten($color-hover, 5%);

              &:hover,
              &:active {
                background-color: lighten($color-hover, 3%);
              }
            }
          }
        }
      }
    }

    .reference-list {
      position: relative;
      margin-top: 10px;
      padding-top: 12px;
      font-size: 80%;
      color: $color-gray;

      &:before {
        content: " ";
        display: block;
        width: 30%;
        height: 1px;
        background-color: $color-borders;
        position: relative;
        top: -10px;
      }
    }
  }

  &__expression {
    .expression__rows {
      margin-top: 5px;
    }

    .expression__row {
      font-size: 0;

      .row__name,
      .row__value {
        display: inline-block;
        vertical-align: middle;
        @include resolution_tablet-and-up {
          width: 50%;
        }
        @include resolution_smartphone {
          width: 100%;
        }
      }

      .row__name {
        font-size: $font-size-bigger;
        font-weight: $font-weight-medium;
        color: $color-black;

        @include resolution_tablet-and-up {
          padding-right: 10px;
        }
        @include resolution_smartphone {
          margin-bottom: 5px;
        }
      }

      .row__value {
        height: 20px;
        overflow: hidden;
        position: relative;
        background-color: $color-general-light;
        border-radius: 3px;

        .value__bar {
          height: 100%;
          background-color: #7673d1;
          max-width: 100%;
        }

        .value__rpkm {
          position: absolute;
          top: 1px;
          left: 10px;
          z-index: 1;
          font-size: $font-size-smaller;
          color: #fff;
          text-shadow: rgba($color-black, .25) 1px 0, rgba($color-black, .25) 1px 1px, rgba($color-black, .25) 0 1px, rgba($color-black, .25) -1px 1px, rgba($color-black, .25) -1px 0, rgba($color-black, .25) -1px -1px, rgba($color-black, .25) 0 -1px, rgba($color-black, .25) 1px -1px;
        }

        &--minimum {
          .value__rpkm {
            color: $color-indent;
            text-shadow: none;
          }
        }
      }
    }

    .expression__row + .expression__row {
      margin-top: 10px;
    }
  }

  &__links {
    border-top: 1px solid $color-borders;
    padding: 15px 0 20px 0;
    margin-top: 30px;
  }
}

.gene-page__annotation {
  width: 100%;
  display: flex;
  background: $color-gray-very-light;
  border-radius: 5px;
  padding: 9px 16px;

  .age__type {
    width: 100%;
    display: flex;
    flex-direction: column;

    .type__inner {
      width: 100%;
      display: flex;
      margin: 5px;
    }

    .type__title {
      font-size: $font-size-bigger;
      color: $color-gray;
      padding: 0;

      span:hover {
        cursor: pointer;
        color: $color-base;
      }
    }

    .type__value {
      font-size: $font-size-bigger;
      color: $color-black;

      small {
        font-size: $font-size-big;
      }

      .cluster, .cause {
        display: flex;
        flex-wrap: wrap;

        .cluster__value {
          font-size: $font-size-very-small;
          margin: 0 5px 5px 0px;
          color: $color-clikable-500;
          background: $color-clikable-100;
          border-radius: 3px;
          padding: 5px;
        }
      }

      .cause {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

