.main-page { // .page
  // &__inner { }
  &__header {
    background: $color-general-light url($path-images + '/home-background.jpg') center center / cover no-repeat;
    padding: 30px 0 35px 0;
    margin-bottom: 20px;
    border-radius: 0 0 20px 20px;
    text-shadow: 1px 0 2px 1px $color-black;

    .page__title,
    .header__description,
    .header__button {
      width: 100%;
      text-align: center;
    }

    .page__title { // переиспользуем
      h1 {
        color: #fff;
      }
    }

    .header__description {
      font-size: calc(0.2vw + 15px);
      color: #fff;
      font-weight: $font-weight-regular;
      padding: 0 4vw;
    }

    .header__button {
      margin-top: 30px;

      a {
        min-width: 120px;
      }
    }
  }
}


