.news-page {
  &__news.col {
    font-size: 18px;

    // TODO: no encapsulated styles redefinition
    app-news-list .news__item {
      animation: fadeIn .5s linear forwards; // element should blink when it's being updated
    }

    .news__skeleton {
      margin-top: 20px;
    }
  }
}


