@import "../../styles";

.carousel-container {
  width: 100%;
  display: block;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  font-size: 0;
  white-space: nowrap;

  &::ng-deep > * {
    display: none;
    width: 100%;
    user-select: none;

    &.active {
      display: inline-block;
    }
  }
}

.dot-container {
  text-align: center;
  margin-top: 2px;

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba($color-base, .5);
    padding: 4px;
    margin: 0 2px;
    box-sizing: content-box;
    background-clip: content-box;
    cursor: pointer;

    &.active {
      background-color: $color-base;
    }
  }
}
