@import "../../../styles";

:host {
  display: flex;
  flex-flow: column;
  align-content: stretch;
  justify-content: stretch;
  min-width: 0; // flex item can't be smaller that its content,
  // override it to fix items overflowing the container
}

.title {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between; // There can be a link at right of the title
  position: relative;
  width: 100%;
  color: $color-black;
  font-weight: $font-weight-medium;
}

.content {
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  margin: 0 -5px; // TODO: use css variables for this margin and margins for content blocks

  ::ng-deep app-skeleton {
    margin-left: 5px;
    margin-right: 5px;
  }
}

