@import "../../styles";

.favourites__top-panel {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  .top-panel__title,
  .top-panel__buttons {
    margin-bottom: 8px;
  }

  .top-panel__title {
    min-width: 200px;
    font-size: 16px;
    color: $color-black;
    font-weight: $font-weight-medium;
  }

  .top-panel__buttons {
    display: flex;
    flex-direction: row-reverse;

    .buttons__button {
      &[mat-flat-button] {
        min-width: 120px;

        @include resolution_smartphone {
          flex: 1 1;
        }
      }

      &--delete {
        opacity: .5;
      }
    }

    .buttons__button + .buttons__button {
      margin-right: 10px;
    }
  }
}

@include simple-gene-list-item(faved-gene);

.share-popover {
  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: $font-size-big;
    color: $color-black;
  }

  &__content {

  }

  &__field {
    $input-size: 40px;
    position: relative;
    width: 100%;
    color: $color-general;

    input {
      display: block;
      appearance: none;
      outline: none;
      border: 1px solid transparent;
      width: 100%;
      height: $input-size;
      background-color: $color-general-light;
      border-radius: $input-size;
      padding: 0 $input-size 0 $padding-medium;
      color: inherit;
      font-family: 'Roboto', 'sans-serif';
      font-size: $font-size-smaller;

      &:focus {
        border-color: $color-general-200;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      height: $input-size;
      width: $input-size;
      line-height: $input-size;
      text-align: center;
      color: inherit;

      &:hover {
        color: $color-general-dark;
      }

      @include ripple($input-size);
    }
  }
}