<div class="container favourites-page__favourites">
  <div class="row no-gutters favourites__top-panel">
    <div class="col top-panel__title">
      {{ "favourites_page_total" | translate }} {{ favourites.length }}
    </div>
    <div class="col top-panel__buttons">
      <div class="buttons__button">
        <button
          mat-icon-button
          color="primary"
          (click)="shareGene()"
          matTooltip="{{ 'favourites_share' | translate }}">
          <mat-icon>share</mat-icon>
        </button>
        <ng-container *ngIf="isPopoverOpen">
          <app-popover
            (closeEvent)="closeSharePopover()"
            width="280px"
            top="34px"
            right="0"
            arrowPositionLeft="auto"
            arrowPositionRight="10px"
            zIndex="100">
            <div popover-header
                 class="share-popover__header">
              {{ "share_genes_list" | translate }}
            </div>
            <div popover-content
                 class="share-popover__content">
              <div class="share-popover__field">
                <input
                  type="text"
                  readonly
                  [value]="link">
                <button
                  (click)="copyLink()">
                  <span class="fa far fa-copy"></span>
                </button>
              </div>
            </div>
          </app-popover>
        </ng-container>
      </div>

      <a
        mat-flat-button
        color="primary"
        class="buttons__button"
        [href]="downloadLink"
        (click)="downloadFavs()"
        target="_blank"
        download="export.json">
        {{ "download" | translate }}
      </a>
      <button
        mat-flat-button
        class="buttons__button buttons__button--delete"
        color="primary"
        (click)="clearFavs()"
      >
        {{ "favourites_clear" | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="favourites"
       class="row no-gutters">
    <div *ngFor="let gene of favourites; let i = index"
         class="col-12 faved-gene">
      <div class="faved-gene__title">
        <a [routerLink]="['/gene', gene.symbol]"
           class="link">
          {{ gene.symbol }}
        </a>
      </div>
      <div *ngIf="!isSharedList"
           class="faved-gene__actions">
        <button mat-icon-button
                (click)="unFavItem(gene.id, i)">
          <span class="fa far fa-trash"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  #linkCopy
  class="hidden">
  {{ 'link_copied' | translate }}
</div>