@import "../../styles";

.favourites__top-panel {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  .top-panel__title,
  .top-panel__buttons {
    margin-bottom: 8px;
  }

  .top-panel__title {
    min-width: 200px;
    font-size: 16px;
    color: $color-black;
    font-weight: $font-weight-medium;
  }

  .top-panel__buttons {
    display: flex;
    flex-direction: row-reverse;

    .buttons__button {
      &[mat-flat-button] {
        min-width: 120px;

        @include resolution_smartphone {
          flex: 1 1;
        }
      }

      &--delete {
        opacity: .5;
      }
    }

    .buttons__button + .buttons__button {
      margin-right: 10px;
    }
  }
}

@include simple-gene-list-item(faved-gene);

.share-popover {
  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: $font-size-big;
    color: $color-black;
  }

  &__field {
    @include copy-field();
  }
}