// Close or menu button
@mixin close-button($right: 10px, $top: 50%, $color: $color-general) {
  position: absolute;
  top: $top;
  right: $right;
  z-index: 6;
  transform: translateY(-50%);
  font-size: 20px;
  transition: color .15s ease-in-out;

  .fa {
    line-height: normal;
    vertical-align: -1px;
  }

  &.active,
  &:hover {
    color: $color;
  }
}
