// Close or menu button
@mixin close-button($right: 10px) {
  position: absolute;
  top: 50%;
  right: $right;
  z-index: 6;
  transform: translateY(-50%);
  font-size: 20px;

  .fa {
    line-height: normal;
    vertical-align: -1px;
  }

  &.active,
  &:hover {
    color: $color-accent;
  }
}
