// Обрезка текста
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Обрезка многострочного текста
@mixin overflow-lines($font-size, $font-line-height, $lines, $additional, $whole-height:"") {
  display: block;
  display: -webkit-box;
  font-size: $font-size;
  line-height: $font-line-height;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  hyphens: auto;
  @if $whole-height != "" {
    height: $whole-height;
  }
  @else {
    max-height: ($font-line-height * $font-size * $lines) + $additional;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin list {
  width: 100%;

  li {
    width: 100%;
    position: relative;

    .alias {
      vertical-align: top;
    }

    .callout {
      display: block;
      float: left;
    }
  }

  li + li,
  li > ul,
  li > ol {
    margin-top: .8ex;
  }
}

@mixin ul {
  li {
    padding-left: 1.8ex;

    &:before {
      content: " ";
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-general;
      position: absolute;
      left: 0;
      top: 1ex;
      z-index: 0;
    }
  }
}

@mixin dl {
  display: inline-block;
  width: 100%;

  dt, dd {
    float: left;
  }

  dt {
    clear: left;
    margin-right: 1ch;
    font-weight: $font-weight-medium;

    span {
      font-weight: $font-weight-regular;
    }
  }

  dt:not(:first-of-type),
  dd:not(:first-of-type) {
    margin-top: .8ex;
  }
}

@mixin lists {
  ul, ol {
    &.list {
      @include list;
    }
  }

  ul.list--bulletted {
    @include ul;
  }

  dl.list {
    @include dl;

    &--stacked {
      dt,
      dd {
        width: 100%;
      }
    }
  }
}

// TODO: Transfer to mixins folder
@mixin base-link {
  font-weight: $font-weight-medium;
  cursor: pointer;
  position: relative;
}

@mixin blue-link {
  color: $color-general;

  &:hover,
  &:active {
    color: lighten(mix($color-general, $color-blue, 5%), 3%);
  }
}

@mixin gray-link {
  color: mix($color-gray, $color-general, 90%);

  &:hover,
  &:active {
    color: darken(mix($color-gray, $color-general, 90%), 10%);
  }
}

@mixin white-link {
  color: $color-white;

  &:hover,
  &:active {
    color: darken($color-white, 10%);
  }
}

@mixin underlined-link {
  text-decoration: underline;
}

@mixin anchor-link {
  @include gray-link;
  border-bottom: 1px dashed currentColor;
}

.link {
  @include base-link;
  @include blue-link;

  &--gray {
    @include gray-link;
  }

  &--white {
    @include white-link;
  }

  &--underline {
    @include underlined-link;
  }

  &--anchor,
  &--term {
    @include anchor-link;
  }

  &--term {
    font-style: italic;
  }
}

@mixin margin-clamp-fix {
  p,
  h1, h2, h3, h4, h5, h6,
  ul, ol, dl {
    width: 100%;
    float: left;
  }
}

@mixin typography {
  @include lists;

  article,
  section {
    width: 100%;
    @include resolution_desktop-and-up {
      font-size: calc(0.2vw + 13px);
    }
    @include resolution_tablet {
      font-size: 15px;
    }
    @include resolution_smartphone {
      font-size: 14px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: 100%;
      color: $color-indent;
      font-weight: $font-weight-medium;
    }

    h1 {
      font-size: calc(0.2vw + 25px);
      color: $color-indent;
    }

    h2 {
      font-size: calc(0.2vw + 20px);
    }

    h3 {
      font-size: calc(0.2vw + 16px);
    }

    h4 {
      font-size: calc(0.2vw + 14px);
    }

    h5 {
      font-size: calc(0.2vw + 13px);
    }

    h6 {
      font-size: $font-size;
    }

    * + h1,
    * + h2 {
      margin-top: 3ex;
    }

    * + h3,
    * + h4,
    * + h5,
    * + h6,
    * + p,
    * + .list,
    * + app-code-block {
      margin-top: 2.5ex;
    }

    h3 + *,
    h4 + *,
    h5 + *,
    h6 + * {
      margin-top: 2ex;
    }

    // It's made in order to not affect styled links.
    // Links in the text received from endpoint don't have classes
    & > a:not(.btn),
    & > p a:not(.btn) {
      font-weight: $font-weight-medium;
      color: $color-general;

      &:hover,
      &:active {
        color: lighten(mix($color-general, $color-blue, 5%), 3%);
      }
    }
  }

  article + article, // TODO: Change it to one class common for article, section and components tags
  article + section,
  section + section,
  section + article,
  h1 + section,
  h1 + article,
  h2 + section,
  h2 + article {
    margin-top: 30px;
  }
  article + h3 {
    margin-top: 3ex;
  }

  .reference {
    font-size: 80%;
    margin-top: 1em;

    p + p {
      margin-top: .8em;
    }
  }
}
