<div class="page text-page download-page">
  <div class="page__inner __pb-60">
    <div class="text-page__header wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col col-12">
            <div class="page__title">
              <h1></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="container download-page__variants">
        <div class="row">
          <app-chart></app-chart>
        </div>
    </div>
  </div>
</div>
