@import "../../styles";

$banner-paddings: 15px;

:host{
  position: fixed;
  bottom: $banner-paddings;
  right: $banner-paddings;
  width: $smartphone - ($banner-paddings * 2);
  z-index: z('alert');
}

.banner {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  padding: $padding-regular $padding-medium;
  font-size: $font-size-small;
  color: $color-black;
  background-color: $color-white;
  box-sizing: border-box;
  border: 1px solid $color-borders;
  border-radius: $border-radius-medium;
  box-shadow: $box-shadow-layer-1;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    ::ng-deep a {
      @include base-link;
      @include purple-link;
    }
  }

  &__button {
    margin-top: $padding-regular;

    ::ng-deep button {
      min-width: 100px;
    }
  }
}