.container {
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
}

.tag {
  display: inline-block;
  vertical-align: middle;
  min-width: 40px;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  background-color: #e9e9e9;
  color: #5d6a82;
  text-decoration: none;

  &--small {
    min-width: 20px;
    font-size: 10px;
    padding: 3px 2px;
  }
}

.badge {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  min-width: 44px;
  padding: 0 8px;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  line-height: 31px;
  white-space: nowrap;
  border-radius: 15px;
  margin: 0 5px 5px 0;
  background-color: #999;
  opacity: .85;
  transition: opacity .15s linear;
  text-decoration: none;

  &--disgenet {
    background-color: #9c9ade;
  }

  &--biogrid {
    background-color: #fdb338;
  }

  &:hover, &:active {
    opacity: 1;
  }
}

@media only screen and (min-width: 1250px) {
  .container {
    width: 1200px;
  }
}
